[2020-06-14 01:17] rhtyd commented on #359
Got a PR

[2020-06-14 01:17] #359 closed

[2020-06-14 01:50] rhtyd opened #418 "Invalid ticket"
...

[2020-06-15 04:15] rhtyd commented on #405
@utchoang can you pick this next? Thanks.

[2020-06-15 04:15] rhtyd commented on #406
@utchoang can you pick this next? Thanks.

[2020-06-15 04:16] rhtyd commented on #392
We probably want to check how this works for admins and users (if users are also given option to select list of available IPs) cc @svenvogel
Changes will need to go into `src/views/network/IpAddressesTab.vue`
@utchoang can you pick this next? Thanks.

[2020-06-15 04:20] rhtyd commented on #386
With @davidjumani

[2020-06-15 04:20] rhtyd commented on #363
With @davidjumani

[2020-06-15 04:20] rhtyd commented on #362
With @davidjumani

[2020-06-15 04:21] rhtyd commented on #396
With @davidjumani

[2020-06-15 04:21] rhtyd commented on #394
With @davidjumani

[2020-06-15 07:53] ravening opened #420 "[BUG] Links not found"
**Describe the bug**
All the links under https://github.com/apache/cloudstack-primate#primate-development are not accessible

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any of the link under the section https://github.com/apache/cloudstack-primate#primate-development

**Expected behavior**
A nice documentation :)

[2020-06-15 08:05] rhtyd commented on #420
@ravening intentional, need to update the docs; the best place to start is vuejs v2 guide.
They are here, I'll update links
https://github.com/apache/cloudstack-primate/tree/master/docs

[2020-06-15 08:32] #420 closed

[2020-06-15 08:59] rhtyd opened #422 "UI customisation from legacy UI"
Check the supported list of configurations (https://github.com/apache/cloudstack-primate/blob/master/src/config/settings.js#L29) against the legacy UI config file: https://github.com/apache/cloudstack/pull/3258/files

[2020-06-15 09:43] rhtyd commented on #374
With @shwstppr

[2020-06-15 09:46] rhtyd commented on #362
With @shwstppr

[2020-06-15 09:47] rhtyd commented on #361
With @rhtyd

[2020-06-16 07:28] #175 closed

[2020-06-16 07:28] rhtyd commented on #175
Tested, merged the PR

[2020-06-16 20:42] gaaray2k opened #427 "[FEATURE] VM deployment suggestion: ask for #num of VMs"
Gist - user report is asking for:
~- Quick view actions in list view~ See #458
- Ability to specify number of VMs in VM deployment form

Original report:
~1) Allow to create a site to site vpn to a regular isolated network instead of just a vpc. right now site-to-site vpn is only allowed to a vpc.~ Not a UI issue
2) action buttons on virtual machines from the instance tab. right now users are only

[2020-06-17 02:54] rhtyd commented on #427
@gaaray2k thanks for reporting;
1. you're asking for a new backend feature, Primate is UI only. You can raise a ticket here https://github.com/apache/cloudstack/issues and discuss your proposal on the dev mailing list.
2. The group action feature is already created towards the 1.0/GA milestone - https://github.com/apache/cloudstack-primate/issues/162
Or, are you suggesting a quick/action overview

[2020-06-17 05:19] rhtyd commented on #162
Another note: https://github.com/apache/cloudstack-primate/pull/424/files to be checked against old UI and added.

[2020-06-17 05:22] #363 closed

[2020-06-17 05:41] #418 closed

[2020-06-17 08:39] #396 closed

[2020-06-17 08:50] rhtyd commented on #112
With @davidjumani

[2020-06-17 08:51] rhtyd commented on #162
With @shwstppr

[2020-06-17 08:59] rhtyd commented on #393
With @davidjumani

[2020-06-17 09:04] rhtyd commented on #403
With @davidjumani

[2020-06-17 09:06] rhtyd commented on #404
With @davidjumani

[2020-06-17 09:10] rhtyd commented on #408
With @shwstppr cc @davidjumani

[2020-06-17 09:11] rhtyd commented on #417
With @shwstppr

[2020-06-17 09:13] #405 closed

[2020-06-17 09:28] #394 closed

[2020-06-17 10:11] #339 closed

[2020-06-17 10:23] #406 closed

[2020-06-18 00:54] gaaray2k commented on #427
I would like to see action buttons next to the virtual machine in the instance tab instead of having to click on The VM to turn off, reboot, etc.

[2020-06-18 00:56] gaaray2k commented on #427
Also when creating the vm, the form should ask for the name and then append a number depending on how many VMs I choose to create from a template. That feature is in openstack.

[2020-06-18 10:18] #404 closed

[2020-06-18 10:21] #392 closed

[2020-06-18 10:33] rhtyd opened #434 "Document - how to write a UI plugin (external/internal)"
Document similar to old/legacy UI how to write a UI plugin with a CRUD (list/create/update/delete) example.

[2020-06-18 10:40] #393 closed

[2020-06-18 10:40] #403 closed

[2020-06-18 17:32] davidjumani commented on #369
docHelp in #435

[2020-06-20 10:35] rhtyd commented on #112
@davidjumani Primate QA server has a LDAP server now, you can test against that let me know if the requested features are not clear

[2020-06-20 18:04] rhtyd opened #437 "Add primary storage form fails for Ceph Storage"
The form fails due to incorrect API parameters passed:
![Screenshot from 2020-06-20 22-09-44](https://user-images.githubusercontent.com/95203/85208486-8ea1a280-b34e-11ea-848a-ba1ac49052a3.png)

Works in legacy UI, the same/similar params seen:
![Screenshot from 2020-06-20 22-11-18](https://user-images.githubusercontent.com/95203/85208487-9103fc80-b34e-11ea-9567-9f7f5f4434a8.png)

[2020-06-21 04:02] #437 closed

[2020-06-21 20:35] gaaray2k opened #438 "Assign a public IP to a VPC guess network"
I havent been able to assign a public IP to a vpc guest network in the new UI. in the old UI when creating a new load balancer, I would get the option to assign the ip to a tier. I dont see that option in the new UI so when creating a load balancer on the public IP, I get the error

'IP address ID=236 is not associated with any network'

how do I accomplish this in the new UI?

[2020-06-22 03:11] rhtyd commented on #438
@gaaray2k can you list the exact steps you use on the old UI?
In Primate, in the VPC there's a public IP address tab which can be used to acquire IP address and then used for doing PF/LB or snat. Are you not seeing them?

[2020-06-22 03:47] gaaray2k commented on #438
I am able to acquire a public IP. But can't create a load balancer because the VIP cannot be assign to a tier in the new UI. In the old UI the user acquires an IP, select the tier the LB will belong to and then select the VMs from that tier to be part of the load balancer. There is no tier option in the new UI when creating a load balancer on a VPC

[2020-06-22 06:12] rhtyd commented on #438
@gaaray2k is your issue not being able to select a tier while adding PF/LB rules, like https://github.com/apache/cloudstack-primate/issues/333 ?

With @shwstppr

[2020-06-22 07:08] Pearl1594 opened #439 "Logged in user's user info not correctly reflected for subsequent users of an account"
**Describe the bug**
On login to a account as a user other than the default user of the account, the details shown correspond to that of the default user (of the account)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account
2. Create another user in the account (eg, create a test user under admin account)
3. login as test user
4. The login information shows admin user's info on

[2020-06-22 07:21] gaaray2k commented on #438
Yes

[2020-06-22 08:29] #439 closed

[2020-06-22 08:29] rhtyd opened #442 "Theme primary colour does not change router-link/link colour"
@utchoang can you introduce support for `@link-color` or some way so that the router-link/link colour matches the primary colour?

[2020-06-22 08:30] rhtyd commented on #434
Basic customisation doc added in repo, will need to update on the docs website on separate repo

[2020-06-22 08:30] #434 closed

[2020-06-22 08:32] rhtyd commented on #369
Only effort remaining is to check and fix the diff between locales/en.json and legacy UI's l10n/en.js

[2020-06-22 08:34] rhtyd commented on #333
We've a PR now, dupes https://github.com/apache/cloudstack-primate/issues/438

[2020-06-22 08:34] #333 closed

[2020-06-22 11:24] davidjumani opened #443 "[BUG] Pagination in deplyVM"
**Describe the bug**
The deploy VM wizard does not list all the affinity groups (and possibly other stuff)  but only the first page. Unable to go to the second / third page

**To Reproduce**
Steps to reproduce the behavior:
1. Have more than 10 affinity groups
2. Go to 'deploy vm wizard'
3. Scroll down to 'affinity groups.'
4. See error - only one page despite there being more than 10 groups

**Ex

[2020-06-22 12:24] #443 closed

[2020-06-22 15:05] rhtyd commented on #362
We've a PR

[2020-06-22 15:05] #362 closed

[2020-06-22 15:05] rhtyd commented on #381
We've a PR

[2020-06-22 15:05] #381 closed

[2020-06-22 15:05] rhtyd commented on #386
We've a PR

[2020-06-22 15:05] #386 closed

[2020-06-22 15:06] rhtyd commented on #422
PR merged

[2020-06-22 15:06] #422 closed

[2020-06-22 15:07] rhtyd commented on #250
We've a PR

[2020-06-22 15:07] #250 closed

[2020-06-22 15:08] rhtyd commented on #417
We've a PR

[2020-06-22 15:08] #417 closed

[2020-06-22 15:10] rhtyd commented on #369
Largely work completed, review/verification would be user-led (with @rhtyd to do one round)

[2020-06-22 15:10] #369 closed

[2020-06-23 07:11] #442 closed

[2020-06-23 09:33] borisstoyanov opened #447 "[BUG] role id displayed as label when creating an account"
**Describe the bug**
Label for role id displayed, should be just Role I believe

**To Reproduce**
Steps to reproduce the behavior:
1. Go to accounts
2. Click on Add account

**Expected behavior**
label should not be displayed

**Screenshots**
![Screenshot 2020-06-23 at 12 31 31](https://user-images.githubusercontent.com/13551960/85387586-ac892600-b54d-11ea-8bc6-642d316c3d70.png)

**Additional cont

[2020-06-23 09:50] rhtyd commented on #447
Thanks bobby, we have a PR already to fix the accounts form for ldap/saml etc with proper labels and help docs (the (i) icon to show help doc)
https://github.com/apache/cloudstack-primate/pull/170

[2020-06-24 07:54] #438 closed

[2020-06-24 07:54] rhtyd commented on #438
@gaaray2k fixed on master, please test/review latest master. Thanks.

[2020-06-24 09:03] rhtyd commented on #112
PR received, tested; will merge PR after final review

[2020-06-24 09:03] #112 closed

[2020-06-24 09:03] rhtyd commented on #162
PR received

[2020-06-24 09:03] #162 closed

[2020-06-24 09:04] rhtyd commented on #214
PR received

[2020-06-24 09:04] #214 closed

[2020-06-24 09:04] rhtyd commented on #361
With @shwstppr

[2020-06-24 09:07] rhtyd commented on #447
Abhishek's PR fixed it, closing.

[2020-06-24 09:07] #447 closed

[2020-06-24 09:33] rhtyd opened #448 "Could we check if URL for upload template/iso/volume is valid and display suitable message"
By default if the env is not SSL enabled, upload form fails with incorrect message for uploading template/iso/volume

[2020-06-24 09:34] rhtyd commented on #448
With @shwstppr (last time I checkd I couldn't find a way to validate the https path)

[2020-06-24 09:38] rhtyd opened #449 "[FEATURE] show quick-view options for VMs?"
Explore ways to show quick-view actions (either all the actions, or  most commonly used action start/stop/...)
Either as a general component; or specifically for VM (and other user facing views like storage, network)

[2020-06-24 09:38] rhtyd commented on #449
With @davidjumani

[2020-06-24 09:44] rhtyd opened #450 "[FEATURE] Swtich to project when route has ?projectid= passed"
If a listview/detailview (in autogenview or dashboard.vue...) if ?projectid=065cbd5b-3787-4f66-9be1-1844a2e98c28 is passed (notice ID is a valid UUID of 36chars len) swtich to the project using listProject to get the project obj/json; call a dispatch

[2020-06-24 09:44] rhtyd commented on #450
With @shwstppr

[2020-06-24 09:47] rhtyd opened #451 "Maintain page context in the URL"
The page context for page, pagesize, keyword (maybe filter related things later on...) are not stored on the route/path/params and back/forward missing the context...

[2020-06-24 09:47] rhtyd commented on #451
With @davidjumani

[2020-06-24 09:50] rhtyd opened #452 "Allow admins to configure footer html/string via config.json"
Add an option to show custom footer html/string to be shown to users; and hide the CloudStack/primate version for users (i.e. show only for admins by default)

[2020-06-24 14:11] #452 closed

[2020-06-24 14:53] #450 closed

[2020-06-24 16:38] #451 closed

[2020-06-24 17:43] rhtyd opened #455 "Another Usability Issues List"
- By default if the env is not SSL enabled, upload form fails with incorrect message for uploading template/iso/volume; Could we check if URL for upload template/iso/volume is valid and display suitable message?

[2020-06-25 09:54] borisstoyanov opened #456 "[BUG] After session expire, upon new login user is given 403"
**Describe the bug**
After session expire and following log, user is being displayed with 403 instead of the resource he had just authenticated to.

**To Reproduce**
Steps to reproduce the behavior:
1. Let the session expire while on a page
2. Click anywhere on the screen
3. You're being redirected to login, login to CS
4. Instead of the page you've clicked before login you've been displayed with

[2020-06-25 11:47] rhtyd commented on #456
@borisstoyanov can you test latest master (or latest build of PR where you saw this). This has been fixed now; so after a fresh login users are always taken to the dashboard.

[2020-06-25 11:49] rhtyd commented on #456
Limitation - because we rely on API autodiscovery, after re-login we cannot directly take to the view before the API discovery finishes. For now, we direct the page to dashboard. If you change the request of the issue, we can make it as a potential usability enhancement for 1.1.

[2020-06-25 11:51] rhtyd commented on #238
Have PR

[2020-06-25 11:51] #238 closed

[2020-06-25 11:51] rhtyd commented on #295
Have PR

[2020-06-25 11:51] #295 closed

[2020-06-25 11:52] rhtyd commented on #374
Have PR #436 - let's track it there

[2020-06-25 11:52] #374 closed

[2020-06-25 12:41] borisstoyanov opened #457 "[BUG] Change order of Service offering is available to Read-only admin"
**Describe the bug**
With the latest default role introduced - read only admin he's able to see the buttons for changing the order of * offerings
When click on some of the buttons he's immediately logged out.

As per the autodisovery nature of this UI I believe users shouldn't be able to see such buttons, not sure if there's a solution on a framework level but it'll be good to look into such inste

[2020-06-25 12:44] borisstoyanov commented on #457
![Screenshot 2020-06-25 at 15 43 17](https://user-images.githubusercontent.com/13551960/85722144-aedcb300-b6fa-11ea-8d9e-0279e2be2fc7.png)
![Screenshot 2020-06-25 at 15 44 23](https://user-images.githubusercontent.com/13551960/85722234-c0be5600-b6fa-11ea-9e98-9f504c5bc600.png)
View console and get diagnostics data is also available

[2020-06-25 15:23] rhtyd commented on #457
@borisstoyanov
- the console access is not controlled under API discoverery; and this is largely as backend issue than frontend, but we can still decide to show/hide based on access of some API, which API you reckon we should check (something like if user can access API X then show otherwise hide?)
- the get diagnostic is available as your read only admin must have get* APIs enabled.
- the order r

[2020-06-25 15:26] rhtyd commented on #456
With @davidjumani - send a PR to fix or close on test confirmation.

[2020-06-25 15:28] rhtyd commented on #457
With @shwstppr - likely requires the pattern we used in other parts of the code `api in $store.getters.api` to disable the buttons (the order column handled in ListView.vue and also check the role rulepermissions tab for rules ordering)

[2020-06-26 06:31] davidjumani commented on #456
On logout / session expired, post login, user lands on the dashboard

[2020-06-26 06:48] borisstoyanov commented on #456
but if you have a URL leading you to some particular page you should be landing on that page when login, right ?

[2020-06-26 07:33] Pearl1594 commented on #456
with autodiscovery, there are some paths that get discovered after a delay, as a result of which the instant the user logs in that path doesn't exist and hence leads to a 403. So to overcome that, the user is now redirected to the dashboard page.

[2020-06-26 07:58] rhtyd commented on #456
I'll explore a fix but this is not priority for GA

[2020-06-26 15:16] #457 closed

[2020-06-26 16:01] #449 closed

[2020-06-26 16:01] rhtyd commented on #449
Has a PR

[2020-06-26 16:03] #398 closed

[2020-06-26 16:04] #408 closed

[2020-06-26 16:07] rhtyd opened #462 "Missing Legacy UI feature"
These may be attempted after 1.0/GA, and they may not be hugely popular or used:
- NFS secondary storage list/resource view and add/update actions
- Metrics view cell colouring (red/orange) based on thresholds like legacy UI for zone, cluster, hosts etc.

[2020-06-26 16:08] #448 closed

[2020-06-26 16:11] rhtyd commented on #427
@gaaray2k for the last suggestion, if you need more than one VM - why not use API (use cmk) to automate large VM deployment? Do you by chance know any such use-case (asking out of curiosity) in cloud providers such as aws, gcp, azure etc where they give such an option? Lastly, in case we allow number of VMs to be specified should we ask for numbering pattern (like VM-name$counter) ?

[2020-06-26 16:12] rhtyd commented on #427
For #2 we're exploring a quick-view like feature to allow users to take action without getting into the VM view in https://github.com/apache/cloudstack-primate/pull/458

[2020-06-26 16:13] rhtyd commented on #456
Let's continue the discussion on https://github.com/apache/cloudstack-primate/pull/460 @borisstoyanov I've reviewed, tested and verified the fix by @davidjumani under a few scenarios - need you feedback on the UX/usability. Thanks.

[2020-06-26 16:13] #456 closed

[2020-06-26 16:37] gaaray2k commented on #427
I could use cmk but I think UI option would be useful too. I know openstack has it. The way I see it in openstack is you provide a name and then a number is attached at the end of that name. No big deal. I just think it is a nice feature.

[2020-06-26 20:54] rhtyd commented on #162
Fixed in 750ea60696aefa0b33913d9e195f37b51f24ac4c

[2020-06-27 11:00] rhtyd opened #463 "[BUG] User: Permission related issues"
Compute:
- SSH keys: create SSH key without specifying public key creates private key, could we make it easier for user to copy or download it? Or, simply cause a file to be downloaded after the form finishes.

Network:
- VPN users: add user causes failure (could be backend issue, or this needs to be allowed only after VPN is enabled on some network?)
- After adding VPC tier it does not refresh th

[2020-06-28 13:17] rhtyd commented on #463
With @davidjumani - please have a look thnx

[2020-06-28 15:44] rhtyd opened #464 "Complete user and dev documentation for 1.0/GA"
- Write user doc wrt installation, upgrade, basic and adv. customisation; send WIP release notes doc PR
- Write developer docs for:
  - Document core Primate architecture (router configs, store, locales, autogenview, list/resource view)
  - Tutorial-led on how to write a new UI feature (action, tab component; list/resource view) for Primate

[2020-06-28 15:45] rhtyd opened #465 "Refactor async job polling codebase-wide"
The notification polling is split between $pollJob and dispatching an AddAsyncJob, and is not very consistent throughout the codebase and requires refactor a single polling mechanism.

[2020-06-28 15:47] rhtyd opened #466 "Usability: Explain what states mean"
Different views have different states, for example VM in stopped/running states. In some views, for ex. the networks tab what states mean is not very obvious and may require enhancing the Status.vue component to detect which `$route.name` it is in to add some additional helper tooltip to explain what the state means (for example using the FSM state from backend code).

[2020-06-28 15:48] rhtyd commented on #466
(originally @PaulAngus 's request)

[2020-06-28 17:04] rhtyd opened #467 "[BUG] Read-only admin issues"
As a read-only admin the following haven't been fixed yet:
- Readonly admin shouldn't be allowed to change order of role/rule permissions
- Don't allow changing public IP address (add/delete/change) for a physical network of zone
- Discuss - Hide console for a VM if the user/account is not allowed to deploy/stop/start VM?

[2020-06-28 17:04] rhtyd commented on #467
With @davidjumani

[2020-06-29 02:29] rhtyd commented on #464
With @rhtyd

[2020-06-29 02:32] rhtyd opened #468 "VM deployment form group template/iso"
In the VM deployment form, group templates and ISOs like in older UI as the four types (mine, shared, featured....). The OS based grouping with search is confusing for users. OS logo can still be used in front on names in the list, with a simple search.

@utchoang can you have a look at this?

[2020-06-29 06:16] davidjumani commented on #467
Raised a PR for the issues.
A ReadOnly admin can view / use the console despite not having permissions to start / stop via the backend, which makes sense since he is an admin after all

[2020-06-30 02:38] gaaray2k opened #471 "Logged in from event to use x-forward ip"
When I log into primate an event is recorded saying "user USER logged in from IPADDRESS". this is a problem for users that use a proxy or load balancer because the ip will always be the the ip of the load balancer or proxy. can a system config option be added to use the IP address of the x-forward header so the real ip of the user is shown instead when using a proxy or load balancer?.

[2020-06-30 07:38] davidjumani commented on #467
Would that apply only to user vms or systemvms too ?

[2020-06-30 09:44] rhtyd commented on #471
@gaaray2k this is not a UI issue, please log against apache/cloudstack repo; I think X-Forwarded-Host is already supported

[2020-06-30 09:44] #471 closed

[2020-06-30 09:45] rhtyd commented on #466
With @davidjumani

[2020-06-30 09:47] rhtyd commented on #455
With @davidjumani

[2020-06-30 14:42] PaulAngus opened #473 "[BUG] Templates screen should not show 'order' column to non-root admins"
**Describe the bug**
A clear and concise description of what the bug is.

Someone of type 'user' should not be able to see the Order column - it's not a user-supported function.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a normal user
2. Go to 'Images -> templates'

Order column is visible - this should only be visible to root admins

**Expected behavior**

The Order column s

[2020-06-30 16:17] PaulAngus opened #475 "[BUG] Many screens show Account and Domain to non-root admins when they should not."
**Describe the bug**

Many screens show Account and Domain to non-root admins when they should not.
In some cases it is purely superfluous (the user would know what account they were in)
In other cases (ie templates which can come from other accounts) it causes security data leakage.

**To Reproduce**
Steps to reproduce the behavior:

Log in as a non-admin user.
1. Go to one of the following scree

[2020-06-30 16:34] PaulAngus opened #476 "[BUG] Template Status data not relevant to non admin users"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as non-admin user
2. Go to Images -> Templates
3. see that the status column is either BLANK (created by others) or showing status from DB.

**Expected behavior**

The status is not relevant once there are multiple storage pools, there is no reason to show it.

**Sc

[2020-06-30 16:52] PaulAngus opened #477 "[BUG] Prompt regarding Data Volumes shown when destroying a VM is misleading"
**Describe the bug**

When destroying an instance the user should be shown any data disks attached and given the option to delete them.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM (without a data disk)
2. Click on 'Destroy' the VM
3. See the prompt (compare to Legacy UI)

**Expected behavior**

The prompt should read 'Data Volumes to be deleted:'  (incorrect mapping used - sh

[2020-07-01 02:21] rhtyd commented on #475
@PaulAngus we also show the information in most screens (detail views if not list/table view) in legacy UI, ultimately the API response contains account and domain information for resources that a user is allowed to call/see.

Example screenshots from legacy UI, templates have the account/domain information:
![Screenshot from 2020-07-01 07-50-18](https://user-images.githubusercontent.com/95203/861

[2020-07-01 02:35] rhtyd commented on #477
@davidjumani please create a new custom component for this action; the autogenerated widget will limit the UX which users may not like, like @PaulAngus 's expected behaviour.

[2020-07-01 02:36] rhtyd commented on #477
With @davidjumani

[2020-07-01 02:38] rhtyd commented on #476
Make sense, @davidjumani please check legacy UI for "Domain Admin" and "User" accounts, and remove status column from the listviews of both template and ISOs and the zonetemplate/zoneiso tab components. I did a quick check as a normal User role/account and I see no status information being returned, so it's safe to remove this column at least for the "User" roletype.

With @davidjumani

[2020-07-01 02:45] rhtyd commented on #475
With @PaulAngus - to review presented arguments and close the ticket; or start thread on dev/users ML to gather consensus on mitigation options such as:
- Hide account/domain information in Primate for the sections - template, iso, kubernetes iso and project
- Give some config parameter (Primate fix, provide via config.json) and/or global setting (CloudStack/server fix, fix API response) to show o

[2020-07-01 02:46] #468 closed

[2020-07-01 02:46] rhtyd commented on #468
Has PR

[2020-07-01 05:42] rhtyd commented on #476
With @Pearl1594

[2020-07-01 05:48] rhtyd commented on #455
With @Pearl1594

[2020-07-01 08:55] rhtyd opened #479 "Review and compare translation keys and doclinks usage and migration of translation from old UI"
@utchoang cc @svenvogel  can you help do the following:

- Review entire Primate codebase and fix any wrong usage of `$tr(...` translation key usage or code (i.e. fix any incorrect key or check/use an existing key from locales/en.json)
- Compare the legacy UI translation file (https://github.com/apache/cloudstack/blob/master/ui/l10n/en.js) against Primate's locales/en.json (may few other languages

[2020-07-01 16:28] PaulAngus commented on #475
Agreed, **_most_** screens will display the user's own account and domain.  Therefore it's redundant data, so it's 'silly' to display it.

on the screens that **are** leaking data, not showing the data in the UI makes the problem 'less bad', but agreed, it is an API problem to start with.

[2020-07-03 11:18] davidjumani opened #485 "[BUG] Actions for projects visible to users"
**Describe the bug**
Buttons to edit / suspend / delete / add users allowed to a regular user of a project. Should be hidden unless the uesr is a project admin

[2020-07-03 12:02] rhtyd commented on #455
Not possible in javascript to check/validate a server/domain certificate (without using external service).

[2020-07-03 12:02] #455 closed

[2020-07-04 06:00] #467 closed

[2020-07-04 06:03] #473 closed

[2020-07-04 06:28] rhtyd opened #486 "Group actions don't work with custom components"
Ref https://github.com/apache/cloudstack-primate/pull/478

[2020-07-04 06:29] #477 closed

[2020-07-04 06:38] rhtyd commented on #463
Has PR

[2020-07-04 06:38] #463 closed

[2020-07-04 06:38] rhtyd commented on #466
Has PR

[2020-07-04 06:38] #466 closed

[2020-07-04 06:40] rhtyd commented on #475
I checked in some cases we want to show account/domain to logged in users:
- In case of SAML users that are authorised across multiple accounts/domains (there's a  list and switch API)
- Edge case - In case of multiple users in an account who may have other users in other accounts

Let's show the silly redundant data like the silly old UI for now

[2020-07-04 06:43] #476 closed

[2020-07-04 06:52] rhtyd commented on #479
Has PR

[2020-07-04 06:52] #479 closed

[2020-07-04 07:00] PaulAngus commented on #475
A user can only be logged into one account at a time and therefore still one only see their own account and domain.  therefore we are still showing redundant data

also it is offensive to close someone else's issue without their consent.

[2020-07-04 07:19] rhtyd commented on #475
@PaulAngus
- The issue is subjective and I've advised already to start a discussion on dev/user ML
- Ultimately if the API response is fixed no changes in Primate will be required, you've agreed it's an API issue
- See my previous comments and http://cloudstack.apache.org/api/apidocs-4.14/apis/listAndSwitchSamlAccount.html, there are cases where a user may be allowed to switch between accounts/dom

[2020-07-04 07:19] #475 closed

[2020-07-04 08:37] PaulAngus opened #487 "[BUG] Backup tab is shown when Backup Framework is not enabled"
**Describe the bug**

A 'Backup' tab is shown under storage when the Backup Framework has not been enabled.  This will cause many 'support calls' when users want try to create backups.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure backup framework is not enabled
2. Click on 'Storage' tab
4. See error

**Expected behavior**

The backup tab should not be visible as the backup framewor

[2020-07-04 08:42] PaulAngus opened #488 "[BUG] 'Expunging' VM Snapshots show in the UI"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Pre-req:
VM snaphot in expunging state must exist.

1. Go to 'storage' > 'VM Snapshots'
2. See error

**Expected behavior**

VMs in 'Expunging' state are not expected to be seen.

**Screenshots**

![image](https://user-images.githubusercontent.com/4810220/86508715-2f29a500-b

[2020-07-04 09:40] PaulAngus opened #489 "[BUG] The default number of entries in the data/table view (10) is a waste of screen space and frustrating"
**Describe the bug**

[Ack: as much usability as a bug]

EVERYTIME i use primate I have to change the number of items displayed to make reasonable use of screen space.
It quickly becomes frustating.

Some experiementation shows that a default around 17 suits most display screens.   15 is 'safe' but still often leaves quite a bit of empty screen space.

**To Reproduce**
Log in and goto any screen w

[2020-07-04 10:08] PaulAngus opened #490 "[BUG] Create VM Form - root disk size dialog is misleading"
**Describe the bug**

The implementation of the root disk slider suggests that the user MUST set a root disk size. This has two problems:

1. This is not the case and setting a root disk size is conpletely optional and not always possible.
2. User will not know the original root disk size, and setting a root disk size smaller than the original disk will fail the deployment.

**To Reproduce**
Steps

[2020-07-04 10:09] PaulAngus opened #491 "[BUG] The Create Instance wizard should have an 'Advanced section' to make requirements clear"
**Describe the bug**

The Create Instance wizard should have a number of options moved to an optional 'Advanced' section, their existence in the 'main flow' is confusing even to experienced users, deployment would be near impossible for new users.

**To Reproduce**

 Example:  What should a user enter for 'root disk size'  (link to #490 )

**Expected behavior**

The following should be in a clearl

[2020-07-04 16:02] gaaray2k opened #492 "Error when renaming a template"
I get the error message below when I try to rename a template from a non admin account. I guess the UI is trying to set the routing parameter although I am not selecting it. just wanted to let you guys know in case you didnt know already.

request failed(531)
Parameter isrouting can only be specified by a Root Admin, permission denied

[2020-07-04 17:08] #492 closed

[2020-07-04 17:08] rhtyd commented on #492
Thanks for reporting @gaaray2k I could reproduce and fix the issue

[2020-07-04 17:38] #486 closed

[2020-07-05 01:49] rhtyd commented on #489
We had this initially set to 20 to match old UI, then 15 previously and we set this to 10 after getting complains from laptop users which may not have FHD/4K displays. The best strategy I can come up with is to set the default pagesize based on screen types; for mobile/table users keep it to 10 by default and for desktop users keep it to 20 by default.

Screenshots:
FHD (1920x1020)
![Screenshot fr

[2020-07-05 01:51] #489 closed

[2020-07-05 01:59] rhtyd commented on #488
I tested this is not a UI issue but a potential cleanup/GC issue, I've logged an issue here instead https://github.com/apache/cloudstack/issues/4201
Legacy UI shows the same:
![Screenshot from 2020-07-05 07-26-37](https://user-images.githubusercontent.com/95203/86523916-2ea01580-be91-11ea-9935-3686b62023f1.png)

Primate screenshots as admin and normal user:
![Screenshot from 2020-07-05 07-25-39](h

[2020-07-05 01:59] #488 closed

[2020-07-05 02:02] rhtyd commented on #487
With @davidjumani
- Remove the view backup and vmsnapshot button via config::related for compute.js
- Instead add tabs to the VM instance/detail component to show/hide both backup and vm snapshots (similar to the volumes, nics etc tabs) depending on user-role access and availability of feature

@PaulAngus Lowering severity to Major, we'll fix the issue for 1.0/GA but let's use blocker limited to i

[2020-07-05 02:06] rhtyd commented on #490
With @davidjumani
- listTemplates returns `size` check and use that to validate root disk size (must be equal to or greater than template size/physical size)
- Remove slider, keep it simply a number input
- Perhaps discuss and add a switch to say override root disk size and then show the label/input (i.e. don't show it by default, a toggle/switch shows the input)

[2020-07-05 02:23] rhtyd commented on #491
Needs further discussion: cc @davidjumani

- 'Affinity groups' is already in its own step, the sequence/step is same as old UI's wizard after compute and disk offering, we probably can move it at the end?
![Screenshot from 2020-07-05 07-42-14](https://user-images.githubusercontent.com/95203/86524053-395baa00-be93-11ea-88b1-14e149890150.png)

- 'root disk size': already tracked by another ticket, b

[2020-07-05 02:27] rhtyd commented on #464
Added blocker as GA/1.0 release cannot go without docs

[2020-07-05 02:29] rhtyd commented on #485
Critical added, while no functionality is broken users shouldn't see button they're not authorised to press/see.

[2020-07-05 02:34] rhtyd commented on #485
cc @Pearl1594 does your project-roles PR cover this - let's discuss thanks.

[2020-07-05 06:40] PaulAngus commented on #487
A release blocker is an issue that must be fixed prior to a release.  therefore blocker is the correct category.

Requiring the operator to hide the feature is not acceptable.  the kubernetes plugin tab is only visible when the kubernetes plugin is enabled.  The same should be true for the backup plugin.  The operator should not have to fix inadequacies in ACS code.

[2020-07-05 10:18] rhtyd commented on #487
@PaulAngus I've already said show/hide "depending on user-role access" and "availability of feature" so why is that unacceptable? Why is this a release blocker?

[2020-07-06 00:17] gaaray2k opened #495 "Resource update isnt working"
found another issue. When updating the limit count for an account and click on the update resource count button, nothing happens. for example, I tried to change snapshot limit for an account to 2, but when I press the update resource count button, the snapshot count stays at 20. I did it with the old UI and it works, but not in primate.

[2020-07-06 08:34] rhtyd commented on #495
Hi @gaaray2k thanks for reporting, but I'm unable to reproduce. Which CloudStack version were you testing this against? Can you try with latest 4.14 version or branch build and with latest Primate master?

![Screenshot from 2020-07-06 14-02-12](https://user-images.githubusercontent.com/95203/86573100-845be700-bf91-11ea-903c-a59cecc34483.png)
![Screenshot from 2020-07-06 14-02-25](https://user-imag

[2020-07-06 08:56] rhtyd commented on #487
Legacy UI also show the backups view and offering even when the feature is disabled globally and for all zones
![Screenshot from 2020-07-06 14-09-25](https://user-images.githubusercontent.com/95203/86573648-53c87d00-bf92-11ea-9548-7c72a7d7a54d.png)

Using http://docs.cloudstack.apache.org/en/latest/adminguide/backup_and_recovery.html as a reference, if the feature is not globally enabled (backup.f

[2020-07-06 09:11] rhtyd commented on #485
With @Pearl1594 - as discussed please embed the two components and use `this.$set` see the Instance Tab component for example

[2020-07-06 09:19] rhtyd commented on #487
With @davidjumani

[2020-07-06 09:21] rhtyd commented on #490
With @davidjumani

[2020-07-06 09:22] rhtyd commented on #491
With @davidjumani

[2020-07-06 09:24] PaulAngus commented on #491
My thoughts:
We are past the point that simply being able to see a parameter in the UI is enough.  At GA, the new UI needs to be 'great/good/acceptable' in its own right.  Part of Primate's purpose is to improve the user's experience; And in some cases (the create VM instance wizard) it makes the experience worse.

[2020-07-06 12:15] borisstoyanov opened #496 "[Testplan] Domain admin testing for primate GA 1.0"
This is a high-level plan for Primate GA using the role Domain admin, some of the actions might not be available, please mark as N/A.

The following plan focuses on 3 hypervisors, in priority: VMware, Xen and KVM. Since KVM has been the most tested on until now it's with lower priority. Please use advanced zone for all deployments

| Feature | Vmware 6.5 results / tester | Xen Server 7 results / t

[2020-07-06 12:18] borisstoyanov opened #497 "[Testplan] Root admin for Primate GA 1.0"
The following plan focuses on 3 hypervisors, in priority: VMware, Xen and KVM. Since KVM has been the most tested on until now it's with lower priority. Please use advanced zone and basic zone with SG for covering the cases

| Feature | Vmware 6.5 results / tester | Xen Server 7 results / tester | KVM 7 results / tester |
|---------------|--------|--------|----------------|
| **Instances** | | | |

[2020-07-06 12:39] vladimirpetrov opened #498 "[Testplan] Full Test Plan with USER role for Primate GA 1.0 - VMWare hypervisor"
This is a high-level plan for Primate GA using the role  User Role, some of the actions might not be available, please mark as N/A.

 Please use advanced zone for all deployments

| Feature | Tester | Result | Related Issues |
|---------------|--------|--------|----------------|
| **Common** | | | |
| Project selector | | | |
| Language selector | | | |
| Notifications / clear notifications | | |

[2020-07-06 14:14] sureshanaparti opened #500 "[BUG] Unable to view project tags in the project details for User account"
**Describe the bug**
Unable to view project tags in the project details for User account. In Old UI, can view and add tags for the project, the same is not available for the same account in Primate.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User
2. Change project from Default View
2. Go to 'Projects'
3. Click on any project to see project details and check tags.

**Screens

[2020-07-06 17:08] rhtyd commented on #500
@sureshanaparti were you an account added to the project, I couldn't reproduce the error. For project where you've access you'll be able to add/remove/list tags.

[2020-07-07 05:51] Pearl1594 opened #502 "[BUG] Detail settings (for templates and instances) lets you create settings with null values"
**Describe the bug**

- [x] Detail settings (for templates and instances) lets you create settings with null values. (make fields mandatory)
- [x] Edit template lets you set / unset if the template is ssh key enabled, but this information doesn't seem to be exposed as part of the details (Legacy UI didn't expose modification of this property , hence it wasn't displayed)
- [x] In list templates vie

[2020-07-07 07:08] rhtyd commented on #502
With @davidjumani

[2020-07-07 08:21] #496 closed

[2020-07-07 08:21] #497 closed

[2020-07-07 08:21] #498 closed

[2020-07-07 09:11] rhtyd opened #507 "[TESTPLAN] Full Test Plan for 1.0/GA for User and VMware 6.7u3 + ACS 4.14"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastrucutre (except for Offerings)

| Feature | Tester | Result | Related Issues |
|---------------|--------|--------|----------------|
| **Common** | | | |
| Project selector | | | |
| Language selector | | | |
| Notifications / clear notifications | | | |
| Paginations | | | |
| Profile | | | |
| H

[2020-07-07 09:19] #507 closed

[2020-07-07 09:43] sureshanaparti commented on #500
@rhtyd I checked in Chrome browser as well, changed project to other than Default View and tried to access projects and couldn't see the tags in the Primate UI. Able to see tags for the same project in Old UI, with same user in the same project view.

[2020-07-07 10:03] #502 closed

[2020-07-07 10:09] rhtyd opened #509 "[TESTPLAN] Full Test Plan for 1.0/GA for User, VMware 6.7, ACS 4.14.1.0-SNAPSHOT"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [x] Project selector
- [ ] Language selector
- [ ] Notifications / clear notifications
- [ ] Paginations
- [ ] Profile
- [x] Help
- [ ] Logout
- [ ] Context-sensitive help

**Dashboard**
- [ ] Fetch latest
- [ ] View hosts in alert state
- [ ] View ale

[2020-07-07 10:10] rhtyd commented on #509
Opened just for testing the template, closing now

[2020-07-07 10:10] #509 closed

[2020-07-07 10:41] PaulAngus commented on #491
Viewed PR with DJ on-screen - LGTM

[2020-07-07 10:41] PaulAngus commented on #490
reviewed on-screen with DJ - fix  LGTM

[2020-07-07 10:42] PaulAngus commented on #487
Viewed PR on-screen with DJ - fix LGTM

[2020-07-07 12:37] #500 closed

[2020-07-07 12:50] #487 closed

[2020-07-07 15:41] rhtyd commented on #495
@gaaray2k were you in a project (i.e. you've selected a project from top menu) when you tried this?

[2020-07-07 15:56] gaaray2k commented on #495
No I wasn't. I went to account and was trying to set the limit from there. I will try again and report back.

[2020-07-07 15:59] rhtyd opened #510 "Build and packaging improvements"
Hi @utchoang can you explore the following after your current issue, thanks.

1. Explore and optimise build specifically around this npm build warning: (i.e. can we make bundle smaller to load application faster)
[code]

2. For both rpm and deb packaging (see https://github.com/apache/cloudstack-primate/tree/master/packaging and packaging.sh) can we ensure that on upgrade it won't overwrite the co

[2020-07-07 16:10] Pearl1594 commented on #495
@gaaray2k update resource count merely refreshes the count of resources (used) for the corresponding resource types in that account. I believe what you trying to achieve - i.e., update resource limit can is done by hitting the submit button at the bottom of that page -> that updates the resource __limits__

[2020-07-07 16:11] rhtyd opened #511 "User not allowed to delete its own isos and templates, add/change settings for project VMs"
Possibly regression cc @Pearl1594 @davidjumani  sync tomorrow thnx

1. Register ISO as a user, now the delete/copy icons are not seen if the template or ISO is not ready
2. Create a project as root admin, add a user account and deploy a VM as root admin; now log-in as a user and I was not allowed to edit the VM settings for a stopped VM

[2020-07-07 16:34] rhtyd opened #512 "New list resource tab does not do pagination and refresh on parent resource refresh"
@davidjumani please address for the new list resource tab used in vmsnapshots/backups tabs for VM instance:
- Add a watch on resource, refresh the view if parent resource changes (i.e. refresh button)
- Add pagination option for the API (see rick account in primate-QA which has over 35 backups for testing)

[2020-07-07 19:18] #495 closed

[2020-07-08 04:50] rhtyd commented on #511
With @Pearl1594

[2020-07-08 06:05] rhtyd commented on #485
Fixed in https://github.com/apache/cloudstack-primate/pull/382

[2020-07-08 06:05] #485 closed

[2020-07-08 06:18] davidjumani opened #516 "[TESTPLAN] Full Test Plan for 1.0/GA for RootAdmin, VMware 65, ACS 4.14.1.0-SNAPSHOT"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [x] Project selector
- [x] Language selector
- [x] Notifications / clear notifications
- [ ] Paginations - #528
- [x] Profile
- [x] Help
- [x] Logout
- [ ] Context-sensitive help  - #528

**Dashboard**
- [x] Fetch latest
- [x] View hosts in alert state

[2020-07-08 06:23] rhtyd commented on #464
https://github.com/apache/cloudstack-primate/blob/master/docs/customize.md
config.json in repo/public path

[2020-07-08 06:23] rhtyd commented on #464
docs page: https://github.com/apache/cloudstack-documentation/blob/master/source/installguide/primate.rst

[2020-07-08 06:25] rhtyd commented on #464
Scope of adv customisation:
- Change the router/config sections/js files with columns, name, icons, etc.
- Build/package

[2020-07-08 06:26] rhtyd commented on #464
User docs with @Pearl1594

[2020-07-08 06:45] Pearl1594 commented on #512
@blueorangutan package

[2020-07-08 06:51] #512 closed

[2020-07-08 07:02] #490 closed

[2020-07-08 07:02] #491 closed

[2020-07-08 07:03] #511 closed

[2020-07-08 08:28] rhtyd opened #518 "[TESTPLAN] Full Test Plan for 1.0/GA for Root Admin, XenServer71, ACS 4.14/latest"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [ ] Project selector
- [ ] Language selector
- [ ] Notifications / clear notifications
- [ ] Paginations
- [ ] Profile
- [ ] Help
- [ ] Logout
- [ ] Context-sensitive help

**Dashboard**
- [ ] Fetch latest
- [ ] View hosts in alert state
- [ ] View ale

[2020-07-08 09:29] alexandremattioli opened #519 "[TESTPLAN] Full Test Plan for 1.0/GA for USER/Domain Admin, ESXi 67u3, ACS 4.14/latest"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [x] Project selector
- [x] Language selector
- [x] Notifications / clear notifications
- [x] Paginations
- [x] Profile
- [x] Help
- [x] Logout
- [x] Context-sensitive help

**Dashboard**
- [x] Fetch latest
- [x] View hosts in alert state
- [x] View ale

[2020-07-08 11:33] #518 closed

[2020-07-09 04:38] davidjumani opened #520 "[BUG] DeployVM Wizard does not properly search for templates"
**Describe the bug**
In the deploy VM wizard, the search only searches the current selection of templates and does not query the backend

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to Create new VM
3. Search for a template

**Expected behavior**
An api call with the keyword should be called

[2020-07-09 05:44] davidjumani opened #523 "[BUG] Search for 'vm' in hypervisor capabilities is broken"
**Describe the bug**
When a user searches for 'vm' in hypervisor capabilities, [on the first time the page loads] it breaks (endlessly loads) and errors out in the console

![Screenshot from 2020-07-09 11-13-56](https://user-images.githubusercontent.com/8244774/87001533-54048a80-c1d5-11ea-9bd5-f419d6935e25.png)

[2020-07-09 05:49] davidjumani commented on #523
Probably related to the backend since VMware has duplicate keys

[code]

[2020-07-09 06:22] davidjumani commented on #523
Extra logs :

![Screenshot from 2020-07-09 11-52-07](https://user-images.githubusercontent.com/8244774/87004188-a85e3900-c1da-11ea-84bf-d1add1234bb8.png)

[2020-07-09 10:23] rhtyd commented on #520
@utchoang can you have a look at this, we want:
- The search to actually search the template/iso API
- Render the results on their own specific tabs (i.e. filtered tabs of features, public, mine... etc)
- On clicking the radio button we see an oval animation (minor issue, probably flex or css related)

[2020-07-09 10:59] ravening commented on #520
@rhtyd @davidjumani

I tried adding

[code]
under `<a-card` for the template/iso section but still couldn't search using the api. Mybe im missing something

[2020-07-09 11:50] alamintech opened #526 "Query For Cloud Stack Management Server install"
I have one query for my private cloud only LAN. Can I install  Cloud Stack Management Server access for my local LAN without public access.

How can I setup it. I am able to normally setup and access vm's using host as XEN server with include WAN Ethernet (public IP).

[2020-07-10 07:53] rhtyd commented on #526
Please ask questions on the users ML instead - http://cloudstack.apache.org/mailing-lists.html
You may also refer the docs and the quick install guide - http://docs.cloudstack.apache.org
Short answer - yes  @alamintech

Closing as this is not a bug or a feature request.

[2020-07-10 07:53] #526 closed

[2020-07-10 07:58] Pearl1594 commented on #523
Firstly, an odd observation - I noticed that the search only breaks when done on page 1
Was able to however fix the issue by ensuring uniqueness in the rowkeys in ListView

[2020-07-10 09:39] rhtyd opened #528 "Consolidated Bug List from Testing/Review"
List of issues raised by Alex wrt https://github.com/apache/cloudstack-primate/issues/519

- Change or remove (explain?) what "Add new VM" is from VPC tiers tab; (a) allow users to add existing VMs or (b) deploy new VMs on the specific VPC tier, the deployment form does not auto-select the specific VPC tier
- Fix button name in VM deployment form in its network section to "Create New Network"
- Hi

[2020-07-10 09:39] rhtyd commented on #528
With @davidjumani - please check and add in comments if I missed anything

[2020-07-10 09:51] rhtyd opened #530 "[TESTPLAN] Full Test Plan for $Version for $Role, $Hypervisor, ACS $Version"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [ ] Project selector
- [ ] Language selector
- [ ] Notifications / clear notifications
- [ ] Paginations
- [ ] Profile
- [ ] Help
- [ ] Logout
- [ ] Context-sensitive help

**Dashboard**
- [ ] Fetch latest (only on Admin dashboard)
- [ ] View hosts in

[2020-07-10 09:51] #530 closed

[2020-07-10 13:29] alamintech commented on #526
Thanks for your reply.
I got this link before but I am not understand which exact mail address. If possible please give me exact mail address where I send my query.

Another Q. for you which part I will remove from [http://docs.cloudstack.apache.org/](url) this guide for my query. I am successfully install it using host as XEN server.

Thanks!

[2020-07-11 04:29] davidjumani commented on #528
While in a project view, the account column in the list view / info card shows the project account. It should be changed to project itself.
This is seen in ssh keys, instance groups, private gateways, vpn gateways, and perhaps others too

![Screenshot from 2020-07-11 09-57-13](https://user-images.githubusercontent.com/8244774/87216421-2ea28880-c35d-11ea-87b7-fe7ce064ab57.png)
![Screenshot from 202

[2020-07-11 04:36] davidjumani commented on #528
- Show HA provider only if it is supported. Can perform the listHostHaProvider to check whether the hypervisor is supported
- Missing capacity fields while creating primary storage
- Contextual help is missing for creating service offerings
- When migrating a vm / systemvm, exclude the current host from the list
- While changing a systemvm service offering, need to fetch system offerings by passin

[2020-07-13 03:38] alamintech opened #532 "Can I use storage server like ceph"
Hello dear,
**vCloudStack MGMT :** 4.14.0.0
**CloudStack install :** Centos 7.7
**Compute Nodes :** Centos 7.7
**Virtualization host :** kvm
 **ceph install :** Centos 7.8

Can I use **Storage Server** like **ceph** for my private cloud. Please see attachment for my design.

---
**Thanks.**
@alamintech
![fd7a320e-5501-47b9-bce1-ad4f39ff0644](https://user-images.githubusercontent.com/68062764/87268

[2020-07-13 06:28] rhtyd commented on #532
@alamintech please use the `users` mailing list (http://cloudstack.apache.org/mailing-lists.html) to ask questions, only report issues related to Primate on this repo. Closing on this remark.

[2020-07-13 06:28] #532 closed

[2020-07-13 14:24] alexandremattioli opened #535 "Full Test Plan for 1.0/GA for User/DomainAdmin, XEN, ACS 4.14.1.0-SNAPSHOT"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [x] Project selector
- [x] Language selector
- [x] Notifications / clear notifications
- [x] Paginations
- [x] Profile
- [x] Help
- [ ] Logout
- [ ] Context-sensitive help

**Dashboard**
- [ ] Fetch latest (only on Admin dashboard)
- [ ] View hosts in

[2020-07-13 15:42] gaaray2k opened #536 "Template Filter dont work"
I noticed that when creating a VM, the template filter feature doesnt work. I used the filter "is: public", but only the default centos 5 template shows up even though I have some public templates. I also tried this using a featured filter. is this a known bug?

[2020-07-14 05:06] rhtyd commented on #536
@gaaray2k that is not a supported feature, the templatefilter and isofilter parameter have fixed options that can be passed to the API.
I'm unable to reproduce the issue, on latest master we've now same UX as legacy UI where we show the four different template/iso filters like:

![Screenshot from 2020-07-14 10-34-09](https://user-images.githubusercontent.com/95203/87386258-b1298300-c5bd-11ea-822c-

[2020-07-14 05:06] #536 closed

[2020-07-14 06:41] davidjumani opened #538 "Full Test Plan for 1.0/GA for RootAdmin, XCPNG76, ACS 4.14.1.0-SNAPSHOT"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [ ] Project selector
- [x] Language selector
- [x] Notifications / clear notificationsv
- [ ] Paginations
- [x] Profile
- [x] Help
- [x] Logout
- [x] Context-sensitive help

**Dashboard**
- [x] Fetch latest (only on Admin dashboard)
- [x] View hosts in

[2020-07-15 07:00] utchoang commented on #510
Currently, I have only found a few issues:
1. In node_modules, we use package `@antv/g2`, this package is used in the chart.
=> Ignore package `@antv/g2` because I think Primate doesn't seem to use the chart.

2. Ant design icons are imported entirely including icons not used in Primate
=> Only import component icons to use in Primate. Refer: https://stackoverflow.com/questions/48721290/ant-design

[2020-07-15 07:03] utchoang commented on #510
@rhtyd Also can I use `core/lazy_use` instead of `core/use` in main.js? Because to avoid arising unused components.

[2020-07-15 10:12] rhtyd commented on #520
@davidjumani please address this issue on priority as it's blocking general usability, in addition:
- As a user I should be able to search and select template based on the 4 filters (tabs)
- Unless I override the root disk option, it should not force or set the rootdisk value (it should also change if I change the template, or reset if I select an ISO)
- The rootdisk option shouldn't be passed via

[2020-07-16 05:13] #520 closed

[2020-07-17 07:05] alamintech opened #546 "How can I use LVM volume storage for my private CloudStack"
How can I use LVM volume storage for my private CloudStack.

Please see my image below
Also please give me any mail address so I have some query for my private server.
many time I got below details for collect mail address, but I am not find out which exact mail address.
-----------------
Please ask questions on the users ML instead - http://cloudstack.apache.org/mailing-lists.html
You may also re

[2020-07-17 08:08] ravening commented on #546
@alamintech Im not sure how is this related to primate ui? You should ask this question in cloudstack repo

[2020-07-17 09:29] alamintech commented on #546
Thanks for your replay! How can I get mail address for communicate for my query!
Thanks

[2020-07-17 14:18] alamintech commented on #546
can you send me which CoudStack official repo link

Thanks.

[2020-07-17 14:57] ravening commented on #546
use this link to find the email address you want https://cloudstack.apache.org/mailing-lists.html
use this link to create issues with cloudstack. https://github.com/apache/cloudstack/issues

closing this issue as its not related to primate

[2020-07-18 02:52] alamintech commented on #546
sure, Thanks.

[2020-07-18 02:52] #546 closed

[2020-07-20 06:06] utchoang commented on #510
@rhtyd What do you think about my comment?

[2020-07-20 08:14] rhtyd commented on #510
@utchoang I'm on holiday, I'll get back to you next week. Meanwhile you may work with @svenvogel @davidjumani for inputs, thanks.
@davidjumani can you collaborate with @utchoang and advise any bugs, tasks if necessary. Thanks.

[2020-07-21 05:10] davidjumani opened #549 "[BUG] Missing security groups in deployVM in Basic Zone"
**Describe the bug**

The option of adding a VM to a security group is missing in the deployVM form for a basic zone. Ref the old UI
![Screenshot from 2020-07-21 10-40-09](https://user-images.githubusercontent.com/8244774/88015355-9f585a80-cb3e-11ea-8061-61ff846e3fc6.png)
![Screenshot from 2020-07-21 10-40-17](https://user-images.githubusercontent.com/8244774/88015357-a0898780-cb3e-11ea-9832-cf10f

[2020-07-21 05:11] davidjumani commented on #549
@utchoang Could you look into this ?

[2020-07-21 05:14] rhtyd commented on #549
Note don't pick any new big tasks for GA now, we're not supporting basic zone creation now.

[2020-07-21 05:14] rhtyd commented on #549
Adv zone + SG must however work.

[2020-07-21 05:22] davidjumani commented on #549
Closing this since it is out of scope

[2020-07-21 05:22] #549 closed

[2020-07-21 07:30] davidjumani commented on #528
@utchoang Could you work on the following :
- Hide SG feature when there are no zones with SG enabled (may be done during API discovery, don't create the SG route if no zones have SG enabled)
- Fix the add and edit users form to show timezone as list of searchable dropdown like in the add account form
- Change or remove (explain?) what "Add new VM" is from VPC tiers tab; (a) allow users to add exi

[2020-07-21 08:15] utchoang commented on #528
@davidjumani @rhtyd
- Hide SG feature when there are no zones with SG enabled (may be done during API discovery, don't create the SG route if no zones have SG enabled)

- Change or remove (explain?) what "Add new VM" is from VPC tiers tab; (a) allow users to add existing VMs or (b) deploy new VMs on the specific VPC tier, the deployment form does not auto-select the specific VPC tier [preferably t

[2020-07-21 08:24] davidjumani commented on #528
@utchoang Exactly!

![Screenshot from 2020-07-21 13-52-29](https://user-images.githubusercontent.com/8244774/88030989-945ef380-cb59-11ea-9473-a953a9268582.png)

In the VPC View > Networks > Instances, when 'Add Instance' is selected, preferably open a new component to select a VM from the existing vms. If that would be too time-consuming, just rename it to deploy vm

[2020-07-21 08:26] utchoang commented on #528
@davidjumani I got it. Thanks.

[2020-07-21 10:45] borisstoyanov opened #551 "[Usability] Login screen - Make the cursor at username field when loading the screen"
**Describe the bug**
When loading the login screen the cursor is not on the username field which make the user to either click on it or tab a few times until it gets on it

**Expected behavior**
It will be much easier and convenient if the cursor is at the field and the user could just start typing his username

[2020-07-22 16:21] ravening opened #554 "[BUG] Background color changed for action confirmation dialog"
**Describe the bug**
For any confirmation popup, the background is shown in black image which is not user friendly

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to Compute tab and click on instances
3. Click on Destroy virtual machine button
4. A pop up appears asking for confirmation

**Expected behavior**
The color should be consistent

**Screenshots**

[2020-07-24 11:31] davidjumani commented on #551
Fixed in #539

[2020-07-27 05:45] davidjumani opened #555 "[BUG] Missing Select Security Groups in Advaced Zone with SG Enabled"
**Describe the bug**
While Deploying a VM in a Zone with SG Enabled, the option to select the security groups is missing.

Ref Legacy UI :
![Screenshot from 2020-07-21 10-40-09](https://user-images.githubusercontent.com/8244774/88015355-9f585a80-cb3e-11ea-8061-61ff846e3fc6.png)

Also :
- Missing add Guest vlan for Advanced Zone with SG Enabled
- Fix Errors button still present after fixing errors

[2020-07-27 05:46] davidjumani commented on #555
@utchoang Could you look into this ? Will create a zone with SG Enabled on QA to test

[2020-07-27 06:03] davidjumani commented on #555
Created `SGAdvanced` Zone

[2020-07-27 06:13] utchoang commented on #555
@davidjumani I tried with SGAdvanced on
http://primate-qa.cloudstack.cloud:8080/client/
But I couldn't find the step security group when I switched from affinity group to network. Thanks.
![image](https://user-images.githubusercontent.com/13766648/88509289-eea0fe00-d00a-11ea-9024-d24f0638f8ce.png)
![image](https://user-images.githubusercontent.com/13766648/88509306-f95b9300-d00a-11ea-9fe0-51b90182

[2020-07-27 06:38] davidjumani commented on #555
@utchoang Could you test now ?

[2020-07-27 06:42] utchoang commented on #555
@davidjumani OK. I've seen it now. Thanks.

[2020-07-27 07:12] borisstoyanov commented on #551
![Screenshot 2020-07-27 at 10 11 37](https://user-images.githubusercontent.com/13551960/88513769-94e00a00-cff1-11ea-886e-04baef6afdbc.png)
Looking good with #539

[2020-07-27 09:55] rhtyd commented on #551
PR merged, closing this

[2020-07-27 09:55] #551 closed

[2020-07-27 09:56] rhtyd commented on #528
@davidjumani can you strike off anything from the list that got merged from the consolidate bugfix PR

[2020-07-27 10:27] davidjumani commented on #528
Fixed from the original list :

Via #552
- ~Change or remove (explain?) what "Add new VM" is from VPC tiers tab; (a) allow users to add existing VMs or (b) deploy new VMs on the specific VPC tier, the deployment form does not auto-select the specific VPC tier~
- ~Hide SG feature when there are no zones with SG enabled (may be done during API discovery, don't create the SG route if no zones have SG

[2020-07-27 11:20] davidjumani opened #557 "[TESTPLAN] Full Test Plan for 1.0/GA for Admin, KVM, ACS 4.14.1.0-SNAPSHOT"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Common**
- [x] Project selector
- [x] Language selector
- [x] Notifications / clear notifications
- [x] Paginations
- [x] Profile
- [x] Help
- [x] Logout
- [x] Context-sensitive help

**Dashboard**
- [x] Fetch latest (only on Admin dashboard)
- [x] View hosts in

[2020-07-28 09:58] davidjumani commented on #555
@utchoang Could you look into this too
- Missing Guest VLAN ID in create zone wizard for Advanced Zone with SG Enabled
- 'Fix Errors' button still present after fixing errors and zone successfully created

[2020-07-28 12:09] davidjumani opened #560 "[BUG] Create Zone bugs"
**Describe the bug**
- Missing Guest VLAN ID in create zone wizard after selecting Advanced Zone with SG Enabled
- 'Fix Errors' button still present after fixing errors and zone successfully created

![Screenshot from 2020-07-28 17-37-41](https://user-images.githubusercontent.com/8244774/88663452-43bb3d80-d0f9-11ea-99ff-6cfdb241a795.png)
![Screenshot from 2020-07-28 17-39-02](https://user-images.g

[2020-07-28 12:10] davidjumani commented on #560
@utchoang Could you look into this ?

[2020-07-28 20:41] gaaray2k opened #561 "Templates are showing twice"
I updated to the latest version this morning and now all my templates are showing twice. One per zone. Is this a bug or on pourpose?

[2020-07-28 20:55] gaaray2k opened #562 "Templates are showing twice"
I updated to the latest version this morning and now all my templates are showing twice. One per zone. Is this a bug or on pourpose?

[2020-07-29 04:47] davidjumani opened #563 "Consolidated Bug List"
CarryOn from #528

TO FIX :
- Can't take a vm storage snap in the vm detail view

Good to have or close:
- Contextual help missing in Add Zone, although not there in the legacy UI either
- Add account on project dashboard (OK with this, add button on the accounts/project component and remove the add button from project actions)
- Keep the current router path while switching projects (David can exp

[2020-07-29 08:40] rhtyd commented on #554
@ravening that looks like a build/env error, can you rebuild and try again? I've seen that sometimes cc @davidjumani @utchoang

[2020-07-29 08:42] rhtyd commented on #510
@utchoang I'm okay with removing any dependency such as `@antv/g2` that is not used at all as long as they don't add any regression. The for ant design icons, I think it may be too much effort to find and add icons individually - is there a way to exclude unused icons at build time - otherwise let that be. I think locales is fine, can you look at if we should explore how files are bundled?

[2020-07-29 08:43] rhtyd commented on #523
@davidjumani is this still an issue or fixed?

[2020-07-29 08:52] davidjumani commented on #528
@rhtyd Can close this. Have created another issue of things todo from this

[2020-07-29 09:08] rhtyd commented on #555
@davidjumani is this still an issue or fixed? cc @utchoang

[2020-07-29 09:08] rhtyd commented on #560
@davidjumani is this still an issue or fixed? cc @utchoang

[2020-07-29 09:09] rhtyd commented on #561
@davidjumani can you triage if this is a bug?

[2020-07-29 09:09] rhtyd commented on #562
funny the bug was logged twice :) closing this as it dupes https://github.com/apache/cloudstack-primate/issues/561

[2020-07-29 09:09] #562 closed

[2020-07-29 09:10] rhtyd commented on #528
okay @davidjumani

[2020-07-29 09:10] #528 closed

[2020-07-29 09:16] davidjumani commented on #561
Should be fixed via #543

[2020-07-29 09:28] davidjumani commented on #561
@gaaray2k Could you attach a screenshot ?

[2020-07-29 09:43] rhtyd commented on #535
Executed and closing

[2020-07-29 09:43] #535 closed

[2020-07-29 09:44] rhtyd commented on #519
Executed, closing.

[2020-07-29 09:44] #519 closed

[2020-07-29 09:48] rhtyd commented on #561
@gaaray2k can you try latest master again, we think it's fixed.

[2020-07-29 09:55] gaaray2k commented on #561
I will today. One more thing. When using a public IP, I have three features I can use. LB, PF or firewall. But only one feature can be use at a time. If I use the LB feature for example, shouldn't the others be grayed out so users cant use them? Right now all the options are available and you get some internal error message but if you look at the logs it says that error is because you have another

[2020-07-29 10:52] gaaray2k commented on #561
Still happening.
[root@cs-mgmt-02 ~]# yum update cloudstack-primate
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirror.oss.ou.edu
 * extras: mirror.oss.ou.edu
 * updates: mirrors.unifiedlayer.com
base                                                                                                                                  | 3.6 kB  00:00:00
cloudstack

[2020-07-29 10:59] #554 closed

[2020-07-29 11:10] davidjumani commented on #561
@gaaray2k Could you check the api being called ? Should be this
[code]
Also could you check the backed whether the listTemplates API supports the `showUnique` parameter

[2020-07-29 11:18] gaaray2k commented on #561
433319, via: 4(cs-compute-02), Ver: v1, Flags: 10, { GetVmStatsAnswer } }
2020-07-29 07:17:10,522 DEBUG [c.c.a.ApiServlet] (qtp1497845528-353:ctx-6fc23353) (logid:ccc9833b) ===START===  10.0.0.45 -- GET  listall=true&templatefilter=self&showunique=true&page=1&pagesize=20&command=listTemplates&response=json
2020-07-29 07:17:10,548 DEBUG [c.c.a.ApiServer] (qtp1497845528-353:ctx-6fc23353 ctx-eac1d965

[2020-07-29 11:21] gaaray2k commented on #561
two more issues

1) One more thing. When using a public IP, I have three features I can use. LB, PF or firewall. But only one feature can be use at a time. If I use the LB feature for example, shouldn't the others be grayed out so users cant use them? Right now all the options are available and you get some internal error message but if you look at the logs it says that error is because you have a

[2020-07-29 11:22] davidjumani commented on #561
@gaaray2k Looks like a backend issue. In the latest 4.14, we've added a showunique parameter to the listTemplates API which returns only one template per zone
https://github.com/apache/cloudstack-primate/pull/411
https://github.com/apache/cloudstack/pull/4140

Could you open a separate issue for the other bugs ?

[2020-07-29 11:23] gaaray2k commented on #561
will do

[2020-07-29 11:24] gaaray2k opened #566 "a few issues."
1) When using a public IP, I have three features I can use. LB, PF or firewall. But only one feature can be use at a time. If I use the LB feature for example, shouldn't the others be grayed out so users cant use them? Right now all the options are available and you get some internal error message but if you look at the logs it says that error is because you have another feature enabled.

2) I dis

[2020-07-29 11:26] gaaray2k commented on #561
it was working ok before updating to the 7/27/20 version

[2020-07-29 11:38] davidjumani commented on #557
Bugs listed in #563

[2020-07-29 11:38] #557 closed

[2020-07-29 11:38] davidjumani commented on #538
Bugs listed in#528

[2020-07-29 11:38] #538 closed

[2020-07-29 11:38] davidjumani commented on #516
Bugs listed in#528

[2020-07-29 11:38] #516 closed

[2020-07-29 11:54] davidjumani commented on #523
Fixed in #564

[2020-07-29 11:54] #523 closed

[2020-07-30 03:51] #560 closed

[2020-08-01 13:40] gaaray2k commented on #561
Here is a screenshot of one management server running cloudstack-primate-0.5.0-20200624.x86_64

![20200624](https://user-images.githubusercontent.com/67025242/89102838-d0f0e180-d3da-11ea-9ce3-54a25a6e04eb.PNG)

and here is one of a mgmt server running cloudstack-primate-0.5.0-20200801.x86_64

![20200801](https://user-images.githubusercontent.com/67025242/89102844-e9f99280-d3da-11ea-8417-368d2b3002

[2020-08-03 02:11] #427 closed

[2020-08-04 08:57] rhtyd commented on #510
Have a PR, closing this to track on PR.

[2020-08-04 08:57] #510 closed

[2020-08-04 08:57] rhtyd commented on #555
PR https://github.com/apache/cloudstack-primate/pull/567 merged

[2020-08-04 08:57] #555 closed

[2020-08-04 09:00] rhtyd commented on #561
@gaaray2k Primate requires CloudStack latest 4.14 or master, we'll be targetting 1.0/GA along with CloudStack 4.15. Some of the known issues are around listing of unique templates/isos when you've more than a single zone. What you're reporting is one of the known issues for 4.14/older versions, fixed in backend here - https://github.com/apache/cloudstack/pull/4140

[2020-08-04 11:24] gaaray2k commented on #561
I think you are right. I noticed yesterday that it is only showing twice on the admin page and cmk. The users pages shows just one template.

[2020-08-04 11:24] #561 closed

[2020-08-05 11:12] davidjumani commented on #566
@gaaray2k
1. Right now primate follows the same functionality of the legacy UI in which you can still use other features of an IP
2. It's been fixed in #564
3. It's a backend issue, would need to change the API response to include the ACL Name

[2020-08-05 11:23] gaaray2k commented on #566
For #1 I am sure once you enable a feature, the other ones are unclickable. I could be wrong.

[2020-08-06 09:59] rhtyd commented on #566
@gaaray2k can you provide reproduction steps against old UI and Primate?

[2020-08-07 03:47] davidjumani commented on #563
Fixed in #564 :
 - Fixing scale router
 - Fixing account actions
 - Fixing user actions
 - Adding message for create vm backup
 - Fix default allowuserdrivenbackups in ImportBackupOfferings
 - Fix typo in TakeSnapshot
 - Ensuring zone mandatory in upload template
 - Adding securitygroup to instacetab
 - Adding related vms to routers
 - Adding makeredundant to restart network
 - Fixing no key in li

[2020-08-07 09:09] davidjumani commented on #464
Write user doc wrt installation, upgrade, basic and adv. customisation; send WIP release notes doc PR - https://github.com/apache/cloudstack-documentation/pull/142

[2020-08-07 10:24] rhtyd commented on #563
Has PR, issues addressed

[2020-08-07 10:24] #563 closed

[2020-08-07 13:47] gaaray2k opened #570 "Error when editing firewall rule"
I have this rule
![rule](https://user-images.githubusercontent.com/67025242/89651987-c62ec480-d892-11ea-933d-4c65c36dcafe.PNG)

the problem is that when I try to edit that rule to set the protocol to all, I get the erro below.

![error](https://user-images.githubusercontent.com/67025242/89652058-e5c5ed00-d892-11ea-9b79-b0b2461d3d8a.PNG)

it looks like primate is looking for port number eventhough

[2020-08-07 15:03] rhtyd commented on #570
Can you review this @davidjumani

[2020-08-07 15:11] rhtyd commented on #464
Let's continue on respective PRs

[2020-08-07 15:11] #464 closed

[2020-08-09 04:09] a31amit opened #571 "[BUG] Creating Basic Type Zone not supported in primate UI ?"
**Describe the bug**

When creating a Zone from UI, older UI gives two options as Basic and Advanced Zone Create, However in Primate UI only Advanced is visible to select.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to 'Infrastructure'
3. Click on 'Zones' and then Add Zones.
4. Only Advanced Type is visible

**Expected behavior**
Option to create Basic

[2020-08-10 14:14] davidjumani commented on #462
#574 : Metrics view cell colouring (red/orange) based on thresholds like legacy UI for zone, cluster, hosts etc.

[2020-08-11 09:04] #570 closed

[2020-08-11 09:09] rhtyd commented on #361
Has PR

[2020-08-11 09:09] #361 closed

[2020-08-11 09:09] rhtyd commented on #566
Ping @gaaray2k - we're unable to reproduce any issues wrt #1 - if you're unable to provide steps to reproduce issue, then can we close this?

[2020-08-11 09:18] rhtyd commented on #571
@a31amit We've been discussing deprecating basic zone in future release of CloudStack, all features of a basic zone are available with an Advance zone; for example, deploy an Advanced zone with SG or with only shared networks. For newer deployments, we want to promote users to only use Advanced zones (through UI, APIs and old UI will still continue to support deploying basic zone). References:
htt

[2020-08-11 10:50] gaaray2k commented on #566
I'll do this today

[2020-08-11 18:18] #566 closed

[2020-08-12 02:34] a31amit commented on #571
@rhtyd Thanks for the explaining. I don't have any reason to use BasicZone If I could do the same thing with AdvancedZone. just a thought that may be having the same info in the release or additional deprecation docs would help users more.

[2020-08-12 08:38] rhtyd opened #577 "Improve message on updating VMware DC details"
Refer:
https://github.com/apache/cloudstack/pull/2919
https://github.com/apache/cloudstack/issues/3068

Improvement requested - "Upon submission add a warning message that the changes will take place after management restart"

[2020-08-13 05:23] davidjumani commented on #577
@rhtyd Rather than having it as a success message, How about we just add it to the regular message in the form ?
It'll require minimal chages

![Screenshot from 2020-08-13 10-52-07](https://user-images.githubusercontent.com/8244774/90097263-26ba7780-dd53-11ea-8ca9-badd6c411db5.png)

[2020-08-13 16:19] rhtyd commented on #577
@davidjumani yes that would be good as well

[2020-08-14 08:09] #577 closed

[2020-08-14 08:23] borisstoyanov opened #582 "[BUG] Volume Migration - Replace disk offering selected by default"
**Describe the bug**
The option is selected by default. Such action shouldn't be executed by default, it should be under admin consideration and explicit request.

**To Reproduce**
Steps to reproduce the behavior:

1. Migrate a volume
![Screenshot 2020-08-14 at 11 20 57](https://user-images.githubusercontent.com/13551960/90229396-80d53e80-de20-11ea-8f65-f52e86428b95.png)

[2020-08-14 09:44] rhtyd commented on #582
@davidjumani can you have a look at this?

[2020-08-17 08:33] #582 closed

[2020-08-17 08:35] rhtyd commented on #571
@davidjumani can you put in a line in the doc PR that basic zone deployment is not supported by Primate?

[2020-08-17 09:27] rhtyd opened #584 "[TESTPLAN] Smoketest for 1.0/GA with Admin and User roles, Vmware + ACS 4.15/master"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Instances**
- [x] Create instance using template
- [x] Create instance using ISO image and different parameters than the previous one
- [ ] Test all VM actions - Start/Stop/Reboot/Reinstall/Update, etc
- [ ] Add/modify/delete VM setting
- [ ] Add network to VM, c

[2020-08-17 11:39] rhtyd commented on #584
@nvazquez closing this, pl create a new one instead. Thanks.

[2020-08-17 11:39] #584 closed

[2020-08-18 18:50] andrijapanicsb opened #588 "[BUG] switching between Custom and Fixed/Static Compute Offering"
**Describe the bug**
Bug when switching between Custom and Fixed/Static Compute Offering

**To Reproduce**

- Log in to Primate,
- start the VM deployemnt wizard, choose a Custom Compute offering, enter some values (1000 mhz, 256MB RAM)
- change  you mind, and select the Small Offering (or other fixed-size offering) and try to deploy a VM

Error:
![image](https://user-images.githubusercontent.com/

[2020-08-18 18:51] andrijapanicsb commented on #588
(ignore the first box with error Launching VM)

[2020-08-18 18:59] andrijapanicsb opened #589 "[BUG] or an improvement - on new windows, move focus/cursos to the first field"
When i.e. clicking a button to register template from URL, a new windows/form opens, but the text cursor is not in the first field (URL field) and one needs to explicitly click on the first field.

Small improvement for usability.

[2020-08-18 19:06] andrijapanicsb opened #590 "[BUG] no expunge when deleting multiple VMs at once"
![image](https://user-images.githubusercontent.com/45762285/90554738-95a23100-e196-11ea-882c-e8b81c66bf9b.png)

The Expunge is there when deleting a single VM, but not on deleting multiple VMs.

[2020-08-18 19:12] andrijapanicsb opened #591 "[BUG] VM state in UI not updated when deployment failure"
Primate from PR 550

VM deployment is ongoing:
![image](https://user-images.githubusercontent.com/45762285/90555149-3690ec00-e197-11ea-9c6e-3b6f804eb647.png)

On deployment failure a proper message is shown, but the VM state is not updated to "Error", but instead need to refresh the current view:

![image](https://user-images.githubusercontent.com/45762285/90555303-7526a680-e197-11ea-90a8-45924c85

[2020-08-18 19:15] andrijapanicsb opened #592 "[BUG] Notification message never disapear"
On i.e deployment error, the notification message never disappears / is never dismissed on its own, thus blocking normal actions in most of the views, until one explicitly close the notification.

For me as an end user, this is annoying, and it would be nice to auto-dismiss those after some time (say, after 10sec or so)

![image](https://user-images.githubusercontent.com/45762285/90555613-eb2b0d80

[2020-08-19 03:57] davidjumani commented on #571
Added https://github.com/apache/cloudstack-documentation/pull/142/commits/bef0870c1f0c8585a4e202bfd2c08a7453096e2e

[2020-08-19 07:26] rhtyd commented on #590
With @davidjumani

[2020-08-19 07:26] rhtyd commented on #588
With @davidjumani

[2020-08-19 07:27] rhtyd commented on #589
@davidjumani can you see if it's a good one - otherwise this is good to have but not mandatory for 1.0/GA

[2020-08-19 07:28] rhtyd commented on #591
@davidjumani is there a way we can cause the listView to refresh when the async job poll stops? Another way could be to launch the VM and move to the VM once it is deployed instead of doing to the list view (from the deployvm component)?

[2020-08-19 07:29] rhtyd commented on #592
@andrijapanicsb this is expected, all errors are treated like alert dialog boxes in old UI. They are not automatically closed and have a close/cross button to close them. This is so the user can copy the error or take screenshot. Only successful notification auto-close in few seconds.

[2020-08-19 07:42] davidjumani commented on #590
Fixed in https://github.com/apache/cloudstack-primate/pull/594/commits/0facb7a8e69bd33afc30fe20cb54378db7ec8051

[2020-08-19 07:47] andrijapanicsb commented on #592
Sounds good then - thx.

[2020-08-19 07:47] #592 closed

[2020-08-19 07:50] rhtyd commented on #571
Thanks for addressing limitation in docs @davidjumani I'll close as @a31amit agrees to use Adv zone as long as all the basic zone features are available (which indeed are)

[2020-08-19 07:50] #571 closed

[2020-08-19 09:08] andrijapanicsb commented on #591
I had a perhaps related thing - the VM was indeed deployed and started correctly, but its state after, I finished the deployment wizard, was initially "Stopped" and there was never (if I saw that correctly) a "spinning circle" that indicates that we query VMs state - and after the VM was deployed/started fine, the VM status remained as Stopped.

![image](https://user-images.githubusercontent.com/4

[2020-08-19 09:14] davidjumani commented on #589
Fixed in https://github.com/apache/cloudstack-primate/pull/594/commits/e4580e761148815f4a4c2094bf22dc082cfe9f76

[2020-08-19 10:13] davidjumani commented on #591
Refresh after deployment Fixed in https://github.com/apache/cloudstack-primate/pull/594/commits/71c875f50e9114b150599396031178fa76fa3abf

[2020-08-19 13:39] andrijapanicsb opened #595 "[BUG] minor: add "MB" to the offering field desc"
![image](https://user-images.githubusercontent.com/45762285/90641992-21b56680-e232-11ea-8cbf-541b6dcf52d0.png)

The unit is missing in the desc - do the sam as "Mhz" for the CPU field.

[2020-08-19 13:52] andrijapanicsb opened #596 "[BUG] "Configuration" values from the vApp appliance vs Compute offering"
Deploying an OVA template with vApp Configurations (which define/require 1000Mhz CPU and 1MB of RAM - see the OVF part below).

The Primate doesn't allow (me) to select Small/Medium/Bigger offering - only selecting a custom offering works - seems like the OVF parameters are not parsed or somehing (talked to @nvazquez and he suggested it seems like the Primate bug, not backend)

![image](https://us

[2020-08-19 14:02] shwstppr commented on #596
@andrijapanicsb current behaviour in Primate is to strictly match configurations for RAM and CPU values. This can be changed if needed

[2020-08-19 14:03] rhtyd commented on #596
@andrijapanicsb @nvazquez the compute offering does not determine the network speed, which is part of the network offering. The configuration name may therefore get misleading. I had initially proposed to @nvazquez @shwstppr to avoid showing the name selection which serves no purpose in backend (the selected option is not used) but to use it for filtering only compute offering wrt ram and cpu. Do

[2020-08-19 14:05] rhtyd commented on #595
Should be quick one - @shwstppr @davidjumani

[2020-08-19 14:08] andrijapanicsb commented on #596
@rhtyd this is Daans testing machinge with poor name - no problem there.
I get it for the "exact match" - but didn't we communicate hiding all offerings that are "less" then the required Configuration - worst case it can stay as it is - but when I hover the offering (where mouse changes from the arrow to the red deny sign) - it would be good to have a generic message like "Offering CPU/RAM values

[2020-08-19 14:15] davidjumani commented on #595
Fixed in https://github.com/apache/cloudstack-primate/pull/594/commits/77c8f68364c80c0bf2866d3e3b2c735b50b1555d

[2020-08-19 15:51] andrijapanicsb opened #597 "[BUG] Input field for RAM in the custom compute offering needs polishing"
Custom compute offering:

![image](https://user-images.githubusercontent.com/45762285/90658765-3e5a9a00-e244-11ea-808c-652093ceff2d.png)

Click inside the RAM field, hit backspace on keyboard (to delete the number 1 (which is btw a very bad default value, perhaps 256?) - the field will get value of "MB MB" then if you type a number (100), you get the stuff from the screenshot

Can the "MB" be plac

[2020-08-19 16:02] andrijapanicsb opened #598 "[BUG] the "job querying" message-box will redirect users back to the previos page"
The title is ugly, but I don't know the terminology, here's what I mean

When deleting a template., the following happens:

1. Go to delete a template
![image](https://user-images.githubusercontent.com/45762285/90659555-1d467900-e245-11ea-80e5-b80821bc1494.png)

2. The following screen is shows (see the top "Deleting template XXXXX in progress" box/message)
![image](https://user-images.githubuserc

[2020-08-20 03:32] utchoang commented on #598
@rhtyd cc @svenvogel I will fix this task, Thanks.

[2020-08-20 06:53] utchoang commented on #597
Fixed in https://github.com/apache/cloudstack-primate/pull/600

[2020-08-20 08:46] andrijapanicsb commented on #591
This is (was, hopefully) definitively an issue even with successful deployments (Firefox, Windows 10)

[2020-08-20 08:50] davidjumani commented on #591
@andrijapanicsb Fixes for vm failed as well as successfully deployed

[2020-08-20 08:58] davidjumani commented on #596
Discussed with @andrijapanicsb Will be working on this

[2020-08-20 09:52] rhtyd commented on #598
@andrijapanicsb can you test against latest master

[2020-08-20 10:00] andrijapanicsb opened #601 "[BUG] minor - label it "Data disks, not "Disk Offerings""
![image](https://user-images.githubusercontent.com/45762285/90756354-8c22e100-e2dc-11ea-97ed-3cbf94bb9576.png)

Deploying a VM from a template, this section should say Data disks, not Disk offerings (as it's kind of meaningless) - or just "Disk" if that is an easier in case the VM is deployed from ISO (in which case that means Root disk)

[2020-08-21 05:39] davidjumani commented on #601
Fixed in https://github.com/apache/cloudstack-primate/pull/594/commits/89b3d4d33a297854a90ffc48a7eda8abda0a7e62

[2020-08-21 08:13] andrijapanicsb commented on #598
looks good - thx!

[2020-08-21 08:13] #598 closed

[2020-08-21 12:19] andrijapanicsb opened #603 "[BUG] Deploy VM job not submited for a long time (?)"
![image](https://user-images.githubusercontent.com/45762285/90889857-25272a00-e3b9-11ea-88ff-ca159651a58d.png)

Clicking the "Launch Virtual Machine" - sometimes it takes a lot of time to submit the job - i.e. the "circles" around CANCEL and LAUNCH VM.. buttons are spinning - now (last time) it took 30-60sec (not seen it before) - not internet issue, since I was on the video call at the same time,

[2020-08-21 16:33] andrijapanicsb opened #604 "[BUG] EDIT TEMPLATE not on pair with the old UI"
Primate:
![image](https://user-images.githubusercontent.com/45762285/90913572-bcea3f80-e3dc-11ea-948f-5b692739f88e.png)

Old UI:
![image](https://user-images.githubusercontent.com/45762285/90913627-cf647900-e3dc-11ea-84aa-37c42a393c04.png)
and
![image](https://user-images.githubusercontent.com/45762285/90913659-dbe8d180-e3dc-11ea-866c-e8624acfc39f.png)

[2020-08-21 16:40] andrijapanicsb opened #605 "[BUG] Issue with templateFilter=all for a normal USER role"
Logged in as a normal user role.

![image](https://user-images.githubusercontent.com/45762285/90913942-4c8fee00-e3dd-11ea-8ce4-2049e5561be7.png)

This happened right after I choose a Zone (and, since a single zone, why wouldn't it be auto-populated???)
http://10.10.3.233:8080/client/api/?templateFilter=all&id=0ef7f0ac-7476-47db-a0f8-ea1f2883c60f&details=all&command=listTemplates&response=json

the

[2020-08-21 16:59] andrijapanicsb opened #606 "[BUG] "mine" VMs for Admin, shows also other account's VMs"
![image](https://user-images.githubusercontent.com/45762285/90915800-65e66980-e3e0-11ea-8101-b899410c7e31.png)

[2020-08-24 07:09] davidjumani commented on #604
@andrijapanicsb The permissions such as featured, public, etc are in the update template sharing button
![Screenshot from 2020-08-24 12-36-28](https://user-images.githubusercontent.com/8244774/91014231-a6bfc780-e606-11ea-8516-65baa40e7b9b.png)
Can edit the tags in the card on the left
![Screenshot from 2020-08-24 12-38-27](https://user-images.githubusercontent.com/8244774/91014324-cd7dfe00-e606-11

[2020-08-24 07:26] davidjumani commented on #605
Looks like a regression caused in a prior commit. Will fix it along with the vapps fix

[2020-08-24 08:06] andrijapanicsb commented on #604
Um...right - then a false bug for the missing options (except the confusing sshKeyEnabled) - but, from a user point of view, I find these a bit hiden - but can live with it if everyone else is OK - what I mean - template permission DO define a realy "sharing of template with other accounts/domains", while the button "Update template sharing" manages public/featured/extractable (which I don't find

[2020-08-24 09:47] davidjumani commented on #603
@andrijapanicsb Could you provide the steps to reproduce it ?

[2020-08-24 13:11] borisstoyanov opened #612 "[BUG] Add cluster - password is not masked"
**Describe the bug**
Password is not masked when adding a VMware cluster

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to clusters and add a VMware cluster
3. Password appears in clear text as you write it

**Expected behavior**
Should be hidden

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot 2020-08-24 at 16 0

[2020-08-24 16:19] andrijapanicsb commented on #601
LGTM, thx

[2020-08-24 16:19] #601 closed

[2020-08-24 16:20] andrijapanicsb commented on #603
As agreed, let me try to experience this one again (when I experienced this, I was working from my 4G (latency 20-50ms) connection)
This week will be with "normal" latency.

[2020-08-24 16:27] andrijapanicsb commented on #590
LGTM< thx.

[2020-08-24 16:27] #590 closed

[2020-08-24 16:29] andrijapanicsb commented on #589
LGTM (would be nice to have the same for all other forms (i.e. when creating a new data volume))

[2020-08-24 16:29] #589 closed

[2020-08-25 02:08] utchoang commented on #612
Fixed in https://github.com/apache/cloudstack-primate/pull/613

[2020-08-25 06:49] davidjumani commented on #606
Fixed in https://github.com/apache/cloudstack-primate/pull/614

[2020-08-25 07:26] borisstoyanov commented on #612
thanks @utchoang lets close this once we merge the PR

[2020-08-25 07:35] rhtyd commented on #612
PR merged

[2020-08-25 07:35] #612 closed

[2020-08-25 07:36] #606 closed

[2020-08-25 10:29] davidjumani opened #615 "[UX] Show multple aysnc jobs horizonatally rather than vertically"
Show the async jobs in progress next to the other rather than below as it blocks info on the page

![Screenshot from 2020-08-25 15-57-54](https://user-images.githubusercontent.com/8244774/91163902-f0cea900-e6eb-11ea-905b-08c8ad891108.png)

[2020-08-25 11:53] j-porsche opened #616 "[BUG] Trying to run docker.sh script"
Hey,

**Describe the bug**
I tried to install cloudstack-primate on a CentOS 8.1 VM. Everything worked fine until I had to run the docker.sh script. Later the command "npm run build" is executed. The process is stopping at this point with an error (image attached).

Npm run build works fine if I start it manually outside the container.  Inside the container it isn't working. The npm versions are t

[2020-08-25 11:57] svenvogel commented on #616
@rhtyd @utchoang do you have some ideas on this error?

[2020-08-25 12:24] onitake commented on #616
I'm trying to reproduce it here, but the build works perfectly fine on my system.

From my experience, npm is quite a brittle tool and can break without meaningful error at any time - in particular when internet connectivity is not good.

Is your error reproducible? Does it go away if you use a different internet connection?

[2020-08-25 12:32] andrijapanicsb opened #617 "[BUG] Template pagination needs some love"
On the list of template (when deploying a VM from a template), when you click on the "next page" button (or number 2. for the second page)....
![image](https://user-images.githubusercontent.com/45762285/91174540-b65f0f00-e6df-11ea-89ee-c2212c3ada00.png)

It lists the first page of the Feautred, instead of the next page of the My Templates:

![image](https://user-images.githubusercontent.com/457622

[2020-08-25 12:44] j-porsche commented on #616
I don't understand what you mean? Can you explain? My connection should be good.

[2020-08-25 12:47] j-porsche commented on #616
And local (outside the container) it is working fine.

[2020-08-25 13:40] onitake commented on #616
Ok, so first of all: The Dockerfile works fine for me. I get no error at all, no matter how many times I run it.

My experience with npm is that it can break easily for obscure reasons. The log you posted doesn't look very useful.
Can you try deleting the `node:lts-buster` image and run the build again? Is it reproducible?

[2020-08-25 13:55] j-porsche commented on #616
I tried it but it doesn't work neither.

[2020-08-25 14:03] onitake commented on #616
Perhaps this helps? https://github.com/vuejs/vue-cli/issues/2596

[2020-08-25 14:04] onitake commented on #616
Note that Docker will copy the whole build directory into the container, so if you have anything left lying around there, it may disrupt the build.

[2020-08-25 14:22] andrijapanicsb opened #618 "[BUG] A default one network selected, but no networks previously selected"
This is perhaps OK, but I find it (a little bit, not too much) confusing (especially when comparing to the behaviour in the old UI):
i.e. why is the first network not selected in the checkboxes option - we have below selected 'which one of the selected networks is the default one" - but we have never "selected" (checkbox) ANY of the networks in the above list of networks:

![image](https://user-im

[2020-08-25 14:52] andrijapanicsb opened #619 "[BUG] Success of VM deployment, causes weird API calls aftewards"
VM was deploying for a long time (i.e. first time ever from a new template - so OVF deployment in vCenter took 5min or so)
In the meantime I was configuring/creating a new VM (was in the new VM wizard, configuring options), but have NOT submited the new VM creation job.

Then when the previous VM deployment finished, my CURRENT VM deployment job was magically submitted or something 👍 🥇

![image](h

[2020-08-25 14:53] andrijapanicsb commented on #588
LGTM

[2020-08-25 14:53] #588 closed

[2020-08-25 15:03] andrijapanicsb opened #620 "[BUG] Set default CPU speed and CPU core count to zero (if not autopopulated from ASIS offering)"
I've NOT selected the EULA agreement, and when I click the button - there is no error shown (was showing/poping up previously)
(same goes for the password length check - there is a red warning around the password-input-field, but no popup error when you try deploying VM without honouring the needed length)

![image](https://user-images.githubusercontent.com/45762285/91191168-b9b0c580-e6f4-11ea-8ae

[2020-08-26 06:09] davidjumani commented on #620
@andrijapanicsb it shows up as a popup. But yes, will add a message below the checkbox too

![Screenshot from 2020-08-26 11-37-00](https://user-images.githubusercontent.com/8244774/91267303-b703ae00-e790-11ea-97f6-d264c9a3decc.png)

[2020-08-26 07:29] utchoang commented on #617
Fixed in https://github.com/apache/cloudstack-primate/pull/621

[2020-08-26 07:30] davidjumani commented on #620
Adding message if form is incomplete via https://github.com/apache/cloudstack-primate/pull/609/commits/8d8954854ec9e8936810d397dfb661941e5fdbcf

![Screenshot from 2020-08-26 12-59-55](https://user-images.githubusercontent.com/8244774/91274268-0ef3e200-e79c-11ea-9491-4abff1f6e553.png)

[2020-08-26 07:31] davidjumani commented on #619
@andrijapanicsb Could you provide the steps to reproduce this ?

[2020-08-26 07:34] davidjumani commented on #618
@andrijapanicsb Unable to reproduce. The first network is checked
![Screenshot from 2020-08-26 13-03-55](https://user-images.githubusercontent.com/8244774/91274630-9fcabd80-e79c-11ea-9037-6847a375eb8d.png)

[2020-08-26 08:06] andrijapanicsb commented on #619
I have, as I wrote, so:

VM was deploying for a long time (i.e. first time ever from a new template - so OVF deployment in vCenter took 5min or so)
In the meantime I was configuring/creating a new VM (was in the new VM wizard, configuring options), but have NOT submited the new VM creation job.

Then when the previous VM deployment finished, my CURRENT VM deployment job was magically submitted or

[2020-08-26 08:07] andrijapanicsb commented on #620
@davidjumani it did NOT show for me as a popup (but I have seen those popups some days ago) - so I though it's a regression?

[2020-08-26 08:17] davidjumani commented on #620
@andrijapanicsb I've added a fix, you can try building it from #609 and try

[2020-08-26 09:16] j-porsche commented on #616
Sorry but your tips didn't help me out. The error is still there.

[2020-08-26 09:31] utchoang commented on #616
@rhtyd Do you have the other idea? On my device (Windows), it's completely normal.

[2020-08-26 09:39] rhtyd commented on #616
@j-porsche can you build it locally without using docker? And try on a different laptop/VM? The error looks like a npm build issue

[2020-08-26 09:41] rhtyd commented on #616
This is my npm version output, make sure to use npm LTS 12.x in the container:
[code]

[2020-08-26 09:50] rhtyd commented on #618
@andrijapanicsb which browser/OS were you using?

[2020-08-26 09:52] andrijapanicsb commented on #618
win10, firefox latests (but happy to retest with the latest master? - tbh no idea if I tested master RPM packages from 24th or some PR in progress - since I had to replace primate a few times to test specific PRs)

[2020-08-26 09:54] andrijapanicsb commented on #618
happening with this version: cloudstack-primate-1.0.0-20200825.x86_64

[2020-08-26 10:02] onitake commented on #616
@rhtyd The Dockerfile specifies node:lts-buster as its build base container. That should pick up Node 12.18.3 according to https://hub.docker.com/layers/node/library/node/lts-buster/images/sha256-902bf79075924ff034642dc7da0e5f40a08ff65b5650c54bac3a03dea1e3a87f?context=explore

I just run another test on a separate machine running Debian buster using a fresh git clone. It worked flawlessly.
@j-pors

[2020-08-26 10:10] j-porsche commented on #616
I tried it again with a fresh git clone. But I used node:lts-stretch instead of node:lts-buster. Now the build process works fine.

I use podman (v1.6.4) instead of docker.

[2020-08-26 10:14] borisstoyanov opened #622 "[BUG] Migrate volume is missing when volume is detached"
**Describe the bug**
Action is missing in the UI but is executable from cmk

**To Reproduce**
Steps to reproduce the behavior:

1. Detach a volume and observe the migrate volume button is missing

**Expected behavior**
At the same time the action is possible from cmk

**Screenshots**
![Screenshot 2020-08-26 at 11 35 41](https://user-images.githubusercontent.com/13551960/91291577-ec62c880-e79d-11ea

[2020-08-26 10:49] davidjumani commented on #596
Fixed in https://github.com/apache/cloudstack-primate/pull/609/commits/2d5ab6dee96c1eeae1eaa575d811490ba2ede0a9

[2020-08-26 11:35] davidjumani commented on #619
Could be caused by autogen view reloading while the user is in deployvm view. Fixed in #623

[2020-08-26 11:48] DaanHoogland opened #624 "[BUG]"
**Describe the bug**
In the old UI when I create/deploy a VM I can create a new isolated network by simply entering a name for it during the deploy dialog.

In primate I have to go into a separate dialog  in which the default choice is L2 and no description is entered so a few extra steps need to be taken.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to

[2020-08-26 11:56] Pearl1594 commented on #622
Fixed with: https://github.com/apache/cloudstack-primate/pull/625

[2020-08-26 12:09] #616 closed

[2020-08-26 13:02] onitake commented on #616
@rhtyd Do you think we can change the base image to node:lts-stretch? The current base image also installs Node 12.18.3, like lts-buster.

[2020-08-26 13:07] j-porsche commented on #616
Well from my perspective with node:lts-stretch it works fine now. So I think it could be a good change.

[2020-08-27 05:01] davidjumani commented on #597
@andrijapanicsb Could you verify that this has been fixed on latest master and close it ?

[2020-08-27 05:01] davidjumani commented on #595
@andrijapanicsb Could you verify that this has been fixed on latest master and close it ?

[2020-08-27 07:43] rhtyd commented on #616
Fixed in https://github.com/apache/cloudstack-primate/pull/626

[2020-08-27 07:43] rhtyd commented on #624
@davidjumani can we make isolated as the default choice?

[2020-08-27 07:46] rhtyd commented on #624
@DaanHoogland after consultation with Alex, Sven and others we decided that the VM deployment form shouldn't by default allow users to create networks very easily; but only pre-created networks are shown.

Otherwise some users may end up always creating new networks while deploying the VM, but some users may still want those extra steps and that's why the extra steps were introduced to show explic

[2020-08-27 08:47] andrijapanicsb commented on #591
Looks good, beside the circle "not spinning" for me - which it was previously (but got broken in the meantime, or it might be my browser / I did clear cache) cc @davidjumani
![image](https://user-images.githubusercontent.com/45762285/91418586-a1ef5380-e852-11ea-8af5-dad01f2c28f4.png)

Closing

[2020-08-27 08:48] andrijapanicsb commented on #591
Actually, I'm reopening for comments - the VM is never in "Starting" state, so that is wrong - pls fix.

[2020-08-27 08:50] andrijapanicsb commented on #595
fix is LGTM, but please considering updating related comment as "Number of CPU cores" or "Number of CPUs" and not "the CPU number" - or it might be my English as well

![image](https://user-images.githubusercontent.com/45762285/91418889-0b6f6200-e853-11ea-8523-212e623a112e.png)

[2020-08-27 08:53] andrijapanicsb commented on #596
I'll mark it as resolved, since we have another PR 609 handling all of this properly.

[2020-08-27 08:53] #596 closed

[2020-08-27 08:54] andrijapanicsb commented on #597
LGTM

[2020-08-27 08:54] #597 closed

[2020-08-27 08:55] andrijapanicsb commented on #604
cc @rhtyd please see my comment?

[2020-08-27 08:55] andrijapanicsb commented on #605
note to myslef :) - need to test PR609

[2020-08-27 08:59] andrijapanicsb commented on #618
Nope, just installed the latest master (from 27, 00.40h CET) - and it's happening on all 3 browsers (Chrome, Edge, Firefox) - Windows 10. cc @davidjumani

[2020-08-27 09:24] andrijapanicsb commented on #619
LGTM

[2020-08-27 09:24] #619 closed

[2020-08-27 09:29] andrijapanicsb commented on #617
LGTM

[2020-08-27 09:29] #617 closed

[2020-08-27 09:36] #595 closed

[2020-08-27 09:41] davidjumani commented on #618
Looks like it's vapps related. Will be fixed in the vapps PR

[2020-08-27 10:39] davidjumani commented on #591
@andrijapanicsb Could you check with #627

[2020-08-27 11:08] #591 closed

[2020-08-27 20:32] andrijapanicsb commented on #624
I also did find it a bit "more-steps-then-needed", but I agree with Rohit - let the users learn to do it the "proper" way - and Primate actually allows for multiple network types to be ad-hoc created, while the old UI only allowed single Isolated network (not shared, not L2, not VPC Isolated)

[2020-08-27 20:33] andrijapanicsb opened #629 "[BUG] Clicking outside the form (i.e. new offering creation) closes the form"
![image](https://user-images.githubusercontent.com/45762285/91492040-3ab6bb00-e8b5-11ea-9129-b5c434717b10.png)

If you click outside of the form (i.e. the red circle on the image), the form is closed, and you get frustrated!

[2020-08-27 21:35] andrijapanicsb opened #630 "[BUG] Batch-deleting VMs doesn't show as completed when done"
Had a few running and a few VMs in Error state (error during deploying them, but they exist as VMs in vSphere)

Choosen to batch delete all of them - confirmed in vCenter that all running VMs were stopped, deleted (with those Error VMs not deleted, I've logged a separate bug in CloudStack for that) - but the Primate kept regreshing and showing those previously Running VMs as Stopping, while there

[2020-08-27 21:37] andrijapanicsb commented on #630
Hitting the Refresh button in instance view - will show zero VMs (as it should), since they are all deleted.

[2020-08-28 01:51] utchoang commented on #629
Fixed in https://github.com/apache/cloudstack-primate/pull/631

[2020-08-28 05:36] davidjumani commented on #629
@andrijapanicsb Not sure if this is a bug. A user might just want to cancel the form and clicking outside is a lot simpler than hitting cancel or 'x' cc @rhtyd

[2020-08-28 05:38] davidjumani commented on #630
A simpler fix would be to refresh the list view every 30 seconds or so that the user has the most up to date info at any time, irrespective of any action performed. Thoughts @rhtyd ?

[2020-08-28 06:41] davidjumani commented on #618
Fixed via https://github.com/apache/cloudstack-primate/pull/609/commits/55e4c85eac78f18b3248104074acb6a1e1f0b232
@andrijapanicsb Could you test it with #609

[2020-08-28 07:04] #620 closed

[2020-08-28 07:05] rhtyd commented on #620
Fixed in https://github.com/apache/cloudstack-primate/pull/628

[2020-08-28 07:15] DaanHoogland commented on #624
@rhtyd, @andrijapanicsb  giving a way to just enter a name and create a network does not prohibit a create network button. the two are not mutually exclusive. I consider this a feature missing.

[2020-08-28 08:39] davidjumani commented on #605
@andrijapanicsb Fixed in #609 Could you verify the same ?

[2020-08-28 08:42] rhtyd commented on #603
I tried latest master and primate-qa (simulator) and a KVM/trillian env and don't see this. @andrijapanicsb please re-open if you reproduce this again.

[2020-08-28 08:42] #603 closed

[2020-08-28 08:43] rhtyd commented on #604
@davidjumani can you check and remove ssh enabled option if not necessary (does it make any difference)? (from both register and edit template forms)

[2020-08-28 08:44] rhtyd commented on #605
@davidjumani if we're not sure when #609 will merge, can you send another PR that fixes this blocker for the specific case for VM deployment for users?

[2020-08-28 08:45] rhtyd commented on #615
Normally we would expect users to wait until an async job is done; otherwise they need to live with the prompt. Alternatively we can simply decide to get rid of the floating widget, we've notifications already

[2020-08-28 08:48] rhtyd commented on #624
I've change milestone to 1.1, we need to discuss this on dev/users ML to see what is the general preference. During preview and testing we were advised against what old UI did therefore you see the change in UX.

[2020-08-28 08:50] #629 closed

[2020-08-28 08:52] rhtyd commented on #630
@davidjumani it may require some framework level fixes - could it be possible to track the list of asyncjobs somehow and then refresh when all have been completed? (instead of blind poling 30s)

[2020-08-28 09:04] rhtyd commented on #622
Checked against old UI and verified. Fixed in latest master with https://github.com/apache/cloudstack-primate/pull/625

[2020-08-28 09:04] #622 closed

[2020-08-28 09:12] davidjumani commented on #630
Yes, but I think it's unnecessary. When refreshing the list view every 30 sec, there's always the latest data available to the user

[2020-08-28 09:47] davidjumani commented on #604
@rhtyd It's just a field used to describe the template but does not have any effect in the service layer

[2020-08-28 09:54] #605 closed

[2020-08-28 09:55] rhtyd commented on #605
@andrijapanicsb please reopen if you can again reproduce it with latest master, thnx

[2020-08-28 11:02] andrijapanicsb opened #635 "[BUG] UI should show/hide the Expunge option based on the global settting"
As a regular user role, I've got the option to delete with Expunge, and that fails on backend (not visible in UI):

2020-08-28 10:51:12,561 DEBUG [c.c.a.ApiServlet] (qtp129153987-33177:ctx-c4731a7e ctx-37bc0628) (logid:59a0d46c) ===END===  10.1.0.1 -- GET  id=ada553dc-2103-48af-a0a3-605867b8c630&expunge=true&command=destroyVirtualMachine&response=json
2020-08-28 10:51:12,561 INFO  [o.a.c.f.j.i.Asy

[2020-08-28 11:03] andrijapanicsb commented on #605
LGTM

[2020-08-28 11:05] andrijapanicsb commented on #606
LGTM

[2020-08-28 11:14] andrijapanicsb commented on #618
This is not good, perhaps broken in some other fix/commit:

When the very first template on the Featured list (the one selected by default when you choose a Zone) is a deploy-as-is template, it seems that none of the OVF properties are parsed or something - as the network sections does NOT show 4 NICS to network mappings (part of the OVF template), also offerings are not filtered etc - see the ima

[2020-08-28 11:22] andrijapanicsb commented on #620
CPU speed is not set to zero, I will reopen once I retest/upgrade packages

[2020-08-28 11:23] andrijapanicsb commented on #629
LGTM

[2020-08-31 07:56] rhtyd commented on #635
@andrijapanicsb please verify and close

[2020-08-31 07:58] rhtyd commented on #604
@andrijapanicsb please verify against latest and close. Fixed in https://github.com/apache/cloudstack-primate/pull/634

[2020-08-31 08:01] rhtyd opened #639 "[TESTPLAN] Smoketest for $VERSION with $Role, $Hypervisor and ACS $Version"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Instances**
- [x] Create instance using template
- [ ] Create instance using ISO image and different parameters than the previous one
- [ ] Test all VM actions - Start/Stop/Reboot/Reinstall/Update, etc
- [ ] Add/modify/delete VM setting
- [ ] Add network to VM, c

[2020-08-31 08:14] #639 closed

[2020-08-31 11:57] andrijapanicsb opened #640 "[TESTPLAN] Smoketest for 1.0.0-GA with User Role, VMware (6.7) and ACS 4.15 (PR4250)"
Note: for User role test exclude after Account/User feature, for DomainAdmin role exclude after Infrastructure (except for Offerings)

**Instances**
- [x] Create instance using template
- [x] Create instance using ISO image and different parameters than the previous one
- [x] Test all VM actions - Start/Stop/Reboot/Reinstall/Update, etc
- [x] Add/modify/delete VM setting
- [x] Add network to VM, c

[2020-08-31 12:02] andrijapanicsb opened #641 "[BUG] Label updated when registering ISO"
![image](https://user-images.githubusercontent.com/45762285/91717834-8c4f9600-eb92-11ea-9150-7108cb7b6d0b.png)

[2020-08-31 12:07] andrijapanicsb commented on #635
LGTM

[2020-08-31 12:07] #635 closed

[2020-08-31 14:49] andrijapanicsb opened #643 "[BUG] hide "reset SSH keypair" button if VM is not Stopped"
Ideally, we should hide the button (even though the old UI also shows it, by mistake) - as it's required to stop a VM for such action.

![image](https://user-images.githubusercontent.com/45762285/91733359-b6608280-eba9-11ea-870a-57804c48cf60.png)

[2020-08-31 15:03] andrijapanicsb opened #644 "[BUG] Add message/questions when unmanaging an instance?"
Perhaps consider putting a simple "are you sure... once done, can't be undone" kind of question?

[2020-09-01 03:52] rhtyd commented on #644
With @davidjumani

[2020-09-01 03:53] rhtyd commented on #641
Fix confirmed, please test and close @andrijapanicsb

[2020-09-01 06:40] andrijapanicsb opened #648 "[BUG] List network's range with other details during VM deployment & MAC format explanation"
Not really a bug, but an improvement to make the "choose IP" even possible/usable:

![image](https://user-images.githubusercontent.com/45762285/91810690-9fb03f00-ec2e-11ea-9ff5-8df2518503d8.png)

As an end-user, I would like to see here the IP range of the network, to be able to KNOW from which range to use an IP when specifying it explicitly down for the NIC attached to that network. Otherwise, I

[2020-09-01 06:58] borisstoyanov opened #650 "[BUG] After session expire the page reloads once more"
**Describe the bug**
When a session has expired, and the user refreshes the page, he's being displayed with the login screen. Right after that the page refreshes once more.

**To Reproduce**

1. Leave a session to expire
2. Refresh the page
3. once loaded observe the page will refresh once more

**Expected behavior**
One refresh should be enough

**Screenshots**
If applicable, add screenshots to h

[2020-09-01 07:25] andrijapanicsb commented on #648
To avoid opening a new BUG, can we also add a note somewhere/somehow of an expected format for the MAC address, as just numbers is not correct, need to be in format aa-bb-cc-dd-ee-ff (i.e. aabbccddeeff or aa:bb:cc:dd:ee:ff doesn't work)

![image](https://user-images.githubusercontent.com/45762285/91814105-efddd000-ec33-11ea-8611-14a85cf9e300.png)

[2020-09-01 07:49] andrijapanicsb opened #652 "[BUG] Minor: update label/text"
![image](https://user-images.githubusercontent.com/45762285/91822617-54029300-ec38-11ea-9082-609747bb1387.png)

Should be "...AS default"  or "...AS default network" not "to"

[2020-09-01 07:58] rhtyd commented on #648
@utchoang can you add a mac address validator on the input, I think the format `01:23:45:67:89:ab` should work cc @andrijapanicsb

[2020-09-01 09:06] andrijapanicsb commented on #648
it already works, by requiring the dash instead od the column (well, once you submit the job?) - so all good - I just would like to see a note (or validate while typing if possible) - so that user KNOWs which format is needed.

[2020-09-01 10:40] #643 closed

[2020-09-01 10:44] andrijapanicsb opened #653 "[BUG] Click Instance --> Click Volume = breadcrumb gone"
clicking on the volume of the instance moves the "breadcrumb" to volumes, so you can't click back on the instance whose volume you are viewing atm (I can use the browser back button, but that's not the same)

![image](https://user-images.githubusercontent.com/45762285/91840329-d26b2f00-ec50-11ea-8983-70a43fb9753b.png)

![image](https://user-images.githubusercontent.com/45762285/91840379-e6169580-e

[2020-09-01 12:22] andrijapanicsb opened #659 "[BUG] Regular users should not see their network's VLAN"
Old UI doesn't show it. I'm wondering if we should also hide it:
![image](https://user-images.githubusercontent.com/45762285/91850871-8f17bd00-ec5e-11ea-8a4a-de526156cdd3.png)

[2020-09-01 12:25] andrijapanicsb commented on #652
Also, there is no hover popup for "make this NIC default" button (and there is for other buttons, except for the delete/bin which is self-explanatory):

![image](https://user-images.githubusercontent.com/45762285/91851131-f3d31780-ec5e-11ea-82ba-383e34dfe8b9.png)

[2020-09-01 12:33] andrijapanicsb commented on #604
LGTM - (the ssh stuff renamed, though I still find the permissions vs sharingf buttons vs. the actual options very confusing)

[2020-09-01 12:33] #604 closed

[2020-09-01 13:55] andrijapanicsb opened #660 "[BUG] K8s version - various issues ?"
I might be doing something wrong, but I don't think so?
Seems like a backend issue ?
![image](https://user-images.githubusercontent.com/45762285/91860067-79f55b00-ec6b-11ea-87d6-20214b1be89c.png)

![image](https://user-images.githubusercontent.com/45762285/91860133-92657580-ec6b-11ea-8bc2-a82a66b33472.png)

[2020-09-01 14:00] andrijapanicsb commented on #660
If I change that to 2 CPUs, then this doesn't fail but version format fails or something:

![image](https://user-images.githubusercontent.com/45762285/91860541-17508f00-ec6c-11ea-8a08-ebbb6af2adeb.png)
![image](https://user-images.githubusercontent.com/45762285/91860583-233c5100-ec6c-11ea-8797-d452d65a1675.png)

cc @shwstppr can you please test drive the K8s plugin in primate - I'm not sure if I'm

[2020-09-01 14:06] andrijapanicsb commented on #660
the version needs to be specified as 1.15.0 (or x.y.z in general?) then it works fine (and with 2 CPU)

 Should we have a popup (the "i" letter) that says "specify the version in format x.y.z" ? @shwstppr cc @davidjumani

[2020-09-02 05:30] davidjumani commented on #650
Fixed in https://github.com/apache/cloudstack-primate/pull/658

[2020-09-02 08:29] rhtyd commented on #652
@andrijapanicsb fixed in https://github.com/apache/cloudstack-primate/pull/655, please review and close the issue

[2020-09-02 08:34] rhtyd commented on #659
@andrijapanicsb fixed in https://github.com/apache/cloudstack-primate/pull/661 please review and close the issue, thnx

[2020-09-02 08:35] rhtyd commented on #644
@andrijapanicsb fixed in https://github.com/apache/cloudstack-primate/pull/656 please review and close the issue, thnx

[2020-09-02 09:35] rhtyd commented on #660
@andrijapanicsb looks like 2CPU is a requirement and the version needs to be 1.15.0 as there is no k8s 1.15 release but 1.15.0 or 1.15.1 release. Have you followed the docs http://docs.cloudstack.apache.org/en/latest/plugins/cloudstack-kubernetes-service.html ?

[2020-09-02 09:39] shwstppr commented on #660
I've added some improvements here, https://github.com/apache/cloudstack/pull/4269, error messages and API param description. I've not explicitly tied 2vCPU, 2GB memory requirement in UI as it might change once we move to a different template (from CoreOS)

[2020-09-04 14:29] andrijapanicsb commented on #659
LGTM

[2020-09-04 14:29] #659 closed

[2020-09-04 14:30] andrijapanicsb commented on #652
LGTM

[2020-09-04 14:30] #652 closed

[2020-09-04 14:35] andrijapanicsb commented on #644
LGTM

[2020-09-04 14:35] #644 closed

[2020-09-04 14:41] andrijapanicsb commented on #641
LGTM

[2020-09-04 14:41] #641 closed

[2020-09-04 14:44] andrijapanicsb commented on #618
LGTM

[2020-09-04 14:44] #618 closed

[2020-09-07 11:36] andrijapanicsb opened #668 "[FEATURE] Disable values starting with a space"
![image](https://user-images.githubusercontent.com/45762285/92383657-08a42500-f10f-11ea-88b9-131ec74af753.png)

Copying the global setting value (or some other value from UI), adds space in front of the copied text, then when pasting I managed to have a template whose name starts with space....

[2020-09-07 11:47] andrijapanicsb opened #669 "[BUG] VM Deployment wizard not listing existing "Instance Groups""
Perhaps for discussion...

We can create Instance Groups (a dedicated menu in Priamte, while missing in old UI) = but it seems existing groups are not listed (to be able to select some of the existing groups) when deploying a VM

So, having a dedicated Instance Groups menu is (atm) useless, as you can not select them during VM deployment.
Either remove it (menu item), or (preferably) call the list

[2020-09-07 11:48] shwstppr commented on #668
@rhtyd @davidjumani can we have textinput to trim entered text while submitting the form?

[2020-09-07 12:53] andrijapanicsb opened #670 "[BUG] Sensitive vcenter info should be hidden from the "user" role"
had volume, deleted it withOUT expinging it, recovered it, tried to attach it again - and got the error (could reproduce it this way twice) - beside being ACS bug, we should not expose vCenter IP and disk path etc... on vCenter/storage:

![image](https://user-images.githubusercontent.com/45762285/92389665-ccc28d00-f119-11ea-9249-2c7be180fafc.png)

[2020-09-07 13:11] andrijapanicsb opened #671 "[BUG] Refresh list of systemVMs if some are starting/stopping/destroying"
![image](https://user-images.githubusercontent.com/45762285/92391082-54110000-f11c-11ea-8d10-2ad2ba417407.png)

there are circles going around the blue buttons, but in reality no API call to query status of VMs etc...

[2020-09-08 03:00] utchoang commented on #668
@rhtyd I think we need to trim text input after entered?

[2020-09-08 04:56] davidjumani commented on #671
Can be fixed by tweaking https://github.com/apache/cloudstack-primate/pull/662

[2020-09-08 04:58] davidjumani commented on #670
@andrijapanicsb Primate just displays the error thrown by the backend. This will require a backend fix

[2020-09-08 05:22] davidjumani commented on #668
We can do it both ways, but it would be better to trim it during the submit, to reduce the code changes introduced

[2020-09-08 07:56] rhtyd commented on #668
@andrijapanicsb it may cause unexpected results in some cases, what is somebody wants to put space in front/end of a string input? Does old UI trim the space too ? I'm tentatively pushing this to 1.1 as it's not a critical/blocker issue.

[2020-09-08 10:11] rhtyd commented on #668
David checked and it's an issue at backend, fixing this in UI will still allow API to do this - so ideally the backend should trim the space.

[2020-09-08 10:20] rhtyd commented on #671
@andrijapanicsb currently we don't have a event-based way to know if a resource state has changed, so we cannot know for all sorts of resources (including systemvms) - old UI shares the same limitation and therefore you're required to refresh

[2020-09-08 10:21] andrijapanicsb commented on #671
If not possible to fix it easily - ok, let's close it.

[2020-09-08 10:23] rhtyd commented on #671
Yes, thanks. Closing this on your remark.

[2020-09-08 10:23] #671 closed

[2020-09-08 10:27] rhtyd commented on #653
@andrijapanicsb the intention was to use and encourage users to use the browser back button

[2020-09-08 10:27] rhtyd commented on #660
Do we need to make any change in Primate @shwstppr cc @andrijapanicsb @davidjumani ?

[2020-09-08 10:30] rhtyd commented on #669
@davidjumani see the auto-complet-able a-input (see similar used in Role->rules) which can show a list of available VM instance groups to the user as well as allow any kind of new string input for the groups input (end of VM deployment form)

[2020-09-08 10:31] rhtyd commented on #670
@andrijapanicsb this is same as what you see in old UI, any exception thrown is usually shown as an alert which shows error from the backend API response

[2020-09-08 11:12] shwstppr commented on #660
@rhtyd I don't think any changes will be needed in Primate. Though, maybe we can verify backend changes with Primate which should show better error messages and parameter information now

[2020-09-09 05:32] davidjumani commented on #668
Fixed in the backend via https://github.com/apache/cloudstack/pull/4311

[2020-09-09 08:34] andrijapanicsb opened #673 "[BUG] |VPC form - fix the "start" switch"
![image](https://user-images.githubusercontent.com/45762285/92571316-41650b00-f283-11ea-9611-69b7921e3fa8.png)

The API docs says:
_If set to false, the VPC won't start (VPC VR will not get allocated) until its first network gets implemented. **True by default**._

So we need to either rename the switch to "Don't start" and send start=true by default, with option for user to active the start=false

[2020-09-09 08:48] andrijapanicsb opened #674 "[BUG] L2 networks - there is nothing to clean-up or make redundant"
Although this is on pair with the old UI - we should probably remove this (or the whole restart button) for L2 networks, as there is no VR inside, so there is nothing to "cleanup" (recreate VR) nor anything to make redundant (as there is no VR).

In general, what does it mean to restart an L2 network? (should we remove the button)?

![image](https://user-images.githubusercontent.com/45762285/92576

[2020-09-09 10:04] #648 closed

[2020-09-09 10:07] #630 closed

[2020-09-09 14:18] andrijapanicsb opened #675 "[BUG] Zones not listed/offered when deploying a VM in a network from a VPC view."
![image](https://user-images.githubusercontent.com/45762285/92610427-fa453d00-f2b7-11ea-8299-03ade15cb5b2.png)

click on Add Instance and then you get:

![image](https://user-images.githubusercontent.com/45762285/92610511-0e893a00-f2b8-11ea-844a-9c76aab21e33.png)

[2020-09-09 14:27] andrijapanicsb opened #676 "[BUG] ACLs - 2 issues with displaying them"
VPC, ACL.

issue1: when go to particular VPC, then to network, then click on the network (to mange it, replace acl, whatever...) - there is no ACL shown (to be able to know which ACL is ALREDY applied on the network) - in the old UI, this is shown when managing a network:
![image](https://user-images.githubusercontent.com/45762285/92611584-3af18600-f2b9-11ea-93f9-1787ddfe9841.png)

instead, the AC

[2020-09-09 14:40] andrijapanicsb opened #677 "[BUG] Creating VPN user - regular "user" role is offered to specify account/domain"
This does not happen in old UI - and if not mistaken, we should not show this option to regular users?

![image](https://user-images.githubusercontent.com/45762285/92613324-244c2e80-f2bb-11ea-8fae-d29d5779140d.png)

[2020-09-09 14:41] andrijapanicsb commented on #677
user can NOT specify/choose his own domain - so definitively, these 2 fields (account/domain) should be hidden

I assume this form is to be used by domain/root admin maybe (creating VPN user for another account and not his own)

[2020-09-09 14:52] andrijapanicsb opened #678 "[BUG] With VPC - LoadBalancing tab should be hidden if the IP is already used for i.e. Port Forwarding or Static NAT"
In VPC, there is no preserve mode with Public IPs - and for Port Forwarding, StaticNAT and LoadBalancing - if any of these services is enabled on a single (additional) Public IP - the other 2 services/tabs/buttons should be hidden - otherwise, user will attempt to configure and get an error like below (an expected error):

![image](https://user-images.githubusercontent.com/45762285/92614774-b7d22f

[2020-09-09 14:57] andrijapanicsb opened #679 "[BUG] Tags not possible to be set on a LB rule"
![image](https://user-images.githubusercontent.com/45762285/92615582-8d34a600-f2bd-11ea-8dae-da1a06216580.png)

[2020-09-09 15:02] andrijapanicsb opened #680 "[BUG] Something spinning when choosing a destination VM for a PF rule"
![image](https://user-images.githubusercontent.com/45762285/92616134-2a8fda00-f2be-11ea-9474-141807627376.png)

 (IP address not fetched?)

[2020-09-09 15:06] andrijapanicsb commented on #680
Same happens in other forms - i.e. when adding a destination VM for a LB rule (happens only after you select a VM, before pressing OK)

[2020-09-09 15:06] andrijapanicsb commented on #679
Same is true for VPC or Isolated Network LB rules

[2020-09-09 15:25] ravening commented on #675
Tested this now and was not able to reproduce it. All zones got listed after clicking on "New instance" from vpc -> networks section

[2020-09-09 23:02] #673 closed

[2020-09-09 23:13] rhtyd commented on #670
Closing on this remark, please reopen if you disagree @andrijapanicsb thnx

[2020-09-09 23:13] #670 closed

[2020-09-09 23:14] rhtyd commented on #668
Closing based on @davidjumani 's remark, the fix at backend needs to be cautious but will utlimately fix the issue for all kinds of client inputs (UI, API...)

[2020-09-09 23:14] #668 closed

[2020-09-10 06:55] utchoang commented on #674
@rhtyd By this issue, we'll hide the restart network button for the L2 network?

[2020-09-10 06:59] davidjumani commented on #674
@utchoang Yes!

[2020-09-10 07:21] andrijapanicsb opened #687 "[BUG] minor - update label when upgrading k8s cluster"
minor - should read "Upgrade of Kubernetes Cluster....." (missing "of")
![image](https://user-images.githubusercontent.com/45762285/92694089-d11fbd80-f346-11ea-8e3c-635312a4df59.png)

[2020-09-10 08:01] andrijapanicsb opened #689 "[BUG] Buttons not clickable while error popup present"
I can't click the template sharing buttong while the popup is there - IMHO I should be able to click on what I want - perhaps should be tested with other kind of popups (not just error - if that makes sense/difference)

![image](https://user-images.githubusercontent.com/45762285/92698390-9751b580-f34c-11ea-92f7-cad7c71b3d2f.png)

[2020-09-10 08:03] andrijapanicsb opened #690 "[BUG] Hide "Public" switch if the global setting prohibits "user" making templates public"
![image](https://user-images.githubusercontent.com/45762285/92698486-bea88280-f34c-11ea-9c33-67361da7c088.png)

It's allowed, with a proper error message - not critical, but we should hide it if the global setting value prohibits regular "user" role to make templates public.

[2020-09-10 08:04] andrijapanicsb commented on #689
Even if go to Instances and try to operate the buttons - they are not clickable.

[2020-09-10 10:45] andrijapanicsb commented on #675
Using now the latest master, I can also NOT reproduce it - closing.

[2020-09-10 10:45] #675 closed

[2020-09-10 10:49] andrijapanicsb commented on #690
If fixing this - please do the same on "Register template" and Register ISO forms - and same for the Upload from Local (template/iso)

[2020-09-10 11:11] andrijapanicsb opened #694 "[BUG] regular user can't archive/delete (any/his own) events - buttons missing!"
![image](https://user-images.githubusercontent.com/45762285/92721888-10f69d00-f367-11ea-9a60-47b151bd95ed.png)

[2020-09-10 11:37] andrijapanicsb commented on #694
even ADMIN can't delete (missing buttons) in the main view of all events - for admin only when you select a single event, you can archive/delete that one - this all needs to be fixed - please see the old UI for comparison. thx

[2020-09-10 12:17] andrijapanicsb opened #695 "[BUG] Minor: add the (existing) description text into the Project field"
![image](https://user-images.githubusercontent.com/45762285/92728039-5ec3d300-f370-11ea-981e-d60649bbb38a.png)

[2020-09-10 12:48] andrijapanicsb opened #696 "[BUG] Issue going back from "Stopped Instances" to "Mine" in Project view"
In a project view, go to instances, switch view from defauilt of "mine" to "stopped"or "running", then back  to "Mine" -  the following error is seen:

![image](https://user-images.githubusercontent.com/45762285/92730726-7735ec80-f374-11ea-9ab9-813b01720e09.png)

The error doesn't happen in normal (non-project) view instances listing.

[2020-09-10 12:48] andrijapanicsb commented on #696
for me: after a fix, retest the same in both Project/non-Project view.

[2020-09-10 15:01] davidjumani commented on #694
@andrijapanicsb This was specifically removed for users since they should not be able to delete their events from a security pov. Will look into why admins can't delete them

[2020-09-11 05:23] davidjumani commented on #694
Checkboxes hid via https://github.com/apache/cloudstack-primate/issues/694

[2020-09-11 06:43] andrijapanicsb opened #700 "[BUG] "user" role - reset password form broken"
![image](https://user-images.githubusercontent.com/45762285/92876619-9f702a80-f40a-11ea-8316-9f35dde3b96b.png)

as a regular user role - chaning your own pass (works fine when "admin" reset other user's pass.

[2020-09-11 10:12] rhtyd commented on #700
@andrijapanicsb please test and close against latest master

[2020-09-11 10:13] rhtyd commented on #694
@andrijapanicsb please test and close against latest master; merged David's #698

[2020-09-11 10:14] #695 closed

[2020-09-11 10:14] rhtyd commented on #690
@andrijapanicsb please test and close against latest master

[2020-09-11 10:15] #687 closed

[2020-09-11 10:16] rhtyd commented on #677
@andrijapanicsb please test and close against latest master

[2020-09-11 10:16] rhtyd commented on #674
@andrijapanicsb please test and close against latest master

[2020-09-11 10:17] rhtyd commented on #669
@andrijapanicsb please test and close against latest master

[2020-09-11 10:17] rhtyd commented on #680
@andrijapanicsb please test and close against latest master

[2020-09-11 10:18] rhtyd commented on #676
@andrijapanicsb please test and close against latest master

[2020-09-11 11:14] andrijapanicsb commented on #653
I don't personally like it (due to used to consume breadcrumb), but hey, that's my problem. Closing.

[2020-09-11 11:14] #653 closed

[2020-09-11 11:18] andrijapanicsb commented on #669
LGTM

[2020-09-11 11:18] #669 closed

[2020-09-11 11:18] andrijapanicsb commented on #674
LGTM, button hidden

[2020-09-11 11:18] #674 closed

[2020-09-11 11:22] andrijapanicsb commented on #676
Doesn't look good on the latest master @rhtyd @ravening ?
![image](https://user-images.githubusercontent.com/45762285/92919945-b2e2bc00-f431-11ea-8054-7d3fa205a990.png)

ACL also, still, not displayed when you click on the network - as a user, when I'm viewing network properties, I prefer to see ACL as well, if possible:

![image](https://user-images.githubusercontent.com/45762285/92920007-d3127b0

[2020-09-11 11:32] andrijapanicsb opened #703 "[BUG] "VPN uses" missing from the network-related main menu"
on old UI:
![image](https://user-images.githubusercontent.com/45762285/92920559-c0e50c80-f432-11ea-8ec6-0db620b41d7e.png)
(once you enable at least one remote VPN on any network/VPC - otherwise is hidden)

![image](https://user-images.githubusercontent.com/45762285/92920803-2f29cf00-f433-11ea-9578-aecdc7d1dac2.png)

[2020-09-11 11:49] andrijapanicsb commented on #703
If we blindly add the vpn user to the main menu

there is some strange behaviour while adding/deleting users - so I guess that is the reason why the menu time "vpn users" us hidden in the old UI when there are zero remote-VPN enabled for the logged-in account:
![image](https://user-images.githubusercontent.com/45762285/92921986-52ee1480-f435-11ea-8e9b-6b353ce5e34a.png)

![image](https://user-image

[2020-09-11 12:20] ravening commented on #676
@andrijapanicsb @rhtyd it wont work until https://github.com/apache/cloudstack/pull/4317 is merged.

[2020-09-11 12:37] andrijapanicsb commented on #676
merged, thx

[2020-09-11 12:39] andrijapanicsb commented on #677
LGTM

[2020-09-11 12:49] andrijapanicsb commented on #676
@ravening I've just realised I merged the ACS, not primate PR :)

Ok, will trust that, since I'm short on time to merge this to my test-env, etc.

Thanks

[2020-09-11 12:51] andrijapanicsb commented on #676
To be tested with master later - leaving the issue opened until tested.

[2020-09-11 12:55] andrijapanicsb commented on #680
LGTM, can see/use Secondary IPs as well, etc.

[2020-09-11 12:55] #680 closed

[2020-09-11 13:03] andrijapanicsb opened #704 "[BUG] During logout, the last "URL" is part of the "logged-out" URL - causing issues..."
as Admin, go to the UI part that is NOT accessible for i.e. "user" role (global configuration), then log out - you get the URL as above:

http://localhost/#/user/login?redirect=%2Fglobalsetting%3Fname%3Dpublic%26q%3Dpublic%26page%3D1%26pagesize%3D10

Then if you log in as a regular user account, you get 404:

![image](https://user-images.githubusercontent.com/45762285/92928795-e9bfce80-f43f-11ea-8

[2020-09-11 13:05] andrijapanicsb commented on #704
if someone shares a link like that ( to the i.e. global config page, or to a specific VM/template/etc) - then we should still honour the "redirect=" part of the URL - but initially, do NOT generate that URL after a log out

[2020-09-11 13:05] andrijapanicsb commented on #690
LGTM in all possible forms.

[2020-09-11 13:05] #690 closed

[2020-09-11 13:23] andrijapanicsb opened #705 "[BUG] listing 500 events per page breaks page"
listing 100 events per page works fine.
going to **500** breaks the page, the request is taking an insane amount of time to get any reply from the mgmt (based on the developer tools), then it gives an error like in the following screenshot:

![image](https://user-images.githubusercontent.com/45762285/92930691-b29eec80-f442-11ea-99ba-edbffcc75484.png)

[2020-09-11 13:39] andrijapanicsb opened #706 "[BUG] minor: fix the weird "Deleted" / "Undefined" message"
filter events by domain and user, there are multiple hundreds of those.
chagne pagination to 100/page, select all on that page, delete em - there are 2 messages showsed:
- blue one,  "Delete events" immediately
- green one which should read "Deleted" instead of "undefined" - showed after the deletion API is done - at least this is what can be seen while deleting all page events with pagination siz

[2020-09-11 13:40] andrijapanicsb commented on #706
This is the look with 10 records per page

![image](https://user-images.githubusercontent.com/45762285/92932328-0b6f8480-f445-11ea-9b53-ec00a724975a.png)

[2020-09-11 13:40] andrijapanicsb commented on #694
LGTM, but I've raised 2 related ones for events listing/deletion

[2020-09-11 13:40] #694 closed

[2020-09-11 13:46] #696 closed

[2020-09-11 13:47] andrijapanicsb commented on #696
LGTM

[2020-09-11 13:49] andrijapanicsb commented on #700
LGTM

[2020-09-11 13:49] #700 closed

[2020-09-14 05:21] davidjumani commented on #705
@andrijapanicsb The count is the total number of events, but the event array will only contain 500. I've tested it and although it takes time to fetch the data, the page still loads successfully.
It could be a network issue that you've experienced

[2020-09-14 06:44] andrijapanicsb commented on #705
I'm absolutely sure it was not my network, as I was reproducing the issue a few times in a row, and never had the issue with 100/page.

But on the latest master, it looks good (beside Firefox complaining that page is slowing down my computer etc - 6 core machine...)

Wondering if going down from 500 to 200 as the max limit makes sense / is possible - if not please close the issue @davidjumani
Thx

[2020-09-14 06:57] utchoang commented on #704
The problem is that if the user is on a landing page (ex: detail page). After the user logs in again if a be un-remembers URL then will be redirected to the dashboard page. This will cause the user to move some steps to get back to the correct landing page.
@rhtyd @davidjumani What do you think about this issue?

[2020-09-14 07:28] andrijapanicsb commented on #706
LGTM

[2020-09-14 07:28] #706 closed

[2020-09-14 07:32] andrijapanicsb opened #708 "[BUG] PROPOSAL: Reduce max pagination from 500/page to 200/page"
- If you choose to list 500 records per page in i.e. Event, the machine with 6 CPU cores @ 4.0 Ghz becomes almost unusable (Firefox does complain that the page is slowing down the computer
- If you list 500 records (events) per page, then select them all (checkbox) and try to delete, yiou get the URL too long error.

![image](https://user-images.githubusercontent.com/45762285/93056673-07be4680-f66

[2020-09-14 08:02] utchoang commented on #708
@andrijapanicsb Agree, I think 200 items per page is ok.
@rhtyd @davidjumani Thoughts?

[2020-09-14 10:50] ravening commented on #678
@andrijapanicsb I dont see any port forwarding or loadbalancer tab is static nat is enabled

![Screenshot 2020-09-14 at 12 50 05](https://user-images.githubusercontent.com/10645273/93077240-d2275680-f688-11ea-967a-bf1671e9bb41.png)

If its not enabled then I see both tabs

![Screenshot 2020-09-14 at 12 50 42](https://user-images.githubusercontent.com/10645273/93077303-e703ea00-f688-11ea-9898-60570

[2020-09-14 10:52] andrijapanicsb commented on #678
that is correct only for StaticNAT @ravening - needs to be fixed also for PF or LB - I'm not sure if @davidjumani is already on it or not?

[2020-09-14 11:24] rhtyd commented on #708
The max limit 500 was used as that's why is documented for most APIs (the max. limit of page size to be 500). But I see no harm in using 200 as max page size for UI.
@utchoang feel free to raise a PR for this UI-wide (mostly auto-gen view and few other places) Thnx

[2020-09-14 11:25] rhtyd commented on #705
Closing on your remark @andrijapanicsb and the other issue, we can limit max. page size to 200 which is a fairly large number

[2020-09-14 11:25] #705 closed

[2020-09-14 11:25] rhtyd commented on #689
@andrijapanicsb Well you can click on the cross to close the error box?

[2020-09-14 15:15] ravening commented on #703
@andrijapanicsb I was able to add vpn user only if there are existing remote access vpn connection.
In the old ui, we first check the count of remote access vpn. If its > 0 then we display "Vpn Users" entry else it hidden

But in new UI, `hidden: true` is always set and so even if we have active remote vpn connections, it wont show up.

[2020-09-14 15:57] andrijapanicsb commented on #703
Alright - so we need a fix for this - to show only when there is > 0 VPNs enabled for the given account...

[2020-09-15 07:01] rhtyd commented on #708
Merged, please test latest master and close @andrijapanicsb

[2020-09-15 09:24] PaulAngus opened #712 "[BUG] '@link-color' does not effect the mouse-over color in details section"
**Describe the bug**

config.json property '@link-color' changes navigation section mouse-over color of links, but not the mouse-over colour in the details.

**To Reproduce**
Steps to reproduce the behavior; '@link-color' in the config.json file.

1. change the property

**Expected behavior**

The mouse-over colour in the details section changes to match the color set in the config.json file

**Sc

[2020-09-15 09:27] rhtyd commented on #712
Hi @utchoang since you had added support for theming in Primate, can you look into adding support for link:hover or make it use the configured link-color when mouse is hovered on links. cc @svenvogel

[2020-09-15 09:31] rhtyd commented on #712
@utchoang out of curiosity would it also be possible to add support for (a) general background colour (say for a black/dark theme) and (b) ensure that primary colour is used for popup notification loader (which floats when an action is performed such as stopping a VM, it shows a rotating circle in blue colour irrespective of primary colour)

[2020-09-15 09:41] utchoang commented on #712
@rhtyd I think this is doable. I will try it out and notify you later. Thanks.

[2020-09-15 09:43] PaulAngus opened #713 "[BUG] '@processing' color does not affect the page loading progress or circular 'I'm thinking' graphic"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Change the property  '@processing' in the config.json file.

1. go to Primate URL (see large 'thinking' graphic is still blue)
2. Log in as user or admin.  (see small 'thinking' graphic and page loading bar at the top of the page are still blue)

**Expected behaviour**

- 't

[2020-09-15 10:00] rhtyd commented on #713
@PaulAngus actually the variable names are from Vue/AntDesign the `@processing-color` is what is uses for status button/icon used for a resource (such as VM state etc) - https://antdv.com/components/badge/#components-badge-demo-status

@utchoang can you look into this as well - is it possible to use the defined primary-colour for the loaders?

[2020-09-15 10:09] rhtyd commented on #703
@andrijapanicsb I think I added the navigation from the IP/tab where you enable VPN. So go to network -> IP -> VPN tab, if VPN is enabled there's a button to manage VPN users. I think the VPN enabled is for all networks accessible for an account.

[2020-09-15 10:10] PaulAngus opened #714 "[BUG] (UI) (borderline feature request) - can't change the navigation menu color for default view or project view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

none - can't do it...

**Expected behavior**

To match all other branding, a cloud operator will likely want to change the navigation background colors.

**Screenshots**

![image](https://user-images.githubusercontent.com/4810220/93197482-9ac9b000-f743-11ea-9fc1-fabae922acf3

[2020-09-15 10:12] rhtyd commented on #675
@andrijapanicsb I've tested David's PR and merged it

[2020-09-15 10:13] rhtyd commented on #660
Closing on your remark @shwstppr

[2020-09-15 10:13] #660 closed

[2020-09-15 10:17] rhtyd commented on #704
We may address in two ways:
(a) I think if a user explicitly logs out then we don't need to remember the last path
(b) if a user logs out due to session timeout (or mgmt server restart) then we should remember the path
What do you think @borisstoyanov @andrijapanicsb @PaulAngus @davidjumani @svenvogel ?

[2020-09-15 10:17] rhtyd commented on #708
I'll save you some effort, LGTM

[2020-09-15 10:17] #708 closed

[2020-09-15 10:21] rhtyd commented on #714
@PaulAngus I'm able to change the primary-color option that affects the color of selected navigation menu item and see this for default and project views:

![Screenshot from 2020-09-15 15-50-08](https://user-images.githubusercontent.com/95203/93198845-315d9780-f76b-11ea-99d8-a3dbbf8cd968.png)

![Screenshot from 2020-09-15 15-50-19](https://user-images.githubusercontent.com/95203/93198848-33275b00-

[2020-09-15 11:10] andrijapanicsb commented on #704
If that doesn't bring complexity that's OK - otherwise I prefer not to remember the path at all - as the issue of the user having to go again to the same page is very unfrequent (what @utchoang explained), though a nice improvement if possible.

[2020-09-15 11:14] andrijapanicsb commented on #703
that is true @rhtyd - if we are OK to change the "location" of where the user can find his "VPN users" - I can live with that.
But in the old UI, those users are visible both from that location your explained, and also from the main "Networks" menu

[2020-09-15 11:39] davidjumani commented on #704
Think it makes sense to remember the path on session timeout, not on logout

[2020-09-15 12:05] davidjumani commented on #678
@andrijapanicsb Havn't started on it yet

[2020-09-15 13:16] PaulAngus commented on #704
I agree with @andrijapanicsb - it's not worth the UI errors that get thrown.

[2020-09-15 13:24] PaulAngus commented on #714
yes actual background colour, current white or blue.

[2020-09-16 09:14] rhtyd commented on #704
I think it was like that before but then we got an issue reported here see https://github.com/apache/cloudstack-primate/issues/456 @PaulAngus @andrijapanicsb  cc @borisstoyanov
Is David's fix to only forget redirect path on explicit logout acceptable, or now we want to revert the fix we did for #456 (that is simply forget path on session/explicit logout)

[2020-09-16 09:20] rhtyd commented on #650
Can you test and close @borisstoyanov @andrijapanicsb

[2020-09-16 09:21] rhtyd commented on #714
@utchoang can you explore if we can change the background of left nav bar for light vs dark mode ?

[2020-09-16 09:33] utchoang commented on #714
@rhtyd This is OK. I'll add to #718

[2020-09-16 10:45] rhtyd commented on #689
I'll close this as buttons are clickable once the popup error notification is closed

[2020-09-16 10:45] #689 closed

[2020-09-16 11:28] davidjumani opened #719 "[FEATURE] Move fetch data to created()"
Move fetchData to created from mounted to reduce wait time for api calls since the data has been created but the page has not yet been rendered

[2020-09-16 15:38] andrijapanicsb opened #720 "[BUG] "OS Type" not shown in instance view"
old UI:
![image](https://user-images.githubusercontent.com/45762285/93359769-4574c800-f843-11ea-80f2-b339e28bb33d.png)

new UI is missing this field
Would be nice for someone to systematically go through the list of details that are displayed on old UI (for instances at least) and compare to the detailed displayed in Primate for the same instance.

[2020-09-17 11:02] andrijapanicsb opened #721 "[FEATURE] Clicking anywhere on the line (instead of just the radio button) should select the i.e. Offering"
![image](https://user-images.githubusercontent.com/45762285/93462012-e916b480-f8e5-11ea-8320-77dd20a2705a.png)

I would like to be able to click anywhere on the line in order to select the offering - instead of having to click only the "radio button"

[2020-09-18 08:30] utchoang commented on #721
@andrijapanicsb @rhtyd cc @svenvogel  Does this apply to disk offerings, networks, security, and affinity group?

[2020-09-18 09:01] andrijapanicsb commented on #721
I would say - let's apply it EVERYWHERE where there are radio buttons?

[2020-09-18 09:02] rhtyd commented on #704
@andrijapanicsb cc @PaulAngus please review, test and close. I discussed with Andrija and we're now forgetting the path on explicit logout but not on logout due to session timeout (or mgmt server restart).

[2020-09-18 09:03] rhtyd commented on #720
@andrijapanicsb I think it is when you move cursor on the OS icon

[2020-09-18 09:03] rhtyd commented on #719
@davidjumani is that a critical issue, should we do it for 1.0 or 1.1?

[2020-09-18 09:20] davidjumani commented on #719
It's an improvement, can be done as part of 1.1

[2020-09-18 11:14] ravening commented on #676
@andrijapanicsb did you get chance to test this?

[2020-09-18 12:44] rhtyd commented on #679
@andrijapanicsb pl test and close

[2020-09-18 12:46] rhtyd commented on #720
@andrijapanicsb pl test and close

[2020-09-18 16:52] andrijapanicsb opened #724 "[BUG] minor: center the name of the network for L2 network"
![image](https://user-images.githubusercontent.com/45762285/93624046-fc0daf80-f9df-11ea-9833-bbf4fa41ff49.png)

if possible, center (vertically) L2 networks (other networks have their CIDR shown, 2 rows, centered fine vertically, but L2 network doesn't have the CIDR, so single row, and not centered vertically)

[2020-09-18 16:54] andrijapanicsb commented on #724
same for other fields - if possible:

![image](https://user-images.githubusercontent.com/45762285/93624219-50189400-f9e0-11ea-883f-fe9f5649d66f.png)

[2020-09-18 17:16] andrijapanicsb opened #725 "[FEATURE] Add CIDR next to the network name, for deploy-as-is templates"
For normal templates, when user chooses some networks to attach the VM to, there is CIDR of that network shown to help user.

With deploy-as-is templates, CIDR is not shown - let's add it when possible - to look something like this:

![image](https://user-images.githubusercontent.com/45762285/93626206-64aa5b80-f9e3-11ea-8b03-757d0fc5d21a.png)

[2020-09-18 17:24] andrijapanicsb opened #726 "[BUG] again, pages refreshed when they should not be"
Deploying a VM, submitted the job in UI, then opened the " new VM" wizard again - and when the PREVIOUS job completed (same happens if deleting a VM previously) - a weird refresh API is sent, and in the middle of the deploy vm form/dialouge where I was, I get kicked out and errors are shown:

![image](https://user-images.githubusercontent.com/45762285/93626945-80fac800-f9e4-11ea-9765-f5197ce5467f.

[2020-09-18 18:00] andrijapanicsb opened #727 "[BUG] Can't "unchoose" data disk from VM deployment wizard"
I clicked by mistake on the additional disk, and now I can't "un-choose" the offering/data disk:

![image](https://user-images.githubusercontent.com/45762285/93630015-8b6b9080-f9e9-11ea-8688-794786fea041.png)

[2020-09-18 18:01] andrijapanicsb commented on #727
this is only with deploy-as-is templates - the "no thanks" option is missing (exists/is fine for non-deploy-as-is templates)
cc @davidjumani

[2020-09-18 18:03] andrijapanicsb commented on #727
can't reproduce again (perhaps I scrolled down...) closing.

[2020-09-18 18:03] #727 closed

[2020-09-21 07:47] andrijapanicsb opened #731 "[BUG] Volume destroy form NOT closed after submitting the job"
![image](https://user-images.githubusercontent.com/45762285/93742925-4153fc00-fbef-11ea-9e4a-669dc58e8705.png)

If I hit the OK button AGAIN, it will delete the FIRST volume listed in the list of volumes!!!

[2020-09-21 08:26] rhtyd commented on #726
@andrijapanicsb please review/test and close against master

[2020-09-21 08:27] #721 closed

[2020-09-21 08:29] rhtyd commented on #731
Seems like a regression @davidjumani can you check, was this from your modal close PR?

[2020-09-21 08:33] andrijapanicsb commented on #731
same/similar happens, when volume is already deleted, and you press the delete button in order to EXPUNGE it - please make sure to test that as well. thx

[2020-09-21 11:31] rhtyd commented on #724
@andrijapanicsb @DaanHoogland can you review/test and close against master?

[2020-09-21 11:31] rhtyd commented on #725
@andrijapanicsb @DaanHoogland can you test against master and close this, thnx

[2020-09-21 11:32] rhtyd commented on #731
@andrijapanicsb @DaanHoogland can you review/test against master and close this

[2020-09-21 11:59] DaanHoogland commented on #679
works on latest

[2020-09-21 11:59] #679 closed

[2020-09-21 12:08] DaanHoogland commented on #676
both confirmed on latest

[2020-09-21 12:08] #676 closed

[2020-09-21 12:15] DaanHoogland commented on #704
complementary to #650 , i will re-test both

[2020-09-21 12:20] DaanHoogland commented on #720
fixed in latest

[2020-09-21 12:20] #720 closed

[2020-09-21 12:31] DaanHoogland commented on #726
still failing, but might be due to crossing builds. I will rebuild an env tonight and try again tomorrow:
<img width="962" alt="image" src="https://user-images.githubusercontent.com/2486961/93766678-0e256300-fc17-11ea-949c-0b0e3c1013e9.png">

[2020-09-21 13:07] DaanHoogland commented on #724
@rhtyd (cc @andrijapanicsb ) i have not found this issue but from the description it isn't clear where (via what path) to look, so bouncing a bit to @andrijapanicsb

[2020-09-21 14:58] andrijapanicsb commented on #731
This is/was happening also on delete network form etc...
Will try to test on fresh mater now

[2020-09-21 17:45] DaanHoogland commented on #726
newer version tested; both multiple vm creation as deleting a VM and then opening another delete dialog while an expunge completes, work as expected

[2020-09-21 17:45] #726 closed

[2020-09-21 17:55] DaanHoogland commented on #704
works with latest

[2020-09-21 17:55] #704 closed

[2020-09-21 18:02] DaanHoogland commented on #724
<img width="805" alt="image" src="https://user-images.githubusercontent.com/2486961/93803535-522f5c80-fc45-11ea-8cba-a13114d91f91.png">

[2020-09-21 18:02] #724 closed

[2020-09-21 18:30] DaanHoogland commented on #712
not sure if this is what @PaulAngus meant:
<img width="217" alt="image" src="https://user-images.githubusercontent.com/2486961/93806152-08487580-fc49-11ea-818f-1e1c29295de2.png">
the link color is changed as expected but the hovored link is still the default.

[2020-09-21 19:09] DaanHoogland commented on #713
can't get the processing colors to change, @utchoang can you help? the only config item i see to change is  `"@processing-color": "#e02020"`, is that the item to change? if so, it doesn't work.

[2020-09-21 19:51] DaanHoogland commented on #712
tests ok in pr #718

[2020-09-21 19:58] DaanHoogland commented on #713
tests ok in 718 (except I don't seem to understand the rgba(0, 0, 0, 0.15))

[2020-09-21 20:04] DaanHoogland commented on #714
looks ok:
<img width="704" alt="image" src="https://user-images.githubusercontent.com/2486961/93815490-57e16e00-fc56-11ea-89f4-7dfefb4b9e66.png">

[2020-09-22 03:36] utchoang opened #734 "[BUG] Switch project show blank or undefined message"
When I switch project will show a blank message or 'undefined':

1. Switch to a project => message: `Switched to ""`
![image](https://user-images.githubusercontent.com/13766648/93841952-644de100-fcbf-11ea-995c-efa5c55a2e90.png)

2. Switch to default project => message: `Switched to "undefined"`
![image](https://user-images.githubusercontent.com/13766648/93841964-6e6fdf80-fcbf-11ea-9b08-c6b165a2b45

[2020-09-22 04:17] #734 closed

[2020-09-22 07:39] DaanHoogland commented on #650
double checking this with the latest nightly build. results in different environments seem erratic.

[2020-09-22 08:31] DaanHoogland commented on #731
confirmed in latest

[2020-09-22 08:31] #731 closed

[2020-09-22 08:40] DaanHoogland commented on #650
@davidjumani I notice that after i perform anything on an expired session, it first redirects to the login page and then refreshes that page. Is this as intended? seems overkill (unless there is a good reason of course)

[2020-09-22 08:54] DaanHoogland commented on #725
works: <img width="800" alt="image" src="https://user-images.githubusercontent.com/2486961/93862235-01aa1480-fcc2-11ea-83e8-8fa3a4b1437e.png">

[2020-09-22 08:54] #725 closed

[2020-09-22 10:17] PaulAngus commented on #714
just to check, it was the **_background_** colour of the navigation bar, rather than links.

[2020-09-22 10:18] PaulAngus commented on #714
I may want it blue, red, white, yellow to match the branding in the data panel

[2020-09-22 12:02] rhtyd commented on #703
I'm closing on your remark Andrija, there is a navigation management possible by going to a network -> IP -> VPN tab -> manage users.

[2020-09-22 12:02] #703 closed

[2020-09-22 12:03] rhtyd commented on #650
@DaanHoogland if you've a form/wizard open for example and then you say restart management server, then you may redirect to login page with the form still open. I think that's why we reload, @davidjumani ?

[2020-09-22 12:04] rhtyd commented on #714
@PaulAngus from one of the screenshot's I see from Hoang's PR, the background is set to brown and lgtm - https://github.com/apache/cloudstack-primate/pull/718#issuecomment-694708920

[2020-09-22 12:14] davidjumani commented on #650
That's right @rhtyd  @DaanHoogland If it makes sense we can prevent the reload but if a popup form is submitted when the session expires, it will log out only when the user navigates to another page, but they will still be notified that their session has expired

[2020-09-22 12:20] rhtyd commented on #678
@davidjumani can you pick this or advise @utchoang on what/how to fix this? Thanks

[2020-09-22 14:04] andrijapanicsb opened #736 "[BUG] Show ISO info/name, instead of just UUID"
ISO, that is attached to the VM

![image](https://user-images.githubusercontent.com/45762285/93892918-5911aa00-fced-11ea-95da-19a9a51b8a63.png)

[2020-09-22 15:26] rhtyd commented on #736
I'm seeing both name and uuid, what is the issue @andrijapanicsb ?

[2020-09-23 05:58] rhtyd commented on #712
LGTM, verified link and hover colour
![Screenshot from 2020-09-23 11-28-03](https://user-images.githubusercontent.com/95203/93972433-e4dc1280-fd8f-11ea-92c1-0e22f3c5d05f.png)

[2020-09-23 05:58] rhtyd commented on #713
LGTM, verified action notification loading icon colour
![Screenshot from 2020-09-23 11-26-11](https://user-images.githubusercontent.com/95203/93972460-ee657a80-fd8f-11ea-8eca-fc1cf915b8f5.png)

[2020-09-23 05:59] rhtyd commented on #714
Verified left nav bar colour for default view:
![Screenshot from 2020-09-23 11-26-11](https://user-images.githubusercontent.com/95203/93972489-fcb39680-fd8f-11ea-8716-ed315710f286.png)

Project view is still dark-er though:
![Screenshot from 2020-09-23 11-29-26](https://user-images.githubusercontent.com/95203/93972559-17860b00-fd90-11ea-8712-87f77093c85a.png)

[2020-09-23 06:13] davidjumani commented on #678
@utchoang I think fixing this would involve merging DetailsTab, FirewallRules, PortForwarding, LoadBalancing and VpnDetails into a single tabbed vue. Once this is done :
1. If the resource has port forwarding / load balancing rules, the enableStaticNat button should be hidden.
2. If it is an ip associated with a vpc network, allow adding firewall rules, and either port forwarding or load balancing

[2020-09-23 07:11] rhtyd commented on #678
@andrijapanicsb can you check the behaviour against old UI?

[2020-09-23 07:11] rhtyd commented on #650
@davidjumani instead of change route and the do a reload, can't we just reload directly to the login page?

[2020-09-23 07:45] utchoang commented on #678
@rhtyd @davidjumani Currently I don't know which field to rely on to hide the Load Balancer Rule or PortFowardRule tab.
![image](https://user-images.githubusercontent.com/13766648/93982272-3c3bac00-fdab-11ea-944e-492cc8d9c810.png)
Or is it based on getting data from the 2 API `listPortForwardingRules` and `listLoadBalancerRules`?

[2020-09-23 08:04] davidjumani commented on #678
It is based on the `listPortForwardingRules` and `listLoadBalancerRules` apis, while the vpcid filed indicates whether it belongs to a vpc

[2020-09-23 08:24] davidjumani commented on #650
If it's a direct reload, the notification that the session has expired won't popup (or will for half a second and then reload to the login page). I think it will be fine to not logout while the user has a popup form open , but just push the notification and redirect when the user navigates out

[2020-09-23 08:43] DaanHoogland opened #740 "[BUG] user with special role is denied log on without sensible message"
**Describe the bug**
After creating a new role with all permissions except for updateZone, and creating an account with that role, the user can not log on.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as Admin
2. Create a role of type admin
3. Create an account with this role
4. log in with the user from the new role
5. See error

**Expected behavior**
Either the login succeeds, o

[2020-09-23 08:52] davidjumani commented on #740
@DaanHoogland That's because the user doesn't have access to `listApis` and `listCapabilities` APIs which are needed by primate

[2020-09-23 08:59] #712 closed

[2020-09-23 08:59] #713 closed

[2020-09-23 08:59] #714 closed

[2020-09-23 09:00] rhtyd commented on #712
Vefied and close in PR #718

[2020-09-23 09:00] rhtyd commented on #713
Vefied and close in PR #718

[2020-09-23 09:01] rhtyd commented on #714
Vefied and close in PR #718
Caveat - the navigation bar background colour is the same across default and project view

[2020-09-23 09:07] DaanHoogland commented on #740
@davidjumani why would he not have access to those APIs?

[2020-09-23 09:13] DaanHoogland commented on #740
btw, it seems this is not primate specific. lopg on fails on the old UI as well. It seems to be a genuine bug though. even when mentioned API are added as allow and * is added as allow, login fails.

[2020-09-23 10:38] DaanHoogland opened #741 "[BUG] when deleting a domain with a subdomain, it remains visible"
**Describe the bug**
when deleting a domain with cleanup any child is expected to be gone (subdomains or other things like accounts)

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as an Admin
1. Go to 'Domains'
1. Click on '+ Add Domain'
1. add a name (like "sub")
1. submit the form
1. select the new domain
1. Click on '+ Add Domain'
1. add a name (like "leaf")
1. submit the form
1.

[2020-09-23 10:46] DaanHoogland opened #742 "[BUG] hint/helptext is not fully displayed in empty field"
**Describe the bug**
when creating an account/user it is expected that help is shown in empty fields. When a field is too short for the full help text, only part is shown and no pop-up on hover is shown.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
1. Go to 'Accounts'
1. Click on '+ Add Account'
1. Scroll down to 'Account'
1. hover the mouse over the field
1.

[2020-09-23 11:08] DaanHoogland commented on #742
not a bug , doh:
![image](https://user-images.githubusercontent.com/2486961/94004933-bf560580-fd9d-11ea-9ec9-132b135a7ac0.png)
hovering needs to be over the (i) icon

[2020-09-23 11:08] #742 closed

[2020-09-23 12:06] rhtyd commented on #741
I think we've fixed it, perhaps a regression. @utchoang can you review and fix it? Thanks

[2020-09-23 12:08] rhtyd commented on #740
@davidjumani @utchoang maybe if it fails we should log a sensible message that unable to discover features as listApis (or any other essential APIs we expect) is not allowed?

[2020-09-23 12:09] rhtyd commented on #740
There are a bunch of APIs we call on login that "we" expect to work but don't have an error handler - https://github.com/apache/cloudstack-primate/blob/master/src/store/modules/user.js#L148

[2020-09-23 12:10] rhtyd commented on #650
@davidjumani a lot of apps redirect to login page and don't necessarily announce that the session has expired. One workaround is to show a modal with background blocked/hidden (like old UI) and you click okay which wiil reload to the login page. Thoughts?

[2020-09-23 12:12] davidjumani commented on #740
@rhtyd There's also the issue of the user being logged out if there's a call being made to a blacklisted API rather than being told that the API doesn't exist or denied. Will be working on all of them when I raise a PR agianst this

[2020-09-23 12:29] rhtyd commented on #736
I don't see any bug here, we're showing the ISO name (clickable too) and the ISO ID:
![Screenshot from 2020-09-23 17-58-59](https://user-images.githubusercontent.com/95203/94012467-7a929480-fdc6-11ea-991d-f5445b70d91d.png)

[2020-09-23 12:30] rhtyd commented on #736
@andrijapanicsb I'm closing this as indeed we show the ISO name, if there's anything else you'd like to add pl reopen.

[2020-09-23 12:30] #736 closed

[2020-09-23 12:37] andrijapanicsb commented on #736
Um... 🤦

[2020-09-23 12:38] rhtyd commented on #678
@utchoang I've created/tested the cases that you can check and fix. Here are the cases: (@andrijapanicsb appreciate if you can be more specific while filing bugs, thanks)

:heavy_check_mark: Case 1 - in case of static NAT I've verified that we don't show any tabs: (old UI has same UX)

![Screenshot from 2020-09-23 18-00-38](https://user-images.githubusercontent.com/95203/94012686-c04f5d00-fdc6-11e

[2020-09-23 12:40] rhtyd commented on #678
@utchoang the real issue are only case 2 and 3; it may need tweaking here https://github.com/apache/cloudstack-primate/blob/master/src/components/view/ResourceView.vue#L115 (we may need to somehow emit and ensure this code runs, after doing the specific list APIs calls (for listing pf and lb rules) and then hide appropriately)

[2020-09-23 12:42] rhtyd commented on #740
@DaanHoogland usually we require that the following APIs are enabled for Primate to atleast show something (what you're hitting, you'll hit on old UI as well): listApis, listUsers, listZones, listCapabilities (I'm not sure about listLdapConfigurations or cloudianIsEnabled).

[2020-09-23 14:11] andrijapanicsb commented on #678
I did check, and went with @davidjumani in details through the old UI etc.
This is kinda common thing to check the old UI and it's a matter of 1.5minute testing.

[2020-09-23 14:45] andrijapanicsb opened #743 "[BUG] Edit instance - offer existing Groups"
![image](https://user-images.githubusercontent.com/45762285/94028255-08b54d80-fdbc-11ea-9a93-6667ca8eb1cc.png)
 We fixed this in the VM deployment wizard, but not in the "edit VM" form - existing groups should be offered here.

[2020-09-23 19:24] DaanHoogland commented on #650
@rhtyd that would be very user friendly ;) an short display of an error, that disappears to quick to read is very disturbing.
btw, i don't think we should hold release for this, but it does need solving in the not to long term.

[2020-09-24 06:40] utchoang commented on #741
@DaanHoogland @rhtyd cc @svenvogel
I tried with http://primate-qa.cloudstack.cloud:8080/client/master/ but I can't reproduce the error. When I removed the `sub` domain then both` sub` & `leaf` were removed from the tree domain. Can you retest and tell me where the error came from?
![image](https://user-images.githubusercontent.com/13766648/94109524-4de48880-fe6b-11ea-9e05-1e887c83528d.png)
![image

[2020-09-24 07:33] davidjumani commented on #650
@rhtyd Fixed the logout issue in https://github.com/apache/cloudstack-primate/pull/745 Now it logs out but leaves a notification that the session has expired

[2020-09-24 07:54] rhtyd commented on #743
@andrijapanicsb the API allows both changing to an existing group or add to a new group (a new name would also create a new group). Should we keep it as it is?

[2020-09-24 08:03] DaanHoogland commented on #741
@utchoang i have just tested this on last nightly build and it is still there. As stated in my "additional Context" there is an easy workaround and selecting the "leaf" will still display the parent. I will give it another go with another parent than ROOT.
<img width="610" alt="image" src="https://user-images.githubusercontent.com/2486961/94117968-2da5d100-fe4d-11ea-83eb-de754432189b.png">

[2020-09-24 08:21] DaanHoogland commented on #741
@utchoang I noticed something related: when deleting a domain without cleanup, it fails but does remove the domain and its childeren from the tree.

<img width="875" alt="image" src="https://user-images.githubusercontent.com/2486961/94119629-765e8980-fe4f-11ea-96a0-85c4f2e0e95c.png">

<img width="1212" alt="image" src="https://user-images.githubusercontent.com/2486961/94119694-8b3b1d00-fe4f-11ea-9

[2020-09-24 08:25] DaanHoogland opened #746 "[FEATURE] domain admin should have "User" as default account type when adding an account"
**Is your feature request related to a problem? Please describe.**
As a Domain Admin my ussual account type to add is "User" so I want this to be the default choice.

<img width="484" alt="image" src="https://user-images.githubusercontent.com/2486961/94120237-31872280-fe50-11ea-95a5-eb66852a3559.png">

[2020-09-24 08:33] DaanHoogland opened #747 "[BUG] Domain admin cannot edit a domain they created"
**Describe the bug**
If a domain admin makes a typo in a domain name, they cannot correct themselves.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a Domain Admin
1. create a sub domain in user env
1. try and find a rename/edit button

**Expected behavior**
See the screen shots as find the old UIs functionality.

**Screenshots**
<img width="1180" alt="image" src="https://user-im

[2020-09-24 10:07] andrijapanicsb commented on #743
As a user, I don't see a value of being able to just enter a group name and have it created automatically (plain dumb, but that's what's already there...) - it's just confusing.

Up to you, I would prefer being able to click on it and see existing groups - which makes more sense than creating a group in that same "Edit instance" form. Thx

[2020-09-24 13:38] DaanHoogland opened #749 "[BUG] Domain admin cannot create a second user in an account"
**Describe the bug**
both new and old UI fail but indifferent ways.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a Domain Admin
1. Create a child domain to yours
1. Create a Domain admin account in the child domain
1. try to create a second user in the same account in the child domain

**Expected behavior**
the user should be created without problem.
* in primate an error is th

[2020-09-24 13:48] DaanHoogland opened #750 "[BUG] domain choice required while already in an account (i.e. in a Domain)"
**Describe the bug**
In addition to a domain being a required field while adding a user to an account, the default selection is not the domain the account we are adding a user to, is in. (forgive any misplacements of commas and periods)

**To Reproduce**

1. Log in as a Domain Admin
1. Go to an existing account in a sub domain
1. Click on "+ Add User"

**Expected behavior**
I expect the user will

[2020-09-25 04:10] utchoang commented on #747
@DaanHoogland @rhtyd cc @svenvogel  On the old UI side, Domain Admin is only allowed to edit resources, not edit domain names. So in the new UI, you can update the resource on the resource tab instead of needing the edit button like the old UI. Thanks.
* Domain Admin
![image](https://user-images.githubusercontent.com/13766648/94225403-0b7c8380-ff1f-11ea-877b-cdd49dec2534.png)

* Admin
![image](htt

[2020-09-25 08:16] DaanHoogland commented on #747
good explanation @utchoang closing (verified that the API is not available for domain admins which i think is the real bug!)

[2020-09-25 08:16] #747 closed

[2020-09-25 09:04] #741 closed

[2020-09-25 12:48] #740 closed

[2020-09-25 12:49] DaanHoogland commented on #650
verified with #745

[2020-09-25 12:49] #650 closed

[2020-09-25 15:35] ravening commented on #749
@DaanHoogland I was not able to reproduce the issue

1. I have a domain "test" with account name "test" with "domain admin" access and username "test1"
2. Login to the domain admin account with "test1/test1/test" as username/password/domain
3. Now I create one more domain under test with name "test-11"
4. I create a new "domain admin" account with name "test-11-account" and first user with name "t

[2020-09-25 16:27] andrijapanicsb opened #753 "[BUG] Getting 404 after deleting a VM"
VM deletion in progress:

![image](https://user-images.githubusercontent.com/45762285/94292071-c1b28e00-ff5c-11ea-8162-06bed43e3ee0.png)

After it's done, instead of going back to the list of instances, I get 404:

![image](https://user-images.githubusercontent.com/45762285/94292127-d55df480-ff5c-11ea-8e74-057177852431.png)

[2020-09-25 16:40] #678 closed

[2020-09-25 16:44] DaanHoogland commented on #749
@ravening the error is when you create account but enter the same name as the original account. a bit of a strange use case but it is documented to work fine. So don't "+ Add User" but "+ Add Account". You see in the help of the account field of that dialog that it is supposed to work.

[2020-09-25 21:14] ravening commented on #749
@DaanHoogland i didn't see add account option while adding second user

[2020-09-28 03:49] utchoang commented on #749
In my opinion, to solve the problem, the field account will be a selection for choosing accounts instead of input. @rhtyd What do you think?

[2020-09-28 06:30] DaanHoogland commented on #749
@utchoang that is not an option as users can also enter a non existing account name to create an account name different than the username

[2020-09-28 06:51] utchoang commented on #749
@DaanHoogland @rhtyd I mean, it will be both an option and an input field that allows creating an account?

[2020-09-28 07:07] DaanHoogland commented on #749
a combibox would be ok, i guess.

[2020-09-28 08:48] utchoang commented on #749
@rhtyd @davidjumani The problem, when I change the accounting field to a Combobox, is when I add an account with `accountid` selected, there is an error from the API that says` Internal error executing command, please contact your system administrator`. So is the API side not allowing add accounts in an existing account, right?
![image](https://user-images.githubusercontent.com/13766648/94410592-b

[2020-09-28 10:49] rhtyd commented on #753
@andrijapanicsb @DaanHoogland please test and close against latest master

[2020-09-28 10:50] rhtyd commented on #746
@andrijapanicsb @DaanHoogland please test and close against latest master

[2020-09-28 10:51] rhtyd commented on #640
All user role specific test plan executed, closing

[2020-09-28 10:51] #640 closed

[2020-09-28 10:55] rhtyd commented on #749
cc @davidjumani @andrijapanicsb - any view on this?

[2020-09-28 11:44] DaanHoogland commented on #746
works on master

[2020-09-28 11:44] #746 closed

[2020-09-28 11:48] DaanHoogland commented on #750
#756 fixes this indeed!

[2020-09-28 11:51] #750 closed

[2020-09-28 12:32] DaanHoogland commented on #753
stillhappens in latest:
<img width="1209" alt="image" src="https://user-images.githubusercontent.com/2486961/94432692-6b7d5f00-0197-11eb-8e88-62693f967f29.png">

<img width="490" alt="image" src="https://user-images.githubusercontent.com/2486961/94432735-7a641180-0197-11eb-98be-287084aef28d.png">

[2020-09-28 16:00] alexandremattioli opened #757 "[BUG] Network Offering form security options are not saved correctly"
**Describe the bug**
When creating a network offering with "promiscuous mode", "forged transmits" and "MAC address changes" on Primate it sets the values on the "network_offering_details" table as "accept" when the correct value that should be set is "true".

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as an Admin
2. Go to 'network offerings'
3. Create a network offering with the

[2020-09-29 04:25] hstan77 opened #758 "[BUG] Primate GuestNetwork Not able to Add IP Range"
**Describe the bug**
in primate interface , zone, physical internface, guest network, not able to add ip range, a part from initially created.  Also not able to see the start and end ip that initially created.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to 'Infrastructure'
3. Click on '.Zone, and Physical Interface, Select GuestNetwork'
4. Not able to

[2020-09-29 04:31] hstan77 opened #759 "[BUG] VM Instance, Change IP , Do not have DropDown List to Select"
**Describe the bug**
Primate Interface, VM instance , Change IP Address,  only Manual key in IP address to change. It shall be list down IP to select to change , Old Interface has this.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a User or an Admin
2. Go to 'Instance, Select the VM'
3. Click on 'NIC' and Click '-'
4. Click Change IP icon, and it will pop up new window for key i

[2020-09-29 04:47] hstan77 opened #760 "[FEATURE] Able to reserve an IP and not to be assign to VM"
**Is your feature request related to a problem? Please describe.**
Some IP address that assigned to VM, but that IP that having issue of Spamming, Blacklist etc, and after the VM being changed to new IP, the issued-ip will return to the IP Pool and future re-assign to other VM.
The system not able to reserve the problem ip which temporary do not re-assign to as it the spamming issue took time to r

[2020-09-29 07:18] rhtyd commented on #753
@utchoang can you check this?

[2020-09-29 07:18] rhtyd commented on #759
@utchoang can you check this?

[2020-09-29 07:18] rhtyd commented on #760
@utchoang can you check this?

[2020-09-29 07:19] rhtyd commented on #758
@utchoang can you check this?

[2020-09-29 07:19] rhtyd commented on #757
@shwstppr can you check this? In the handler should the option accept be saved as true?

[2020-09-29 08:46] davidjumani commented on #749
@DaanHoogland It looks like the backend checks whether the account exists even though it claims to just create a user if the account exists. Will create a fix for it

[2020-09-29 08:47] davidjumani commented on #749
@utchoang This will require a backend fix. I'll change the front end to a dropdown too while I'm at it. Thanks!

[2020-09-29 09:07] rhtyd commented on #749
The apidocs for `createAccount` says:
[code]

So, this is correct if you're trying to create another account with the same, already existing user name. Instead to add user, you can go to the account -> view users and add user there.

[2020-09-29 09:12] utchoang commented on #749
@rhtyd If I using `accountid`, Can I create an account into an account?
![image](https://user-images.githubusercontent.com/13766648/94538707-8bcc1d00-026e-11eb-94dd-ed5d6bbe81f1.png)

[2020-09-29 09:16] davidjumani commented on #749
@rhtyd From my understanding, it'll just create a user in the specified account if passed, but while trying it, a new username in an existing account, I'm still getting the account exists error

[2020-09-29 09:24] DaanHoogland commented on #749
Let's check the old UI behaviour. I recall this passing (might have been in the API, not UI) For automation allowing to specify an existing account would be very useful, but i'm not hellbound on it. It is intuitive to just create users like this, so if we don't fix the code we must be more clear in the doc/hint.

[2020-09-29 09:31] rhtyd commented on #749
@utchoang that's not necessary, as @DaanHoogland comments the best thing would be to check the old UI and then this issue becomes a non-issue or a valid bug based on that.

[2020-09-29 09:32] davidjumani commented on #749
@DaanHoogland this fails via the old ui too, on trying to create an account (user) within an existing account via the createAccount command

![Screenshot from 2020-09-29 15-01-42](https://user-images.githubusercontent.com/8244774/94541001-b44f1980-0264-11eb-9135-051a2021d811.png)

[2020-09-29 09:35] DaanHoogland commented on #749
tnx @davidjumani, I think an edit of the hint text should do. ("account must not exist")

[2020-09-29 09:42] davidjumani commented on #743
The legacy UI doesn't have a dropdown. Makes sense to maybe add a dropdown of existing groups in 1.1

[2020-09-29 12:03] rhtyd commented on #749
Closing on the test remark, please reopen and move to 1.1 if you disagree @DaanHoogland

[2020-09-29 12:03] #757 closed

[2020-09-29 12:08] #759 closed

[2020-09-29 12:11] rhtyd commented on #760
@hstan77 you can do that by acquiring the public IP in a guest network; and then not use it (to assign/snat to a VM or otherwise). Also please raise backend features at https://github.com/apache/cloudstack, this Git repository is only for tracking frontend features only. Thanks.

[2020-09-29 12:11] #760 closed

[2020-09-29 12:40] DaanHoogland commented on #749
I disagree, and this should be solved asap. It may only be a doc entry somewhere but it is very confusing that as the form starts with username a user would expect to be free to create any user that doesn't exist yet.

[2020-09-29 12:56] vladimirpetrov opened #765 "[BUG] Additional curly bracket on the status message when creating a new disk offering"
**Describe the bug**
 There is an additional curly bracket on the status message when creating a new disk offering

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to 'Service offerings - Disk offerings' and click on 'Add disk offering'
3. Add some kind of disk offering and look at the status message that the offering has been created successfully - there i

[2020-09-29 13:19] ravening opened #766 "[BUG] Not able to configure Load Balancer rules in isolated network"
**Describe the bug**
I created an isolated network and I dont see any option to create Load balancer rules.
Only source NAT is enabled in that network

The issue mentioned in https://github.com/apache/cloudstack-primate/issues/678 states that it should be hidden if PF or static nat is enabled. In my case none of them are enabled and still I dont see any options.

This is blocking testing the HApro

[2020-09-29 13:40] ravening commented on #766
I do see it for VPC though

![Screenshot 2020-09-29 at 15 40 07](https://user-images.githubusercontent.com/10645273/94565901-0fcfd600-026a-11eb-9c18-5fa9780cb4a6.png)

[2020-09-29 13:40] ravening commented on #766
cc @utchoang @andrijapanicsb

[2020-09-29 14:40] ravening commented on #766
Load balancing rules cant be configured on Source NAT IP in VPC in legacy UI but it can be confgiured in primate which is a bug

[2020-09-29 15:02] #758 closed

[2020-09-29 15:03] #765 closed

[2020-09-29 15:35] rhtyd commented on #749
@DaanHoogland I see it has been confirmed to be failing against  old UI as well, this is not a blocker as the form in Primate has same UX as the old UI. I've moved it to 1.1.

[2020-09-29 15:37] rhtyd commented on #766
@ravening are you working on a fix, or want us to triage?

[2020-09-29 15:46] rhtyd commented on #765
Verified, PR fixed it @vladimirpetrov please re-test against latest master. Thanks for reporting.

[2020-09-29 15:52] ravening commented on #766
@rhtyd yes working on a fix. will create pr soon

[2020-09-29 17:57] hstan77 opened #769 "[FEATURE] Add setting to whether allow user account change IP themself"
**Is your feature request related to a problem? Please describe.**
Current interface do not limit User account to change IP, All user account are allow to change IP themselves.  This may not be issue if NAT customer , where all is their own Lan IP and they can change themselves.
However if GuestSharedNetwork and SecurityGroup Isolation  where Public IP is the GuestNetwork IP, this will create issu

[2020-09-30 04:42] davidjumani commented on #749
@DaanHoogland Updated the doc at https://github.com/apache/cloudstack/pull/4354

[2020-09-30 07:41] vladimirpetrov opened #773 "[BUG] Wrong total number of items when migrating a VM"
**Describe the bug**
When migrating a VM, the total number of items shows all of them, but you can only choose from the suitable targets which is much less - this makes the dialog confusing.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as Admin
2. Prepare several clusters and hosts with different storage types.
3. Go to 'Compute > Instances' and choose an instance.
4. Click on 'Mi

[2020-09-30 08:22] utchoang commented on #773
@rhtyd @davidjumani cc @svenvogel I think this comes from the result `count` of API was wrong?

[2020-09-30 08:33] davidjumani commented on #773
That's right @utchoang Will look into creating a backend fix for this

[2020-10-01 08:19] borisstoyanov opened #781 "[BUG] Confirmation by pressing Space on confirm screens"
**Describe the bug**
Some usability from old ui can be implemented here as well. When ever we have a confirmation screen we need to click with the mouse, instead as per the old ui we can press Space to toggle the confirmation of expunge etc..

**To Reproduce**
Steps to reproduce the behavior:
Expunge a volume
Delete a VM
and more...

**Screenshots**
If applicable, add screenshots to help explain y

[2020-10-01 09:41] vladimirpetrov opened #782 "[BUG] Unmanage VM leads to a 404 page"
**Describe the bug**
When you unmanage a VM, a 404 error (not found) page is shown.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to 'Compute > Instances'
3. Click on an instance and then on the button 'Unmanage VM'

After the operation, the page is reloaded but the VM is no longer available which leads to 404 error page.

**Expected behavior**
Probably

[2020-10-01 10:12] rhtyd commented on #782
@shwstppr can you check and advise?

[2020-10-01 10:47] shwstppr commented on #782
@rhtyd added a tentative fix which should resolve the issue. Will update after more testing

[2020-10-01 10:52] DaanHoogland commented on #782
there is an issue with 404 when destroying a VM as well (#753) , probably related (by looking from the outside in) did you consider this as a generic problem, yet @shwstppr ?

[2020-10-01 11:29] shwstppr commented on #782
@DaanHoogland not yet. I think the 404 bug for destroy VM got introduced with the custom componenent that has been added for `destroyVirtualMachine` API. Otherwise the code routes back to listview if the action icon is `delete`.
Unmanage VM has a different icon so I added a check for `unmanagedInstance` API in AutogenView.vue in my PR. Will test PR #761 for #753

[2020-10-02 13:49] DaanHoogland opened #785 "[BUG] boot into setup dissapeared"
**Describe the bug**
A boot into setup check is expected in the instance action start and reboot as are shown in the vm wizard:

<img width="795" alt="Screenshot 2020-10-02 at 15 27 39" src="https://user-images.githubusercontent.com/2486961/94930482-c16b4300-04c6-11eb-897f-795a7a5c596f.png">

<img width="509" alt="Screenshot 2020-10-02 at 15 46 40" src="https://user-images.githubusercontent.com/24

[2020-10-02 13:51] DaanHoogland commented on #785
@davidjumani @shwstppr looks like a regression since the initial merge. I noticed during taking screenshots for an intro doc. do you have a quick assesment? cc @rhtyd

[2020-10-05 04:58] davidjumani commented on #749
Closing as there is a fix in cloudstack

[2020-10-05 04:58] #749 closed

[2020-10-05 05:10] davidjumani commented on #781
This might require changing several custom forms to set autofocus. Makes sense to do it as a part of 1.1

[2020-10-05 06:29] davidjumani commented on #785
@DaanHoogland It shows up only if the vm's hypervisor is VMware
![Screenshot from 2020-10-05 11-57-32](https://user-images.githubusercontent.com/8244774/95046603-1d6ddb80-0702-11eb-8050-411ca06e8304.png)
![Screenshot from 2020-10-05 11-57-43](https://user-images.githubusercontent.com/8244774/95046607-1e9f0880-0702-11eb-8d72-a8433ce080cc.png)

[2020-10-05 07:41] borisstoyanov opened #786 "[BUG] Storage tags displayed multiple"
**Describe the bug**
Tags are duplicated when adding a pool. All the records point to the same tag but they appear as many times it's been used per storage pool.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a storage tag
2. Tag a few pools with the tag
3. Observe the tag will appear multiple times as the pools tagged

**Expected behavior**
Tags should appear once

**Screenshots**

[2020-10-05 08:18] DaanHoogland commented on #785
sorry @davidjumani I thought I knew my work. I'll double check.

[2020-10-05 08:59] DaanHoogland commented on #785
this seems to be a version mixup, closing for now... will double check along the way in future activities

[2020-10-05 08:59] #785 closed

[2020-10-05 11:47] rhtyd commented on #753
@andrijapanicsb please test and close

[2020-10-05 11:49] rhtyd commented on #773
@vladimirpetrov can you test latest master and close this? thnx

[2020-10-05 11:54] rhtyd commented on #786
@borisstoyanov can you test this and close? Thanks.

[2020-10-05 11:57] rhtyd commented on #781
We've one PR merge in #784 that fixes for auto-generated forms, for rest of the forms we can aim wrt 1.1

[2020-10-05 13:28] andrijapanicsb commented on #753
LGTM, thx

[2020-10-05 13:28] #753 closed

[2020-10-06 07:01] borisstoyanov commented on #786
LGTM
![Screen Shot 2020-10-06 at 10 00 13](https://user-images.githubusercontent.com/13551960/95169011-d98add00-07ba-11eb-8286-868df72b1a98.png)

[2020-10-06 07:01] #786 closed

[2020-10-06 09:14] vladimirpetrov commented on #773
Fix confirmed.

[2020-10-06 09:14] #773 closed

[2020-10-06 09:18] vladimirpetrov commented on #765
LGTM

[2020-10-06 10:34] rhtyd commented on #782
@vladimirpetrov please test latest master and close this. Thanks.

[2020-10-06 10:38] #766 closed

[2020-10-07 08:13] vladimirpetrov opened #791 "[BUG] Missing confirmation/notification after removal of primary storage"
**Describe the bug**
When a primary storage is deleted, there is no any kind of confirmation and a message in the notification list - just redirect back to the list of the storages.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to 'Infrastructure > Primary Storage' and click on a storage.
3. Now enable maintenance mode and remove the storage.

**Expected

[2020-10-07 08:31] vladimirpetrov opened #792 "[FEATURE] Cluster information for a running VM"
**Is your feature request related to a problem? Please describe.**
There is no information on which cluster a VM is running on.

**Describe the solution you'd like**
Additional attribute can be added to the VM details page - cluster.

**Describe alternatives you've considered**
You can see the host in the VM details and clicking on it will reveal this information but still it's an extra click.

**

[2020-10-07 09:09] rhtyd commented on #791
`deleteStoragePool` is not a async API so there is no polling and therefore there is no notification on the top-right side (notifications). However a message is shown that needs checking - @davidjumani

[2020-10-07 09:12] rhtyd commented on #791
@vladimirpetrov I see notification message on middle-top but not on the notifications area (which is expected for any non-async API)
![Screenshot from 2020-10-07 14-41-10](https://user-images.githubusercontent.com/95203/95311423-38c81a80-08ab-11eb-9590-cbf95ec6453e.png)

[2020-10-08 09:01] andrijapanicsb opened #793 "[BUG] Minor: label missing"
adding new traffic type:

![image](https://user-images.githubusercontent.com/45762285/95437693-95800f80-0955-11eb-9fb0-ce2d441551f7.png)

[2020-10-08 09:04] rhtyd commented on #792
@vladimirpetrov the listVirtualMachines and listVirtualMachinesMetrics api does not return clusterid or clustername; without backend changes the feature can't be implemented. Right now you can go to a host from a VM and from host view you can see cluster detail.

[2020-10-08 09:05] andrijapanicsb opened #794 "[BUG] VLXAN needs be removed as isolation method from non-Guest traffic type"
seems that VxLAN is uncodnitionally displayed, even when no network trafic TYPE is selected

AFAIK, VxLAN is only supported as an isolation method for Guest traffic -not for any other kind of traffic

![image](https://user-images.githubusercontent.com/45762285/95438084-1a6b2900-0956-11eb-8124-29e5809e36c2.png)

[2020-10-08 09:05] rhtyd commented on #791
@vladimirpetrov can you test and close this? As explained we're not supporting notifications for non-async APIs but just the messages as shown above.

[2020-10-09 10:19] davidjumani opened #798 "[IMPROVEMENT] Don't fetchData on action complete if the user is on a different page"
Don't fetchData / refresh the page if an action is completed if the user is on an unrelated page
Eg : The user might run an async job like stop a VM and navigate away to /templates, but when the VM has stopped, the page reloads. Maybe tweak the `successMethod` of pollJob to check the `router.path` and then `fetchData()` / `parentFetchData()`

[2020-10-09 15:16] vladimirpetrov commented on #791
Ok, there is a brief notification indeed - and it's not a big deal that the notification is missing, closing the issue.

[2020-10-09 15:16] #791 closed

[2020-10-12 08:07] tungntvn23 opened #801 "UI missing - Cannot select option private registry for kubernetes cluster."
- Cannot select optional private registry when create kubernetes cluster.

+ New UI
![image](https://user-images.githubusercontent.com/46994732/95721211-75758680-0c9c-11eb-9c7d-9cba214c5512.png)

+ Old UI
![image](https://user-images.githubusercontent.com/46994732/95721270-8aeab080-0c9c-11eb-97df-73daec60fce2.png)

[2020-10-12 10:00] #793 closed

[2020-10-12 10:00] rhtyd commented on #793
Confirmed.

[2020-10-12 10:03] rhtyd commented on #782
I'm unable to reproduce, please re-open if you are @vladimirpetrov thanks.

[2020-10-12 10:03] #782 closed

[2020-10-12 10:06] rhtyd commented on #794
The API doc says for addTrafficType API:
[code]
So both options VLAN and VXLAN are valid, please close the issue @andrijapanicsb

[2020-10-12 10:12] rhtyd commented on #801
Was the private registry feature implemented in backend cc @davidjumani @shwstppr @Pearl1594 ?

[2020-10-12 10:12] rhtyd commented on #798
+1 (if there is an easy fix, I don't mind adding it for 1.0)

[2020-10-12 10:12] andrijapanicsb commented on #794
alright... that is news to me (what about mgmt/storage, etc) - let's leave it for now. we can always revise later.

[2020-10-12 10:14] rhtyd commented on #743
There is a instance groups tab now which can be used to see various groups. Maybe we can revisit this in 1.1.

[2020-10-12 10:15] rhtyd commented on #801
Please triage and then fix for 1.0 or move to 1.1 if the backend does not support private registry feature.

[2020-10-12 10:35] rhtyd commented on #794
Thanks closing on your remark.

[2020-10-12 10:35] #794 closed

[2020-10-12 10:53] andrijapanicsb commented on #743
ok, lets target 1.1, not closing the issue..?

[2020-10-12 11:14] davidjumani commented on #798
There could be a simple fix for autogenerated forms. Can add that now and change the custom forms later

[2020-10-12 13:17] vladimirpetrov commented on #782
I confirm, the bug is no longer present.

[2020-10-13 06:50] borisstoyanov opened #803 "[BUG] When deploying VM, disk offering for data disks are not all listed"
**Describe the bug**
When deploying a VM with data disks, the UI will show you just the default offerings instead all.

All offerings:
![Screenshot 2020-09-30 at 15 01 10](https://user-images.githubusercontent.com/13551960/95825311-56790200-0d39-11eb-97ff-cd1e50b0108c.png)

When deploying template with data disksk
![Screenshot 2020-09-30 at 14 59 23](https://user-images.githubusercontent.com/13551

[2020-10-13 08:34] utchoang commented on #803
@borisstoyanov @rhtyd cc @svenvogel So does that mean the list disk offering will include data disk offering with value `>= 5 GB` and the custom disk offering?

[2020-10-13 14:36] andrijapanicsb opened #805 "[FEATURE] Clicking Menu group name - to choose the first menu item"
For some time now, while testing and having to click around frequently, I've been very irritated by having to click on Compute, then on Instances (in order to reach Instances as the first menu item), as this means clicking 2 times in order to get to the first item in the menu group - this is not user/mouse friendly :)

Can we somehow ensure old-UI-like behaviour -  that when a menu group (i.e 'Com

[2020-10-14 04:32] utchoang commented on #805
@rhtyd There's one problem: This will take away a collapsed menu context. What do you think?

[2020-10-14 06:34] borisstoyanov commented on #803
I think so @utchoang, @andrijapanicsb @nvazquez can you confirm
cc: @davidjumani

[2020-10-14 06:41] davidjumani commented on #803
@utchoang It already filters offerings >= 5GB. Need to confirm whehter custom disk offerings are supported for datadisk templates or not @andrijapanicsb

[2020-10-14 06:49] andrijapanicsb commented on #803
It's always easy to see how the old UI works - what offerings are listed there.

Afaik, this is multidisk template - where you match offering to a data disk from the template - and only the ones with size >= "volume size from template" are shown.

Not sure abou the custom offerings though - I just checked on old UI - both the stock and the new one (custom offering) are NOT showing.

I think this i

[2020-10-14 06:53] davidjumani commented on #803
@andrijapanicsb I think supporting custom disk sizes will require several backend chagnes since right now it isn't supported

[2020-10-14 06:59] andrijapanicsb commented on #803
I didn't ask for it - we are now in GA - and ues, backend changes, below is my take on it:

it's not only the UI - it's also the backend - and IF we should support it or not - probably NOT - as we don't have (atm) a way for ACS to validate if the customer wanted to cheat by choosing a smaller custom disk size, than the real volume size (from the template, 5GB in this example, but couild be anythin

[2020-10-14 09:43] rhtyd commented on #805
@andrijapanicsb that's just a matter of getting used to, otherwise we won't be able to have collapsable sub-menus

[2020-10-14 19:05] andrijapanicsb commented on #805
Copy that. Is it possible (not sure how it would look tbh - to have some kind of floating menus - or self-exapnding on hover ??? (floating menu = same as in the mobile/tablet view, i.e. on smaller resolutions when you hover over Compute, there is menu shown for Instances and other things)

Self-expanding menu on hover would be nice, if possible...

[2020-10-15 04:40] davidjumani commented on #743
Can leave it open since it's marked against 1.1

[2020-10-15 06:19] borisstoyanov commented on #803
I think it'll be good if customer is able to select bigger or smaller offering for the data disks, and it's not just the size but every other option that a custom predefined offering allows you to do (like for example tags to deploy the disk to a specific pool). Should we do it now or now is a separate question, but definitely worths having it.
--jsut my 2 cents.

[2020-10-15 08:42] svenvogel opened #806 "[IMPROVEMENT] listing backups from backup and recovery"
Hi @rhtyd

is there a listing of the backups from the backup and recovery framework like the old ui or do we forget this to implement?

old UI
![image](https://user-images.githubusercontent.com/5433844/96099013-10f03c80-0ed3-11eb-88e0-2927f3d177ce.png)

ne UI?

Cheers

Sven

[2020-10-15 08:47] svenvogel opened #807 "[IIMPROVEMENT] create snapshot from virtual machine with managed storage"
Hi @rhtyd @utchoang

Storage Snapshot functionality.

in the old ui we have here a storage snapshot functionality.
![image](https://user-images.githubusercontent.com/5433844/96099408-7f34ff00-0ed3-11eb-9f3d-eefe382ab31f.png)

we should add them in the new ui too like the old ui for the user of managed storage
![image](https://user-images.githubusercontent.com/5433844/96099596-b4415180-0ed3-11eb-90

[2020-10-15 08:57] utchoang commented on #807
@svenvogel In the new UI, we already have the take VM snapshot button. Can you check it again.
![image](https://user-images.githubusercontent.com/13766648/96100858-0481d900-0eff-11eb-9601-fb64db934570.png)
![image](https://user-images.githubusercontent.com/13766648/96100872-09468d00-0eff-11eb-87d2-f8ac589344f3.png)