[2019-10-24 07:42] rhtyd opened #3 "Misc List Views"
Misc/low priority:

[2019-10-24 07:44] rhtyd opened #4 "Misc Detail View Customisations"
The following sections need to have a custom detail view component that displays a single (or more) resource of a type:

[2019-10-24 07:45] rhtyd opened #5 "Checklist: Actions Customisation"
Moved/split to other tickets.

[2019-10-24 07:48] rhtyd opened #6 "Bug: Handle API timeout and API endpoint reachability"
If management server is down/not reachable, after some valid timeout (say 60-120s), the UI does not fail gracefully. It should throw/show an error notification at the least.

[2019-10-29 20:08] ggoodrich-ipp commented on #3
I have been investigating the sorting mechanism built into ant-design-vue in hopes of fulfilling the sort-key feature listed in the description. I've extracted some of the code leveraged by the old UI for sorting, in order to hopefully set the Table.sorter to call this new function. However, what I've discovered is that I can find no mechanism with which to determine which column is being clicked/

[2019-10-30 10:29] rhtyd commented on #3
@ggoodrich-ipp column specific sorting function are defined in the auto-generated view/generator component like this: https://github.com/apache/cloudstack-primate/blob/master/src/views/AutogenView.vue#L344 (this is a very basic method, probably won't work for anything other than strings)

[2019-11-11 10:15] onitake opened #11 "Runtime issues due incompatible core-js dependency"
When running primate CentOS 7/Node 10.17.0 using the dependency installation instruction in the README, it will fail during webpack or startup due to an incompatible core-js dependency.

It is necessary to install core-js@3 to make primate work. This should either be added to the npm dependencies or to the README (if global installation is required).

The error trace is below:
[code]

[2019-11-11 10:18] rhtyd commented on #11
@onitake I'm not sure, I tested and deployed Primate on a centos7 env and it seems to install/work OK:
[code]

[2019-11-11 10:19] rhtyd commented on #11
Do you think nodejs 10.17.x could be an issue?

[2019-11-11 10:20] onitake opened #12 "Add instructions on how to avoid system-wide global npm package installation"
Commands like
[code]
will install global dependencies system-wide, which will cause conflicts with files installed by a package manager (rpm, dpkg, ...).

There should be instructions in the README on how to avoid overriding system files.

For example, it's possible to set up a separate runtime directory for node/npm modules and simply run npm from there. This will pick up the local modules instea

[2019-11-11 10:27] rhtyd commented on #12
@onitake thanks, we're all new to UI so best practices are likely not known or followed but PRs are welcome.

[2019-11-11 13:47] onitake commented on #11
I'm not sure. I installed node.js from the nodesource RPM repo, as indicated in the README.

The issue started to appear when I pulled the latest HEAD from Github and ran it on a previous install.
Let me try with a fresh system.

[2019-11-11 16:00] onitake commented on #11
I did a fresh install of the whole system, and the issue is back.

I think it's really caused by an incompatible core-js version being loaded (too old or maybe too new?).

core-js@3 is not needed globally, so it could probably simply be added to the project dependencies.

[2019-11-11 16:18] rhtyd commented on #11
@onitake - okay, what should we do?

Since, most web devs don't develop against CentOS7 the getting started was specifically tested against Ubuntu (Ubuntu works on Windows as sub-system as well) and likely also works on Fedora and also OSX (but I don't have OSX to test). If there is a fix/workaround you've found, feel free to send a PR towards the instructions and getting started in the README.

[2019-11-12 09:32] borisstoyanov opened #13 "Account type, do we still need it with primate?"
This is a bit of general structure of Cloudstack, not UI, but still...

AFAIK we use account type to figure out the rendering of the old UI, and there's multiple references across different account entities which are probably deprecated by now from dynamic roles.

Question is, do we still need account types with the new UI? Can we get rid of this legacy code?

This diverges from a problem which I'

[2019-11-12 09:33] borisstoyanov commented on #13
I guess one drawback would be people will need to migrate to RBAC if we no longer have account type

[2019-11-12 12:30] borisstoyanov commented on #13
did a little research, looks like the account type is being used as a preset of the data being returned by the apis. Getting rid of it would be a massive task and probably a can of worms.

[2019-11-12 12:30] #13 closed

[2019-11-12 13:25] onitake opened #14 "Proxy to API should contain the full path"
Since commit b0165258f7f43bdd5e79355b1b1c809acc0a9bc7 , the API proxy stopped working for me. Our API server is served over a reverse proxy that doesn't handle /client very well, so we need the proxy forward on /client/api .
I tried several combinations (with/without path etc.) on CS_URL, but none of them work.

Is there a particular reason why this was changed to /client? Is there some CS API tha

[2019-11-12 17:23] onitake commented on #12
I'll try to write Dockerfile that illustrates how this should work.
So far, I've done my test deployments using Ansible, but having a Primate  container may be very useful for quick rollout.

[2019-11-13 02:11] GabrielBrascher commented on #11
Thanks for reporting it @onitake. I had the same issue.

[2019-11-13 14:42] #11 closed

[2019-11-18 07:53] rhtyd commented on #14
@onitake with the change, now console proxy etc. all work, that's why it was changed. Can you try the latest? What changes did you have to make, to make it work for you?

[2019-11-19 08:43] onitake opened #17 "Missing eslint peer dependencies"
I found some more dependencies that are missing:
* eslint-plugin-import
* eslint-plugin-node
* eslint-plugin-promise
* eslint-plugin-standard

Without these, the build step will fail.

[2019-11-19 09:04] rhtyd commented on #17
@onitake Did you run `npm install` on primate, after installing global packages - `sudo npm install -g @vue/cli webpack eslint`

[2019-11-19 10:43] onitake commented on #17
Yes, I did. But this only installs the tools globally and not the peer dependencies. Those need to be added to the package.json.

[2019-11-19 10:43] onitake commented on #17
When the deps are installed, eslint throws a ton of errors. I'll open a separate issue for that.

[2019-11-19 10:51] onitake opened #18 "Large number of errors from eslint"
When building primate with eslint installed, a large number of errors are thrown.

Related: #17

Full log: https://gist.github.com/onitake/d81c435697c023463865e8581d968e11

Excerpt:
[code]

These should be addressed.

[2019-11-19 10:53] rhtyd commented on #17
Thanks for sharing, do you know (or have figured) how to fix your issues @onitake ?

[2019-11-19 10:53] rhtyd commented on #18
Send a PR @onitake or advise how you fixed those errors?

[2019-11-19 11:00] onitake commented on #18
I see two ways to "fix" these errors:

1. Apply the suggested fixes - which I'm not sure are safe. JS is a bit outside my domain.
2. Disable eslint.

[2019-11-19 13:25] onitake commented on #18
The errors are triggered by the `"@vue/standard"` extension in the `eslintConfig` section in package.json
If I remove that, Primate will build and run fine.

While I think that fixing the errors is better, it shouldn't be necessary to have the build fail because of them.

[2019-11-20 07:53] onitake commented on #17
#19 now includes fixes for the lint errors.

[2019-11-20 08:07] onitake commented on #14
Ah yes, I forgot about the console proxy. It won't work with only the /client/api redirection.
I don't quite understand with /client doesn't for me. I suspect it's something to do with my management server reverse proxy. Further investigation needed.

On the other hand, this will be obsolete anyway when #21 gets merged.

[2019-11-20 10:17] #12 closed

[2019-11-20 10:22] rhtyd commented on #18
I'm unable to reproduce them on latest master @onitake - does it fix to use the eslint4.x version?
[code]

[2019-11-20 10:23] rhtyd commented on #14
Per your comment @onitake as https://github.com/apache/cloudstack-primate/pull/21 is merged, closing this as this gets obsolete per your comment.

[2019-11-20 10:23] #14 closed

[2019-11-20 12:26] onitake commented on #18
I tried with eslint 4.0, but it still reported errors. Not sure if this was caused by leftovers or something else. I also did so in a fresh container, so I don't think it was on my host system...

Also, I noticed that when I ran `npm run lint`, it autofixed all minor issues. I only had to change two lines manually.

Also, if you check the previous Travis log for #19 , you can see that it threw the

[2019-11-20 12:27] onitake commented on #18
See https://travis-ci.org/apache/cloudstack-primate/builds/614182897

[2019-11-20 17:06] onitake commented on #18
The way I see it, this needs to be fixed either by removing the standard vue rules, or by adopting their coding style.
Even if it works with current modules, the lint errors will come back eventually and cause problems.

[2019-11-20 17:16] rhtyd commented on #18
@onitake but latest master seems to be passing lint checks: https://travis-ci.org/apache/cloudstack-primate/builds/614449601

I'll have a look at your PRs this weekend or next week

[2019-11-20 23:30] onitake commented on #18
That's correct - because I applied all the fixes that were suggested by the vue/standard lint rules.

It's up to you to decide if you want to adopt the vue.js coding style or simply go with only the essential rules.

So: Please merge either merge #19 or #20 , depending on your preference.

[2019-11-22 14:43] #17 closed

[2019-11-22 14:43] #18 closed

[2019-11-22 15:00] onitake commented on #18
Thanks, @rhtyd !

[2019-11-22 22:31] rhtyd opened #24 "Implement groupable actions in List View"
Groupable actions on list views such as on instances (start,stop,destroy, takesnapshot), events (archive, delete), alerts (archive, delete)

[2019-11-22 22:31] rhtyd opened #25 "Implement list order sorting in List View"
Sort-key feature in list of resources for the following in list view:
- [x] templates
- [ ] isos
- [x] zones
- [x] offerings: compute, system, disk, network, vpc

[2019-11-22 22:32] rhtyd opened #26 "Re-usable and editable Configurations"
- Global settings (editable column/keys), support list/update configuration APIs, pagination and searching
- Support reusable settings tab across accounts, domains, zones, clusters, primary&secondary storage
- APIs to be supported: listConfigurations and updateConfiguration
- Requirement: The component should be highly re-usable and implemented that can take in resource and loading as props and sh

[2019-11-22 22:34] rhtyd opened #27 "Implement Tree-view based Domain List View"
Implement a tree based domain list view, or discuss alternative approaches. (ref listDomainChildren)

The suggested component that can be used:
https://www.antdv.com/components/tree/
Or,
A table with a tree based navigation like:
https://www.antdv.com/components/table/#components-table-demo-tree-data

Screenshot of how it looks in the old UI:
![Screenshot from 2019-11-25 23-26-36](https://user-ima

[2019-11-22 22:35] rhtyd opened #28 "Implement reusable resource details/settings tab"
Re-usable settings/details component for VM and templates.

[2019-11-22 22:37] rhtyd opened #29 "Implement autogenerated actions forms with key-remapping"
Improve autogenerated actions form to support remapping of API params/keys

[2019-11-22 22:39] rhtyd opened #30 "Network Detail Views Customisation"
- [ ] Guest network view (shared/isolated/l2), egress rule management and VR tab
- [ ] Guest network firewall, PF, load balancing tabs (rules: view/edit/add etc,)
- [ ] Security groups ingress/egress rules management tabs
- [ ] VPC: VR tab, management tab for tiers (add/remove/list), ACL replacement,
 private gateway, s2s vpn, vpn connection, network ACLs, tiers: internal LBs, snat etc

[2019-11-22 22:39] rhtyd opened #31 "Zone Traffic Management"
- Physical network: dedicate vlan/vni tabs
- Traffic type IP Range management: Storage, Management, Guest, Public

[2019-11-22 22:42] rhtyd opened #32 "Add Offerings Actions"
Custom add offering actions:

- [ ] Compute Offering
- [ ] System offering
- [ ] Disk offering
- [ ] Network offering
- [ ] VPC offering

- [x] Update offering access for compute, disk, network, vpc etc.

Check- listing may not honour pagination?

[2019-11-22 22:43] rhtyd opened #33 "SSL Cert Setup Action"
Form to setup SSL cert for the environment
- [ ] SSL cert setup (prev in infra tab in old UI)

Suggestive component:
https://www.antdv.com/components/form/

Suggestive API: uploadCustomCertificate

Screenshot from old UI: (go to Infra->SSL cert button)
![Screenshot from 2019-11-27 17-23-24](https://user-images.githubusercontent.com/95203/69721389-c0e17d80-113a-11ea-869c-e564a5849461.png)

[2019-11-22 22:45] rhtyd opened #34 "VM Actions"
Split into smaller tickets

[2019-11-22 22:45] rhtyd opened #35 "Resource Download URL popup"
Show volume download link in a pop-up after download volume response is obtained. A general purpose framework/config based solution can be implemented.

Show the download button for Volumes, Template and ISOs.

[2019-11-22 22:46] rhtyd opened #36 "Template OVF Actions"
- [ ] Template OVF properties and permissions

[2019-11-22 22:47] rhtyd opened #37 "VPC View and Actions"
Router and Network tabs:
- Public IP addresses for VPC, non source-nat show LB + PF, not firewall.
- Create S2S VPN Gateway for VPC
- Create S2S VPN connection for the VPC
- Create ACL List for VPC
- Internal LB - list, assign, delete start/stop

[2019-11-22 22:48] #5 closed

[2019-11-23 09:16] rhtyd commented on #28
PR here https://github.com/apache/cloudstack-primate/pull/38

[2019-11-23 09:16] #28 closed

[2019-11-23 11:40] rhtyd commented on #26
Related for reference: https://github.com/apache/cloudstack-primate/pull/38

[2019-11-25 01:21] #29 closed

[2019-11-25 01:21] rhtyd commented on #29
Fixed in e82f401d83a6d37c44d4310b35e4ec2b6d6e8278

    config: action args remapping framework

    This implements actions args remapping framework which allows developers
    to specify how to provide/show args to the user/admin or how to override
    based on the resource by means of (a) `value(record)` function, (b)
    statically defined `api` name, (c) `options` array.

    For example, in t

[2019-11-25 10:06] svenvogel commented on #27
Hi @rhtyd, my college Hoang Nguyen @utchoang will look in this task. Give him some time to come into the  topic.

[2019-11-25 10:59] rhtyd opened #39 "Add LDAP Account Form"
Add custom form under IAM->Account->Add LDAP account (in old UI, this is at: UI->Account->Add Ldap account button).

- Call the `listLdapUsers` with listtype=new to get list of LDAP accounts and show in the action form
- Call the `ldapCreateAccount` to create account based on listed account (see screenshot), if LDAP group is specified call the `importLdapUsers` API instead of `ldapCreateAccount`
-

[2019-11-25 12:08] DaanHoogland commented on #39
@rhtyd you need/want my involvement on these?

[2019-11-25 17:55] rhtyd commented on #27
Sure, thanks for sharing @svenvogel let me know if you or @utchoang needs any assistance. I'll update tickets with details in coming days.

[2019-11-25 18:03] rhtyd commented on #39
Hi @DaanHoogland yes it would be great, let's discuss tomorrow?

[2019-11-26 17:44] #4 closed

[2019-11-26 17:48] #30 closed

[2019-11-26 18:05] rhtyd opened #40 "Misc Snapshot Actions"
Fixed, closable.

[2019-11-26 18:06] rhtyd opened #41 "Project View and Actions"
Projects:
- [x] Project view and Project dashboard
- [x] Projects: delete/list project accounts etc.
- [x] Project invitations: list/delete/update

[2019-11-26 18:08] rhtyd opened #42 "Pod View and Actions"
Pods:
- [ ] add/list/remove vlanip ranges
- [ ] Dedicated Guest VLAN ip ranges etc.

[2019-11-26 18:08] rhtyd opened #43 "Host HA and OOBM actions"
Check oobm/host-ha config action buttons and configs, across zone, cluster and host.

[2019-11-26 18:09] rhtyd opened #44 "Primary Storage Actions"
Storage:
- [ ] Add primary storage
- [ ] list storage tags, storage providers etc.

[2019-11-26 18:11] rhtyd commented on #3
Split and moved to other tickets.

[2019-11-26 18:11] #3 closed

[2019-11-26 18:16] rhtyd opened #45 "Roles Actions"
- [ ] Role permissions: list, update, create, delete, order

Suggestive components:
https://www.antdv.com/components/input/
https://www.antdv.com/components/auto-complete/
https://www.antdv.com/components/select/

Note: this may need some draggable component to move items around to update the permissions list. Refer https://www.antdv.com/components/tree/#components-tree-demo-draggable for example,

[2019-11-26 18:17] rhtyd opened #46 "Account Certs Tab"
Add a new Certificates tab in the account detail view, it should support apis to list/add/delete (listSslCerts, uploadSslCert, deleteSslCert)

Reference screenshot from old UI:

![Screenshot from 2019-12-03 22-34-45](https://user-images.githubusercontent.com/95203/70072589-4a9eb880-161d-11ea-98f7-c49caaa4e68f.png)
![Screenshot from 2019-12-03 22-34-52](https://user-images.githubusercontent.com/952

[2019-11-26 18:25] rhtyd opened #47 "Add Network Form"
Add network custom form for:
- [ ] Isolated network
- [ ] L2 network
- [ ] Shared network

[2019-11-26 18:27] rhtyd opened #48 "WIP - VPN actions"
Misc: DO NOT start, needs review
- [ ] VPN user add/remove form (handle errors?)
- [ ] Remote access vpn configure/managemnet

[2019-11-26 18:27] rhtyd opened #49 "SG Ingress & Egress rules management tab"
- [x] Security groups ingress rules management tabs
- [x] Security groups egress rules management tabs

![Screenshot from 2019-12-19 08-39-53](https://user-images.githubusercontent.com/95203/71141785-48eb0c80-223b-11ea-8060-99fac6252a95.png)
![Screenshot from 2019-12-19 08-40-00](https://user-images.githubusercontent.com/95203/71141786-48eb0c80-223b-11ea-8819-c35ca6c196ff.png)

[2019-11-26 18:36] rhtyd opened #50 "Register ISO Action"
- [x] ISO register with multi-zone by URL

![Screenshot from 2019-12-24 14-43-57](https://user-images.githubusercontent.com/95203/71405612-fb680880-265b-11ea-8110-2d6502dc805f.png)

[2019-11-26 18:38] rhtyd opened #51 "Show Password after deploying VM"
On VM deployment show message with new password. This works for VM start and VM reset already.

[2019-12-02 14:55] rhtyd commented on #41
I'll update the requirements/screenshots and details on this issue this week soon.

[2019-12-02 14:55] rhtyd commented on #46
I'll update the requirements/screenshots and details on this issue this week soon.

[2019-12-02 14:56] rhtyd commented on #49
Hi @GabrielBrascher I think this could be a quick one to implement, I'll ping you on few others that you may pick/choose with some examples/boilerplate code and hints so you can be productive quickly. (this week asap)

[2019-12-03 14:41] svenvogel commented on #46
old view

![image](https://user-images.githubusercontent.com/5433844/70060676-4b1a5d80-15e3-11ea-9e9a-4854420ae345.png)

[2019-12-03 17:09] rhtyd commented on #46
@svenvogel no, not that. The SSH keypair is already implemented and is under the compute navigation group now. I've updated the ticket with details now.

[2019-12-03 17:22] rhtyd commented on #46
Once this issue's PR is up, I'll add details on https://github.com/apache/cloudstack-primate/issues/41

[2019-12-04 06:29] rhtyd commented on #45
PR link https://github.com/shapeblue/cloudstack-primate/pull/1

[2019-12-05 21:52] #45 closed

[2019-12-06 19:22] #33 closed

[2019-12-06 19:27] rhtyd opened #56 "VM Migration Action form"
Implement two custom VM migration action buttons for:
- [x] VM migration form/wizard (with host suitability etc using findHostsForMigration API)

Screenshot from old UI:
![Screenshot from 2019-12-07 00-55-40](https://user-images.githubusercontent.com/95203/70350298-7a9fc300-188c-11ea-9b0f-943e26fdbe66.png)

Example boilterplate to define an action: https://github.com/apache/cloudstack-primate/comm

[2019-12-06 19:28] rhtyd opened #57 "VM assign to other account/project/domain"
- [ ] VM assignment to other account/project/user in a domain etc.
API: assignVirtualMachine
![Screenshot from 2019-12-07 00-58-11](https://user-images.githubusercontent.com/95203/70350379-a7ec7100-188c-11ea-80aa-d5accaded2fb.png)

[2019-12-06 19:31] rhtyd opened #58 "VM Hardware: NICs and IPs management"
For the VM's NIC hardware component where we show the NICs, implement the following:
- [x] Add network to VM
- [x] Change IP address of NIC
- [x] Edit/add secondary IPs for the NIC
- [x] Set nic to default
- [x] Remove NIC from VM

![Screenshot from 2019-12-07 00-59-51](https://user-images.githubusercontent.com/95203/70350587-0154a000-188d-11ea-89da-9f737c4fa985.png)

VM can have more than one nic

[2019-12-06 19:31] #34 closed

[2019-12-06 20:25] #27 closed

[2019-12-06 20:28] rhtyd opened #59 "SAML Actions"
- [ ] SAML: authentication (login/logout), switch saml account, list and authorise saml on users, list Idps on login page

[2019-12-06 20:29] rhtyd opened #60 "Cluster Actions"
Clusters:
- [ ]  Add cluster
- [ ]  list/add dedicated cluster

[2019-12-09 02:15] utchoang commented on #46
@rhtyd @svenvogel
This is the UI I sketched for accounts.
Could you please review and give me your comments, especially for the group of domains
![account_tree](https://user-images.githubusercontent.com/13766648/70402010-7d551080-1a64-11ea-94b4-6f20b7f585d5.png)

[2019-12-09 07:52] svenvogel commented on #46
@rhtyd do you mean your pictures? we need to add the new certs tab right?

[2019-12-09 09:16] rhtyd commented on #46
@utchoang - no need for this as we've got your tree-based domain PR merged. What we want with this ticket is to allow users to upload certificates to their accounts. See the original issue description: https://github.com/apache/cloudstack-primate/issues/46#issue-528894680

[2019-12-09 09:17] rhtyd opened #61 "B&R View and Actions"
Support backup and recovery feature in Primate:
- offerings related actions and list view
- backup lifecycle actions
- backup schedule actions/views

[2019-12-09 09:21] utchoang commented on #46
@rhtyd I got it, then I will move to the cert tab

[2019-12-09 09:23] rhtyd opened #62 "Custom Upload Action - Template, ISO, volume"
- [ ] Volume file upload
- [ ] Template file upload
- [ ] ISO file upload

Implement file uploading mechanism, the pattern is same for volume, template and isos. For example from old UI, for volume, template, iso:

![Screenshot from 2019-12-09 14-52-41](https://user-images.githubusercontent.com/95203/70423497-9aed9e80-1a93-11ea-8174-0028bec74415.png)

![Screenshot from 2019-12-24 14-58-07](https:/

[2019-12-10 06:55] utchoang commented on #46
@rhtyd @svenvogel
- Please review the UI for certificate tab and let me know your comments.
![certificate](https://user-images.githubusercontent.com/13766648/70502884-9b01a300-1b54-11ea-929b-2a8208a55e18.png)

- In the form for adding certificate, I cannot add a new one and show the list as there are some info missing such as Certificate and Private Key
![add_cert](https://user-images.githubuserco

[2019-12-10 09:37] rhtyd commented on #26
Fixed in https://github.com/apache/cloudstack-primate/pull/63

[2019-12-10 09:37] #26 closed

[2019-12-10 10:37] rhtyd commented on #46
Send a PR @utchoang I can see/review what the issue is

[2019-12-10 20:52] #61 closed

[2019-12-11 09:24] svenvogel commented on #41
@rhtyd @utchoang will proceed with this task. do you have some more information?

[2019-12-11 09:26] rhtyd commented on #41
I can more details in the next 1-2 hours, basically we want all the project tabs/features as in the old UI @svenvogel

[2019-12-11 17:24] #46 closed

[2019-12-11 17:36] rhtyd commented on #58
I've updated the screenshot and actions list, please check ^^ @RitchieVincent

[2019-12-11 17:39] RitchieVincent commented on #58
👍  Luckily I haven't started this task yet, nearly finished #57 and then I'll move on to this one.

[2019-12-12 00:17] rhtyd commented on #56
Fixed

[2019-12-12 00:17] #56 closed

[2019-12-12 11:40] gsirett opened #68 "Cannot login in MS Edge Browser"
Trying to login in MS Edge, gives "login failed"

[2019-12-12 21:56] andrijapanicsb commented on #68
seems fixed atm.

[2019-12-14 15:29] rhtyd commented on #57
Fixed in https://github.com/apache/cloudstack-primate/pull/69

[2019-12-14 15:29] #57 closed

[2019-12-14 15:49] rhtyd opened #70 "Volume Storage Migration"
Similar to VM migration form, this should implement a volume migration form that uses:
- findStoragePoolsForMigration to find suitable storage pools for volume migrations when Volumes are attached to a VM
- If volume is not attached to a virtualmachine, call listStoragePools to find list of available pools for the dropdown

![Screenshot from 2019-12-14 21-14-14](https://user-images.githubuserconte

[2019-12-16 04:26] utchoang commented on #41
1. Please find my suggested UI for Project Accounts and Project Invitations. I'd like to have your comments.
![project_1](https://user-images.githubusercontent.com/13766648/70879100-b8bc8580-1ff6-11ea-843e-17a3dda57aee.png)
![project_2](https://user-images.githubusercontent.com/13766648/70879101-bb1edf80-1ff6-11ea-96e3-c20ed09433b9.png)

2. Could you please explain how permissions to view Project

[2019-12-16 10:21] rhtyd commented on #70
@RitchieVincent old code/example: https://github.com/apache/cloudstack/blob/master/ui/scripts/storage.js#L148

[2019-12-16 15:39] rhtyd commented on #41
Hi @utchoang cc @svenvogel - thanks for the screenshots.

1. The accounts tab looks good to me and the pagination as well. The project level action/button to add user to a project also looks good. However, the invitation needs to be implemented as a different top-level view (or maybe in additional to the tab) because a user who will get a project invitation won't be able to see the tab or invitati

[2019-12-17 06:41] utchoang commented on #41
Hi @rhtyd
Regarding to (1), I understand that there is no Invitation tab in project. Am I correct? In the old UI, I noticed that this tab is available to show users who are invited to a project
![project_invitations](https://user-images.githubusercontent.com/13766648/70971142-d7904a00-20d2-11ea-84bd-ba4ea9ce7d0c.png)

[2019-12-18 08:50] rhtyd opened #74 "Guest network: Egress rules tab"
Add tab for the guest network (isolated network only, check `resource.type === 'Isolated'` or `record.service.filter(x => x.name && ['Firewall'].includes(x.name)).length > 0` in config/tab::show()). Add feature within the tab to add/list/delete an egress network rule:

![Screenshot from 2019-12-18 14-17-28](https://user-images.githubusercontent.com/95203/71070745-6cfa0f80-21a1-11ea-9b15-e5afe1d8ec

[2019-12-18 08:56] rhtyd opened #75 "Guest Network: Firewall Tab"
Add firewall tab to IPs belonging to an isolated network, or network with Firewall capability added. Implement a tab component that can add/remove/list firewall rules.

In old UI, go to any isolated network -> view IP addresses -> select an IP -> go to config tab -> firewall.

![Screenshot from 2019-12-18 14-24-35](https://user-images.githubusercontent.com/95203/71071270-4a1c2b00-21a2-11ea-8f73-08

[2019-12-18 08:58] rhtyd opened #76 "Guest Network: Port Forwarding Tab"
Add port forwarding tab to IPs belonging to an isolated network, or network with port-forwarding capability added. Implement a tab component that can add/remove/list port-forwarding rules.

In old UI, go to any isolated network -> view IP addresses -> select an IP -> go to config tab -> port forwarding.

![Screenshot from 2019-12-18 14-24-35](https://user-images.githubusercontent.com/95203/7107127

[2019-12-18 09:01] rhtyd opened #77 "Guest Network: LB tab"
Add load-balancer tab to IPs belonging to an isolated network, or network with Lb capability added. Implement a tab component that can add/update/remove/list lb rules.

In old UI, go to any isolated network -> view IP addresses -> select an IP -> go to config tab -> Load balancing.

![Screenshot from 2019-12-18 14-24-35](https://user-images.githubusercontent.com/95203/71071270-4a1c2b00-21a2-11ea-8

[2019-12-18 09:26] rhtyd commented on #75
You can query listNetworks using the `record.associatednetworkid` to find out if the capability exists, for example to check if Firewall needs to be shown you can do check this in the network record as: `record.service.filter(x => x.name && ['Firewall'].includes(x.name)).length > 0`.

[2019-12-18 09:26] rhtyd commented on #76
You can query listNetworks using the `record.associatednetworkid` to find out if the capability exists, for example to check if Firewall needs to be shown you can do check this in the network record as: `record.service.filter(x => x.name && ['PortForwarding'].includes(x.name)).length > 0`.

[2019-12-18 09:26] rhtyd commented on #77
You can query listNetworks using the `record.associatednetworkid` to find out if the capability exists, for example to check if Firewall needs to be shown you can do check this in the network record as: `record.service.filter(x => x.name && ['Lb'].includes(x.name)).length > 0`.

[2019-12-18 10:31] rhtyd commented on #77
Stickiness and SSL cert button/options can be done at a later stage.

[2019-12-18 12:00] #70 closed

[2019-12-19 02:55] rhtyd commented on #58
Fixed in #71

[2019-12-19 02:55] #58 closed

[2019-12-19 03:11] rhtyd commented on #49
@RitchieVincent it's similar to other network tab components, after you're done with other please take this one as well.

[2019-12-20 00:01] #35 closed

[2019-12-20 10:55] rhtyd opened #81 "CloudStack logo needs padding"
CloudStack logo does not have any paddings/margins

[2019-12-20 10:56] rhtyd opened #82 "Review Primate Resource View Styling and Layout"
With resource view layout of VM, could it use any improvement.

[2019-12-20 12:02] rhtyd opened #83 "Detect and only notify admin to restart mgmt server depending if setting needs it"
Refer:
https://github.com/apache/cloudstack/pull/3729

[2019-12-24 09:16] rhtyd opened #85 "Template Permission Action"
- [x]  Update template permissions (share with template/project etc)

![Screenshot from 2019-12-24 14-46-17](https://user-images.githubusercontent.com/95203/71405684-29e5e380-265c-11ea-8b58-459434cc0dbf.png)

[2019-12-24 09:17] rhtyd opened #86 "Register Template Action"
Register template form by URL, allows multi-zone selection. Various options by hypervisor (such as disk/nic controllers etc):

![Screenshot from 2019-12-24 14-44-40](https://user-images.githubusercontent.com/95203/71405749-4da92980-265c-11ea-8dd9-d163b4959679.png)

[2019-12-24 09:20] rhtyd commented on #85
@utchoang /cc @svenvogel could you pick this one up as the next task. Let me know if you've any question.

[2019-12-24 09:20] rhtyd commented on #50
@utchoang /cc @svenvogel could you pick this one up as the next task. Let me know if you've any question.

[2019-12-24 09:21] rhtyd commented on #86
@utchoang /cc @svenvogel could you pick this one up as the next task. Let me know if you've any question. For example on how to add a custom action form, you can see: https://github.com/apache/cloudstack-primate/pull/69/files

[2019-12-24 09:21] rhtyd commented on #85
For example on how to add a custom action form, you can see: https://github.com/apache/cloudstack-primate/pull/69/files

[2019-12-24 09:21] rhtyd commented on #50
For example on how to add a custom action form, you can see: https://github.com/apache/cloudstack-primate/pull/69/files

[2019-12-24 09:23] rhtyd opened #87 "Take Volume Snapshot Action"
Implement take snapshot custom action form:

![Screenshot from 2019-12-24 14-52-58](https://user-images.githubusercontent.com/95203/71406070-230ba080-265d-11ea-8e9d-ccea27d385c4.png)

Example on how to add a custom action form, you can see: https://github.com/apache/cloudstack-primate/pull/69/files

[2019-12-24 09:24] utchoang commented on #85
@rhtyd cc @svenvogel I got it, I'll send you any question if any

[2019-12-24 09:25] rhtyd opened #88 "Recurring Volume Snapshot Custom Action Form"
Implement recurring volume snapshot custom action form with tags (snapshot policies - create/update/list/delete):

![Screenshot from 2019-12-24 14-54-14](https://user-images.githubusercontent.com/95203/71406125-52221200-265d-11ea-8443-b5dfbd0f4d6d.png)

Example on how to add a custom action form, you can see: https://github.com/apache/cloudstack-primate/pull/69/files

[2019-12-24 09:30] rhtyd commented on #87
@utchoang cc @svenvogel tagged for next tasks to consider. Thanks.

[2019-12-24 09:30] rhtyd commented on #88
@utchoang cc @svenvogel tagged for next tasks to consider. Thanks.

[2019-12-24 09:30] rhtyd commented on #62
@utchoang cc @svenvogel tagged for next tasks to consider. Thanks.

[2019-12-24 12:37] svenvogel commented on #62
@utchoang lets start with this issue.

[2019-12-25 08:15] utchoang commented on #62
@rhtyd cc @svenvogel I would like to ask if it is to change the uploading mechanism only, or to create a form similar to the old UI for volumn, template and isos?

[2019-12-25 11:21] svenvogel commented on #62
@utchoang i think the complete form. is this correct @rhtyd?

[2019-12-25 15:59] rhtyd commented on #62
@utchoang @svenvogel it needs to be the full form with the upload button/component, as in the old UI. I advise you to start with the simpler task of #50 and #86 and reuse that form with the upload iso/template form (this ticket). By doing this you can get a feel for the action form and reuse parts of it in the upload iso/template form. What do you think @svenvogel ?

[2019-12-25 19:43] #41 closed

[2019-12-26 08:26] utchoang commented on #50
@rhtyd cc @svenvogel
I would like to have clarification for "multi-zone". Is it to either:
1. Select multiple options?
![zone1](https://user-images.githubusercontent.com/13766648/71467027-05bd0a80-27f4-11ea-903c-c4c6ea545e55.png)

Or
2. Select option "All zones"?
![zone2](https://user-images.githubusercontent.com/13766648/71467037-0a81be80-27f4-11ea-8734-1f982e2b3f6c.png)

As far as I can see, api

[2019-12-26 11:53] svenvogel commented on #62
@utchoang i think like @rhtyd. if its better in the other way to start i would recommend to do that. you feel free to start here 😄

[2019-12-26 12:23] svenvogel commented on #50
@utchoang @rhtyd what do you think?

i would prefer this one?

![image](https://user-images.githubusercontent.com/5433844/71475894-a3a7d980-27e2-11ea-8898-d368228a3ced.png)

Question: if we select "like the old ui" "All Zone" and an additional zone whats happen?

[2019-12-26 13:54] rhtyd commented on #50
For multi-zone select, that looks good. We'll need to check if for this zone multi zone should be allowed, check the API?

[2019-12-26 13:59] svenvogel commented on #50
@rhtyd what i see is that we only have a zoneid which is required.
![image](https://user-images.githubusercontent.com/5433844/71478476-2e430580-27f0-11ea-9541-3e4432090ee8.png)
you mean we need to check if more than one selected or "All Zones" we have different API calls. Right?

[2019-12-26 15:08] rhtyd commented on #50
Okay, so in case of ISOs we only take a single zoneid or for all zones pass some magic number (like zoneid=-1, this can be checked against old UI).

[2019-12-26 15:32] svenvogel commented on #50
@rhtyd okay sounds good. @utchoang should that help you?

[2019-12-27 00:53] utchoang commented on #50
@rhtyd @svenvogel OK. I understood

[2019-12-30 07:51] rhtyd commented on #85
Are you working on this @utchoang? If not may I assign it to someone else?

[2019-12-30 07:54] utchoang commented on #85
@rhtyd Yes, I am working this task.

[2019-12-30 07:55] rhtyd commented on #85
Okay, I'll find another ticket to assign to a colleague.

On Mon, 30 Dec, 2019, 1:24 pm Hoang Nguyen, <notifications@github.com>
wrote:

[2019-12-30 07:55] utchoang commented on #85
No, I am working this task https://github.com/apache/cloudstack-primate/issues/86

[2019-12-30 08:00] rhtyd commented on #85
Okay @utchoang don't work on this task then, I'll assign it to a colleague.

[2019-12-30 08:07] rhtyd opened #90 "Add VPN gateway action form"
See old UI's add vpn gateway form. This may require a vpc to be setup, however, api validation is enough.

[2019-12-31 12:09] rhtyd opened #91 "Update Offering Access Action (domain/zone)"
Implement a general re-usable action form/component for changing the domain/zone access for offerings.

[2019-12-31 12:10] rhtyd commented on #91
cc @shwstppr

[2020-01-03 01:42] #50 closed

[2020-01-03 02:46] #40 closed

[2020-01-03 02:47] rhtyd commented on #81
Padded by few pixels now
![Screenshot from 2020-01-03 08-17-24](https://user-images.githubusercontent.com/95203/71704644-80dc7d00-2e01-11ea-91d2-bfec003bc2cf.png)

[2020-01-03 02:47] #81 closed

[2020-01-03 02:48] rhtyd commented on #68
Couldn't confirm, let's revisit this the next time it happens. We'll need details of MS Edge version etc.

[2020-01-03 02:48] #68 closed

[2020-01-03 02:56] rhtyd opened #93 "Guest Network: VPN tab"
- Show response details on enable remote access VPN for isolated/guest network:
![Screenshot from 2020-01-03 08-21-12](https://user-images.githubusercontent.com/95203/71704749-360f3500-2e02-11ea-9f8e-252ed4106485.png)
- VPN tab to display remote access VPN details:
![Screenshot from 2020-01-03 08-23-03](https://user-images.githubusercontent.com/95203/71704764-4d4e2280-2e02-11ea-93a4-ca7ee7e84646.p

[2020-01-03 02:57] rhtyd commented on #93
@RitchieVincent once you're done with the current guest network tasks, this is another guest-network related task.

[2020-01-03 02:57] rhtyd commented on #48
New tickets created, let's close this.

[2020-01-03 02:57] #48 closed

[2020-01-06 09:47] rhtyd commented on #82
@RitchieVincent ping

[2020-01-07 02:42] utchoang commented on #62
@rhtyd cc @svenvogel When I'm uploading volume from local for a test using file .qcow2, I get the following error message: "Failed to upload file due to system misconfiguration. Please contact admin."

![Screenshot_6](https://user-images.githubusercontent.com/13766648/71864291-09c12480-3132-11ea-859f-90a9b9128f05.jpg)
![Screenshot_5](https://user-images.githubusercontent.com/13766648/71864295-0cbc

[2020-01-07 03:50] rhtyd commented on #62
@utchoang this is a tricky one as it requires an environment that can access SSVM public IP to upload the file, the reference/test server (acs.shapeblue.com) on port-forwards to the management server so you won't be able to access the internal ssvm public IP. The other issue is that this features requires the environment to be SSL enabled as the URL returned by the getUploadParamsForTemplate API i

[2020-01-07 03:51] rhtyd commented on #87
Ping @utchoang - you may pick this one. cc @svenvogel

[2020-01-07 03:51] rhtyd commented on #88
Ping @utchoang - you may pick this one. cc @svenvogel

[2020-01-07 03:58] utchoang commented on #88
@rhtyd cc @svenvogel  OK. I'll working with this task. Thank you.

[2020-01-07 15:32] svenvogel commented on #62
@rhtyd sounds good. Let’s change to the suggestion from you.

__

Sven Vogel
Teamlead Platform

EWERK DIGITAL GmbH
Brühl 24, D-04109 Leipzig
P +49 341 42649 - 99
F +49 341 42649 - 98
S.Vogel@ewerk.com
www.ewerk.com

Geschäftsführer:
Dr. Erik Wende, Hendrik Schubert, Frank Richter
Registergericht: Leipzig HRB 9065

Support:
+49 341 42649 555

Zertifiziert nach:
ISO/IEC 27001:2013
DIN EN ISO 9001:20

[2020-01-09 07:02] #91 closed

[2020-01-09 09:11] rhtyd commented on #85
Merged in #96

[2020-01-09 09:11] #85 closed

[2020-01-10 05:15] rhtyd commented on #49
Fixed

[2020-01-10 05:15] #49 closed

[2020-01-10 05:21] rhtyd opened #101 "Add Template and ISO Zones tab"
Implement a basic Zones tab for both template and ISO resource view (tabular listing only, no need to show its zone-specific detail view as it will be redundant of the template/ISO detail view).

Example, zone tab for ISO:
![Screenshot from 2020-01-10 10-50-20](https://user-images.githubusercontent.com/95203/72127929-27db8e80-3397-11ea-997d-6239f8f6e4bb.png)

Example, zone tab for template:
![Scre

[2020-01-10 05:23] rhtyd commented on #101
@utchoang - this is related to other template/iso tasks. The task is to simply add a zones tab that lists the template/ISO status per zone. Can you pick this up next? cc @svenvogel

[2020-01-10 06:09] rhtyd commented on #90
Fixed in #98

[2020-01-10 06:09] #90 closed

[2020-01-13 04:16] rhtyd commented on #87
Ping @utchoang I'm reviewing your other PRs, maybe you can pick this one next.

[2020-01-14 05:40] rhtyd commented on #93
Handled in https://github.com/apache/cloudstack-primate/pull/84

[2020-01-14 05:40] #93 closed

[2020-01-14 05:40] rhtyd commented on #77
Handled in https://github.com/apache/cloudstack-primate/pull/84

[2020-01-14 05:40] #77 closed

[2020-01-14 05:40] rhtyd commented on #76
Handled in https://github.com/apache/cloudstack-primate/pull/84

[2020-01-14 05:40] #76 closed

[2020-01-14 05:40] rhtyd commented on #75
Handled in https://github.com/apache/cloudstack-primate/pull/84

[2020-01-14 05:40] #75 closed

[2020-01-14 05:40] rhtyd commented on #74
Handled in https://github.com/apache/cloudstack-primate/pull/84

[2020-01-14 05:40] #74 closed

[2020-01-14 09:16] #101 closed

[2020-01-14 09:17] rhtyd commented on #86
PR added, closing this.

[2020-01-14 09:17] #86 closed

[2020-01-14 09:17] rhtyd commented on #88
PR added, closing this.

[2020-01-14 09:17] #88 closed

[2020-01-14 10:04] rhtyd opened #105 "Dedicate Resource to an Account"
Add forms in zone, pod, cluster, host to:

- Tab/Form to dedicate that zone/pod/cluster/host to an account by selecting the domain and the account
- List and display either tab or section in details to say whether the resource (zone/pod/cluster/host) is dedicated to an account/domain
- If the resource is not dedicated show the dedicate button, otherwise show button to release the dedicated resourc

[2020-01-14 10:06] #60 closed

[2020-01-14 10:07] rhtyd opened #106 "Low Priority: Add pod, cluster, host forms with option to dedicate that resource"
Create add/create forms for pod, cluster, host with option to dedicate the resource to an account/domain.

[2020-01-14 10:35] rhtyd opened #107 "Add Cluster form"
Add cluster form.
Old UI->Infrastructure->Cluster -> Add.

[2020-01-14 10:40] rhtyd opened #108 "Add Host Form"
Add host form:
Old UI-> Infra tab -> Host tab -> Add host button
![Screenshot from 2020-01-14 16-08-34](https://user-images.githubusercontent.com/95203/72337280-54214300-36e8-11ea-9ab2-a98ff877369c.png)

[2020-01-15 07:25] #25 closed

[2020-01-15 07:26] rhtyd commented on #87
PR is here https://github.com/apache/cloudstack-primate/pull/109

[2020-01-15 07:26] #87 closed

[2020-01-15 07:28] rhtyd commented on #62
@utchoang will you be able to work on it? Otherwise you may also have a look at:
https://github.com/apache/cloudstack-primate/issues/39 (I can explain in detail, as it will a slightly complex task requiring some ldap setup)

[2020-01-15 08:14] rhtyd commented on #39
@utchoang cc @svenvogel - I've added documentation on this task and configured LDAP server/config on the acs.shapeblue.com server that you can use to build this feature now. Let me know if you've any questions.

[2020-01-15 09:49] DaanHoogland opened #112 "[FEATURE] new ldap functionality"
changes to the accountWizard since 4.14:
<img width="850" alt="Screenshot 2020-01-15 at 10 30 36" src="https://user-images.githubusercontent.com/2486961/72423233-33a6c680-3784-11ea-92f1-de26dea4c67f.png">

a filter dropdown and a column for the source of a possible conflict

TBD

**Additional context**
LDAP has different levels of integration. all of which are readonly from a cloudstack point of v

[2020-01-15 10:04] DaanHoogland commented on #112
this seems to be doubling #39
note also that the add ldap configuration and ldap configuration list overview are not yet fully functional for this domain level binding:

<img width="988" alt="image" src="https://user-images.githubusercontent.com/2486961/72424728-ba5ca300-3786-11ea-8a4b-ce9d8533635f.png">

[2020-01-15 10:09] rhtyd commented on #112
Thanks @DaanHoogland we've the add ldap config form added (but yes without the domainid option)

[2020-01-15 10:15] DaanHoogland commented on #112
ok, @rhtyd yet another thing came to mind. there is no ui part for this now, but the truststores might need some consideration as well ;)

[2020-01-17 03:40] utchoang commented on #39
@rhtyd cc @svenvogel As I can see from https://github.com/apache/cloudstack/blob/master/ui/scripts/accountsWizard.js#L171 there are two fields named samIEnable and samIEntity. But there is none of them on the UI. Is there any special condition for these two fields?

[2020-01-17 03:48] rhtyd commented on #39
@utchoang yes, there is a SAML (a single-sign on feature) integration in the old UI. Maybe ignore/hold those logic/porting changes for now, let's revisit adding SAML support in future, for now you may keep it specific to LDAP only.

[2020-01-17 04:44] rhtyd opened #115 "Enable static NAT for VM form"
UI->Network->IP->select an IP that is not source-nat -> select button to enable static NAT for a VM:

![Screenshot from 2020-01-17 10-12-02](https://user-images.githubusercontent.com/95203/72584928-fff9a700-3911-11ea-97eb-b1e3d0a2a5b7.png)

This is currently implemented using auto-generated form, but doesn't allow specifying of IPs of the VM:
![Screenshot from 2020-01-17 10-13-01](https://user-ima

[2020-01-17 04:45] rhtyd commented on #115
@RitchieVincent kindly pick this one up next after the add pod/cluster/host form. Thanks.

[2020-01-20 07:01] rhtyd opened #117 "Add Secondary Storage Form"
UI->Secondary Storage->Add form

![Screenshot from 2020-01-20 12-30-23](https://user-images.githubusercontent.com/95203/72705164-ba8ee100-3b80-11ea-87e5-2eeaf02a5b00.png)

Old UI code for reference:

https://github.com/apache/cloudstack/blob/master/ui/scripts/zoneWizard.js#L4562

[2020-01-20 07:01] rhtyd commented on #117
@Pearl1594 can you pick this up?

[2020-01-20 09:54] rhtyd commented on #62
@utchoang I guess you can pick this one next, thanks.

[2020-01-20 09:57] rhtyd commented on #39
PR opened https://github.com/apache/cloudstack-primate/pull/116

[2020-01-20 09:57] #39 closed

[2020-01-20 09:59] rhtyd commented on #117
Assigned to Pearl.

[2020-01-20 10:39] rhtyd commented on #108
Only to support: VMware, XenServer, KVM... Ovm3/Ovm...
Old UI refs:
https://github.com/apache/cloudstack/blob/master/ui/scripts/zoneWizard.js#L4372
https://raw.githubusercontent.com/apache/cloudstack/master/ui/scripts/system.js (search for addHost)

[2020-01-20 10:40] rhtyd opened #118 "Add Pod form with dedicated option"
UI->Infra->Pod-> Add Pod form

See https://github.com/apache/cloudstack-primate/issues/106

[2020-01-20 10:41] rhtyd commented on #115
MigrateVM...

[2020-01-21 09:13] rhtyd commented on #36
Close, to be done in/after 4.15

[2020-01-21 09:13] #36 closed

[2020-01-21 09:44] rhtyd commented on #115
PR here https://github.com/apache/cloudstack-primate/pull/119

[2020-01-21 09:44] #115 closed

[2020-01-21 09:45] rhtyd commented on #62
@utchoang are you able to work on it next? Thanks.

[2020-01-21 09:46] rhtyd commented on #47
PR https://github.com/apache/cloudstack-primate/pull/111

[2020-01-21 09:46] #47 closed

[2020-01-21 09:51] rhtyd opened #120 "VMware DC Tab in Zone View"
Add button in the Infra->Zone view to list/add/remove VMware datacenter to a zone:
![Screenshot from 2020-01-21 15-17-56](https://user-images.githubusercontent.com/95203/72794148-863f2180-3c61-11ea-96df-9273e05206ac.png)
![Screenshot from 2020-01-21 15-19-54](https://user-images.githubusercontent.com/95203/72794151-86d7b800-3c61-11ea-89de-0926938eccc3.png)

Add VMware Tab in UI->Infra->Zones to:
-

[2020-01-21 10:36] rhtyd commented on #120
@RitchieVincent ^^

[2020-01-21 10:38] rhtyd commented on #120
As discussed, perhaps instead of a tab; implement the list parts in the DetailTab component using v-if (to check if we're in the zone view or not?); and the component on mounting can call the list vmware DC API and use `this.$set(...` to set whether the zone has a VMware dc or not; this can then be picked up by the autogen component to display the buttons+forms (less effort ftw!).

[2020-01-21 11:30] rhtyd commented on #112
Basic form merged now: https://github.com/apache/cloudstack-primate/pull/116
Future extension can be done on this, after technical preview milestone.

[2020-01-21 12:35] DaanHoogland commented on #112
did a quick test but i have some questions. the conflict column is not there.
Lert's discuss after tech preview, as said. i see these as a purely functional issue.

And it seems that domain settings for users are inherited (which is not true on the API, is it?)
This might have serious consequences for the way user-ids might be seen as conflicting.

[2020-01-22 08:23] rhtyd commented on #44
Example component: https://antdv.com/components/select/ for storage tags

[2020-01-22 08:27] rhtyd commented on #44
Assigned to @Pearl1594

[2020-01-22 08:48] #117 closed

[2020-01-22 08:49] rhtyd commented on #105
PR merged.

[2020-01-22 08:49] #105 closed

[2020-01-22 08:49] #106 closed

[2020-01-22 08:50] rhtyd commented on #107
PR received

[2020-01-22 08:50] #107 closed

[2020-01-22 08:50] rhtyd commented on #108
PR received

[2020-01-22 08:50] #108 closed

[2020-01-22 08:52] rhtyd commented on #118
PR received

[2020-01-22 08:52] #118 closed

[2020-01-22 10:46] rhtyd opened #125 "Zone Resource Capacity Tab"
UI->Infra->Zone -> select a zone -> Resources tab (as root admin)

![Screenshot from 2020-01-22 16-15-23](https://user-images.githubusercontent.com/95203/72887857-7cd1ba00-3d32-11ea-89d8-3c68d020ac22.png)

See `src/views/dashboard/CapacityDashboard.vue`, basically replicate the dashboard stats but in a verticle line-item format as the old UI.

[2020-01-22 10:53] rhtyd commented on #120
@RitchieVincent old UI code reference,
in this file: https://raw.githubusercontent.com/apache/cloudstack/master/ui/scripts/system.js
search for `updateVmwareDc`

[2020-01-23 04:54] rhtyd commented on #120
PR received https://github.com/apache/cloudstack-primate/pull/127

[2020-01-23 04:54] #120 closed

[2020-01-23 04:54] rhtyd commented on #125
PR received https://github.com/apache/cloudstack-primate/pull/128

[2020-01-23 04:54] #125 closed

[2020-01-23 04:57] rhtyd commented on #32
PR received https://github.com/apache/cloudstack-primate/pull/124

[2020-01-23 04:57] #32 closed

[2020-01-23 04:58] rhtyd commented on #44
PR received https://github.com/apache/cloudstack-primate/pull/126

[2020-01-23 04:58] #44 closed

[2020-01-23 04:59] #42 closed

[2020-01-23 09:56] rhtyd opened #129 "Dedicated VLAN/VNI Range Tab and Form"
Old UI: Infra->Zone -> select a zone -> phy network tab -> Guest -> see the last tab:

APIs: listDedicatedGuestVlanRanges, dedicateGuestVlanRange, releaseDedicatedGuestVlanRange

Use case: dedicate part of the VLAN range of the physical network to an account or a project; then list and remove it.

![Screenshot from 2020-01-23 15-22-15](https://user-images.githubusercontent.com/95203/72974219-a4895

[2020-01-23 10:52] rhtyd opened #130 "IP Ranges form component for Public, Management and Storage traffic types"
Old UI -> Infra -> Zones -> select dummy/advanced zone -> physical network -> select one of (Public, Management and Storage), see the last tab that allows management (list/add/remove) of IP ranges

Public: listVlanIpRanges
![Screenshot from 2020-01-23 16-18-36](https://user-images.githubusercontent.com/95203/72978227-0e592e80-3dfc-11ea-9220-67b3d1388d9b.png)

Management: listPods (to find pods of

[2020-01-23 10:52] rhtyd commented on #130
@RitchieVincent ^^

[2020-01-23 10:52] rhtyd commented on #129
@RitchieVincent ^^

[2020-01-23 12:09] #31 closed

[2020-01-24 08:43] #129 closed

[2020-01-27 07:57] rhtyd commented on #62
@utchoang cc @svenvogel  - any update/progress on this? If you're unable to work, please do share so I can assign it to someone else.

[2020-01-27 08:11] rhtyd commented on #43
Assigned to @Pearl1594 for review along with https://github.com/apache/cloudstack/pull/3834

[2020-01-27 10:32] rhtyd opened #132 "VPC: Network ACL List Management"
Implement network ACL list rules management tab (to create ACL rule, list, update/change order and delete...). Old UI -> network -> select VPC from dropdown -> select VPC to manage -> select ACL list (in router box on left) -> ACL list...

(In Primate, go to Network -> VPC -> View ACLs button on info card -> ACL list...)

![Screenshot from 2020-01-27 16-00-41](https://user-images.githubusercontent

[2020-01-27 10:33] rhtyd commented on #132
@RitchieVincent ^^

[2020-01-28 07:14] rhtyd opened #135 "VPC Router Tab: Implement List and Add Forms for each of the tabs"
Implement the list (tabular or item-wise) and add forms in Primate -> VPC -> select router tab:

![Screenshot from 2020-01-30 15-36-34](https://user-images.githubusercontent.com/95203/73439887-618c2d80-4376-11ea-9de9-d27d48a98aad.png)

Entities to be listed and added/acquired: private gateway, public IP, site-to-site VPN gateway, site-to-site VPN connections, network ACL list, virtual routers list

[2020-01-28 07:15] rhtyd opened #136 "VPC: Private Gateway Static Routes Tab"
Old UI -> Network -> Select VPC from drop down -> click configure -> select Private gateway on the left router box -> Select a private gateway -> Click Static Routes tab:

![Screenshot from 2020-01-28 12-44-17](https://user-images.githubusercontent.com/95203/73242837-0a4a5980-41cc-11ea-8f41-13043e838b76.png)

[2020-01-28 08:36] rhtyd opened #137 "Bug: For VPC Public IPs, allow selection of tier"
Old UI-> Network -> VPC -> public IPs -> select public IP that is not static-nat -> Select enable SNAT

For a public IP in VPC, allow selection of tier when enabling SNAT for a public IP:
![Screenshot from 2020-01-28 14-05-31](https://user-images.githubusercontent.com/95203/73247645-5b137f80-41d7-11ea-9e14-0f8353d2b165.png)

[2020-01-28 13:22] rhtyd commented on #136
@RitchieVincent ^^

[2020-01-28 13:22] rhtyd commented on #137
- On load, if public IP belong to a vpc (i.e. record.vpcid will be not null) then show the tiers/network select; and call the listNetworks API to get list of valid tiers/network:
![Screenshot from 2020-01-28 18-38-41](https://user-images.githubusercontent.com/95203/73267577-56fb5800-41ff-11ea-9764-73fa6b8444f1.png)

- On selection, call the list VMs API to list VMs belonging to a specific tier/net

[2020-01-30 01:38] utchoang commented on #62
@rhtyd cc @svenvogel I've taken a week off for holiday. I had informed Sven, and I should have kept you updated. I'm sorry for that.
I am back to work today. As discussed with Sven, I will pick up the task of iceteabottle. Please let me know which one is of higher priority to work on first.

[2020-01-30 05:40] rhtyd commented on #62
Assigned to @Pearl1594
Components that can be used:
https://www.antdv.com/components/upload/
https://www.antdv.com/components/radio/

Old code reference: https://github.com/apache/cloudstack/blob/master/ui/scripts/templates.js#L796
(notice how post is sent). Here's an example on how to use `axios` for file upload: https://serversideup.net/uploading-files-vuejs-axios/

Open SSVM public IP in a new

[2020-01-30 05:50] #43 closed

[2020-01-30 05:53] rhtyd commented on #130
PR is here

[2020-01-30 05:53] #130 closed

[2020-01-30 05:53] rhtyd commented on #136
PR here https://github.com/apache/cloudstack-primate/pull/139

[2020-01-30 05:53] #136 closed

[2020-01-30 05:53] rhtyd commented on #132
PR here https://github.com/apache/cloudstack-primate/pull/138

[2020-01-30 05:53] #132 closed

[2020-01-30 05:55] rhtyd commented on #62
@utchoang please carry on Florian's work of VM deployment wizard.

[2020-01-31 12:01] rhtyd opened #140 "VPC: Create Network/Tier form"
In Primate, goto VPC -> select the network tab -> click on the create network button. The task is to implement a form/modal that allows users to add a network tier to the VPC, like this in the old UI:

![Screenshot from 2020-01-31 17-25-52](https://user-images.githubusercontent.com/95203/73537770-4b05d500-444f-11ea-972f-2c818a3a2252.png)

[2020-01-31 12:02] rhtyd commented on #140
Add button stub in Primate:
![Screenshot from 2020-01-31 17-31-28](https://user-images.githubusercontent.com/95203/73537900-9fa95000-444f-11ea-916d-e0a677d51283.png)

[2020-01-31 16:42] rhtyd opened #141 "VPC: Add Internal LB form and Assign VM to LB rule form"
Old -> VPC -> Create network with internal LB, or select network tier where Internal LB button is enabled -> Add LB:

![Screenshot from 2020-01-31 22-10-00](https://user-images.githubusercontent.com/95203/73557076-9a133080-4476-11ea-85bc-9445420ede19.png)

Note: implement the Add LB form as a reusable form component (in case we want to move this within the tab), and allow passing the VPC id or res

[2020-01-31 16:44] rhtyd commented on #137
@RitchieVincent any update on this fix?

[2020-01-31 16:44] rhtyd commented on #140
@RitchieVincent please take this as the next task.

[2020-01-31 16:45] rhtyd commented on #135
@RitchieVincent please take this as the next task(s), send an early work-in-progress PR if possible.

[2020-01-31 16:45] rhtyd commented on #141
@RitchieVincent please take this as the next task.

[2020-02-03 12:15] rhtyd opened #142 "Pagination in action forms"
Implement pagination support in action forms where a group of hosts, or VMs are listed. In some cases the page size is set at 500, but in very large environments this could cause an issue

For example, VM migration form:
![Screenshot from 2020-02-03 17-44-53](https://user-images.githubusercontent.com/95203/73652432-f6f82c00-46ac-11ea-915a-09de6d6af593.png)

[2020-02-04 13:14] rhtyd opened #145 "UI Wide Implement a-table with pagination for possible a-list uses"
@RitchieVincent as discussed, it will be preferable to have `a-table` component (borderless) render a list of things than use `a-list` components. Pagination should also be implemented to allow users view when the list of resources exceeds the pagesize. See this example of pagination usage, how it's used for the default list views: https://github.com/apache/cloudstack-primate/blob/master/src/views

[2020-02-04 13:17] #142 closed

[2020-02-04 13:18] rhtyd commented on #135
PR received https://github.com/apache/cloudstack-primate/pull/143

[2020-02-04 13:18] #135 closed

[2020-02-05 06:51] rhtyd opened #147 "Guest Network: IP addresses and Router Tab"
Bugfix: Don't show egress tab for shared and l2 networks in the Guest Network view

Implement two tabs for the guest network view:

1. Public IP addresses tab: Button to acquire a public IP (optional: button also release it) Use `a-table` with pagination (see AutogenView as an example; components/view/ListView.vue component). Show only in case of isolated networks (or check old UI).

2. Router tab

[2020-02-05 06:51] rhtyd commented on #147
@Pearl1594 ^^

[2020-02-05 19:20] RitchieVincent commented on #137
@rhtyd PR submitted here: https://github.com/apache/cloudstack-primate/pull/149

[2020-02-06 07:39] #137 closed

[2020-02-06 09:47] rhtyd commented on #141
@RitchieVincent just do the assign form.

[2020-02-06 09:48] rhtyd commented on #145
Also https://github.com/apache/cloudstack-primate/pull/134

[2020-02-06 10:37] vladimirpetrov opened #150 "JS errors when trying to sort a column in a grid with missing data"
**Describe the bug**
If you try to sort by column and there is a missing element (IP or CPU usage, if the VM is stopped) in the grid, the following JS exception is thrown:

vue.runtime.esm.js?2b0e:619 [Vue warn]: Error in v-on handler: "TypeError: Cannot read property 'localeCompare' of undefined"

vue.runtime.esm.js?2b0e:1888 TypeError: Cannot read property 'localeCompare' of undefined
    at str

[2020-02-07 10:16] rhtyd commented on #141
Assigned to @Pearl1594
- Refactor the network tiers tab (src/views/network/VpcTiersTab.vue) to show a collapse of internal lb (and then do the same for public IPs --- snats, and VMs)
- In the collapse, have a add button that shows up a modal to create a resource (i.e. internal LB for the tier), and a-table with pagination and use router-link to navigate to the resource (i..e internal LB)
- Then a

[2020-02-07 11:40] #150 closed

[2020-02-08 14:09] #37 closed

[2020-02-08 14:13] #62 closed

[2020-02-08 14:14] #145 closed

[2020-02-08 14:15] #147 closed

[2020-02-11 10:55] rhtyd opened #155 "Infra: Network Services Providers Tab"
Implement basic network service providers tab for inbuilt network providers such as VPC router, VR, ILBVM, config drive, security groups etc. Each tab should show details of that NSP, with optional buttons/actions to enable/disable and configure them. In case of VR, VPC VR, ILBVM a view button that uses router-links can be shown.

Extend the stub https://github.com/apache/cloudstack-primate/blob/m

[2020-02-11 10:56] rhtyd commented on #155
Assigned to @davidjumani

[2020-02-12 09:21] vladimirpetrov opened #157 "[BUG] JS console exception when clicking on Infrastructure > Summary"
**Describe the bug**
JS console exceptions when clicking on Infrastructure > Summary.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Infrastructure > Summary
2. See the following errors in the JS console:

vue.runtime.esm.js?2b0e:619 [Vue warn]: Invalid prop: type check failed for prop "items". Expected Array, got Object

found in

---> <ListView> at src/components/view/ListView.vue

[2020-02-12 15:06] vladimirpetrov opened #158 "[BUG] Usability improvements"
**Describe the bug**
Here I'll compile all the usability / user experience improvement ideas, separated by sections.

**Common**
- [ ] When you click on a main section, it would be better to open the first (default) or the last used view - now we need additional click.
- [ ]  'Clear search filter' button - now the way to clear it is to delete the text and click on the search icon.
- [ ] There are

[2020-02-13 08:50] rhtyd opened #160 "UI Plugin: Cloudian"
http://docs.cloudstack.apache.org/en/latest/plugins/cloudian-connector.html
https://github.com/apache/cloudstack/pull/2284/files#diff-aeb2e6e363caa5955737b7ecc9ab8b8e

[2020-02-13 08:53] rhtyd commented on #160
https://github.com/apache/cloudstack-primate/blob/master/src/store/modules/user.js#L134

[2020-02-13 08:56] rhtyd commented on #160
https://github.com/apache/cloudstack-primate/blob/master/src/store/modules/user.js#L152

[2020-02-13 08:58] rhtyd commented on #160
Assigned @Pearl1594

[2020-02-13 11:22] vladimirpetrov opened #161 "[BUG] VM Settings should be read-only if the VM is running"
**Describe the bug**
In the old UI, VM settings cannot be modified if the VM is running. We need to add this restriction to Primate as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Compute > Instances > select a running instance > settings
2. Try to add/modify/remove a setting.

**Expected behavior**
You should not be allowed to modify VM settings while the VM is running.

**Sc

[2020-02-15 12:08] rhtyd commented on #155
PR recevied

[2020-02-15 12:08] #155 closed

[2020-02-15 12:08] rhtyd commented on #141
PR received

[2020-02-15 12:08] #141 closed

[2020-02-17 15:11] vladimirpetrov opened #162 "[BUG] Group action buttons don't work properly (Events, Alerts, VM)"
**Describe the bug**
The delete/archive event button has very funny behavior. If no check box is selected it still deletes/arhives the top item, which is not very obvious. The selection boxes seem to be ignored, but still sometimes they are deselected after archiving (deleting) of event.

Notes by @rhtyd
Group action buttons need to be supported for vm, event and alert views.

**To Reproduce**
Ste

[2020-02-18 08:52] #160 closed

[2020-02-18 09:31] vladimirpetrov opened #164 "[BUG] Wrong pagination on Storage > Volumes"
**Describe the bug**
Pagination on Storage > Volumes page shows only the first 10 items and hides the fact you have more until you explicitly set 20/40/80/100 items per page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Storage > Volumes' page and make sure you have more than 10 items there
2. Look at the pagination line - it says you have only 10 items and you cannot go to the nex

[2020-02-18 09:50] vladimirpetrov opened #165 "[BUG] Storage > Volumes > Resize volume - wrong dialog"
**Describe the bug**
The Storage > Volumes > Resize volume dialog allows to enter custom volume, instead of using current disk offerings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a volume in Storage > Volumes and click on the 'Resize' icon.
2. Look at the dialog

**Expected behavior**
This dialog should provide a drop-down menu with the current disk offerings.

**Screenshots**
!

[2020-02-18 10:13] #140 closed

[2020-02-18 11:33] vladimirpetrov opened #166 "High-level test plan"
## High level Primate UI functionality test plan

| Functionality | Tester | Result | Related issues |
|---------------|--------|--------|----------------|
| **Common** | | | |
| Project selector | Vladimir | PASSED | |
| Language selector | Vladimir | PASSED | |
| Notifications / clear notifications | Vladimir | PASSED | |
| Profile | Vladimir | PASSED | |
| Help | Vladimir | PASSED | |
| Logout

[2020-02-18 13:29] vladimirpetrov commented on #166
## High level Primate UI functionality test plan

| Functionality | Tester | Result | Related issues |
|---------------|--------|--------|----------------|
| **Common** | | | | | | | |
| Project selector | | | | | | | |
| Language selector | | | | | | | |
| Notifications / clear notifications | | | |
| Profile | | | |
| Help | | | |
| Logout | | | |
| | | |
| **Dashboard** | | | |
| Fetch latest |

[2020-02-18 18:16] rhtyd commented on #164
Issue fixed in https://github.com/apache/cloudstack/pull/3894, tested on http://primate-qa.cloudstack.cloud:8080/client/master

[2020-02-18 18:16] #164 closed

[2020-02-19 10:32] vladimirpetrov opened #168 "Sorting should be global not per page"
**Describe the bug**
Currently, if you have more than one page and sort some of the columns, only the results in that particular page are sorted - like there are no other items. This is not the typical UI behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a grid, containing a lot of element (multiple pages)
2. Sort by some column and look at the result

**Expected behavior**
The

[2020-02-19 12:55] rhtyd commented on #168
@vladimirpetrov This is not possible, would require backend change. The sorting behaviour is same as in old UI. I've marked it as an enhancement.

[2020-02-20 04:27] rhtyd commented on #161
Assigned to @davidjumani

[2020-02-20 04:27] rhtyd commented on #165
Assigned to @Pearl1594

[2020-02-20 10:48] vladimirpetrov opened #173 "[BUG] Selected instance actions difference between old and new UI"
**Describe the bug**
Here are the differences between the old and new UI:

| Running instance - old UI | Running instance - Primate UI |
|---------------------------|-------------------------------|
| Stop instance | Stop instance |
| Reboot instance | Reboot instance |
| Take VM snapshot | Create VM snapshot |
| ~~Take VM volume snapshot~~ | |
| Assign VM to backup offering | |
| Destroy instance

[2020-02-20 15:45] vladimirpetrov opened #174 "[BUG] Network > Security groups: Search not working properly"
**Describe the bug**
Search is not working for some strings, will investigate further

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Network > Security groups'
2. Create a new security group called 'TestSecGroup'
3. Now try to search by string 'Sec'
4. See the result

**Expected behavior**
Only groups containing the string 'Sec' must be shown.

**Screenshots**
![image](https://user-i

[2020-02-21 07:37] rhtyd commented on #174
@vladimirpetrov it's because the search string searches both the name and description, if you try to search only 'Test' you'll get one item in the list. The 'Group' and 'Sec' are in the description of other security groups.

[2020-02-21 07:37] #174 closed

[2020-02-21 07:39] rhtyd commented on #168
@vladimirpetrov I'm closing this as `won't fix` as Primate cannot fix this without the backend API allowing sorting of all items. The issue needs to be raised/fixing at https://github.com/apache/cloudstack thanks.

[2020-02-21 07:39] #168 closed

[2020-02-21 08:25] vladimirpetrov opened #175 "[BUG] Identify and access > Users > Add user - duplicated password field"
**Describe the bug**
There are two equal password fields in the 'Identify and access > Users > Add user' dialog - the second one simply mirrors the keystrokes from the first.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Users' and click 'Add user'
2. Enter something in the first password field - the keystrokes are mirrored in both password fields.

**Expected

[2020-02-21 08:39] vladimirpetrov opened #176 "[BUG] Identify and access > Users > selected user > copy secret key not working properly"
**Describe the bug**
When you click on the button 'Copy secret key' in 'Identify and access > Users > selected user' screen, it actually copies the API key.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Users > selected user'
2. Make sure you have generated API and secret keys and click on the 'Copy secret key' icon.
3. Now paste is somewhere and take a look -

[2020-02-21 09:00] vladimirpetrov opened #177 "[BUG] Identify and access > Users > selected user > Change password does not verify the old password"
**Describe the bug**
'Identify and access > Users > selected user > Change password' dialog has a 'Current password' field but it's not mandatory nor it's ever verified if that's really the current password.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Users > selected user'
2. Click on 'Change password'
3. Enter a new password in the 'Password' field and a wr

[2020-02-21 09:21] vladimirpetrov opened #178 "[BUG] Identify and access > Accounts - first and last name are not shown in the grid"
**Describe the bug**
Identify and access > Accounts - first and last name are not shown in the grid

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Accounts' and create a new account, entering first/last name.
2. Click on 'Refresh' and look at the newly created account

**Expected behavior**
First and last name should be visible in the grid.

**Screenshots**
None

[2020-02-21 10:22] vladimirpetrov opened #179 "[BUG] Identify and access > Accounts > selected account - update account button not working"
**Describe the bug**
Identify and access > Accounts > selected account - 'update account' button not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Accounts' and select an account.
2. Click on the 'Update account' icon - it's not working and messes up the UI, the same page stays no matter what you're clicking.

**Expected behavior**
The 'Edit account' di

[2020-02-21 10:42] vladimirpetrov opened #180 "[BUG] Identify and access > Domains > delete domain does not remove it from the tree"
**Describe the bug**
When you delete a domain in 'Identify and access > Domains' it does not remove it from the tree even though it's actually deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Domains' and select a domain
2. Click on 'Delete domain' icon and confirm the operations.
3. Look at the domain tree - it's still there. If you try to click on the d

[2020-02-21 10:46] vladimirpetrov commented on #174
@rhtyd Ok, I agree about the previous example, but what could be the reason for this:

![image](https://user-images.githubusercontent.com/12384665/75028005-27f79f80-54a8-11ea-88f9-710bb0416ac0.png)

[2020-02-21 10:57] vladimirpetrov opened #181 "[BUG] Identify and access > Roles - searching does not work."
**Describe the bug**
The search field in 'Identify and access > Roles' does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Roles'
2. Enter a search string and press the search icon - nothing happens.

**Expected behavior**
The search results should be filtered according to the entered criteria.

**Screenshots**
![image](https://user-images.githubuserco

[2020-02-21 13:14] vladimirpetrov opened #182 "[BUG] Identify and access > Roles > selected role > Rules - unnecessary scroll bars"
**Describe the bug**
There are scroll bars that are not necessary on the 'Identify and access > Roles > selected role > Rules' screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and access > Roles'
2. Click on a role, then on the 'Rules' tab.

**Expected behavior**
There's no need for scroll bars on this page.

**Screenshots**
![image](https://user-images.githubuserconte

[2020-02-21 13:28] vladimirpetrov opened #183 "[BUG] Infrastructure > Pods > selected Pod - cannot enable a Pod"
**Describe the bug**
The button 'Enable Pod' in 'Infrastructure > Pods > selected Pod' doesn't do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Infrastructure > Pods' and click on a disabled pod.
2. Click the 'Enable Pod' icon - nothing happens.

**Expected behavior**
The 'Enable Pod' button should enable the disabled pod.

**Screenshots**
None

**Desktop (please complete

[2020-02-21 20:09] GabrielBrascher commented on #183
@vladimirpetrov what is the CloudStack version that you noticed this issue?

[2020-02-21 20:12] vladimirpetrov commented on #183
@GabrielBrascher This is the new CloudStack UI - Primate, which is not released yet, don't worry.

[2020-02-23 09:41] #161 closed

[2020-02-23 11:47] PaulAngus opened #184 "[BUG] Identify and access > Accounts > Add Account"
**Describe the bug**

It is not possible to add the required account name in the Account field
Add Account 'Account' field is a dropdown of existing Accounts - should be plain text entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _Identify and access > Accounts_
2. Click on '+'
3. Attempt to add a NEW account name

**Expected behavior**
I should be able to type a new account name

[2020-02-24 14:39] vladimirpetrov opened #185 "[BUG] Offerings > Disk offerings - invalid zone link if multiple zones are used"
**Describe the bug**
When a disk offering is assigned to more than one zone, the zone link in the selected offering contains both zone IDs, rendering it invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Disk offerings' and select an offering.
2. Update the offering, adding multiple zones.
3. Now click on the 'Zone' link and see what happens.

**Expected behavior**
N

[2020-02-24 16:11] vladimirpetrov opened #186 "[BUG] Offerings > Network offerings - the searching is broken"
**Describe the bug**
An internal server error (500) is generated when trying to search something in 'Offerings > Network offerings'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Network offerings'
2. Enter a search string and click on the search icon. Here is what happens:

500 Internal server error.
Request Failed
DB Exception on: com.mysql.cj.jdbc.ClientPreparedStatem

[2020-02-24 16:21] vladimirpetrov opened #187 "[BUG] Offerings > Network offerings - change order option is missing"
**Describe the bug**
We have an option to change the offerings order in the old UI which we don't have in Primate.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Network offerings' - there is no way to change the offerings order, like in the old UI.

**Expected behavior**
The user should be able to change the network offerings order.

**Screenshots**
![image](https://user

[2020-02-24 16:36] vladimirpetrov opened #188 "[BUG] Offerings > Network offerings - unclear text field in the 'Edit offering' dialog"
**Describe the bug**
There is a text field, called 'Availability' in the 'Edit offering' screen (Offerings > Network offerings). It's unclear what should be filled there - it's a drop-down menu in the old UI and it's much better.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Network offerings', select an offering and click on 'Edit offering'. Look on the 'Availability' t

[2020-02-24 16:58] vladimirpetrov opened #189 "[BUG] Offerings > VPC offerings - not human-readable service capabilities"
**Describe the bug**
The service capabilities description is not really human-readable in "Offerings > VPC offerings" - it's just a JSON object.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > VPC offerings' and click on a VPC offering. Look at the 'service' label.

**Expected behavior**
The information about the service capabilities should be easy to understand.

**Screen

[2020-02-24 17:14] vladimirpetrov opened #190 "[BUG] Problems with pagination and search"
**Describe the bug**
After searching for a string on a n-th page requires additional click to page 1 in order to see the results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration > Global settings' and find a settings page, containing the word 'backup'.
2. Type 'backup' in the search field and click on the search icon - the results are empty, even though we have 4 items f

[2020-02-25 14:50] vladimirpetrov opened #191 "[BUG] Ugly screen after archiving an event"
**Describe the bug**
After archiving an event the screen is left in undefined state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Events' and click on an event
2. Click on 'Archive' and confirm the operation. After it's completed, the screen is left in an undefined state.

**Expected behavior**
After archiving an event, the user should be redirected back to the Events grid.

**Scre

[2020-02-26 08:38] vladimirpetrov opened #192 "[BUG] Projects > Enter token - cancel button is not working properly"
**Describe the bug**
The cancel button in the 'Enter token' dialog is acting like a browser back button, instead of closing the dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Projects' and click on the 'Enter token' icon.
2. Click on the 'Cancel' button - the dialog is not closed, a 'browser back' operation is executed instead.

**Expected behavior**
The dialog must be closed

[2020-02-26 09:41] vladimirpetrov opened #193 "[BUG] Network > VPN Customer Gateway - cannot add tags"
**Describe the bug**
Nothing happens when you try to add a tag to a selected VPN Customer Gateway.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Network > VPN Customer Gateway' and click on a gateway
2. Try to add a tag - it's not saved.

**Expected behavior**
It should be possible to add and delete tags.

**Screenshots**
None

**Desktop (please complete the following information):*

[2020-02-26 10:46] vladimirpetrov opened #194 "[BUG] Missing functionality - search in settings"
**Describe the bug**
There is a search functionality in the old UI for all the settings tabs, which is not present in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > Instances' and select an instance (or in Images > Templates, for example)
2. Click on 'Settings' tab - there is no way to search there, as in the old UI

**Expected behavior**
It's good to have this

[2020-02-27 17:34] PaulAngus opened #195 "[FEATURE] Domain Admins Should be able to see the usage of resources vs limits"
**Is your feature request related to a problem? Please describe.**

A domain admin should be able to see how much of their 'allocation' their users have consumed so that they know when to 'purchase' more.

**Describe the solution you'd like**

Probably this should be in the dashboard view like infra for admins, but scoped only to their own domain(s)

**Describe alternatives you've considered**
A c

[2020-03-02 16:46] vladimirpetrov opened #196 "[BUG] Missing data in Storage > volumes > selected volume"
**Describe the bug**
The data presented in Storage > volumes > selected volume is less than in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Storage > volumes', look at the data and then click on a volume
2. Compare the volume information with the old UI
The following details are missing in the Primate UI:
- Storage type
- Cluster (ID)
- Cluster name
- VM ID
- Storage (n

[2020-03-04 10:15] rhtyd commented on #165
@vladimirpetrov fixed please re-review

[2020-03-05 08:13] rhtyd commented on #194
@vladimirpetrov in old UI the search bar does not work, that's why the search bar for settings for VMs and templates was not implemented. Kindly confirm and close this.

[2020-03-05 08:15] rhtyd commented on #157
Fixed and not reproducible on latest master, please confirm and close @vladimirpetrov

[2020-03-05 08:18] rhtyd commented on #176
@vladimirpetrov please confirm and close against latest master

[2020-03-05 08:22] rhtyd commented on #178
According to old UI, we should not show first/last name for accounts but only for users:
![Screenshot from 2020-03-05 13-51-08](https://user-images.githubusercontent.com/95203/75961646-651c5280-5ee8-11ea-8498-fbc16b176947.png)

@vladimirpetrov can you test latest master and verify/close this?

[2020-03-05 08:26] rhtyd commented on #182
@vladimirpetrov made them automatic now, not show if not necessary. Please retest master.

[2020-03-05 08:33] rhtyd commented on #185
@vladimirpetrov please test latest master.

[2020-03-05 08:36] rhtyd commented on #193
The old UI doesnot allow tags on vpn customer gateway so Primate shouldn't either as it's not supported.
@vladimirpetrov please test and close against latest master.

[2020-03-05 08:39] rhtyd commented on #187
@vladimirpetrov fixed please re-test master

[2020-03-05 08:42] vladimirpetrov commented on #157
The issue has been fixed.

[2020-03-05 08:42] #157 closed

[2020-03-05 08:47] rhtyd opened #197 "Missing feature: Not way to update resource limits for account and domains."
Missing feature:
- Go to IAM->account -> no way to edit/update the resource count/limits (as root admin).
- Go to IAM->domain -> no way to edit/update the resource count/limits (as root admin).
Note: the feature is only for the root admin, similar to the resource limits tab for projects. On updation it calls the `updateResourceLimit` API.

Here's what is looks in old UI:
![Screenshot from 2020-03-

[2020-03-05 08:48] rhtyd commented on #179
@vladimirpetrov please test/close this one as well. There was a missing feature I found for which I created a new ticket.

[2020-03-05 08:52] vladimirpetrov commented on #194
Ok, I can confirm this, closing the issue.

[2020-03-05 08:52] #194 closed

[2020-03-05 08:58] vladimirpetrov commented on #176
Confirmed, closing the issue.

[2020-03-05 08:58] #176 closed

[2020-03-05 08:59] vladimirpetrov commented on #165
Confirmed, closing the issue.

[2020-03-05 08:59] #165 closed

[2020-03-05 09:06] vladimirpetrov commented on #178
Confirmed, closing the issue.

[2020-03-05 09:06] #178 closed

[2020-03-05 09:08] vladimirpetrov commented on #182
Confirmed, closing the issue.

[2020-03-05 09:08] #182 closed

[2020-03-05 09:15] vladimirpetrov commented on #185
Zones are names (not IDs) now and non-clickable so the issue is resolved. Closing it.

[2020-03-05 09:15] #185 closed

[2020-03-05 09:17] vladimirpetrov commented on #193
Confirmed, closing the issue.

[2020-03-05 09:17] #193 closed

[2020-03-05 09:18] vladimirpetrov commented on #187
Confirmed, closing the issue.

[2020-03-05 09:18] #187 closed

[2020-03-05 09:20] vladimirpetrov commented on #179
Confirmed, closing the issue.

[2020-03-05 09:20] #179 closed

[2020-03-05 09:34] rhtyd commented on #190
@vladimirpetrov thanks good find, please re-test master.

[2020-03-05 09:37] rhtyd commented on #192
Fixed, @vladimirpetrov please re-test

[2020-03-05 09:40] rhtyd commented on #188
@vladimirpetrov please verify master, thanks.

[2020-03-05 09:42] rhtyd commented on #186
This is related to backend env, I'll need to rebuild+deploy DB on the primate-qa server @vladimirpetrov can you verify against other env, where I see working. I can update primate-qa by tomorrow.

[2020-03-05 09:42] rhtyd commented on #186
(error seen in the old UI as well, which suppresses it)

[2020-03-05 09:44] rhtyd commented on #180
Bigger refactoring needed, confirmed issue.

[2020-03-05 09:48] rhtyd commented on #181
@vladimirpetrov thanks the issue was inconsistent param used for searching, fixed in master. Please re-test.

[2020-03-05 09:59] rhtyd commented on #183
Fixed now, please review and close @vladimirpetrov master branch.

[2020-03-05 10:33] vladimirpetrov commented on #190
Confirmed as fixed, closing the issue.

[2020-03-05 10:33] #190 closed

[2020-03-05 10:34] vladimirpetrov commented on #192
Fix confirmed, closing the issue.

[2020-03-05 10:34] #192 closed

[2020-03-05 10:37] vladimirpetrov commented on #188
Fix confirmed, closing the issue.

[2020-03-05 10:37] #188 closed

[2020-03-05 10:40] vladimirpetrov commented on #181
Fix confirmed, closing the issue.

[2020-03-05 10:40] #181 closed

[2020-03-05 10:43] vladimirpetrov commented on #183
Fix confirmed, closing the issue.

[2020-03-05 10:43] #183 closed

[2020-03-05 10:53] rhtyd commented on #196
@vladimirpetrov this needs a backend fix, thanks for finding. I'll raise a PR upstream today.
The VM ID is indeed returned and the VM is shown on the left side.

[2020-03-05 11:37] rhtyd commented on #166
@vladimirpetrov @alexandremattioli we probably also want in addition to above:
- All tests for a account/user in a project view and in the default view
- All tests as a type of account from User, DomainAdmin and RootAdmin (three roles); a custom role (read-only admin, all list* are only allowed?)

[2020-03-05 11:37] rhtyd commented on #166
When in a project, only test cloud resources; not infra.

[2020-03-05 12:07] rhtyd commented on #196
https://github.com/apache/cloudstack/issues/3938

[2020-03-05 15:09] vladimirpetrov opened #198 "[BUG] Edit VPN Customer Gateway - current values must be populated in the fields"
**Describe the bug**
The current values are not populated in the 'Edit VPN Customer Gateway' dialog making it almost unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Network > VPN Customer Gateway'
2. Click on a gateway and then on the icon 'Edit VPN Customer Gateway' - the current values are not populated and most fields are mandatory so you have to enter almost each paramet

[2020-03-05 16:09] vladimirpetrov opened #199 "[BUG] Different list of template images in old and new UI"
**Describe the bug**
The old and the Primate UI show different list of template images.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Images > Templates' in the old UI and then in the Primate UI. Note the differences.

**Expected behavior**
Both old and new UI must show equal number of template images.

**Screenshots**
Old UI:
![image](https://user-images.githubusercontent.com/12384

[2020-03-06 08:25] rhtyd commented on #197
@utchoang cc @svenvogel can you pick this as the next task?
It's a similar feature you had implemented for projects which allowed admins to specify the resource count/limits for a project. We want the same feature as a tab for accounts and domains.

[2020-03-06 08:42] vladimirpetrov opened #200 "[BUG] Infrastructure > Hosts: Missing functionality - configure HA"
**Describe the bug**
There must be an option to configure HA from Infrastructure > Hosts, as in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Infrastructure > Hosts' and click on a host.
2. Look at the possible actions - there is no 'Configure HA', as in the old UI.

**Expected behavior**
There must be a 'Configure HA' button there.

**Screenshots**
If applicable, add sc

[2020-03-06 09:14] rhtyd commented on #186
@vladimirpetrov there was a backend bug that I've fixed and sent a PR for ^^, the primate-qa server is now rebuilt with the fix. Please test and close.

[2020-03-06 09:19] vladimirpetrov commented on #186
Fix confirmed, closing the issue.

[2020-03-06 09:19] #186 closed

[2020-03-06 15:41] vladimirpetrov opened #201 "[BUG] Missing functionality - Infrastructure > System VMs > Get diagnostic data"
**Describe the bug**
The action 'Get diagnostic data' from the System VMs screen is missing in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Infrastructure > System VMs' and click on a system VM
2. Look at the possible actions - there's no 'Get diagnostic data'.

**Expected behavior**
There should be a button 'Get diagnostic data' as in the old UI.

**Screenshots**
![ima

[2020-03-06 15:50] vladimirpetrov opened #202 "[BUG] Missing functionality - Infrastructure > Virtual routers > Get diagnostic data"
**Describe the bug**
The action 'Get diagnostic data' from the Virtual routers screen is missing in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Infrastructure > Virtual routers' and click on a virtual router
2. Look at the possible actions - there's no 'Get diagnostic data'.

**Expected behavior**
There should be a button 'Get diagnostic data' as in the old UI.

**Scre

[2020-03-09 08:43] shwstppr commented on #173
Looking into this one

[2020-03-09 09:22] vladimirpetrov opened #205 "[BUG] Missing functionality - Offerings > Backup offerings"
**Describe the bug**
The functionality we had in the old UI is missing in Primate UI - Offerings > Backup offerings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings' and look at the sub-sections. There is no 'Backup offerings' there.

**Expected behavior**
Offerings > Backup offerings functionality must be present, as in the old UI.

**Screenshots**
![image](https://user-ima

[2020-03-09 10:31] vladimirpetrov opened #206 "[BUG] Missing functionality - Global Settings > Baremetal Rack Configuration"
**Describe the bug**
The functionality we had in the old UI is missing in Primate UI - Global Settings > Baremetal Rack Configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Global Settings' and look at the sub-sections. There is no 'Baremetal Rack Configuration' there.

**Expected behavior**
Global Settings > Baremetal Rack Configuration functionality must be present, as in

[2020-03-09 10:43] vladimirpetrov opened #207 "[BUG] Configuration > Hypervisor capabilities - missing Max guest limit data"
**Describe the bug**
The values for Max guest limit are missing in the 'Global Settings > Hypervisor capabilities' grid.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Configuration > Hypervisor capabilities' and look the data presented there.

**Expected behavior**
The values for 'Max guest limit' must be present in the grid.

**Screenshots**
![image](https://user-images.githubuserc

[2020-03-10 10:53] vladimirpetrov opened #209 "[BUG] Clicking on Quota > Summary > selected account does not open the account quota"
**Describe the bug**
You have no way to add credits to the account's quota.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quota > Summary', then click on some of the accounts - you are redirected to the 'Identity and Access > Accounts' page.

**Expected behavior**
An account quota screen should be opened.

**Screenshots**
None

**Desktop (please complete the following information):*

[2020-03-10 11:00] vladimirpetrov opened #210 "[BUG] Missing calendar functionality in Quota > Tariff"
**Describe the bug**
On the 'Quota > Tariff' page, we have a calendar picker functionality in the old UI which is missing in Primate UI. This picker allows to check the tariff values for a particular date.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quota > Tariff' - there is no date picker functionality.

**Expected behavior**
There must be a date picker, as in the old UI.

**Scr

[2020-03-10 11:08] vladimirpetrov opened #211 "[BUG] Quota > Tariff - value cannot be changed"
**Describe the bug**
There's no way to change a tariff value in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quota > Tariff' - no way to change the tariff value.

**Expected behavior**
There must be a button for changing a tariff's value.

**Screenshots**
![image](https://user-images.githubusercontent.com/12384665/76306771-2adbf800-62d0-11ea-9ce5-2202125e9127.png)

**De

[2020-03-10 11:19] vladimirpetrov opened #212 "[BUG] Quota > Email template - search is not working"
**Describe the bug**
The search functionality in 'Quota > Email template' is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Quota > Email template' and search for some string.

**Expected behavior**
The search should filter the results according to the criteria.

**Screenshots**
![image](https://user-images.githubusercontent.com/12384665/76307304-41cf1a00-62d1-11ea-86c1-

[2020-03-10 14:05] vladimirpetrov opened #213 "[BUG] Missing Instance/VM 'Filter by' functionality"
**Describe the bug**
It's impossible to filter by owned, running, stopped or destroyed instances, as in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > Instances' - the 'Filter by' functionality is missing.

**Expected behavior**
There should be a way to filter by owned, running, stopped or destroyed instances, as in the old UI.

**Screenshots**
![image](https://

[2020-03-10 14:32] vladimirpetrov opened #214 "[BUG] Compute > Instances - Missing extended search functionality"
**Describe the bug**
There is an extended search functionality in the old UI which is missing in the Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > Instances' - the extended search functionality is missing.

**Expected behavior**
There must be extended search option, like in the old UI.

**Screenshots**
![image](https://user-images.githubusercontent.com/12384665

[2020-03-11 03:53] utchoang commented on #197
@rhtyd cc @svenvogel I've completed this task in PR https://github.com/apache/cloudstack-primate/pull/203. Please assign a new task to me.

[2020-03-11 14:43] vladimirpetrov opened #215 "[BUG] Missing functionality - Storage > Backups"
**Describe the bug**
The functionality we had in the old UI is missing in Primate UI - Storage > Backups

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Storage' and look at the sub-sections in the drop-down - there's no 'Backups' there.

**Expected behavior**
Storage > Backups functionality must be present, as in the old UI.

**Screenshots**
Old UI:
![image](https://user-images.githu

[2020-03-11 15:15] vladimirpetrov opened #216 "[BUG] Missing functionality - Templates > ISO - change order"
**Describe the bug**
In the old UI there is the option to change the order in 'Template > ISO' page, which is missing in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Template > ISO' and look at the grid - no way to change the list order.

**Expected behavior**
There must be an option to change the order of the items, as in the old UI.

**Screenshots**
Old UI:
![image](h

[2020-03-12 08:56] vladimirpetrov opened #218 "[BUG] Missing functionality - View event timeline"
**Describe the bug**
There is a functionality showing the timeline (all related events) for a particular event, which is not present in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Events' - no way to see the timeline for a particular event.

**Expected behavior**
There should be a way to see the timeline for a particular event.

**Screenshots**
![image](https://user-im

[2020-03-13 09:13] vladimirpetrov opened #221 "[BUG] Missing functionality - Regions"
**Describe the bug**
There is a functionality for adding / managing regions which is missing in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Look at the main menu on the left - there's no functionality for adding / managing regions.

**Expected behavior**
There must be a functionality to add / edit / remove regions.

**Screenshots**
![image](https://user-images.githubuserconte

[2020-03-13 16:52] vladimirpetrov opened #222 "[BUG] In project: Infrastructure > Virtual routers - all routers are shown"
**Describe the bug**
When a project is selected, all routers are shown, instead of only these belonging to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a project that have only some of the virtual routers attached to it.
1. Go to 'Infrastructure > Virtual routers' and look at the results - all vitrual routers are shown, even these not attached to the current project.

**Expecte

[2020-03-13 16:58] vladimirpetrov opened #223 "[BUG] Infrastructure > CPU sockets - hypervisors are not properly shown"
**Describe the bug**
In Infrastructure > CPU sockets screen, all the hypervisors are shown as 'simulator'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Infrastructure > CPU sockets' and look at the data grid.

**Expected behavior**
Different supported hypervisors must be shown here.

**Screenshots**
![image](https://user-images.githubusercontent.com/12384665/76642790-8e7a5580-655c-

[2020-03-13 17:14] vladimirpetrov opened #224 "[BUG] Missing functionality - Service offerings > VPC offerings - change order"
**Describe the bug**
In the old UI there is the option to change the order in 'Template > ISO' page, which is missing in Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Service offerings > VPC offerings' and look at the grid - no way to change the list order.

**Expected behavior**
There must be an option to change the order of the items, as in the old UI.

**Screenshots**

[2020-03-16 16:27] vladimirpetrov opened #225 "[BUG] Storage > Volumes > selected volume showing more actions than old UI"
**Describe the bug**
The Primate UI has more actions in 'Storage > Volumes > selected volume' than the old UI. Here are the actions that are present only in Primate:
- Detach volume
- Migrate volume
- Download volume
- Create template from volume
- Delete volume

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Storage > Volumes' and click on a volume. Look at the possible actions.

**E

[2020-03-17 07:59] vladimirpetrov opened #229 "[BUG] Storage > VM Snapshots - display name"
**Describe the bug**
VM Snapshot's 'Name' attribute is shown instead of 'Display name', as it is in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Storage > VM Snapshots', look at a snapshot, then click on it to see the details.

**Expected behavior**
'Display name' must be shown in the Storage > VM Snapshots screen, as in the old UI.

**Screenshots**
![image](https://use

[2020-03-17 09:01] rhtyd commented on #216
@vladimirpetrov back with you, the feature is not supported in old UI ( you can try to move things up and down, then refresh order will not be changed).

[2020-03-17 09:05] rhtyd commented on #206
Known limitation, https://github.com/apache/cloudstack-primate/projects/1
We'll do this after the tech preview - you may keep this open or close it as we're already aware of this.

[2020-03-17 09:06] rhtyd commented on #221
Not supported feature, in fact since this is a unfinished feature we may decide to not even show in Primate cc @PaulAngus ?
Please close for now as it's out of scope of tech preview and documented under list of things to do after tech preview here https://github.com/apache/cloudstack-primate/projects

[2020-03-17 09:09] rhtyd commented on #224
Fixed now https://github.com/apache/cloudstack-primate/commit/c9c7cc3cf40e88c631252cc1971f1c10516989a0

[2020-03-17 09:09] rhtyd commented on #224
@vladimirpetrov please review latest master

[2020-03-17 09:15] vladimirpetrov commented on #216
Ok, it really doesn't work, closing the issue.

[2020-03-17 09:15] #216 closed

[2020-03-17 09:16] vladimirpetrov commented on #206
Since it's a known limitation, let's close this to avoid confusion.

[2020-03-17 09:16] #206 closed

[2020-03-17 09:17] vladimirpetrov commented on #221
I agree, if it's not supported, it doesn't make sense to show it in the UI. Closing the issue.

[2020-03-17 09:17] #221 closed

[2020-03-17 09:19] vladimirpetrov commented on #224
Fix confirmed, closing the issue.

[2020-03-17 09:19] #224 closed

[2020-03-17 09:45] vladimirpetrov opened #230 "[BUG] Storage > VM Snapshots - parent name"
**Describe the bug**
The parent name in 'Storage > VM Snapshots' is shown as id, instead of human-readable name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Storage > VM Snapshots' and click on a snapshot, which have a parent. Look at the details.

**Expected behavior**
Parent name must be human-readable, not id.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-03-17 10:12] shwstppr commented on #230
Looking into this, cc @rhtyd

[2020-03-17 10:15] shwstppr commented on #229
Working on this cc @rhtyd

[2020-03-17 16:07] vladimirpetrov opened #233 "[BUG] Domain admin: non-working links (insufficient rights)"
**Describe the bug**
The following links could generate (if the domain admin lacks the required permissions) a 404 (not found) or 500 (Internal server error) errors - template, zone, host, cluster, pod, domain, account, compute offering, storage pool.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as domain admin, go to 'Network > Guest networks' and click on a network. Then try the

[2020-03-18 09:47] vladimirpetrov opened #236 "[BUG] Domain admin / normal user: Network > VPN users should not be visible"
**Describe the bug**
Network > VPN users is visible when logged in as domain admin or normal user in Primate UI. It is not in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as domain admin, go to 'Network'
2. Log in as normal user, go to 'Network'

**Expected behavior**
Adding / creating VPN users is not working anyway, it doesn't make sense to have this in the UI.

**Scr

[2020-03-18 13:54] vladimirpetrov opened #237 "[BUG] Domain admin: Accounts > selected - settings should not be visible"
**Describe the bug**
When logged as domain admin, clicking on 'Identify and Access > Accounts > selected - settings' generates an error message. The same is with Domains settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as domain admin, go to 'Identify and Access > Accounts', click on account and then on the 'Settings' tab.
2. Go to 'Identify and Access > Domains', click on th

[2020-03-18 15:32] vladimirpetrov opened #238 "[BUG] Identify and Access > Accounts > New account - 'Domain' and 'Role' must be mandatory fields"
**Describe the bug**
It's not possible to create account without entering 'Domain' and 'Role' so they must be mandatory, as in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Identify and Access > Accounts' and click on 'Add account'.

**Expected behavior**
'Domain' and 'Role' fields must be mandatory, as in the old UI.

**Screenshots**
![image](https://user-images.githubu

[2020-03-19 09:12] vladimirpetrov opened #240 "[BUG] Domain admin: Identify and access > Roles should not be visible"
**Describe the bug**
'Identify and access > Roles' screen is visible but the domain admin has no access there so it doesn't make sense.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as domain admin, go to 'Identify and access > Roles'

**Expected behavior**
'Identify and access > Roles' should not be visible when logged as domain admin.

**Screenshots**
![image](https://user-images.

[2020-03-19 09:44] vladimirpetrov opened #241 "[BUG] Domain admin: Offerings - more options than in the old UI"
**Describe the bug**
No Offerings menu options are hidden, as they are in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as domain admin, go to 'Offerings' - all options are visible there.

**Expected behavior**
Only two options should be visible, as in the old UI - compute and disk offerings.

**Screenshots**
New UI:
![image](https://user-images.githubusercontent.com/123

[2020-03-19 10:49] shwstppr commented on #241
Looking into this. cc @rhtyd

[2020-03-19 10:57] shwstppr opened #242 "[BUG] Add Primary Storage UI missing hypervisor option for zone wide scope"
**Describe the bug**
Old UI provides option to select the hypervisor when scope for new primary storage is set to zone-wide.
![Screenshot from 2020-03-19 16-22-09](https://user-images.githubusercontent.com/153340/77060091-097cb980-69fe-11ea-8dd1-4c06d3654113.png)
This is missing in Primate with probably an auto-generated form,
![Screenshot from 2020-03-19 16-20-59](https://user-images.githubuserco

[2020-03-19 13:28] vladimirpetrov opened #243 "[BUG] 'Create SSH Key Pair' differences"
**Describe the bug**
The dialogs for 'Create SSH Key Pair' are different in Primate and the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > SSH Key Pairs' and click the 'Create SSH Key Pair' icon. Look at the dialog.

**Expected behavior**
The dialog in Primate UI must be the same as in the old UI.

**Screenshots**
Primate UI:
![image](https://user-images.githubuserc

[2020-03-19 15:32] vladimirpetrov opened #244 "[BUG] Normal user: the whole Offerings section should not be visible"
**Describe the bug**
The 'Offerings' section is visible, but mostly unusable, due to missing permissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings', try some of the sub-sections.

**Expected behavior**
The whole 'Offerings' section must be hidden, like in the old UI.

**Screenshots**
![image](https://user-images.githubusercontent.com/12384665/77084406-9a0bc780-6a07-11

[2020-03-19 15:40] vladimirpetrov opened #245 "[BUG] Normal user: non-working links (insufficient rights)"
**Describe the bug**
The following links could generate (if the normal user lacks the required permissions) a 404 (not found) or 500 (Internal server error) errors - template, zone, host, domain, account, compute offering.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as normal user, go to 'Network > Guest networks' and click on a network. Then try the 'Zone' and 'Domain' links - th

[2020-03-20 12:56] borisstoyanov commented on #211
@vladimirpetrov is there a way to change that in the old UI? Sorry I'm not aware.

[2020-03-20 12:59] borisstoyanov commented on #177
ouch

[2020-03-20 13:09] borisstoyanov commented on #202
@rhtyd What is the cloudstack version we're aiming to be feature parity with?

[2020-03-20 13:12] borisstoyanov commented on #199
Looks like templates of type SYSTEM are filtered out.

[2020-03-21 10:11] rhtyd commented on #202
@borisstoyanov we started with 4.13, we'll try and see if we can support 4.14 as well.

[2020-03-21 20:17] rhtyd commented on #230
@vladimirpetrov please test and close
Fixed in https://github.com/apache/cloudstack-primate/pull/232

[2020-03-21 20:17] rhtyd commented on #229
@vladimirpetrov please test and close
Fixed in https://github.com/apache/cloudstack-primate/pull/232

[2020-03-21 20:19] rhtyd commented on #207
@vladimirpetrov please test and close; fixed in https://github.com/apache/cloudstack-primate/pull/234

[2020-03-23 12:31] onitake opened #248 "[FEATURE] Clear enabled/disabled indication for HA/Scalability indicators in instance view"
**Is your feature request related to a problem? Please describe.**
Status panels below instance name in the instance view do not clearly distinguish between Enabled/disabled state. Red color-coding is not clear enough and may even be impossible to distinguish for people with impaired vision.

**Describe the solution you'd like**
"HA Enabled" should only be printed when HA is actually enabled. Inst

[2020-03-23 13:43] onitake opened #249 "[BUG] Incorrect user name shown in top right corner"
**Describe the bug**
When multiple users are attached to a an account, the full name of the first user on the account is shown instead of the user's own name.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new account
2. Attach two users to this account, set their full names as User1 and User2
3. Log in as User2
4. See User1 in the top right corner (or vice-versa)

**Expected behav

[2020-03-23 15:43] vladimirpetrov commented on #207
Fix confirmed, closing the issue.

[2020-03-23 15:43] #207 closed

[2020-03-23 15:46] vladimirpetrov commented on #229
Fix confirmed, closing the issue.

[2020-03-23 15:46] #229 closed

[2020-03-23 15:46] vladimirpetrov commented on #230
Fix confirmed, closing the issue.

[2020-03-23 15:46] #230 closed

[2020-03-23 17:01] rhtyd opened #250 "[FEATURE] Add support to manage network service providers"
For technical preview, only limited network service providers are supported. We list all the available providers but don't allow other features such as to manage/add/edit/update and perform other operations on network service providers that use APIs that have keywords:
 cisco, nicira, baremetal, srx, f5, brocade, palo, ucs, netscaler, bigswitch, ovs, globalloadbalancer, opendaylight etc.

For exam

[2020-03-23 17:03] rhtyd commented on #250
Hi @utchoang cc @svenvogel can you pick this work as the next major feature work. Let me know if you've any questions. Thanks.

[2020-03-23 17:05] rhtyd commented on #189
Fixed in master now please re-test and close @vladimirpetrov

[2020-03-23 17:06] rhtyd commented on #222
The infrastructure page should show all the routers, for project's network specific routers one can go to (in a project) -> Network -> VRs.

[2020-03-23 17:09] #248 closed

[2020-03-23 17:11] rhtyd commented on #249
@onitake can you debug using chrome dev-tools if after log in listUsers API is called? I'll try to reproduce this but I don't have a ready to test against LDAP setup yet.

[2020-03-23 17:18] onitake commented on #248
@rhtyd on :fire: ? :smile:
Thanks!

[2020-03-23 17:31] onitake commented on #249
Yes, I get a call to listUsers.

The API calls on login are as follows:
1. login
2. listApis
3. listUsers

The listUsers call returns a list of all users on the account, and the user name displayed on the top right is precisely the first user returned.

It looks like this isn't even related to LDAP.

[2020-03-24 06:55] utchoang commented on #250
@rhtyd cc @svenvogel
I would like to confirm:
1. Does this task mean that I should enable all network service providers that are not supported now?
2. The component of each NSP should be imported instead of being redirected to. Correct?

[2020-03-24 08:53] rhtyd commented on #250
@utchoang :
1. Yes, well we want to be able to show all the buttons and list views for each NSP
2. Yes, in the NSPTab component we've an array of all the NSPs; there you can import and simply show/load the specific component using `<component :is="importedComponent...`
We may redirect but I don't think we need to make it complex enough; we can discuss if you think redirection makes more sense.

[2020-03-24 08:59] rhtyd commented on #250
@utchoang this is a rough layout of a component I mocked (poorly with my mouse):
![Screenshot from 2020-03-24 14-26-17](https://user-images.githubusercontent.com/95203/77407251-dfe7d780-6ddb-11ea-97bb-73372f781237.png)

[2020-03-24 09:08] utchoang commented on #250
@rhtyd I found that enabling nsp is done while creating zone. It means that I will add changes to the zone wizard. Is that correct?

[2020-03-24 09:10] rhtyd commented on #250
@utchoang perhaps, in the first pass just work on the add/other (other than enable/disable) buttons and list views in a separate NSP component. Usually yes, we would enable the NSP based on what isolation mode/setting was used. You may reference the old UI to see what/how the NSPs look, for example http://primate-qa.cloudstack.cloud:8080/client/ (simulator based).

[2020-03-24 09:42] vladimirpetrov commented on #189
Fix confirmed, closing the issue.

[2020-03-24 09:42] #189 closed

[2020-03-24 10:40] vladimirpetrov opened #251 "[BUG] Project view: Network > VPN users should not be visible"
**Describe the bug**
Network > VPN users is visible when a project is selected in Primate UI. It is not in the old UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a project
1. Go to the 'Network' section

**Expected behavior**
It doesn't make sense to have this in the UI since nothing is shown there anyway and we cannot create new VPN users.

**Screenshots**
New UI:
![image](https

[2020-03-24 14:17] rhtyd commented on #198
@vladimirpetrov please test and close, this is now done system wide for all auto-generated edit forms.

[2020-03-24 14:21] rhtyd commented on #251
@vladimirpetrov I think it should be because a project's network could have remote VPN enabled, I think it's a non-issue. Please review and close.

[2020-03-24 14:39] vladimirpetrov commented on #222
After a discussion with @rhtyd we agreed that this is actually a planned change in the functionality so it's not a bug and I'll close the issue now.

[2020-03-24 14:39] #222 closed

[2020-03-25 07:50] utchoang commented on #250
@rhtyd How could we identify which NSP to be enabled based on their mode/setting?

[2020-03-25 09:53] rhtyd commented on #250
@utchoang we can call the list API and see the status, if they are not returned we can assume they're disabled/unavailable.

[2020-03-25 10:02] #198 closed

[2020-03-25 10:03] #236 closed

[2020-03-25 10:04] #242 closed

[2020-03-25 10:04] #251 closed

[2020-03-25 11:10] rhtyd commented on #249
@onitake I've put in a workaround fix, can you test latest master and reopen if you're still able to reproduce it?

[2020-03-25 11:16] rhtyd commented on #218
@vladimirpetrov please test and close.

[2020-03-25 11:33] rhtyd commented on #205
I'll reopen another one listing all missing features around backup feature.

[2020-03-25 11:33] #205 closed

[2020-03-25 11:47] rhtyd opened #253 "Add missing B&R features"
Add the following missing UI features wrt B&R:

- Add offering support that imports external offering
- Support for backup user-defined schedule
- Restore volume and attach it to a VM from a backup

Screenshots:

![Screenshot from 2020-03-25 17-21-03](https://user-images.githubusercontent.com/95203/77533566-1fd2bb80-6ebd-11ea-8f1f-9bd6c58f1d40.png)
![Screenshot from 2020-03-25 17-21-19](https://us

[2020-03-25 11:47] rhtyd commented on #205
Moved here: https://github.com/apache/cloudstack-primate/issues/253

[2020-03-25 11:50] rhtyd commented on #253
@utchoang cc @svenvogel since you'd done the snapshot schedule feature, can you pick this up - see http://primate-qa.cloudstack.cloud:8080/client/ for example of a backup schedule on the 'AdminFirstVM' VM. If possible can you prioritise this over your NSP support work? Thanks.

[2020-03-25 13:40] onitake commented on #249
I'm slightly confused - that commit removes a random welcome message in Chinese?
How does it relate to the user displayed in the top menu?

In any case, it doesn't seem to fix the problem...

[2020-03-25 13:44] onitake commented on #249
FYI, I don't have permission to reopen the ticket.

[2020-03-25 14:08] onitake commented on #249
Another thing: It looks like the top right menu display links around the account, not the user. I'm not sure how useful this is.

IMHO, it would make more sense to put a link to the user's settings there, since it's also the right place to edit your data and fetch your API key.

[2020-03-25 21:19] rhtyd opened #254 "[BUG] VM Deployment Wizard Issues"
Known issues to be checked/fixed:

- Pod, cluster, host should be hidden for normal and domain admin user
- Listing of all items are not done by passing account/domainid, or zoneid (for example listing of networks, template, isos for zone; keypair, affiinity groups etc for account/domain)
- Add a way to filter templates by featured, community, shared, mine?
- Multiple listing of templates for the

[2020-03-26 07:23] shwstppr commented on #244
@rhtyd Are we changing this behaviour? As you mentioned these submenus are dependent on permissions of their respected API but some of the ACS APIs does not have authorized tag defined for them.
Also, when multiple APIs are passed for `permission` param (https://github.com/apache/cloudstack-primate/blob/master/src/config/section/offering.js#L68) the handling of visibility seems to falter

[2020-03-26 08:32] shwstppr commented on #244
And related to #241

[2020-03-26 08:41] shwstppr commented on #238
@rhtyd @utchoang any other solution for this than adding custom form

[2020-03-26 08:53] vladimirpetrov commented on #198
Fix confirmed, closing the issue.

[2020-03-26 09:13] rhtyd commented on #249
@onitake the profile/setting would go to a logged in user's profile. Can you check latest master?

[2020-03-26 09:32] rhtyd commented on #195
https://github.com/apache/cloudstack-primate/pull/203

[2020-03-26 09:33] rhtyd commented on #196
cc @shwstppr this may require changes in the backend if the listVolumesMetrics apis does not returnt the required keys

[2020-03-26 09:34] rhtyd commented on #197
Duplicate.

[2020-03-26 09:34] #197 closed

[2020-03-26 09:36] rhtyd commented on #214
https://github.com/apache/cloudstack-primate/pull/235

[2020-03-26 09:36] rhtyd commented on #215
More issues logged https://github.com/apache/cloudstack-primate/issues/253

[2020-03-26 09:36] #215 closed

[2020-03-26 09:38] rhtyd commented on #237
cc @shwstppr review/test against old UI for cases when domain admin is logged in vs root admin vs normal user login

[2020-03-26 09:39] rhtyd commented on #238
Could be related:
https://github.com/apache/cloudstack-primate/pull/170
https://github.com/apache/cloudstack-primate/pull/217

[2020-03-26 09:40] rhtyd commented on #240
cc @shwstppr we probably need a show method for the tab that can check if API is available for the user to see the rules tab `api in store.getters.apis...`

[2020-03-26 14:46] vladimirpetrov commented on #218
Fix confirmed, closing the issue.

[2020-03-26 14:46] #218 closed

[2020-03-26 15:17] vladimirpetrov opened #258 "[BUG] Events: Some searches have strange outcome"
**Describe the bug**
Some search strings generate multiple pages of "no data".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Events' and search by 'deploy'. You'll see 'No data' message, but a lot of pages. You can even navigate through them.

**Expected behavior**
There must be either filtered data or no data and pagination shown.

**Screenshots**
![image](https://user-images.githu

[2020-03-26 15:55] vladimirpetrov opened #259 "[BUG] Import backup offering: missing parameter 'allowuserdrivenbackups'"
**Describe the bug**
'Import backup offering' cannot be created due to missing required parameter in the dialog. The API complains that the required parameter 'allowuserdrivenbackups' is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Backup offerings' and try to create a new import.

**Expected behavior**
User must be able to create a new backup offering.

**Scre

[2020-03-26 17:51] onitake commented on #249
Sorry, that didn't improve anything.
I still get the name of the account's first user instead of my own.

The profile link goes to the user profile now, but it's the account's first user's profile, not my own.
So, it's an improvement IMHO, but still not quite what it should be.

[2020-03-27 06:31] utchoang commented on #253
Hi @rhtyd , I can't connect to http://primate-qa.cloudstack.cloud:8080/client/ because when login I have gotten the message: "Invalid username or password.
This could also be a restriction on the IP address you are connecting from."
Although I have an input username / password correct.
![image](https://user-images.githubusercontent.com/13766648/77728330-defab400-702e-11ea-86d1-4ab703db8768.png)

[2020-03-27 07:37] rhtyd commented on #253
Hi @utchoang can you try again, there was an issue at mysql/mgmt server that has been temporarily fixed.

[2020-03-27 07:42] rhtyd commented on #259
@vladimirpetrov as discussed yesterday this form is a missing feature per https://github.com/apache/cloudstack-primate/issues/253

This is duplicate sub-set of above, will close.

[2020-03-27 07:42] #259 closed

[2020-03-27 08:29] vladimirpetrov opened #262 "[BUG] Useless table scrollers on 'New instance' dialog"
**Describe the bug**
In the 'New instance' dialog there are scrollers in some tables which do not make sense.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > Instances' and click on the 'Add instance' icon.

**Expected behavior**
There is no need for data grid title scrollers and grid scrollers when the data fits in the available space.

**Screenshots**
![image](https://user

[2020-03-27 08:54] vladimirpetrov opened #263 "[BUG] Missing side info scroller in the 'New instance' dialog"
**Describe the bug**
In the 'New instance' dialog there is an instance info section that fills the instance data on the fly - as they are entered. There is no way to see it all though - no scroller is present.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > Instances' and click on the 'Add instance' icon.
2. Enter the required parameters in the dialog, then look on the right

[2020-03-27 09:26] vladimirpetrov opened #265 "[BUG] Missing hypervisor parameter in the 'New instance' dialog"
**Describe the bug**
It's impossible to create a new VM instance due to missing hypervisor parameter - even when everything is properly filled, the following error is shown when 'Launch VM' button is pressed:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > Instances' and click on the 'Add instance' icon.
2. Enter all required parameters in the dialog (make sure you select IS

[2020-03-27 10:43] rhtyd commented on #195
Fixed by https://github.com/apache/cloudstack-primate/pull/203

[2020-03-27 10:43] #195 closed

[2020-03-27 10:45] rhtyd commented on #200
@vladimirpetrov please test and close

[2020-03-27 10:46] rhtyd commented on #191
@vladimirpetrov please test and close

[2020-03-27 10:58] shwstppr commented on #196
Latest master shows details for cluster, storage, zone, etc for volumes attached to a VM
![Screenshot from 2020-03-27 16-23-44](https://user-images.githubusercontent.com/153340/77749387-f4300c80-7047-11ea-9660-69d7dfe63a70.png)
![Screenshot from 2020-03-27 16-23-58](https://user-images.githubusercontent.com/153340/77749128-81bf2c80-7047-11ea-91e3-75bbc2368dc4.png)
Some missing fields added with PR

[2020-03-27 11:00] rhtyd commented on #196
@vladimirpetrov please test and close.

[2020-03-27 12:32] vladimirpetrov commented on #191
Fix confirmed, closing the issue.

[2020-03-27 12:32] #191 closed

[2020-03-27 12:51] vladimirpetrov commented on #196
Fix confirmed, closing the issue.

[2020-03-27 12:51] #196 closed

[2020-03-27 15:00] vladimirpetrov opened #269 "[BUG] Images > Templates > Upload Local Template - Zone cannot be changed in the dialog"
**Describe the bug**
The zone cannot be changed when uploading a local template - it stays on the first entry no matter what you select from the drop-down list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Images > Templates' and click 'Upload Local Template'. Now try to change the zone - whatever you select, the top entry stays selected.

**Expected behavior**
You should be able t

[2020-03-27 15:24] vladimirpetrov commented on #200
It's not working properly, the given choice in the 'HA Provider' drop-box seems wrong and the operation fails, see the difference between the old and the Primate UI:

Old UI:
![image](https://user-images.githubusercontent.com/12384665/77771715-bafb9a80-704f-11ea-94b6-f949d5b8bae9.png)

Primate UI:
![image](https://user-images.githubusercontent.com/12384665/77771811-dcf51d00-704f-11ea-99cd-28624ae3

[2020-03-30 10:54] rhtyd commented on #254
Ping @utchoang @svenvogel - can you have a look at this ticket if you've time, and if not please advise me so I'll ask @shwstppr to look into it instead. For testing please use the http://primate-qa.cloudstack.cloud:8080 env in the .env.local as this env has many mocked zones etc to test against.

[2020-03-31 00:56] utchoang commented on #254
Hi @rhtyd cc @svenvogel - I'm working with https://github.com/apache/cloudstack-primate/issues/250. But if this task is more important, I would prioritize doing it first instead of https://github.com/apache/cloudstack-primate/issues/250.

[2020-03-31 08:57] rhtyd commented on #254
Yes @utchoang, treat #250 as a new feature task, and so any bugs/issues on 0.5.0-technical-preview will have more priority as those are the things we want to fix before the technical preview release candidate is cut. Kindly prioritise accordingly. Thanks.

[2020-03-31 11:15] rhtyd commented on #258
@vladimirpetrov please test and close.

[2020-04-01 10:16] borisstoyanov opened #275 "[BUG] Revert volume snapshot is not successful"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Snapshots and select a snapshot
2. Click on Revert snapshot
4. See error

**Expected behavior**
Snapshot should be reverted successfully

**Screenshots**
![Uploading Screenshot 2020-04-01 at 13.11.43.png…]()

**Desktop (please complete the following information):**

[2020-04-01 15:25] rhtyd commented on #275
@borisstoyanov per mgmt server logs this is a backend issue - then please log it on apache/cloudstack than in Primate; the screenshot is also missing if it's a UI issue (can't tell).

[2020-04-02 08:11] borisstoyanov opened #276 "[BUG] Upload from local is not successful"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Volumes/Template/ISO
2. Click on 'Upload template/volume
3. Fill in the details and submit
4. See error

**Expected behavior**
Upload should be successful

**Screenshots**
![Screenshot 2020-04-02 at 11 10 03](https://user-images.githubusercontent.com/13551960/7822530

[2020-04-02 08:24] borisstoyanov commented on #275
Let me retest today with a proper env and will get back, that was tested with simulator

[2020-04-02 13:24] borisstoyanov commented on #275
It was related to SSVM not working

[2020-04-02 13:24] #275 closed

[2020-04-02 13:27] borisstoyanov opened #277 "[BUG] Download template/iso missing"
**Describe the bug**
User cannot download iso or tempplate

**To Reproduce**
Steps to reproduce the behavior:
1. Go to images/templates/isos
2. select one

**Expected behavior**
I'd exepct to see the button there to download the template/iso

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-04-02 13:41] borisstoyanov opened #278 "[BUG] ISO - Update permissions form does not autodiscover operation, accounts and projects"
**Describe the bug**
Update permissions form does not autodiscover operation, accounts and projects

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ISOs
2. Select an iso
3. Click on Update permissioins
4. See that fields are not autodiscovering operation/account/project

**Expected behavior**
There should be dropdown option for the fields

**Screenshots**
![Screenshot 2020-04-02 at 16

[2020-04-02 13:54] borisstoyanov opened #279 "[BUG] Copy ISO Form does not discover values in fields. Also they seem to be displayed as API attributes"
**Describe the bug**
Fields are not populated when selecting copy iso

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ISOs
2. Select an iso
3. Click on Copy ISO
4. See that fields are not autodiscovering Source and destination and fields are displayed and api call attributes names

![Screenshot 2020-04-02 at 16 50 53](https://user-images.githubusercontent.com/13551960/78257494-96e20280

[2020-04-02 14:02] borisstoyanov opened #280 "[BUG] Kubernetes ISO are not searchable"
**Describe the bug**
when entering search term user cannot filter the isos
**To Reproduce**

**Screenshots**
![Screenshot 2020-04-02 at 17 00 59](https://user-images.githubusercontent.com/13551960/78258322-bb8aaa00-7503-11ea-82bb-1d17542a5260.png)

[2020-04-03 08:41] rhtyd commented on #276
@borisstoyanov this maybe invalid if this was performed on:
- primate-qa server as it's simulator, there is no real SSVM or upload endpoint
- any trillian/valid env without SSL enabled SSVM

Can you confirm @borisstoyanov @vladimirpetrov?

[2020-04-03 08:42] rhtyd commented on #277
@borisstoyanov @vladimirpetrov - can you specify in your bug reports where you're testing it - either on primate-qa or in a trillian/valid env?

[2020-04-03 08:43] rhtyd commented on #278
cc @shwstppr likely a missing feature

[2020-04-03 08:45] rhtyd commented on #279
cc @shwstppr missing feature, can you explore if instead of the button on the resource view, we can move it to the iso zones tab which allows for delete I think, so copy could be moved there as well?

[2020-04-03 08:45] rhtyd commented on #280
cc @shwstppr - likely the backend API does not support that? I've moved it to 1.0-GA instead as this is not a major issue.

[2020-04-03 09:37] borisstoyanov commented on #276
It was on Trillian env with KVM hosts, let me doublecheck and get back

[2020-04-03 09:42] borisstoyanov commented on #276
Confirmed, not a bug

[2020-04-03 09:42] #276 closed

[2020-04-03 09:44] borisstoyanov commented on #277
Tested on Trillian env with KVM hosts.

[2020-04-03 12:27] borisstoyanov opened #281 "[BUG] Add zone -> Add primary storage -> Scope Zone option is a label"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add zone
2. Navigate to Add primary storage and select scope

**Expected behavior**
Option should not be displayed as label

**Screenshots**
![Screenshot 2020-04-03 at 15 24 57](https://user-images.githubusercontent.com/13551960/78360463-817ede00-75bf-11ea-8cee-05931

[2020-04-03 13:11] borisstoyanov opened #282 "[BUG] Enable/Disable maintenance mode in UI prompts error, but host is set properly"
**Describe the bug**
When trying to set host to maintenance or disable maintenance there's the following error displayed in UI, but in background the call seems to be made, because host is set to maintenance.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Host
2. Click on Enable Maintenance mode

**Screenshots**
![Screenshot 2020-04-03 at 16 07 21](https://user-images.githubus

[2020-04-06 13:29] borisstoyanov opened #286 "[BUG] As root admin cannot see instances in Kubernetes cluster created as user"
**Describe the bug**
Root admin is not displayed with instances of a kub cluster created by user

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster as user
2. Login as root and list the instances of the cluster

**Expected behavior**
Instances listed

**Screenshots**
As root admin
![Screenshot 2020-04-06 at 16 26 26](https://user-images.githubusercontent.com/13551960/78563459-a

[2020-04-07 07:25] shwstppr commented on #280
@rhtyd yes this will require some backend changes. It would be better to handle this in next milestone as suggested

[2020-04-09 13:04] shwstppr commented on #263
@rhtyd since we have used `Affix` element as a parent for info card here we can't have it scrolling down. Design change here?
Maybe fixing height of info card to something like 75% of parent and then use scroll if needed? Though I'm sure about its implementation

[2020-04-09 13:09] shwstppr commented on #282
@borisstoyanov I'm not able to reproduce this one with the latest master. Are there any specific steps?
cc @rhtyd

[2020-04-09 13:22] borisstoyanov commented on #282
I've also tried @shwstppr and I cannot as well. Lets ignore it for now and reopen if needed

[2020-04-09 13:22] #282 closed

[2020-04-09 13:28] shwstppr commented on #277
![Screenshot from 2020-04-09 18-54-17](https://user-images.githubusercontent.com/153340/78899840-93ff8880-7a93-11ea-9c1f-e291a66b262c.png)
@borisstoyanov Download option is shown for templates and isos registered with extractable=true param.
Old UI allowed download option for all ISOs but this has been changed with https://github.com/apache/cloudstack/pull/4017
here https://github.com/apache/cloud

[2020-04-10 11:03] shwstppr commented on #24
#289 fixes this partially. Actions with input parameters other than `ids` needs to be tested

[2020-04-14 10:42] shwstppr commented on #262
This seems inherent behaviour of ANT table element when scrolling is allowed but the content is less
@rhtyd

[2020-04-14 11:01] shwstppr commented on #238
@rhtyd This is because both these parameters are not a required parameter in createAccount API
https://github.com/apache/cloudstack/blob/master/api/src/main/java/org/apache/cloudstack/api/command/admin/account/CreateAccountCmd.java#L63-L67
Either we change backend or use a custom form. PR already created #257

[2020-04-14 17:11] rhtyd commented on #286
@borisstoyanov please test and close. PR merged on master.

[2020-04-14 17:12] rhtyd commented on #281
@borisstoyanov please test and close. PR merged on master.

[2020-04-15 11:10] rhtyd commented on #184
@borisstoyanov please test and close if it's confirmed on latest master. Thanks.

[2020-04-15 12:27] borisstoyanov commented on #277
True that, not a bug.

[2020-04-15 12:27] #277 closed

[2020-04-15 12:32] borisstoyanov commented on #281
![Screenshot 2020-04-15 at 15 32 19](https://user-images.githubusercontent.com/13551960/79337514-4e790a80-7f2e-11ea-9d7f-1c7bc3d51b0f.png)
LGTM now

[2020-04-15 12:32] #281 closed

[2020-04-15 13:11] borisstoyanov opened #292 "[BUG] Add account, repeat password mimics the added password"
**Describe the bug**
As we know the nature of this field is not to mimic the input of the user, but instead to force the user to enter the same password, for typo protection. Now it simply mimics what the user imputs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to accounts
2. Click on + sign
3. Enter pass

**Expected behavior**
User should enter the pass twice

**Screenshots**
![pass](

[2020-04-15 13:15] vladimirpetrov commented on #200
Fix confirmed, closing the issue.

[2020-04-15 13:15] #200 closed

[2020-04-15 13:22] borisstoyanov commented on #184
Is this add account or add user?
if it's add account it's looking good now, but the tooltip from the screenshot suggest this is add user under which account, where a drop down sound reasonable. By the way both looking good to me now.

[2020-04-15 13:22] borisstoyanov commented on #184
ping @PaulAngus, @rhtyd

[2020-04-15 13:40] borisstoyanov commented on #175
Duplicated by #292

[2020-04-15 13:40] borisstoyanov commented on #292
Closing this in favor of the older one

[2020-04-15 13:40] #292 closed

[2020-04-15 13:58] borisstoyanov commented on #184
Just double-checked with Vladi and it seems good now.

[2020-04-15 13:58] #184 closed

[2020-04-15 15:09] vladimirpetrov opened #293 "[BUG] Infrastructure > System VMs > Run Diagnostics does not show the command output"
**Describe the bug**
The action 'Run Diagnostics' from the System VMs screen is not showing the result of the command.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Infrastructure > System VMs' and click on a system VM
2. Click on the 'Run Diagnostics' button, then choose 'ping' operation with some argument - '8.8.8.8' for example.

**Expected behavior**
The result of the command mu

[2020-04-16 12:58] onitake opened #294 "[BUG] Can't add load balancer"
**Describe the bug**
When trying to add a new load balancer, the VM selection popup doesn't load.
It's impossible to add a load balancer via the UI because of this.

button,
**To Reproduce**
Steps to reproduce the behavior:
1. Go to an allocated IP address
2. Select the "Load Balancing" tab
3. Enter values into the Name, Public Port, Private Port, Algorithm, Protocol fields
4. Click on the "Add" b

[2020-04-17 07:34] rhtyd commented on #83
@borisstoyanov please test and close, thanks.

[2020-04-17 07:36] rhtyd commented on #269
@vladimirpetrov @borisstoyanov please test and close, thanks.

[2020-04-17 07:39] rhtyd commented on #201
@vladimirpetrov @borisstoyanov please test and close against master, thanks.

[2020-04-17 07:39] rhtyd commented on #202
@vladimirpetrov @borisstoyanov please test and close against master, thanks.

[2020-04-17 07:43] rhtyd commented on #237
@vladimirpetrov @borisstoyanov please test and close against master, thanks.
Please also test as root admin, domain admin and normal account against old UI to see if the settings tab is visible or editable for these accounts; against Primate implementation.

[2020-04-17 07:47] rhtyd commented on #293
cc @shwstppr

[2020-04-17 07:47] rhtyd commented on #294
cc @shwstppr

[2020-04-17 07:55] rhtyd opened #295 "[FEATURE] Complete Quota UI Feature"
Refer to old UI (for example: http://primate-qa.cloudstack.cloud:8080/client/) and complete the quota UI feature in Primate. Also see following related tickets:
https://github.com/apache/cloudstack-primate/issues/209
https://github.com/apache/cloudstack-primate/issues/210
https://github.com/apache/cloudstack-primate/issues/211
https://github.com/apache/cloudstack-primate/issues/212

[2020-04-17 07:55] rhtyd commented on #295
@utchoang can you pick this one next, after your current work. Thanks. cc @svenvogel

[2020-04-17 07:59] utchoang commented on #295
@rhtyd I got it. Thanks.

[2020-04-17 08:00] rhtyd commented on #258
Manually tested master LGTM, closing on this test
![Screenshot from 2020-04-17 13-29-37](https://user-images.githubusercontent.com/95203/79546136-83f93180-80af-11ea-9d15-e376831abd2c.png)

[2020-04-17 08:00] #258 closed

[2020-04-17 08:05] rhtyd commented on #83
Manually tested, LGTM
![Screenshot from 2020-04-17 13-34-40](https://user-images.githubusercontent.com/95203/79546532-3a5d1680-80b0-11ea-85c1-373d5f567951.png)

[2020-04-17 08:05] rhtyd commented on #83
For dynamic configs, it does not show popup to restart mgmt server but only update message:
![Screenshot from 2020-04-17 13-35-38](https://user-images.githubusercontent.com/95203/79546616-5791e500-80b0-11ea-982f-158163000e74.png)

[2020-04-17 08:06] #83 closed

[2020-04-17 08:07] rhtyd commented on #269
Manually tested:

Before selection:
![Screenshot from 2020-04-17 13-36-51](https://user-images.githubusercontent.com/95203/79546744-8d36ce00-80b0-11ea-9be0-cb46ce6a725c.png)

During selection:
![Screenshot from 2020-04-17 13-37-00](https://user-images.githubusercontent.com/95203/79546768-9758cc80-80b0-11ea-9786-39877a1b2aa3.png)

After change:
![Screenshot from 2020-04-17 13-37-02](https://user-im

[2020-04-17 08:07] rhtyd commented on #269
Closing on manual testing.

[2020-04-17 08:07] #269 closed

[2020-04-17 08:27] rhtyd commented on #293
This was probably tested on simulator and the error makes sense; perhaps we need to test against a kvm/real env.

[2020-04-17 08:45] shwstppr commented on #293
API runs on real env but no optput is shown, looking into it @rhtyd @vladimirpetrov

[2020-04-17 10:17] shwstppr commented on #294
@onitake is it possible for you to checkout PR #296
I've tried fix error handling on API failure

[2020-04-17 10:25] vladimirpetrov commented on #293
This was tested on a Trillian environment, not simulator @rhtyd .

[2020-04-17 10:43] shwstppr commented on #293
@vladimirpetrov I've fixed the display issue for both systemvm and VR. cc @rhtyd

[2020-04-17 12:30] onitake commented on #294
@shwstppr Awesome, that seems to have fixed the problem. I get a proper list of VMs now, and no error message in the console.

[2020-04-20 10:16] rhtyd opened #299 "[FEATURE] Explore Test Automation"
Explore and come up with documentation and examples on:
- Writing unit tests
- Build system to run unit tests

Basic coverage:
- An example of unit testing a general widget/component
- An example of unit testing a simple Tab or Action component
- Unit test for the AutogenView component

[2020-04-20 10:17] rhtyd commented on #299
@utchoang cc @svenvogel after you're done with your current features and if you've time can you explore and research best practices around test automation, starting with unit-testing and some basic coverage? Thanks.

[2020-04-20 10:46] rhtyd commented on #223
cc @shwstppr - please see

[2020-04-20 10:47] rhtyd commented on #213
Add filter by state in the state column for vm etc. cc @shwstppr (ListView component)

[2020-04-21 07:37] borisstoyanov commented on #269
LGTM

[2020-04-21 07:51] borisstoyanov commented on #237
LGTM

[2020-04-21 07:51] #237 closed

[2020-04-21 08:11] vladimirpetrov commented on #201
There is a button now and it says it completes the task successfully but does not show the URL to download the diagnostic data.

![image](https://user-images.githubusercontent.com/12384665/79841881-b6ad6d80-83c0-11ea-9828-27eac25df4a1.png)

as it did in the old UI, for example:

![image](https://user-images.githubusercontent.com/12384665/79841835-aa291500-83c0-11ea-9e55-c3d922919477.png)

[2020-04-21 08:15] vladimirpetrov commented on #202
There is a button now and it says it completes the task successfully but does not show the URL to download the diagnostic data:

![image](https://user-images.githubusercontent.com/12384665/79842242-31768880-83c1-11ea-9d74-b1278e6ba1f6.png)

like it did in the old UI, for example:

![image](https://user-images.githubusercontent.com/12384665/79842319-51a64780-83c1-11ea-8cc8-ea9c70dbc1e0.png)

[2020-04-21 11:23] vladimirpetrov opened #300 "[BUG] Upload local template - empty Hypervisor drop-down after selecting incomplete zone"
**Describe the bug**
While uploading a local template, if you cycle through the zones list and go through one that's not complete (missing storage for example), Primate UI properly shows empty drop-down for Hypervisor. The problem is that after selecting a functional zone, the drop-down still says empty so the only workaround is to close the dialog and start from scratch.

**To Reproduce**
Steps t

[2020-04-21 11:35] rhtyd commented on #300
cc @shwstppr

[2020-04-21 15:20] vladimirpetrov opened #301 "[BUG] Missing domain parameter when updating compute offering access"
**Describe the bug**
When updating compute offering access, there is a 'Domain' setting in the old UI which is missing in the Primate UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Compute offerings', click on an offering.
2. Now click on the 'Update offering access' icon and make sure the 'Public' checkbox is unchecked - the 'Domain' selection from the old UI is miss

[2020-04-21 15:33] vladimirpetrov opened #302 "[BUG] The 'Public' checkbox in 'Update compute offering access' is not working"
**Describe the bug**
When updating compute offering access, there is a 'Public' checkbox that doesn't change anything in Primate UI. It doesn't even load the current state of the parameter - just always opens as 'disabled'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Compute offerings', click on an offering.
2. Now click on the 'Update offering access' icon and look at

[2020-04-22 06:13] rhtyd commented on #301
cc @shwstppr

[2020-04-22 06:14] rhtyd commented on #302
cc @shwstppr

[2020-04-22 06:18] vladimirpetrov opened #303 "[BUG] Non-working checkbox when updating compute offering access"
**Describe the bug**
When updating compute offering access, there is a 'Public' checkbox that doesn't change anything in Primate UI. It doesn't even load the current state of the parameter - just always opens as 'disabled'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Offerings > Compute offerings', click on an offering.
2. Now click on the 'Update offering access' icon and look at

[2020-04-22 06:30] rhtyd commented on #253
Tested, LGTM.

[2020-04-22 06:30] #253 closed

[2020-04-22 06:35] rhtyd commented on #303
ping @shwstppr

[2020-04-22 06:52] rhtyd commented on #279
@shwstppr remark - please move the copy and delete button to the iso and template zone components listed in front of each zone item/row.

[2020-04-22 07:35] rhtyd commented on #233
@vladimirpetrov cc @borisstoyanov please test and close against latest master.

[2020-04-22 07:35] rhtyd commented on #245
@vladimirpetrov cc @borisstoyanov please test and close against latest master.

[2020-04-22 08:07] rhtyd commented on #173
@vladimirpetrov @borisstoyanov please re-test against master. I've removed the `VM volume snapshot` action on purpose, this button shouldn't exist for VM view; if we need that please log another ticket that we can target for GA/1.0. Thanks.

[2020-04-22 09:11] rhtyd opened #306 "[BUG] VM Deployment Wizard Changes"
We need to address the following:
- Template filter can be left to search box; does n't seem to work - if I select something like Community in primate-qa server env it should show no templates (empty)
- TBD: should we add/have a way to add network, re-use the add network form perhaps?
- Not able to specify a new group: (this could be okay if we ask/expect users to create groups first?)
- Hyperviso

[2020-04-22 09:13] #254 closed

[2020-04-22 09:19] rhtyd commented on #300
@vladimirpetrov please re-test and close against latest master.

[2020-04-23 10:12] rhtyd opened #308 "[BUG] Apply threshold logic to colour pie-progress red if threshold exceeds 80%"
On the dashboard, check and enforce that progress bar is shown red if value exceeds 80% (see code in src/view/dashboard/). This is for the admin dasboard.

cc @shwstppr

[2020-04-23 10:18] rhtyd commented on #308
I could confirm for 100+%: but not for values 75, 80, 85...
![Screenshot from 2020-04-23 15-40-07](https://user-images.githubusercontent.com/95203/80088194-c9b76d80-8579-11ea-8f96-18e20ebf6436.png)

[2020-04-24 06:29] shwstppr commented on #308
@rhtyd Currently there are some auto-defined thresholds,
![Screenshot from 2020-04-24 11-34-39](https://user-images.githubusercontent.com/153340/80181663-e360bf80-8622-11ea-8290-46f5133d4246.png)
![Screenshot from 2020-04-24 11-33-52](https://user-images.githubusercontent.com/153340/80181670-e52a8300-8622-11ea-9060-6041803e9114.png)
![Screenshot from 2020-04-24 11-33-05](https://user-images.github

[2020-04-24 09:24] rhtyd commented on #263
@shwstppr we could try to put in a scrollbar inside the affix element, using veritcal scroll like `  overflow-y: scroll;` ?

[2020-04-24 09:24] rhtyd commented on #262
@shwstppr it should be possible to hide them with `  overflow-y: hidden;`?

[2020-04-24 09:27] rhtyd commented on #202
@shwstppr please see ^^

[2020-04-24 09:27] rhtyd commented on #201
@shwstppr please see ^^ did you use a `response` param?

[2020-04-24 09:30] rhtyd commented on #265
@vladimirpetrov can you test master again, I think this was fixed. When ISO is selected it asks hypervisor dropdown below it.

[2020-04-24 09:32] rhtyd commented on #308
@shwstppr can you change it like this: below 80% a fixed colour (blue as per the theme); and >= 80% just use 'red' (this is behaviour of the old UI).

[2020-04-24 09:33] rhtyd opened #310 "[BUG] Add role based access checks for custom UI elements/forms"
Log in as read-only root admin and you'll still see some buttons tabs that must be hidden from the logged in user. For this in all such custom components (mostly tabs), a v-if check if needed to show/hide elements based on `apiName in $store.getters.api...` check.

[2020-04-24 09:35] shwstppr commented on #263
@rhtyd I don't think I'm best placed to address purely UI issues

[2020-04-24 09:45] shwstppr commented on #262
@rhtyd  not working for me,
[code]

[2020-04-24 09:51] DaanHoogland opened #311 "[BUG] defaults selection in deploy wizard are missing"
**Describe the bug**
In the old UI while going through the deployment wizard, the fields for "Compute Offering" and "network" are filled with (reasonable) defaults. In Primate those do not contain selections, resulting in an extra few clicks needed by the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'compute > instances > add instance'
2. Select a zone
3. Scroll down to 'Compu

[2020-04-24 09:54] DaanHoogland commented on #311
@utchoang I think you did the most work on the deployment wizard, can you give a quick assesment of the issue I describe. I will improve the description if needed, but i want to first now if this had been omitted on purpose.

[2020-04-24 10:46] shwstppr commented on #201
@rhtyd please have look on new PR when possible

[2020-04-24 10:56] shwstppr commented on #308
![Screenshot from 2020-04-24 16-22-58](https://user-images.githubusercontent.com/153340/80205416-35680c00-8648-11ea-9c1a-58330f9ab4d3.png)
Changes made to PR #309
Just red for >=80% and the default for rest

[2020-04-24 12:31] borisstoyanov commented on #265
LGTM

[2020-04-24 12:31] #265 closed

[2020-04-24 13:27] DaanHoogland commented on #51
I'd like to reopen @rhtyd . I fix was merged in December but I encountered this missing on a branch I created from master in april.

[2020-04-24 13:30] DaanHoogland commented on #51
![Screenshot from 2020-04-24 13-11-31](https://user-images.githubusercontent.com/2486961/80217654-946d5700-862f-11ea-9dec-6edc094db930.png)

That is the old UI. The new one only briefly shows succes on the same installation with the same parameters. It show to short a period to even capture it.

[2020-04-24 20:46] svenvogel opened #314 "[BUG] translation is missing (manage storage / service -> disk offering)"
**Describe the bug**
the translation is missing in "disk offering" and maybe "compute offering"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'disk offering'
2. Click on 'add a new one'
3. translation is missing

**Expected behavior**
* old UI
<a href="url"><img src="https://user-images.githubusercontent.com/5433844/80254653-dde39380-867b-11ea-85ed-f43a30e9f506.png" width="500" ></a>

[2020-04-24 20:46] svenvogel commented on #314
@rhtyd @utchoang can you check this and maybe fix?

[2020-04-25 08:41] rhtyd commented on #311
I think we simply need to auto-select the first item in the list (if the item is not empty) - @utchoang can you fix this whenever you get time, thanks.

[2020-04-27 06:09] utchoang commented on #311
@rhtyd OK. I'll fix it on  my PR https://github.com/apache/cloudstack-primate/pull/307

[2020-04-27 10:42] #314 closed

[2020-04-29 10:05] rhtyd commented on #300
ping @vladimirpetrov  @borisstoyanov

[2020-04-29 10:05] rhtyd commented on #286
ping @vladimirpetrov  @borisstoyanov

[2020-04-29 10:28] #308 closed

[2020-04-29 10:28] rhtyd commented on #308
Verified and tested manually.

[2020-04-29 11:43] rhtyd opened #318 "[BUG] Ad-blocker may fail Primate API requests"
**Describe the bug**

Some Primate actions/forms may fail if a browser extension/addon (generally an ad-blocker) blocks certain API requests.

**To Reproduce**
Steps to reproduce the behavior:
1. On Chrome install uBlock Origin ad-blocker, go to Infra -> Router
2. Click on 'get diagnostic action', select ping 8.8.8.8
3. API request is blocked and a general network error message is displayed

**Exp

[2020-04-29 11:43] rhtyd commented on #318
Mitigation of-course is to white-list the url/domain.

[2020-04-29 11:58] rhtyd commented on #6
Network error handled like this:
![Screenshot from 2020-04-29 17-22-26](https://user-images.githubusercontent.com/95203/80593417-d25ae880-8a3e-11ea-9beb-2f9f6612fb91.png)

[2020-04-29 11:58] #6 closed

[2020-04-29 20:12] rhtyd commented on #201
@vladimirpetrov @borisstoyanov PR merged, please re-test against master. This will require a real env (say kvm etc), we may get unexpected results for simulator.

[2020-04-29 21:03] rhtyd commented on #293
@vladimirpetrov @borisstoyanov please retest against latest master, against a real env otherwise output will be missing against qa server/simulator.

[2020-04-30 07:54] vladimirpetrov commented on #201
Fix confirmed, closing the issue.

[2020-04-30 07:54] #201 closed

[2020-04-30 07:55] vladimirpetrov commented on #202
Fix confirmed, closing the issue.

[2020-04-30 07:55] #202 closed

[2020-04-30 07:58] vladimirpetrov commented on #293
Fix confirmed, closing the issue.

[2020-04-30 07:58] #293 closed

[2020-04-30 10:11] vladimirpetrov commented on #300
Fix confirmed, closing the issue.

[2020-04-30 10:11] #300 closed

[2020-04-30 10:20] rhtyd commented on #318
Fixed as a notification fix.

[2020-04-30 10:20] #318 closed

[2020-05-04 08:18] svenvogel opened #321 "[BUG] Translation (manage storage / service -> compute offering)"
**Describe the bug**
Translation in Compute Offering is Missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Compute -> Compute Offerings
2. Add a new Offer
3. "compute offering type" needs to be translated, "customconstrained", "customunconstrained"
and
4. ~~select "QoS Type" -> Storage -> "iscustomizeddiskiops", "diskiopsmin", "diskopsmax"
and~~ fixed in PR #315
5. select "QoS Type" ->

[2020-05-04 08:50] rhtyd commented on #301
@vladimirpetrov please test against latest master and close.

[2020-05-04 08:51] rhtyd commented on #302
@vladimirpetrov please test against latest master and close.

[2020-05-04 08:51] rhtyd commented on #303
@vladimirpetrov please test against latest master and close.

[2020-05-04 09:01] rhtyd commented on #278
@borisstoyanov @vladimirpetrov please test latest master and close.

[2020-05-04 09:42] vladimirpetrov commented on #301
Fix confirmed, closing the issue.

[2020-05-04 09:42] #301 closed

[2020-05-04 10:03] rhtyd commented on #243
@vladimirpetrov cc @borisstoyanov please test latest master and close. Thanks.

[2020-05-04 10:06] vladimirpetrov commented on #302
Somehow I got confused and logged this bug twice. Closing it as duplicate of #302.

[2020-05-04 10:06] #302 closed

[2020-05-04 10:06] vladimirpetrov commented on #302
Somehow I got confused and logged this bug twice. Closing it as duplicate of #303.

[2020-05-04 10:13] rhtyd commented on #180
@vladimirpetrov cc @borisstoyanov please re-test the domain view tree and list views against old UI, confirm and close this against latest master.

[2020-05-04 10:32] rhtyd commented on #51
@utchoang can you check/fix the deployment wizard to show the VM password if VM has a password enabled template. The password is returned by the VM response `json.virtualmachine.password`. This is already fixed for start VM and reset VM actions.

[2020-05-04 10:34] rhtyd commented on #249
@vladimirpetrov  cc @borisstoyanov can you look into this and see if you can reproduce it. I cannot.

[2020-05-04 10:41] rhtyd commented on #280
This needs fixing in backend and Primate will automatically support that, closing this one as I've opened https://github.com/apache/cloudstack/issues/4056 cc @borisstoyanov

[2020-05-04 10:42] #280 closed

[2020-05-04 10:42] rhtyd commented on #286
I've confirmed this, closing.

[2020-05-04 10:42] #286 closed

[2020-05-04 13:10] vladimirpetrov commented on #303
Fix confirmed, closing the bug.

[2020-05-04 13:10] #303 closed

[2020-05-04 13:14] vladimirpetrov commented on #278
Fix confirmed, closing the issue.

[2020-05-04 14:50] vladimirpetrov opened #322 "[BUG] Updatе compute offering access dialog does not get current state on loading"
**Describe the bug**
The 'Updatе compute offering access' dialog does not read current state of variables when loaded. This is visible when using two different browsers with the same user - if you change a setting in the first browser, the second does not see it until the 'Refresh' button is clicked.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as same user in two different browser

[2020-05-04 19:09] svenvogel commented on #321
@utchoang does it fit?

[2020-05-05 01:01] rhtyd commented on #322
@shwstppr pl see

[2020-05-05 01:02] #278 closed

[2020-05-05 05:11] shwstppr commented on #322
@rhtyd this is because offering item is not refreshed in second window after it is updated in the first window. Should we fetch offering's new details when the form is opened (I originally added this but it was removed during code review https://github.com/apache/cloudstack-primate/pull/94/commits/845d0e9e2b317937f435be5c33a56f2a071f5952#diff-a341f854d0c3be2321235491b26f7075L158-L171). Moreover th

[2020-05-05 06:23] rhtyd commented on #322
@shwstppr Isn't it available in this.resource? That's why I removed it, you can $emit the refresh event so you don't need to call the list API. Check the best option and send a PR as necessary.

[2020-05-05 07:39] shwstppr commented on #322
@rhtyd @vladimirpetrov Following action/APIs might show similar behaviour,

- updateVirtualMachine
- updateInstanceGroup
- updateUser
- updateRole
- updateTemplate
- updateIso
- updateKubernetesVersion
- updateNetwork
- updateVPC
- updateNetworkACLList
- updateVpnCustomerGateway
- enable/disable*Offering
- updateHost
- updatePod
- updateZone

should I change it for them as well?

[2020-05-05 07:54] rhtyd commented on #199
Template filtering options will be added in 1.0/GA

[2020-05-05 07:56] rhtyd commented on #322
limit them to this bug wrt offerings only for now @shwstppr just send a PR with the changes I had removed not considering this case from the original PR

For other update APIs, when form is created we use this.resource to populate the options.

[2020-05-05 07:57] rhtyd commented on #24
Dupes https://github.com/apache/cloudstack-primate/issues/162

[2020-05-05 07:57] #24 closed

[2020-05-05 08:06] rhtyd commented on #322
PR merged, please test against latest master and close this @vladimirpetrov

[2020-05-05 08:11] rhtyd commented on #173
ping @vladimirpetrov

[2020-05-05 09:03] vladimirpetrov commented on #180
Fix confirmed, closing the issue.

[2020-05-05 09:03] #180 closed

[2020-05-05 09:19] vladimirpetrov commented on #243
Fix confirmed, closing the issue.

[2020-05-05 09:19] #243 closed

[2020-05-05 09:57] rhtyd commented on #177
@vladimirpetrov please test and close against latest master, thanks. cc @borisstoyanov

[2020-05-05 10:59] rhtyd commented on #225
@vladimirpetrov cc @borisstoyanov please test and close against master, thanks.

[2020-05-05 12:16] rhtyd commented on #199
Related issue; https://github.com/apache/cloudstack/issues/4041

[2020-05-05 12:19] rhtyd commented on #162
Test cases:
- Group action for events and alerts and instance

[2020-05-06 21:15] rhtyd commented on #241
@vladimirpetrov cc @borisstoyanov please test latest master and close.

[2020-05-06 21:15] rhtyd commented on #244
@vladimirpetrov cc @borisstoyanov please test latest master and close.

[2020-05-06 21:16] rhtyd commented on #240
@vladimirpetrov cc @borisstoyanov please test latest master and close.

[2020-05-07 09:17] vladimirpetrov commented on #177
No more 'old password' field so the fix is confirmed. Closing the issue.

[2020-05-07 09:17] #177 closed

[2020-05-07 09:20] vladimirpetrov commented on #225
Fix confirmed, closing the issue.

[2020-05-07 09:20] #225 closed

[2020-05-07 09:22] vladimirpetrov commented on #240
Fix confirmed, closing the issue.

[2020-05-07 09:22] #240 closed

[2020-05-07 09:25] vladimirpetrov commented on #244
Fix confirmed, closing the issue.

[2020-05-07 09:25] #244 closed

[2020-05-07 09:32] vladimirpetrov commented on #241
Fix confirmed, closing the issue.

[2020-05-07 09:32] #241 closed

[2020-05-07 10:01] rhtyd commented on #51
PR is there for tracking, closing this.

[2020-05-07 10:01] #51 closed

[2020-05-07 10:02] rhtyd commented on #311
Moved here https://github.com/apache/cloudstack-primate/issues/306

[2020-05-07 10:02] #311 closed

[2020-05-07 10:28] vladimirpetrov commented on #173
Two actions are still missing in Primate UI, compared to the old UI (running instance):
- Reset password (could be hidden because my VM was created without password enabled, which would be different behavior than the old UI)
- Reset SSH Key pair

[2020-05-07 10:34] shwstppr commented on #173
@vladimirpetrov looking at them cc @rhtyd

[2020-05-07 14:46] vladimirpetrov commented on #322
Fix confirmed, closing the issue.

[2020-05-07 14:46] #322 closed

[2020-05-07 15:16] vladimirpetrov commented on #249
I cannot reproduce this issue using the latest master build (0.4.0-20200507). It seems to be working as expected.

[2020-05-07 17:17] rhtyd commented on #173
@vladimirpetrov please re-test latest master and close this.

[2020-05-07 17:34] #321 closed

[2020-05-08 09:17] vladimirpetrov commented on #51
Fix confirmed, working fine.

![image](https://user-images.githubusercontent.com/12384665/81391522-e4671600-9125-11ea-8c1e-f284652866b9.png)

[2020-05-08 09:56] #294 closed

[2020-05-08 10:22] #306 closed

[2020-05-08 10:55] vladimirpetrov commented on #173
Fix confirmed, closing the issue.

[2020-05-08 10:55] #173 closed

[2020-05-08 10:57] vladimirpetrov commented on #199
Fix confirmed, closing the issue.

[2020-05-08 10:57] #199 closed

[2020-05-08 12:03] rhtyd commented on #249
Unable to reproduce, closing on this remark. Let's revisit this after tech preview.

[2020-05-08 12:03] #249 closed

[2020-05-08 13:44] onitake commented on #249
If you can't reproduce it, then it might in fact be related to LDAP account association.

I can reproduce it in our environment every time. The LDAP user I logged in as is simply "lost" after login, and I only see the account's name and profile link.

[2020-05-09 05:20] rhtyd commented on #279
@borisstoyanov @vladimirpetrov please test latest master and close. The UX is changed slightly as follows:
- the copy and delete buttons are now part of the zones tab for template/iso similar to old UI
- there's a new template/iso filter drop down near search bar for template/iso list views
- Kindly test template/iso register and upload features as well

[2020-05-11 10:05] rhtyd commented on #162
I'm moving group actions to 1.0/GA. Will look into individual event/alert actions for tech preview.

[2020-05-11 10:45] rhtyd opened #332 "[FEATURE] Cache API discovery list"
**Is your feature request related to a problem? Please describe.**
Everytime a user logs in, or opens a new tab for a logged in session the API discovery is fired that causes the UI to load slow.

**Describe the solution you'd like**
Explore ways to speedup API discovery or caching mechanism by use of local storage.

[2020-05-11 11:09] rhtyd opened #333 "Add support for tiers in PF, LB rules for a VPC"
**Is your feature request related to a problem? Please describe.**

- Add support for tiers dropdown in PF, LB tabs for a VPC (ip address, not SNAT-ed) (see IP address of any VPC)
- Add pagination/searching in add VMs modal for the PF, LB, FW tabs.

[2020-05-11 11:19] onitake commented on #332
Good idea.

There needs to be some mechanism to ensure the API list is up to date, there are at least three scenarios where it may change:

* CloudStack is upgraded
* The user's role changes
* The user's role's permissions change

Is it possible to calculate some sort of "API hash" server-side?
A cache timeout may also be a good idea, and a manual "clear API cache" action.

[2020-05-11 18:10] vladimirpetrov opened #334 "Primate UI Smoke test plan"
## Primate UI smoke test

| Functionality | Tester | Result | Related issues |
|---------------|--------|--------|----------------|
| **Instances** | | | |
| Create instance using template | Vladimir | PASSED | |
| Create instance using ISO image and different parameters than the previous one | Vladimir | PASSED | |
| Test all VM actions - Start/Stop/Reboot/Reinstall/Update, etc | Vladimir | PASSE

[2020-05-12 09:01] rhtyd commented on #279
ping @vladimirpetrov

[2020-05-12 09:01] rhtyd commented on #334
Thanks @vladimirpetrov - however this ticket must be assigned to you that I'm unable to assign to execute.

[2020-05-12 13:51] vladimirpetrov commented on #279
Fix confirmed, closing the issue.

[2020-05-12 13:52] #279 closed

[2020-05-13 14:42] vladimirpetrov opened #335 "[BUG] Create SSH key pair - interconnected fields when creating new SSH key pair"
**Describe the bug**
The 'Name' and 'Account' fields in 'Create SSH Key Pair' dialog are interconnected - whatever you write in one of the fields, goes into the other as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Compute > SSH Key Pair' and click 'Create SSH Key Pair'
2. Select a domain and try to enter different name and account - they are duplicated, whatever you write in

[2020-05-13 15:17] vladimirpetrov opened #336 "[BUG] New project name notification shows actually the previous name"
**Describe the bug**
When you create a new project, the name in the notification box is actually the previously created project's name.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have at least one project created. Add a new one and look at the notification box - the name is from the old one

**Expected behavior**
The notification box must show the name of the newly created

[2020-05-14 10:52] rhtyd opened #337 "Testing - the [TESTPLAN] Smoketest Plan"
## Primate Smoke Test Plan

| Feature | Tester | Result | Related Issues |
|---------------|--------|--------|----------------|
| **Instances** | | | |
| Create instance using template | | | |
| Create instance using ISO image and different parameters than the previous one | | | |
| Test all VM actions - Start/Stop/Reboot/Reinstall/Update, etc | | | |
| Add/modify/delete VM setting | | | |
| Add n

[2020-05-14 10:52] #337 closed

[2020-05-14 12:41] rhtyd opened #338 "Testing high-level test plan template"
**Common**
- Project selector
  - [x] pass
  - [ ] fail #151
- [ ] Language selector | | | |
- [ ] Notifications / clear notifications | | | |
- [ ] Profile | | | |

| Feature | Tester | Result  | Related Issues |
|---------------|--------|--------|----------------|
| **Common** | | | |
| - [ ] Project selector | | | |
| - [ ] Language selector | | | |
| Notifications / clear notifications | | | |

[2020-05-14 12:59] #338 closed

[2020-05-14 13:09] DaanHoogland opened #339 "[FEATURE] Boot type and boot mode dropdowns in the deploy wizzard"
**Is your feature request related to a problem? Please describe.**
In 4.14 the ability to deploy with a specified boot type and boot mode, i.e. UEFI/secure, is possible. This should be reflected in the primate UI.

**Describe the solution you'd like**
extra dropdowns with the possible options for boot type and boot mode should be available in the overview (top level) step of the deploy wizard.

**

[2020-05-14 16:25] rhtyd commented on #336
I've found this to be a system-wide issue for any action that happens via the list/table view, it uses the `this.resource.name` which is the first item of the table. Needs some plumbing. cc @vladimirpetrov

[2020-05-14 16:26] rhtyd commented on #335
@shwstppr can you advise if this is a quick one? I'll check tomorrow.

[2020-05-14 17:38] rhtyd commented on #335
Please test master and close @vladimirpetrov

[2020-05-15 10:53] vladimirpetrov opened #341 "[BUG] UI locks when editing template or ISO properties"
**Describe the bug**
When you try to change most of the template properties, the UI locks in never-ending rotating circle.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Images > Templates' and click on a template. (Or go to 'Images > ISOs' and click on ISO)
2. Click on the 'Edit' icon. Now try to change anything but OS Type - the UI will show the waiting rotating circle forever.

**

[2020-05-15 12:24] vladimirpetrov commented on #335
Fix confirmed, closing the issue.

[2020-05-15 12:24] #335 closed

[2020-05-15 14:39] vladimirpetrov opened #342 "[BUG] Changing the project by using the project list icon doesn't change its name in the top of the screen"
**Describe the bug**
If you change the current project by using the icon in the project list (not the drop-down list at the top), it doesn't change the name there.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have more than one project. Go to Projects and use the icon at the first column of the table to change the project. Now look at the top drop-down box - it hasn't change

[2020-05-18 11:56] rhtyd opened #344 "[BUG] Add secondary storage form passes zone name and not zoneid"
**Describe the bug**

Add secondary storage form does not pass zone ID in the URL request but zone name and the API/action fails.

[2020-05-19 13:16] vladimirpetrov opened #346 "[BUG] Read-only admin: destroy volume icon is active"
**Describe the bug**
When logged in as read-only admin (with allowed only list* actions in the role), the destroy volume icon is active. Since it doesn't have permissions, it fails with error message but still the volume is removed from the list and there is a neverending 'in progress' circle in the notification box.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as read-only admin us

[2020-05-20 01:50] Android1968 commented on #62
Guys same error here,any detailed solutions?
![iso error1](https://user-images.githubusercontent.com/58725374/82395961-4eb17c00-9a7f-11ea-9d06-292c6a88f685.png)
![iso error](https://user-images.githubusercontent.com/58725374/82395963-507b3f80-9a7f-11ea-9631-7470a549777b.png)

[2020-05-20 07:45] svenvogel commented on #62
@rhtyd what do you think about this?

[2020-05-20 08:02] vladimirpetrov opened #347 "[BUG] Read-only admin: Kubernetes ISOs are not forbidden"
**Describe the bug**
Even when logged in as read-only admin (with allowed only list* actions in the role), you're still able to enable/disable a Kubernetes ISO.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as read-only admin user (admin role with only list* actions allowed).
2. Go to Images > Kubernetes ISOs. Now you can add a new ISO.
3. Click on ISO. The 'Update' and 'Delete' oper

[2020-05-20 08:05] rhtyd commented on #62
@Android1968 this feature requires SSL/TLS certificates to be setup in the env for SSVM. The screen shots are from legacy UI, if SSVM is SSL enabled it should work with Primate.

[2020-05-20 09:00] vladimirpetrov opened #348 "[BUG] Wrong tooltips on 'Kubernetes ISOs > selected ISO' screen"
**Describe the bug**
Both tooltips on Kubernetes ISOs > selected ISO are wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Images > Kubernetes ISOs', then click on ISO and look at the action buttons' tooltips - both are 'Update Kubernetes Version', which is incorrect.

**Expected behavior**
Button should have proper tooltips, something like 'Edit' and 'Delete'.

**Screenshots**
!

[2020-05-20 09:21] rhtyd commented on #344
@vladimirpetrov please re-test against master and close. Thanks.

[2020-05-20 09:30] vladimirpetrov opened #349 "[BUG] Read-only admin: delete Kubernetes ISO icon is still working"
**Describe the bug**
When logged in as read-only admin (with allowed only list* actions in the role), the delete Kubernetes ISO icon is active and working.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as read-only admin user (admin role with only list* actions allowed).
2. Go to Images > Kubernetes ISOs, then click on a volume and press the 'Destroy' icon. There will be an error mes

[2020-05-20 10:11] vladimirpetrov commented on #346
I created an aggregated issue - #347 so I'm closing this one.

[2020-05-20 10:11] #346 closed

[2020-05-20 12:49] vladimirpetrov opened #350 "[BUG] Read-only admin: domain operations are allowed"
**Describe the bug**
Even when logged in as read-only admin (with allowed only list* actions in the role), you're still able to add/delete domains.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as read-only admin user (admin role with only list* actions allowed).
2. Go to Domains. Now you can create and delete domains even though you shouldn't be allowed. The domain is removed from t

[2020-05-20 13:25] vladimirpetrov opened #351 "[BUG] Read-only admin: add/delete roles is allowed"
**Describe the bug**
Even when logged in as read-only admin (with allowed only list* actions in the role), you're still able to add/delete roles.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as read-only admin user (admin role with only list* actions allowed).
2. Go to Roles. Now you can create and delete roles even though you shouldn't be allowed.

**Expected behavior**
Read-only a

[2020-05-21 01:39] Android1968 commented on #62
Thanks fo the info @rhtyd,do you have any link on how to do this in 4.13 release of Cloudstack?i find it hard because the resources are so limited for this version,thanks again mate!

[2020-05-21 01:54] rhtyd commented on #62
Read the docs @Android1968 http://docs.cloudstack.apache.org/en/latest/adminguide/systemvm.html#using-a-ssl-certificate-for-the-console-proxy

[2020-05-21 07:05] rhtyd commented on #342
@vladimirpetrov please re-test and close

[2020-05-21 07:27] vladimirpetrov commented on #344
Fix confirmed, closing the issue.

[2020-05-21 08:41] rhtyd commented on #341
@vladimirpetrov please re-test against master and close, thanks.

[2020-05-21 09:10] rhtyd commented on #336
@vladimirpetrov please test

[2020-05-21 10:02] #344 closed

[2020-05-21 10:05] vladimirpetrov commented on #341
Fix confirmed, closing the issue.

[2020-05-21 10:05] #341 closed

[2020-05-21 10:06] vladimirpetrov commented on #342
Fix confirmed, closing the issue.

[2020-05-21 10:06] #342 closed

[2020-05-21 10:07] vladimirpetrov commented on #336
Fix confirmed, closing the issue.

[2020-05-21 10:07] #336 closed

[2020-05-21 10:53] vladimirpetrov opened #352 "[BUG] Read-only admin can access VM consoles"
**Describe the bug**
Even when logged in as read-only admin (with allowed only list* actions in the role), you're still able to access VM consoles (VMs, system VMs, virtual router VMs ....) which might be dangerous.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as read-only admin user (admin role with only list* actions allowed).
2. Go to some VM and click on 'View console' - you're

[2020-05-22 19:08] rhtyd commented on #352
@vladimirpetrov the console access is given; could be debated whether console access should be granted or not; this is not controlled by roles feature but if resource has any access for the logged in account.

[2020-05-23 00:08] #334 closed

[2020-05-23 00:08] rhtyd commented on #334
Milestone reached.

[2020-05-23 00:09] rhtyd commented on #166
Milestone reached.

[2020-05-23 00:09] #166 closed

[2020-05-23 09:26] rhtyd opened #354 "Template and ISO views pagination is inconsistent"
The listTemplates and listIsos doesn't return unique templates, but all duplicates for all zones which creates pagination issue. Introduce an API key to allow listing of unique items, fix this with next CloudStack release - https://github.com/apache/cloudstack/issues/4041

[2020-05-23 18:37] #332 closed

[2020-05-23 18:38] rhtyd commented on #332
@onitake please check/test latest master and give your feedback, I've tried to implement client side caching for:
- Load Primate early and let API discovery add dynamic routes without completely blocking the view
- After login, the APIs are cached in local storage in case Primate is refreshed or a link is opened in another tab

[2020-05-24 11:26] rhtyd opened #355 "[BUG] create network form width issue on mobile"
**Describe the bug**
See create network form on mobile phones, the width get broken out of screen.

[2020-05-24 14:54] onitake commented on #332
Sounds good!
Does that mean that the cache is cleared when you log out?

[2020-05-24 15:11] rhtyd commented on #332
Yes @onitake API cache stored in browser local storage will reset on logout, login and session expiry.

[2020-05-25 16:59] onitake commented on #332
I have to admit, I didn't see a big difference.

My test was as follows:

1. Login
2. Wait for discovery completion
3. Access list of VMs
4. Close browser tab
5. Open primate in a new browser tab
6. Observe message "Login detected, using cached APIs" in the console

I assume that the old behaviour was that a new API discovery task would be launched in the new tab, correct? In this case, this is de

[2020-05-26 05:33] rhtyd opened #356 "Migrate translations from legacy UI"
- Translations are not fully migrated from legacy UI, the last attempt was wrt 4.11/4.13, so any new keys in 4.14 would be missing. Check and migrate all available keys.
- The translation key names are inconsistent (some named `abcXyz`, others `abcxyz`)

[2020-05-26 05:37] rhtyd opened #357 "Improve Notification Handling"
Notifications are shown for these cases:
- API request/response message/notification (usually success or failure)
- For special cases (such as display VM password and download links)
- Any general error intercepted by axios

The notification polling is split between `$pollJob` and dispatching an `AddAsyncJob`, the goal would be to refactor a single consistent polling mechanism and interface for de

[2020-05-26 05:41] rhtyd commented on #339
@utchoang can you pick this up next. Please check the old uI (http://primate-qa.cloudstack.cloud:8080/client/) to see the boot type/mode options in the VM deployment wizard - we want that for Primate's vm deployment wizard as well.

Thanks.

[2020-05-26 05:42] rhtyd commented on #112
@DaanHoogland can you check current Primate and update/advise on this ticket what's missing or needs to be added? Thanks.

[2020-05-26 05:45] rhtyd opened #358 "[FEATURE] Add support for VMware vApp properties in VM deployment"
Add support to ask questions in a step/section if the selected template is a VMware vapp template like the legacy UI's VM deployment wizard to ask questions and take user input/answers.

Additional notes - For this @DaanHoogland is working on the backend feature on apache/cloudstack, legacy UI already supports this (for reference) and can discuss/work with @rhtyd and @utchoang.

[2020-05-26 05:47] rhtyd opened #359 "[FEATURE] Add support for UI customisation"
- [ ] Add supporton branding the UI: logos, and theme (refer: https://www.antdv.com/docs/vue/customize-theme/)
- [ ]  Add user documentation on branding
- TBD - Introduce/use a config.js or config.json file for high level custom options (such as keyboards, configs etc.)

[2020-05-26 05:49] rhtyd opened #360 "[FEATURE] Add contextual doc links throughout UI"
Use example pattern for compute/instance section and add UI paths/links throughout Primate configs using http://docs.cloudstack.apache.org as the reference docs website.

[2020-05-26 08:30] vladimirpetrov commented on #352
I raised this issue to start a discussion - @DaanHoogland also agreed with me that this doesn't look good from a security point of view.

[2020-05-26 08:39] rhtyd opened #361 "[FEATURE] Fresh install onboarding"
TBD but on fresh installation we should show zone deployment wizard to the admin (and perhaps ask him to change password?)

[2020-05-26 09:26] rhtyd opened #362 "[FEATURE] VR health checks feature"
Missing feature in Primate, VR health check feature in router list view and resource view.

[2020-05-26 09:31] rhtyd opened #363 "[FEATURE] Rolling maintenance feature for zone, pod, cluster..."
For a zone/cluster/host resource view, show button to start rolling maintenance

[2020-05-26 18:28] DaanHoogland commented on #112
ok, @rhtyd I think the two screenprints at the top are the main thing. Doing a full test is sure to give more, but that will take some time, and i'll add tickets for what ever comes up.

[2020-05-28 07:32] borisstoyanov opened #367 "[BUG] apt install fails to cleanup some files after installation due to permissions"
**Describe the bug**
Although installation is successful there's a warning message which indicates some files could not be deleted after install due to permissions. This is quite cosmetic issue and can be ignored to sunny days :)

**To Reproduce**
Steps to reproduce the behavior:
1. Install primate of ubuntu as root

**Expected behavior**
installation succeeds without any error/warning

**Manageme

[2020-05-28 15:53] rhtyd commented on #367
@borisstoyanov can you advise where and how did you test this? I couldn't reproduce it. Instead of direct deb, can you try installation after configuring a repo?

The error seems env specific, see similar https://askubuntu.com/questions/908800/what-does-this-synaptic-error-message-mean

[2020-05-30 22:58] rhtyd commented on #356
Done with https://github.com/apache/cloudstack-primate/pull/368

[2020-05-30 22:58] #356 closed

[2020-05-30 23:13] rhtyd opened #369 "[BUG] Fix translation usage across config and components and fix doclinks"
Translations from legacy UI (as of master, after 4.14.0.0 release) were migrated to Primate completely in: https://github.com/apache/cloudstack-primate/pull/368 (PR can be used for reference and audit purpose)

As part of the above PR, the translation keys were standardized and renamed as follows:
- Use a `label.` prefix (same as legacy UI to save devs from learning new conventions)
- If an API pa

[2020-05-30 23:39] #360 closed

[2020-05-30 23:39] rhtyd commented on #360
Clubbed here https://github.com/apache/cloudstack-primate/issues/369

[2020-05-31 05:10] rhtyd commented on #369
Refer: most migrated with some automation https://github.com/apache/cloudstack-primate/pull/370

[2020-05-31 19:45] #367 closed

[2020-05-31 19:46] rhtyd commented on #333
Hi @utchoang - can you have a look at this whenever you want to work on the next item. Thanks.

[2020-06-01 02:46] utchoang commented on #333
Thanks, @rhtyd.
But at the request, can you describe it in more detail?
* Add support for tiers dropdown in PF, LB tabs
  - PF, LB tabs are the tabs in the picture below.
  - Is it going to add a Select Tier for the remaining tabs?
![image](https://user-images.githubusercontent.com/13766648/83371459-b7d4b000-a3ec-11ea-9916-351859bb2a4a.png)

* Add pagination/searching in add VMs modal for the PF,

[2020-06-01 10:27] svenvogel commented on #333
@utchoang maybe i dont have them in my mind. tiers means?

[2020-06-01 12:29] rhtyd commented on #369
Assigned to @davidjumani

[2020-06-01 12:30] rhtyd commented on #354
Assigned to @davidjumani

[2020-06-01 20:14] rhtyd commented on #359
@utchoang cc @svenvogel can you have a look at the issue of adding a theme for Primate. Ideally a json file that (1) Primate loads and applies, (2) the json/theme file does not get packed/bundled with rest of the code and is available say similar to index.html on the root `dist` directory. Same for any other branding logos/images.

[2020-06-02 04:27] utchoang commented on #359
@rhtyd cc @svenvogel  In primate, the logo is a component. But under this mission, I will change it to custom, right?

[2020-06-02 07:35] davidjumani commented on #369
Fixing in #371

[2020-06-03 06:37] DaanHoogland opened #374 "[FEATURE] a query component for text driven questions to a user"
**Is your feature request related to a problem? Please describe.**
When a user uploads an OVA template it might contain properties that require answering when deploying a VM based on that template. This is a concrete example but there might be others where the UI needs to query the user based on a text input. in the OVA deployment case we have
- a query
- a name
- a default value
- a type and
- a

[2020-06-03 07:18] rhtyd commented on #374
The form AntD component can be used for this use-case to implement a component for the DeployVM component
https://antdv.com/components/form/

[2020-06-03 07:20] rhtyd commented on #374
(we still call it a wizard as it has steps, the only difference in UX is that all the steps are visible and editable at once after a zone is selected)

[2020-06-03 08:24] rhtyd commented on #369
Ref
https://github.com/apache/cloudstack-primate/blob/master/src/locales/new-locale-keys.txt

[2020-06-03 10:59] rhtyd commented on #374
Related: https://github.com/apache/cloudstack-primate/issues/358

[2020-06-03 16:52] andrijapanicsb opened #375 "[BUG] Can't "un-choose" the Zone/Pod/Host for the VM deployment"
**Describe the bug**
A clear and concise description of what the bug is.

Once a specific Zone/Pod/Cluster/Host has been selected, there is no way to "unselect it" i.e. to make sure no specific is selected/chosen for the VM deployment.

![image](https://user-images.githubusercontent.com/45762285/83665042-28392800-a5cb-11ea-8f7e-bf88c4c4df0b.png)

[2020-06-03 16:54] andrijapanicsb opened #376 "[BUG] list of hosts not filtered based on the selected Cluster (during VM deployment)"
**Describe the bug**
A clear and concise description of what the bug is.

Once a cluster is chosen for the VM deployment, when further selecting a destination host, only the hosts from the chosen cluster should be shown (but atm all hosts from all clusters are shown).

Probably same goes for listing other child entities (list of Pods from a Zone, list of Clusters from a Pod, etc)

![image](https:/

[2020-06-03 16:58] andrijapanicsb opened #377 "[BUG] Rename "Disk Size" to "Root Disk Size" on the new Instance wizard"
A minor improvement request:

![image](https://user-images.githubusercontent.com/45762285/83665810-39ceff80-a5cc-11ea-91fa-1d7025928b46.png)

[2020-06-03 17:11] rhtyd commented on #376
@utchoang can fix this, thanks.

[2020-06-04 02:39] #376 closed

[2020-06-04 03:01] rhtyd commented on #359
I think what we can do is to move the logo (png and svgs) such that users can simply replace the files with their chose png/svg files after they use the dist/archive/deb/rpm used to install Primate

[2020-06-04 03:14] rhtyd commented on #333
@utchoang @svenvogel sorry I did not explain the issue clearly, let me try with some screenshots.
In the old UI (we can refer http://primate-qa.cloudstack.cloud:8080/client/), go to Network -> VPC -> pick any (say AdminVPC-RR) -> Configure -> Public IP and select an IP that's not on a tier we see the LB and PF options:
![Screenshot from 2020-06-04 08-35-50](https://user-images.githubusercontent.co

[2020-06-04 07:49] rhtyd commented on #375
@utchoang can you add a fix to display an empty/default option (say 'Default' or label.default?) for the zone, pod, cluster and host dropdown whose internal zone/pod/cluster/host ID is null (so effectively saying no zone/pod/cluster/host is selected). Old UI it looks like this:
![Screenshot from 2020-06-04 13-18-01](https://user-images.githubusercontent.com/95203/83729912-f3c67a00-a665-11ea-963e-4

[2020-06-04 07:50] rhtyd commented on #377
Simple label fix, @utchoang please fix this as well using `$t('label.root.disk.size')`

[2020-06-04 07:52] #233 closed

[2020-06-04 07:52] rhtyd commented on #245
Verifed

[2020-06-04 07:52] #245 closed

[2020-06-04 07:54] #299 closed

[2020-06-04 08:02] rhtyd commented on #262
I cannot reproduce this on Ubuntu 19.10 with latest Chrome, on master we updates Ant Design dependency which may have addressed it.

It looks like this now:
![Screenshot from 2020-06-04 13-31-15](https://user-images.githubusercontent.com/95203/83731179-b4992880-a667-11ea-90e5-159dd045f292.png)

![Screenshot from 2020-06-04 13-31-08](https://user-images.githubusercontent.com/95203/83731175-b367fb80

[2020-06-04 08:02] #262 closed

[2020-06-04 08:09] rhtyd commented on #263
I'm not sure how to fix that, because that's an affix component. I tried add a scroll bar which did not work.
@svenvogel @utchoang can you think of something to fix the instance summary on right side? Maybe only display limited options (but not all) such as name, ostype, cpu, ram, disk, template, SSH key and zone. Things such as compute, network, disk offerings and networks (because they could be

[2020-06-05 04:51] #377 closed

[2020-06-05 05:09] rhtyd opened #381 "Create action component for changing VM service offering"
Implement a new custom action component for changing service offering which can show details/options like the old UI when a VM (stopped or running) is scaled up (or service offering is changed):

![Screenshot from 2020-06-05 10-38-30](https://user-images.githubusercontent.com/95203/83839114-b969e500-a718-11ea-9ff4-59800d416dd4.png)

This should also honour whether the compute offering is custom, u

[2020-06-05 05:09] rhtyd commented on #381
Assigned to @davidjumani

[2020-06-05 06:54] utchoang commented on #263
@rhtyd cc @svenvogel I tried adding scroll with CSS, and it goes like this. What do you think about this?
![image](https://user-images.githubusercontent.com/13766648/83846007-1aeb7d00-a734-11ea-8d29-8e55f0fc694d.png)

[2020-06-05 22:29] rhtyd opened #384 "[BUG] Force delete template/iso missing"
Force delete a template/iso missing

[2020-06-08 01:06] rhtyd commented on #384
@utchoang can you have a look at this, compare with old UI - the template/iso zones tab's delete button allow force deletion of a template/iso for a zone.

[2020-06-08 02:55] rhtyd opened #385 "Discuss - Should we show alert count for admin dashboard"
Should we show host in alert and any general alerts on admin dashboard?

[2020-06-08 03:04] rhtyd opened #386 "[BUG] Change Affinity for VM form missing"
Change affinity for a VM missing, old UI form looks like this: (notice multi-select)
![Screenshot from 2020-06-08 08-33-52](https://user-images.githubusercontent.com/95203/83989069-d42f9a00-a962-11ea-94cd-7af3f4c12c53.png)

[2020-06-08 03:06] rhtyd opened #387 "[BUG] Attach ISO for VM not filtering for zone"
Attach ISO for a VM would list all the ISOs, than appropriate for the VM in a specific zone.
(Fixable by passing mapping of a param? to call the listIsos with zoneId etc, refer legacy UI)

[2020-06-08 03:08] rhtyd opened #388 "[BUG] UI-wide issue of not able to de-select a dropdown option"
UI-wide for most forms and auto-generated a-select, there's no way to de-select a selected option.

[2020-06-08 03:09] rhtyd opened #389 "[BUG] The delete VM instance form should show specific volumes (datadisks) to be deleted"
Delete instance should only show specific volumes to be deleted (if any)
![Screenshot from 2020-06-08 08-38-43](https://user-images.githubusercontent.com/95203/83989262-7e0f2680-a963-11ea-8624-a20c32b7f37e.png)

[2020-06-08 03:14] rhtyd opened #390 "[BUG] VM reset ssh keypair should only list ssh keypairs belonging to the owner/user of the VM"
VM reset ssh keypair should only list ssh keypairs belonging to the owner/user of the VM, instead the auto-generated form shows all the keys.

[2020-06-08 03:25] rhtyd opened #391 "[BUG] Check and hide egress and IP address tabs for IPs belonging to VPC"
Refer to legacy UI, check and hide egress tab and IP address tab for the IP addresses view, for public IPs belonging to a VPC.

[2020-06-08 03:26] rhtyd opened #392 "[BUG] Acquire public IP address does not give IP selection option"
Legacy UI gives IP address selection option when acquire IP is clicked:
![Screenshot from 2020-06-08 08-56-07](https://user-images.githubusercontent.com/95203/83990054-fa0a6e00-a965-11ea-8045-34aaad7ccac4.png)

[2020-06-08 03:38] rhtyd commented on #384
![Screenshot from 2020-06-08 09-07-53](https://user-images.githubusercontent.com/95203/83990508-8d906e80-a967-11ea-9621-500b4fd19d67.png)

[2020-06-08 03:40] rhtyd opened #393 "[BUG] Vmware default centos template settings not populating"
For the default VMware centos template, setting details are not populating (drop-down not seen in Primate) like the legacy UI:
![Screenshot from 2020-06-08 09-09-32](https://user-images.githubusercontent.com/95203/83990606-dea06280-a967-11ea-969e-4c9b03258e06.png)

[2020-06-08 03:56] rhtyd opened #394 "[BUG] Check and fix enable/disable HA, OOBM across zone, cluster, host"
Check and fix against legacy UI if the HA/OOBM buttons are correctly displayed (disable vs enable).

[2020-06-08 04:00] rhtyd opened #395 "[BUG] Add router-link to go to guest networks from physical network"
Add a button to view guest networks from a physical network's guest network traffic type

[2020-06-08 04:04] rhtyd opened #396 "[BUG] Check fix unmanage cluster action when cluster is ExternalManaged"
Check against legacy UI if unmanage cluster action buttons should be shown when cluster is ExternalManaged

[2020-06-08 04:06] rhtyd opened #397 "[BUG] Refactor and merge details and config tabs for the host"
For the host, currently there are two tabs - refactor and explore if we can club them together in a single tab.

[2020-06-08 04:11] rhtyd opened #398 "Missing: NFS Secondary Staging Store"
Support for listing, adding, removing NFS Secondary Staging Store; refer legacy UI.
(this is not a widely used feature, possibly nobody uses that)

[2020-06-08 04:13] rhtyd commented on #223
New listview only component needed for this

[2020-06-08 04:15] rhtyd opened #400 "[BUG] Top Project menu flickers are it calls listProjects on click"
Check and fix flickering behaviour of the top project menu when it is clicked

[2020-06-08 04:18] rhtyd opened #402 "[BUG] Switching to projects from dashboard, does not update user dashboard"
Log in as a user, switch to a project from the top menu; the user dashboard does not update.

[2020-06-08 04:23] rhtyd opened #403 "[BUG] Check and fix bypassvlanoverlapcheck for VPC private gw"
Check against
https://github.com/apache/cloudstack/pull/3899

[2020-06-08 04:24] rhtyd opened #404 "[BUG] Edit SG button in SG detail view"
See https://github.com/apache/cloudstack/pull/3739

[2020-06-08 04:26] rhtyd opened #405 "[FEATURE] Support to destroy/recover volumes"
See https://github.com/apache/cloudstack/pull/3688

[2020-06-08 04:28] rhtyd commented on #112
Check/refer https://github.com/apache/cloudstack/pull/3694 TBD later cc @davidjumani

[2020-06-08 04:29] rhtyd opened #406 "[FEATURE] Support for protocol no. in SG"
See https://github.com/apache/cloudstack/pull/3736

[2020-06-08 04:30] rhtyd commented on #374
Related: https://github.com/apache/cloudstack/pull/3271

[2020-06-08 04:30] rhtyd commented on #358
Related: https://github.com/apache/cloudstack/pull/3271

[2020-06-08 04:34] rhtyd commented on #359
Related legacy UI for tracking - https://github.com/apache/cloudstack/pull/3258

[2020-06-08 13:41] rhtyd opened #408 "[BUG] Infra/metrics view cell colouring based on thresholds"
Implement metrics view cell-colouring based on thresholds like legacy UI for zone, cluster, hosts etc.

[2020-06-09 07:27] borisstoyanov opened #409 "[BUG] Expunge allows deleting of non-related volumes"
**Describe the bug**
When expunging a VM user is able to select root volumes of other VMs, this may cause corruption of neighbouring VMs by accident

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM and destroy it
2. In the dialog observe user is able to select root volumes not owned by the VM

**Expected behavior**
This should delete the root volume of the VM by default and should

[2020-06-09 09:19] onitake opened #410 "[FEATURE] Hide secret API key"
**Is your feature request related to a problem? Please describe.**
When accessing a user's profile, the access and secret keys are directly visible, which can be a serious security risk when bystanders may catch a glimpse of the user's screen, or a screen sharing application is active.

**Describe the solution you'd like**
The secret key should be hidden, and only display on request.
Clicking the

[2020-06-11 12:56] borisstoyanov opened #414 "[BUG] Create guest networks, network types displayed as labels"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Networks
2. Click on Create Guest networks

**Expected behavior**
We see labels instead of Network types

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot 2020-06-11 at 15 56 06](https://user-images.githubusercontent.com/13551

[2020-06-11 12:58] borisstoyanov commented on #414
![Screenshot 2020-06-11 at 15 57 20](https://user-images.githubusercontent.com/13551960/84387835-4a9af900-abfc-11ea-8485-6b983a5474ca.png)
Further down there seems to be more labels to be fixed

[2020-06-12 05:20] rhtyd commented on #414
We've a general code-base wide PR for fixing the translation keys @borisstoyanov - I'll ask you to retest after those PRs are merged. Thanks.

[2020-06-12 05:21] rhtyd commented on #409
Dupes #389  we've a PR for this #412

[2020-06-12 05:21] #409 closed

[2020-06-12 11:19] shwstppr opened #415 "[BUG] Missing User project invitations"
**Describe the bug**
Project Invitations are missing in Primate

**To Reproduce**
Steps to reproduce the behavior:
1. As admin create a new project
2. Add a user account to the new project
3. Login as user account
4. No info dialog for project invitation is shown and Inviations option is missing form Projects page/section

**Expected behavior**
Project invitation should be visible as old UI. Scree

[2020-06-12 11:27] Pearl1594 commented on #415
@shwstppr I believe the project invitations feature exists. Created a user account and added account to project. On logging into the user account I do see the list of invitations. There however is no indication(such as a badge - or something along those lines indicating pending invitations)

![image](https://user-images.githubusercontent.com/10495417/84498076-8ea9fe80-accd-11ea-85a1-98df5182cf89.p

[2020-06-12 11:30] shwstppr commented on #415
@Pearl1594 my bad! Closing the issue

[2020-06-12 11:30] #415 closed

[2020-06-13 02:21] #389 closed

[2020-06-13 02:24] #354 closed

[2020-06-13 03:03] #223 closed

[2020-06-13 06:01] #410 closed

[2020-06-13 08:16] rhtyd opened #417 "[BUG] Host related issues"
- Go to Infra-> host -> edit host -> save - it fails.

[2020-06-13 08:16] rhtyd commented on #414
Fixed on latest

[2020-06-13 08:16] #414 closed

[2020-06-13 08:27] #385 closed

[2020-06-13 08:27] #357 closed

[2020-06-13 08:33] #387 closed

[2020-06-13 08:48] #390 closed

[2020-06-13 08:49] rhtyd commented on #355
Not reproducible

[2020-06-13 08:49] #355 closed

[2020-06-13 09:06] #213 closed

[2020-06-13 09:07] rhtyd commented on #397
Fixed

[2020-06-13 09:07] #397 closed

[2020-06-13 09:25] #388 closed

[2020-06-13 09:26] #400 closed

[2020-06-13 09:27] #402 closed

[2020-06-13 09:29] rhtyd commented on #395
View network from physical network detail view works

[2020-06-13 09:29] #395 closed

[2020-06-13 09:32] rhtyd commented on #358
Duped by https://github.com/apache/cloudstack-primate/issues/374, closing this.

[2020-06-13 09:32] #358 closed

[2020-06-13 09:45] #375 closed

[2020-06-13 23:10] #310 closed

[2020-06-13 23:25] rhtyd commented on #351
Not reproducible

[2020-06-13 23:25] #351 closed

[2020-06-13 23:30] rhtyd commented on #350
Not reproducible

[2020-06-13 23:30] #350 closed

[2020-06-14 00:17] rhtyd commented on #352
@vladimirpetrov @borisstoyanov please discuss on dev ML, this is really a backend issue. Once backend has fix this, the frontend can follow (depending on listCapabilities or some other API response to show/hide console access).

[2020-06-14 00:17] #352 closed

[2020-06-14 00:25] rhtyd commented on #348
Fixed

[2020-06-14 00:25] #348 closed

[2020-06-14 00:30] rhtyd commented on #349
not reproducible

[2020-06-14 00:30] #349 closed

[2020-06-14 00:31] rhtyd commented on #347
Not reproducible

[2020-06-14 00:32] rhtyd commented on #347
Ideally, the readonly admin rules must be :
![Screenshot from 2020-06-14 06-02-17](https://user-images.githubusercontent.com/95203/84582058-a1731f00-ae04-11ea-8e9f-b529953fe5c0.png)

The issue can come if there is no default deny all rule \*

[2020-06-14 00:32] #347 closed

[2020-06-14 00:49] #263 closed

[2020-06-14 01:00] #391 closed

[2020-06-14 01:01] rhtyd commented on #209
Consolidated here: https://github.com/apache/cloudstack-primate/issues/295

[2020-06-14 01:01] #209 closed

[2020-06-14 01:01] rhtyd commented on #210
Consolidated here: https://github.com/apache/cloudstack-primate/issues/295

[2020-06-14 01:01] #210 closed

[2020-06-14 01:01] rhtyd commented on #211
Consolidated here: https://github.com/apache/cloudstack-primate/issues/295

[2020-06-14 01:01] #211 closed

[2020-06-14 01:01] rhtyd commented on #212
Consolidated here: https://github.com/apache/cloudstack-primate/issues/295

[2020-06-14 01:01] #212 closed

[2020-06-14 01:03] #384 closed