[2020-10-15 09:00] utchoang commented on #806
@rhtyd We already have backup offerings. Please check again new UI.
![image](https://user-images.githubusercontent.com/13766648/96101186-67737000-0eff-11eb-8b7a-0173cca7782b.png)
![image](https://user-images.githubusercontent.com/13766648/96101205-6b06f700-0eff-11eb-8f06-fc9757df670c.png)

[2020-10-15 10:29] rhtyd commented on #806
@svenvogel I think we don't show it in Primate unless the feature is enabled via its global setting. Can you check and close this?

[2020-10-15 17:19] andrijapanicsb commented on #803
As long as the customer doesn't shoot himself in the foot - I agree - let's leave this for 1.1

[2020-10-16 07:38] davidjumani commented on #803
Since custom disk offerings aren't supported yet in the backend, can close this and reopen once support has been added

[2020-10-19 09:32] borisstoyanov commented on #803
ok, lets close and reopen when backend support is available

[2020-10-19 09:32] #803 closed

[2020-10-20 11:07] rhtyd commented on #801
Fixed in #802

@tungntvn23 can you test latest master and re-open if you're able to reproduce it again? Thanks.

[2020-10-20 11:07] #801 closed

[2020-10-22 09:19] andrijapanicsb opened #814 "[BUG] Minor: the "Scheduled" type of events have ever-spinning blue circle icon next to it"
![image](https://user-images.githubusercontent.com/45762285/96851492-5cb55f80-1458-11eb-903d-e990c52e1c6a.png)

those blue are like the one when VM is i.e. being stopped (stopping) or started (starting) -those event's are one time "scheduled", if we can show some static image there (blue, other color, whatever)

[2020-10-22 10:50] RRadziejewski opened #815 "[BUG] NOT WORKING"
Following the installation guide on centos7 after installing
yum install cloudstack-primate

I should be able to access management ui which is not happenning how to debug this what http server is that using by default ?

Lack of informations in install guide.

[2020-10-22 11:54] DaanHoogland commented on #815
@RRadziejewski i think you need to add some information like log output and a title that describes you issue better than "NOT WORKING". this is not inviting people to help you.

[2020-10-22 12:25] davidjumani opened #816 "[BUG] Async job notification remains on logout"
**Describe the bug**
Async job notification remains on logout

![Screenshot from 2020-10-22 17-54-17](https://user-images.githubusercontent.com/8244774/96871314-ba18d300-148f-11eb-98b2-4ffc3a0f4a14.png)

[2020-10-22 14:21] RRadziejewski commented on #815
Problem solved sorry for incovenience and thank you for the answer.

czw., 22.10.2020, 13:54 użytkownik dahn <notifications@github.com> napisał:

[2020-10-22 14:37] #815 closed

[2020-10-23 04:38] davidjumani commented on #814
@andrijapanicsb That's because the page doesn't periodically refresh / reload the data. It'll change when the user hits the refresh button or naviages back to this page

[2020-10-23 07:22] andrijapanicsb commented on #814
no it's not @davidjumani - these are all OLD (a long time ago finished) actions - we simply use those buttons (from what I can tell)

[2020-10-25 10:19] rhtyd opened #820 "[BUG] Changing project no longer changes the sidebar background/theme"
On latest master, create a project and select the project to switch to the new project. On changing to a project, the sidebar is not longer dark. Was there a new config setting to enforce/change this @utchoang ?

[2020-10-26 06:27] utchoang commented on #814
@andrijapanicsb As I understand, for each different type of schedule there will be a different color state, right?

[2020-10-26 08:28] andrijapanicsb commented on #814
@utchoang , TBH, I don't know - but I don't thing a spinning circle(s), which visually indicates an ONGOING action, should be used to show an event that happened in past, and is thus finihed.
Again - this is minor, but nice to polish if possible.

[2020-10-26 12:03] andrijapanicsb opened #823 "[BUG] Going back to "Private Gateway" in breadcrumb - dead end"
Created Private Gateway, clicked on the breadcrumb and I get list of private gateways that is kind of useless, sine I can't OPEN/click on any nor delete any etc... ?

See 25sec video:

http://somup.com/cY6OlclWWa

[2020-10-26 12:09] andrijapanicsb opened #824 "[BUG] In Private Gateway - show ACL NAME instead of the UUID"
Not really user-friendly - let's show NAME of the ACL instead (just like in other places):

![image](https://user-images.githubusercontent.com/45762285/97170702-6c041800-178c-11eb-81cc-5fc81b6c0c96.png)

[2020-10-26 15:24] andrijapanicsb opened #825 "[BUG] Clicking on EDIT button for global configuration doesn't move cursor to the field"
In old UI, when you click on the pencil/edit button for a global setting, the cursor automatically goes to the input filed, so you can use edit the value.

In Primate, after clicking on the pencil/edit button, it is required to click inside the field first - this should be fixed, please.

![image](https://user-images.githubusercontent.com/45762285/97191978-b9da4980-17a7-11eb-93e8-996c98b6d0c6.png)

[2020-10-26 15:43] andrijapanicsb opened #826 "[BUG] Creating network via the Depoy VM wizard - requires account id?"
If not mistaken, this should NOT be required?

![image](https://user-images.githubusercontent.com/45762285/97194331-51409c00-17aa-11eb-8a4d-5f53575dfb5a.png)

[2020-10-27 02:05] feizhoulaobo opened #827 "[BUG] public network端口转发设置问题"
端口转发设置选择主机没办法跳转到下一页。

[2020-10-27 02:06] feizhoulaobo commented on #827
【BUG】Problem with public Network port forwarding Settings
#
The port forwarding Settings selection host cannot jump to the next page.

[2020-10-27 03:10] utchoang commented on #825
@andrijapanicsb @rhtyd @davidjumani cc @svenvogel
In the API description, I only see 2 fields `aclid` and `acltype` but not `aclname`.
So is there any other way to get `aclname`?

[2020-10-27 03:24] utchoang commented on #824
@andrijapanicsb @rhtyd @davidjumani cc @svenvogel
In the API description, I only see 2 fields aclid and acltype but not aclname.
So is there any other way to get aclname?

[2020-10-27 04:40] davidjumani commented on #824
@utchoang It is present in the response, just not in the build on the qa server. Feel free to add `aclname` to the list of fileds in the deails view

[2020-10-27 04:44] davidjumani commented on #827
@feizhoulaobo could you provide a screenshot of the problem?

[2020-10-27 07:39] andrijapanicsb opened #833 "[BUG] Missing labels for days of the week in Scheduled snapshot policies"
![image](https://user-images.githubusercontent.com/45762285/97270724-e8036c00-182f-11eb-9a56-ad231b220dd9.png)

[2020-10-27 09:57] ravening commented on #792
@rhtyd shall I create a pr for backend and frontend change to include the cluster name?

[2020-10-27 14:54] DaanHoogland opened #835 "[FEATURE] server: update template to another template type"
**Is your feature request related to a problem? Please describe.**
A new feature implemented in https://github.com/apache/cloudstack/pull/3945 needs primate implementation

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2020-10-27 15:35] andrijapanicsb opened #836 "[BASIC NETWORK TESTING] - Now start VM Zone Selection Bug"
@weizhouapache @GabrielBrascher @wido - can those of you using Basic zone with SG, please test Primate against Basic Zone? Advanced zone stuff was extensively tested by many of us (me, Daan, etc) - so this would help if you could do it. Thanks

/ CC @rhtyd @PaulAngus

[2020-10-27 16:01] andrijapanicsb opened #837 "[BUG] Change to POST (instead of GET) when uploading account certificate"
Account certificates (whatever they are, and for whatever they are used…)
-	Old UI uses POST to post data, and I assume this is a valid way since the data can be huge (certificate length, key length, chain length etc…)
-	Primate sends it via simple GET – I’m questioning if this is wrong and should be fixed as with long text it will cause HTTP error with too long request etc.

![image](https://user

[2020-10-28 04:38] #833 closed

[2020-10-28 04:39] #824 closed

[2020-10-28 04:39] #826 closed

[2020-10-28 04:40] #825 closed

[2020-10-28 04:41] #823 closed

[2020-10-28 04:42] #814 closed

[2020-10-28 04:43] #816 closed

[2020-10-28 09:43] alexandru-bagu opened #840 "[BUG] VMware local template requires OS type"
When trying to upload a local VMware template you cannot choose ostypeid and you get an API error.
https://prnt.sc/v8iu6w

[2020-10-28 09:44] alexandru-bagu commented on #840
#839

[2020-10-28 09:46] #820 closed

[2020-10-28 09:51] rhtyd commented on #837
The upload cert feature in Accounts -> SSL cert tab is not generally used by CloudStack LB (maybe netscaler etc.). If it's simple fix go ahead @utchoang or @davidjumani  - otherwise we can push it to 1.1

[2020-10-28 09:52] rhtyd commented on #840
https://github.com/apache/cloudstack-primate/pull/839#issuecomment-717820827

cc @nvazquez @PaulAngus

[2020-10-28 10:05] rhtyd commented on #827
@feizhoulaobo can you share steps on reproducing the problem, and details of your environment (hypervisor, version of CloudStack etc).

[2020-10-28 10:07] rhtyd commented on #806
@svenvogel I checked this will show up only if `backup.framework.enabled` global setting is enabled and on primate-qa env I see it does show up:
![Screenshot from 2020-10-28 15-36-18](https://user-images.githubusercontent.com/95203/97422161-714f9700-1933-11eb-8fa1-3141b4adf3e7.png)

[2020-10-28 10:07] rhtyd commented on #806
Closing this as it turned out to be a non-issue

[2020-10-28 10:07] #806 closed

[2020-10-28 11:41] davidjumani commented on #837
Doesn't seem too hard. I'll look into it

[2020-10-28 13:56] alexandru-bagu commented on #840
bug caused by incompatibility with cloudstack 4.14 api. vmware template configurations are handled by api in 4.15.

[2020-10-28 13:56] #840 closed

[2020-11-03 14:28] rhtyd commented on #837
Moving this to 1.1, not generally used or that important; get request seems to work OK.

[2020-11-03 14:28] rhtyd commented on #827
ping @feizhoulaobo can you update steps on reproducing the problem?

[2020-11-04 11:56] ravening opened #843 "Question: Switch out from project view"
I was able to switch from the default view to project view by clicking on the button displayed next to the project name.
Now how do i switch back to regular view? I cant seem to find any button for it

@rhtyd @davidjumani @Pearl1594 @utchoang any help?

[2020-11-04 12:01] Pearl1594 commented on #843
@ravening In the project view, Goto the dashboard tab, and at the top of the screen you should see a dropdown menu by means of which you can switch back to the Default view:
![image](https://user-images.githubusercontent.com/10495417/98109301-58ab2800-1ec3-11eb-805d-831eb1a19e9b.png)

[2020-11-04 12:08] ravening commented on #843
@Pearl1594 ah ok..got it thanks :) I also noticed that I need to click twice to get the drop down. is it the same case for you as well?

[2020-11-04 12:14] Pearl1594 commented on #843
It works fine for me @ravening

[2020-11-04 12:15] ravening commented on #843
good. thanks for the help. closing the issue

[2020-11-04 12:15] #843 closed

[2020-11-06 12:43] DaanHoogland opened #847 "[BUG] add ldap user button missing"
**Describe the bug**
when a ldap server has been configured, in the old UI a button for adding an ldap user in the account overview is shown.
![image](https://user-images.githubusercontent.com/2486961/98367127-0554e900-202d-11eb-8487-4a93edcbd218.png)

In primate this is not the case:
![image](https://user-images.githubusercontent.com/2486961/98367195-21588a80-202d-11eb-9fd1-7b9cd0f6e7e0.png)

**T

[2020-11-06 14:09] DaanHoogland opened #849 "[BUG] no link to accounts from domain"
**Describe the bug**
in the old UI a link to contained accounts is displayed in domain detail view:
![image](https://user-images.githubusercontent.com/2486961/98375058-7bf7e380-2039-11eb-9005-d18b48d5c844.png)

primate:
![image](https://user-images.githubusercontent.com/2486961/98374962-5bc82480-2039-11eb-939a-ee058149d9f2.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a Use

[2020-11-06 14:11] DaanHoogland commented on #849
not valid, just not so clear

[2020-11-06 14:11] #849 closed

[2020-11-09 00:34] utchoang commented on #847
@DaanHoogland You can find the Add LDAP Account button at the next of the Add Account button (screenshot)
![image](https://user-images.githubusercontent.com/13766648/98488806-cd80b800-225d-11eb-8d89-cb61e38c3d4a.png)

[2020-11-09 04:40] davidjumani commented on #847
@utchoang @rhtyd Would it be better to make it more explicit like the add account button ?

[2020-11-09 06:20] utchoang commented on #847
@davidjumani @rhtyd Do you think it is good?
![image](https://user-images.githubusercontent.com/13766648/98506450-1a7c8280-228e-11eb-9c73-46d9be77f94c.png)

[2020-11-09 06:28] davidjumani commented on #847
@DaanHoogland ^^

[2020-11-09 07:27] DaanHoogland commented on #847
@utchoang @davidjumani , i am not partial on how it would be implemented as long as it is visible to an ignorant user looking for it. I remember some talk a while ago about making it an option after pressing the add account button. the above looks clear to the user at least.

[2020-11-09 08:14] davidjumani commented on #847
@utchoang Please go ahead and raise a PR for the change. Thanks

[2020-11-09 10:59] DaanHoogland opened #852 "[BUG] ldap add account does not return after selecting AnyDomain filter"
**Describe the bug**
<img width="940" alt="image" src="https://user-images.githubusercontent.com/2486961/98532340-dbe0cb00-2281-11eb-87eb-06f4b1bafaa9.png">
selecting AnyDomain as filter does not return even with empty result set.

as opposed to:
<img width="826" alt="image" src="https://user-images.githubusercontent.com/2486961/98532495-13e80e00-2282-11eb-9abe-14ecc78c9e86.png">
or :
<img width="

[2020-11-09 11:56] #847 closed

[2020-11-09 11:57] #852 closed

[2020-11-09 13:08] sm97 opened #854 "[BUG] DomainAdmin user has no Configure Limits tab in Project"
RPM package version: cloudstack-primate-1.0.0-20201020.x86_64

**Describe the bug**
DomainAdmin role allows to update project resource limits by default but Primate hides Configure Limit tab in WEB UI.
Only SuperAdmin has such tab.

**Expected behavior**
It's expected that every role with updateResourceLimit permission can use Configure Limit tab for project.
Atleast legacy WebUI allows DomainAdmi

[2020-11-11 09:37] gsirett opened #859 "[BUG] - rootdisk size not on Create Compute Offering screen"
**Describe the bug**
new feature https://github.com/apache/cloudstack/pull/4341 allows admins to set root disk size on service offering (and therefore prevents users from choosing it)
However, this is not appearing in primate UI

**To Reproduce**
Use buld that contains PR  4341
Use primate#
login as admin
Navigate Service offerigns>compute offerings> add new compute offering

**Expected behavior**

[2020-11-11 09:59] Pearl1594 commented on #859
@gsirett There seems to be a field available to specify the  root disk size
![image](https://user-images.githubusercontent.com/10495417/98797232-50f30280-2432-11eb-950a-5e50f6841f37.png)

[2020-11-11 13:48] rhtyd commented on #859
@gsirett can you check @Pearl1594 's response and close the issue (or advise us) Thanks.

[2020-11-11 13:49] rhtyd commented on #854
@Pearl1594 @sm97 what was the behaviour in old ui?

[2020-11-11 13:49] rhtyd commented on #854
oh wait I see Pearl raised a PR, have you confirmed it @Pearl1594 ?

[2020-11-11 13:49] #854 closed

[2020-11-11 13:50] rhtyd commented on #854
Just reviewed and merged the PR. @sm97 please test latest master and re-open if you're not satisfied. Thanks.

[2020-11-11 15:43] gsirett commented on #859
Defiantly not in mine.

[2020-11-11 15:43] #859 closed

[2020-11-11 15:44] gsirett commented on #859
Did not appear in my version (5.15.0.-SNAPSHOT) - I'm guessing ive probably got a slightly older build. Happy to close

[2020-11-16 12:08] DaanHoogland commented on #836
@GabrielBrascher @wido @weizhouapache I tried to test https://github.com/apache/cloudstack/issues/4158 but got stopped in my tracks because of below issue, not sure if it is still a problem but it is for 4.14:
<img width="1427" alt="Screenshot 2020-11-16 at 12 51 54" src="https://user-images.githubusercontent.com/2486961/99250811-8fab0300-280c-11eb-99c2-66b0e304c6fa.png">

[2020-11-16 12:10] andrijapanicsb commented on #836
cc @nvazquez as I think he could advise about that one ^^^

[2020-11-16 15:02] slavkap commented on #836
Hi @andrijapanicsb ! I'm not sure that my comment is for here, but I tried to deploy VM with the new UI with Basic zone. I'm prompt to provide a network

![image](https://user-images.githubusercontent.com/51903378/99266901-f7247b00-282b-11eb-8aaa-ce8e8c35d222.png)

 and when I mark the default one

![image](https://user-images.githubusercontent.com/51903378/99267898-32737980-282d-11eb-941d-efb7353

[2020-11-16 16:00] PaulAngus commented on #836
@andrijapanicsb @DaanHoogland the new UI is only GA with 4.15.
Functions may or may not work with pre-GA versions, but they that's not something we should concern ourselves with now.

Also, registering templates in 4.14 with new UI is not related to this Basic Networking testing _issue_. Can I ask that this thread does not continue here.  In fact, my preference would be that the whole tangential t

[2020-11-16 16:05] PaulAngus commented on #836
@slavkap Thank you for your help. Could you test the VM deployment against the master branch please.  The new UI will only go GA against 4.15.  I suspect that you'll get the same result, but it'll give us a slightly better starting point.

If you wouldn't mind, it would be very helpful if you could use the browser dev tools, to compare the API call made by the old UI to the one sent by the new UI.

[2020-11-16 16:11] PaulAngus commented on #836
@slavkap when you deployed the VM in the new UI, did you set the rootdisksize to 8 or has the new UI added it itself?

+ I can only see pain by the UI sending a blank affinitygroupids parameter.

[2020-11-16 16:23] PaulAngus commented on #836
@davidjumani could you have a look at the extra **_networkid_**, and **_affinitygroupids_**, and _**mac**_ and _**rootdisksize**_ which are being sent when they haven't been set in the UI please.  **_networkid_** is breaking VM deployment in basic zones.  The others will likely break something at some time.

[2020-11-16 16:33] slavkap commented on #836
@PaulAngus the problem still appears on master. In my previous comment the API calls are copied from dev tools. Also in the new UI I didn't provide rootdisksize because there is only option the override it.

Here are the screenshots from new and old UIs with the API calls:

![image](https://user-images.githubusercontent.com/51903378/99280056-99972b00-2839-11eb-8039-11d6e35b817a.png)

`http://local

[2020-11-17 08:04] slavkap commented on #836
@PaulAngus  I think that there was a misunderstanding. In m first comment there are two API calls from the new and the old UIs. The first API call is from the new UI (primate) and I have tested with and without mac (first I thought that it's mandatory). And I didn't set rootdisksize because there is only an option to override and I guess that when deploying VM it will get the template size. The se

[2020-11-18 09:21] PaulAngus commented on #836
Hi @slavkap - the first bit of confusion was might fault, I realised that you'd included the browser output after I'd pressed send.

If you had to explicitly set the network values to NULL, then from a defensive programming point of view and a 'let's not confuse the user' point of view;  The choice of network, shouldn't be visible to the user when the zone uses basic networking?

[2020-11-18 11:40] davidjumani commented on #836
@PaulAngus @slavkap Created a fix for this https://github.com/apache/cloudstack-primate/pull/864

[2020-11-19 12:45] DaanHoogland opened #865 "[BUG] type : CVS vs CSV"
**Describe the bug**
When creating a role, the input asked for is supposed to be CSV (not CVS)

![image](https://user-images.githubusercontent.com/2486961/99667911-558c6c00-2a6d-11eb-8347-e4f421f52000.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a User or an Admin
2. Go to '...'
3. Click on '....'
4. Scroll down to '....'
5. See error

**Expected behavior**
A clear and con

[2020-11-20 08:11] rhtyd opened #867 "Replace all screenshots, button/icons in CloudStack docs to use/refer the new UI"
Replace all screenshots, button/icons in CloudStack docs to use/refer the new UI. Possible milestone target CloudStack 4.16.

[2020-11-20 08:15] #865 closed

[2020-11-20 08:24] Pearl1594 commented on #867
@rhtyd wouldn't mind pitching in to work on handling the documentation changes for this

[2020-11-23 07:41] borisstoyanov opened #869 "[BUG] Hypervisor version shows ACS version instead"
**Describe the bug**
Hypervisor version shows cloudstack version

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as an Admin
2. Go to Hosts

**Expected behavior**
Should show host hypervisor version

**Screenshots**

![Screenshot 2020-11-23 at 9 40 02](https://user-images.githubusercontent.com/13551960/99938230-09dd0980-2d70-11eb-9bc7-5ad2dfd9b024.png)

[2020-11-23 10:08] rhtyd commented on #869
@davidjumani can you check and raise a PR, probably a wrong key used there?

[2020-11-23 10:52] rhtyd commented on #869
@borisstoyanov PR has been merged, pl test against latest master and close on confirmation. Thanks.

[2020-11-24 08:00] borisstoyanov commented on #869
![Screenshot 2020-11-24 at 9 59 38](https://user-images.githubusercontent.com/13551960/100064930-d10a6680-2e3b-11eb-99f3-dc5452e60fe6.png)
LGTM

[2020-11-24 08:00] #869 closed

[2020-12-01 02:06] GabrielBrascher opened #875 "Provide support for IPv6 networks"
If a CloudStack zone has IPv6 netowork (Advanced network + Security Groups + IPv6 cidr), the primate will not present VMs/NICs IPv6 addresses, but only the IP(v4) address.

This issue helps tracking IPv6 enhancements in order to add full support to IPv6 addresses.

[2020-12-01 16:39] andrijapanicsb opened #881 "[BUG] Physical Network tags not shown"
Physical Network tags can be set, but are NOT shown on the UI - in old UI, you can see the tag (next to traffic labels, etc)

[2020-12-01 17:03] andrijapanicsb opened #882 "[BUG] When editing physical network traffic labels - existing labels are not shown"
![image](https://user-images.githubusercontent.com/45762285/100772075-735bb880-33ff-11eb-976a-8b6816b94aa3.png)

When you choose a kind of traffic - the existing labels should be shown, as in old UI (and it is a common sense, IMO to show existing values, and not just empty fields)

Old UI below:

![image](https://user-images.githubusercontent.com/45762285/100772339-bddd3500-33ff-11eb-807a-3dd168c8

[2020-12-02 08:33] #881 closed

[2020-12-02 09:25] PaulAngus commented on #835
We were in a code freeze yesterday.  please revert this commit

[2020-12-03 06:49] davidjumani commented on #835
@PaulAngus The backend commit went in October, the UI component was merged a couple of days ago. Should the UI addition be reverted? That would make the feature unusable

[2020-12-03 06:51] rhtyd commented on #835
We merged the UI PR yesterday based on David and Gabriels' review, as the backend PR was already merged in Oct.
@PaulAngus to revert both frontend/backend PRs/commits see revert button at the bottom of any merged PR for ex https://github.com/apache/cloudstack-primate/pull/838#event-4055796316, or it would be polite to request Wei to send a revert PR for the backend PR https://github.com/apache/clo

[2020-12-03 06:59] rhtyd commented on #882
@andrijapanicsb please test and close against latest

[2020-12-03 08:12] andrijapanicsb commented on #882
Tested, LGTM - thx.

[2020-12-03 08:12] #882 closed

[2020-12-03 09:05] rhtyd commented on #836
@slavkap @weizhouapache @GabrielBrascher @wido - any further update on running tests with basic zone/networking against latest master? Thanks.

[2020-12-03 16:43] slavkap commented on #836
Hi @rhtyd  I've just tried simple scenarios - to deploy vm, create template from snapshot and deploy vm from it. If you can help me with scenarios for basic network I could test it.
I found another "problem" but it's not related to the basic zone I guess. When I want to start a VM in the new UI I have option to choose zone,pod,cluster and host which are not related to the VM's zone. In the old UI

[2020-12-04 14:08] slavkap opened #888 "Question - How to create primary storage with SharedMountPoint"
Hi all,

I'm trying to create primary storage with SharedMountPoint but the command fails because "server" has to be provided (but there isn't such field)

![image](https://user-images.githubusercontent.com/51903378/101173091-b78ec900-364a-11eb-8031-509da319bab0.png)

I've tried also with DefaultPrimary as a provider

[2020-12-04 16:18] DaanHoogland opened #889 "[BUG] OS type combo box is not reponding"
**Describe the bug**
When registering a template, after going through the motion up to selecting the os type, during selction of the template os nothing happens.
typing a partial name does not give a preselection,
clicking a name does not select,
typing a name and entering or pressing tab does not close the tab,
pressing shift-tab does not go back,
trying to check any of the bottom checkboxes does

[2020-12-05 15:25] rhtyd commented on #836
Tested and merged the PR, pl test and close the PR @andrijapanicsb  cc @slavkap

[2020-12-06 18:20] PaulAngus commented on #835
The proposed UI change does not match the functionality described in the Backend PR which only allows changes between user and system. the UI screenshot shows changes to/from all types.

![image](https://user-images.githubusercontent.com/4810220/101288528-0aa18100-37ef-11eb-8dd5-dc853702aae9.png)

The UI change needs reverting -admins can use the API.

The [(https://github.com/apache/cloudstack/pu

[2020-12-06 19:03] ravening commented on #835
@PaulAngus  if I'm not mistaken, even in backend, you can change template type from any to any

[2020-12-06 20:07] PaulAngus commented on #835
Thanks for clarifying @ravening, but that make might make it worse as:

- The description does not suggest that the system VM template that was active is updated to inactive. - leaving the DB in an inconsistent state.
- The testing description only says that only user -> system was tested.
- And I can't _see_ anything that looks like the backend operations like downloading system VM templates to a

[2020-12-07 07:04] slavkap commented on #836
@rhtyd I've tested with the fix and it's work correct

[2020-12-07 09:30] rhtyd commented on #836
Thanks @slavkap closing on your remark.

[2020-12-07 09:30] #836 closed

[2020-12-07 09:38] DaanHoogland commented on #835
@PaulAngus , in your points above I only read items that come down to "the operator should know what they are doing". I hope I am not missing any. Is the UI bit only for admins, @ravening ?

[2020-12-07 09:55] PaulAngus commented on #835
I'm afraid that that is not accurate;

You're assuming that the admin knows how the backend database stores template data, including system VM templates.
Also, if an admin converts a 'user' template to a built-in template, an admin can fully expect that **CloudStack**  knows what it is doing and handles all back-end changes, in the DB and physical ones such as copying templates to every sec store

[2020-12-07 10:01] ravening commented on #835
@DaanHoogland yes only for admins

[2020-12-07 12:43] rhtyd commented on #835
I'm okay with what @PaulAngus @DaanHoogland @weizhouapache @ravening decide, I'm okay if we decide revert it for now and visit this for 4.16.

[2020-12-07 12:56] DaanHoogland commented on #835
me too, the issue is not with the UI but with the logic in the backend.

[2020-12-07 13:13] rhtyd commented on #888
We've merged a PR that addresses this. @slavkap can you test the latest master and close the issue? Thanks.

[2020-12-07 13:14] rhtyd commented on #889
A PR was merge @DaanHoogland can you test and close this against latest master? Thanks.

[2020-12-07 13:20] PaulAngus commented on #835
As far as I'm concerned, a 'feature' was added to the UI when in a code freeze.

We're deliberately exposing through the UI, a backend change that IMO wasn't fully thought through (as detailed above) and was hardly tested.  Therefore, I don't think it should ever have been merged.

The determination that the admin should know what they're doing doesn't hold water, because they are very unlikely to

[2020-12-07 14:55] slavkap commented on #888
thanks all, it works! I'm closing the issue

[2020-12-07 14:55] #888 closed

[2020-12-08 09:07] DaanHoogland commented on #835
The discussion is about reverting not about merging. I think @PaulAngus ' concerns about the backend change are valid though not confirmed. The frontend only exposes this. In addition to that @rhtyd and I discovered a discrepency that can easily be dealt with but needs addressing; when editting both the router checkbox and the template type dropdown are available. The router checkbox should be rem

[2020-12-08 12:28] rhtyd commented on #835
The feature is restricted to root admin, only for the update/edit template API/form and would require the admin to change the global setting to actually effect change of an env's systemvmtemplate. David's working on a small conditional to check a template upgraded to a routing one is registered/downloaded on all zones, rest we can accept. I've added a fix to not show both isrouting and template ty

[2020-12-08 13:08] DaanHoogland commented on #889
sorry for the late confirmation, checked on nightly build :+1:

[2020-12-08 13:08] #889 closed

[2020-12-11 08:38] DaanHoogland commented on #835
I am moving thsi to 1.1 as it is going to be needing some finishing but the general jist is done for this release

[2020-12-11 14:05] wido opened #895 "[FEATURE] Multiple Management Server support"
Right now the UI is developed towards a single CloudStack Management Server as it assume the API will be available under **/client/api**

This is set in config.json:

<pre>
"apiBase": "/client/api"
</pre>

This hard-codes the API to be available on /client/api while using reverse proxies multiple APIs could be made available:

- /api/manager1
- /api/manager2
- /api/manager3

In the JSON we could h

[2020-12-22 07:43] sureshanaparti opened #904 "[BUG] Wrong info shown for "Network Rate" label in Compute Offering"
**Describe the bug**

The info/tool tip displayed for "Network Rate" in Add Compute Offering is incorrect

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as an Admin
2. Go to 'Service Offerings -> Compute Offerings'
3. Click on 'Add Compute Offering'
4. Scroll down to 'Network Rate' text box
5. Check the info displayed "_provisioning type used to create volumes. Valid values are thin

[2020-12-22 11:47] rhtyd commented on #904
@sureshanaparti can you test latest master and close, Pearl fixed the issue.

[2020-12-23 12:10] #805 closed

[2020-12-29 12:46] GabrielBrascher opened #906 "[BUG] Migration of a VM (local storage) stuck on UI"
**Describe the bug**
When migrating a VM that is running on local storage the UI hangs on the VM migration pop-up; additionally, it is presented an error on UI and an event `Error while migrating VM`is created.

When closing the migration tab and refreshing the instance page then it is possible to see that the VM was correctly migrated.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in

[2020-12-29 12:49] shwstppr commented on #906
@GabrielBrascher not completely sure but this PR, https://github.com/apache/cloudstack-primate/pull/789, might solve the issue

[2020-12-30 14:09] GabrielBrascher commented on #906
Thanks for the hint, @shwstppr.

I am not sure if #789 tackles this issue; from what I understood that PR deals only with stopped VMs being migrated on VMware clusters? Please correct me if I am wrong.

Adding a bit of information here, this issue was created due to tests on live migration of VMs running in KVM with local storage volumes; the migration itself worked fine, except by the fact of UI

[2020-12-30 22:21] GabrielBrascher opened #907 "[BUG] UI Does not allow to add a zone without primary shared storage"
#### Description:

Via the "legacy UI, it is possible to deploy a Zone that does not contain shared primary storage by enabling local storage for user and system VMs; however, it is mandatory to at least deploy one shared primary storage via the new UI.

#### Expected behavior

Allow continuing with the Zone deployment wizard without shared primary storage if the user has selected to enable local

[2021-01-01 03:32] hstan77 opened #909 "Missing of Add IP Range in GuestNetwork, It has in Legacy Interface"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In Legacy Interface , GuestNetwork Range can be add :
Infrastructure -> zone -> physical network ->Guest  Network->  Guest IP range
and  there is link of "Add IP Range" in top right  to add IP Range

However in Primate , there is no such f

[2021-01-01 12:49] rhtyd commented on #909
@hstan77 do you mean public IP range? There's no such thing as guest IP range in legacy UI as well. In new UI, it's under same path but the difference is that the information is laid out in tabs of different traffic types.

[2021-01-01 14:41] hstan77 commented on #909
Hi @rhtyd

In Legacy interface, go to:

Infrastructure > ZonesAdvSG > Physical Network  >  GuestNet >  "Click View IP Range"

And can add / IP there.

If go to Navigation >  Guest Network , there is  no  such function of View IP range and add IP, but browse through  Infrastructure zone Physical Network,  there is the function there.

This function is useful , especially for Advance WIth SG, where

[2021-01-04 04:25] davidjumani commented on #909
@hstan77 Do you mean this ?

![Screenshot from 2021-01-04 09-51-46](https://user-images.githubusercontent.com/8244774/103501017-f646b780-4e72-11eb-9177-f31d1d3dd0d0.png)

@rhtyd I can look into this

[2021-01-04 05:58] hstan77 commented on #909
Yes， that's right .

Over here, we can see the start end ip that we entered during setup network
. Although cannot  edit, but can add new IP to it.

Without this,  if there is new prefix added to the same VLAN,  admin have
to setup another GuestNetwork,  which eventually reflect as new NIC card to
VM

Another scenario that needs this is , for eg, the prefix 90.90.90.0/24 ,
initially allocated   st

[2021-01-04 07:27] rhtyd commented on #909
Thanks for explaining @hstan77 this looks like security groups only feature that isn't supported in new UI, you can use legacy UI or API for the use-case until we address this. Since this is infra-related feature accessible only to the root admin it may not be considered a blocker cc @DaanHoogland (you agree?)

@davidjumani since you've already started a PR, let me give you some pointers -- for SG

[2021-01-04 07:30] sureshanaparti commented on #904
Verified.

<img width="491" alt="ComputeOffering_NetworkRate_Info_Verified" src="https://user-images.githubusercontent.com/12028987/103511279-bd1b4100-4e8c-11eb-9070-e0576b079012.png">

[2021-01-04 07:30] #904 closed

[2021-01-04 08:52] hstan77 commented on #909
Yes, can still use old UI or API,

In legacy UI interface, there is only add, but not edit.  However, I may
suggest allow edit for  the start and end IP (instead of add new) , or  add
new range for new prefix .

For modification,  i also suggest to allow edit to add in IPv6 if possible
to the range.  As growing support  and demand of IPv6 in real world now,
many old implementation that now may sta

[2021-01-05 06:45] #907 closed

[2021-01-05 08:08] davidjumani commented on #906
@GabrielBrascher Could you share a screenshot of the error? The form should be frozen while hitting the migrate API and then close since it is async and doesn't have to wait long. It might freeze if the API call returned an error which can be fixed

[2021-01-05 08:25] rhtyd commented on #827
@feizhoulaobo ping any update, sorry we don't know what the problem is

[2021-01-05 09:04] rhtyd commented on #906
@GabrielBrascher can you check and close against next RC/master?

[2021-01-05 12:48] GabrielBrascher commented on #906
Thanks @rhtyd and @davidjumani for the update, I will check against next master.

[2021-01-05 13:04] rhtyd commented on #906
@GabrielBrascher we're going to cut RC4 later today/tomorrow, can you test before that for possible blockers?

[2021-01-05 17:41] GabrielBrascher commented on #906
@rhtyd @davidjumani It still migrates succesfully on backend but keeps _locked_ on the migration screen with an error message.

![image](https://user-images.githubusercontent.com/5025148/103679756-04c0cc00-4f64-11eb-93cb-d8a16ec96d1c.png)

[2021-01-05 17:45] rhtyd commented on #906
@davidjumani pl check on priority - did you PR introduce any regression?

[2021-01-05 19:26] davidjumani commented on #906
@GabrielBrascher Could you send a screenshot of the API response? @rhtyd Think it might be because `migrateVirtualMachineWithVolume` was called instead of `migrateVirtualMachine` since while testing the previous PR there weren't any issues

[2021-01-05 19:29] GabrielBrascher commented on #906
@davidjumani you are right, the command called is `migrateVirtualMachineWithVolume`; therefore, the response is `migratevirtualmachinewithvolumeresponse`.

[2021-01-05 19:30] davidjumani commented on #906
@GabrielBrascher Could you try it with https://github.com/apache/cloudstack-primate/pull/913 ?

[2021-01-05 21:07] GabrielBrascher commented on #906
Applying changes from #913 the message is `response.migratevirtualmachineresponse is undefined`

![image](https://user-images.githubusercontent.com/5025148/103697615-eb794900-4f7e-11eb-87ce-f28519c6f59f.png)

[2021-01-06 03:43] davidjumani commented on #906
@GabrielBrascher Could you try checking again? It's working fine on my end for migrating with volumes as well

[2021-01-06 04:13] GabrielBrascher commented on #906
@davidjumani re-packed my test env and now it works, you are right. Thanks!

[2021-01-06 18:59] weizhouapache commented on #827
it looks like not a bug
on old UI, if click "Add VM" when create port forwarding rule, it will list the first 20 vms.
when scroll down to the bottom of the list, it will list the next 20 vms on UI.

[2021-01-07 04:12] hstan77 opened #914 "[BUG] Negative Value in VM Metrics"
**Describe the bug**

In UI, Compute -> Instances ,   click show metric,   the RAM column show Negative Value.

I have KVM hypervisor of 196G RAM,  only create one VM which is 1G RAM, and still show Negative Value.

Screen shoot as below:

[SREENSHOOT](https://demo.qdisk.io/index.php/s/KJmNrKSgxnzKRT8)

**To Reproduce**
Steps to reproduce the behavior:

1. Log in as a Admin
2. Go to 'compute" -> I

[2021-01-07 04:33] davidjumani commented on #914
Caused by https://github.com/apache/cloudstack/issues/4566

[2021-01-07 06:27] utchoang commented on #914
I think this issue from API response.

[2021-01-08 12:12] #906 closed

[2021-01-13 15:38] #807 closed

[2021-01-14 00:41] #837 closed

[2021-01-14 09:52] weizhouapache opened #918 "[BUG] remove dependency on cloudstack-management"
**Describe the bug**
A clear and concise description of what the bug is.

currently cloudstack-primate has dependency on cloudstack-management (4.15.0.0) which does not make sens.
It would be better if cloudstack-primate can be installed on any server.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-01-14 09:55] weizhouapache opened #919 "[BUG] config.json is overwritten after installing new package"
**Describe the bug**
A clear and concise description of what the bug is.

Each time when install cloudstack-primate package, the changes in config.json is gone.

**To Reproduce**

1. install package
2. change something in /usr/share/cloudstack-management/webapp/primate/config.json
3. install the package again
4. the change in config.json is gone.

**Expected behavior**
A clear and concise descript

[2021-01-14 09:57] rhtyd commented on #919
This will become a non-issue when we'll merge this to apache/cloudstack and enforce that config.json is not overwritten by deb/rpm (we need to sort packaging).

[2021-01-14 12:45] weizhouapache commented on #919
thanks, good to know it.

[2021-01-18 12:01] rhtyd commented on #918
@weizhouapache for this reason, we've already given advanced users to use the archive instead of rpm/deb, see: http://download.cloudstack.org/primate/4.15.0.0/archive/

Please review and close the issue

[2021-01-18 12:01] rhtyd commented on #914
Confirmed backend issue, https://github.com/apache/cloudstack/issues/4566 will fix the issue. Closing as it's not UI issue.

[2021-01-18 12:01] #914 closed

[2021-01-18 12:04] rhtyd commented on #867
Closing this, tracked here now https://github.com/apache/cloudstack/issues/4592

[2021-01-18 12:04] #867 closed

[2021-01-18 13:28] weizhouapache commented on #918
@rhtyd
thanks. closed this.

I saw packages on this page, good.
http://download.cloudstack.org/primate/testing/master/archive/

[2021-01-18 13:28] #918 closed

[2021-01-19 08:28] rhtyd commented on #895
It is not clear from the issue description if the different management server belong to the same CloudStack installation or are different sites; in case they are the same installation (multi-mgmt setup) there is no need for changes in Primate, you can setup a basic nginx LB config (https://www.nginx.com/resources/wiki/start/topics/examples/loadbalanceexample/) and use the archive (http://download.

[2021-01-19 08:33] wido commented on #895
Understood. This support is for different CloudStack installations. In our use-case we have CloudStack installations in Amsterdam, Miami and Barcelona and even multiple installations in Amsterdam.

With this support we can have one deployment of the UI under one URL where we can point customers to.

[2021-01-20 00:46] rhtyd commented on #827
@feizhoulaobo kindly test latest release (master or with 4.15.0.0) and if you can reproduce please raise bug on https://github.com/apache/cloudstack/issues

[2021-01-20 00:46] #827 closed